<template>
	<div>

		<div class="av-banner-container">
			<div class="banner-img"></div>
		</div>

		<div class="container el-row">
        <el-row :gutter="0" class="av">
            <el-col :span="16" class="av-left">
              <div class="title text-fill">影音平台</div>
				<el-card :body-style="{ padding: '0px' }">
					<el-col :span="24">
						<div class="img item-bg1"></div>
					</el-col>
					<el-col :span="24">
						<el-col :span="8" class="av-right-img">
							<div class="av-item-logo av"></div>
						</el-col>
						<el-col :span="16" class="av-left-txt">
							<div class="av-item-txt">
								AV影城含有限制級內容，未滿18歲請您自行離開。海量高清AV線上看，有碼影片、無碼影片、歐美影片、自拍短片、成人動漫，並提供手機看片
							</div>
							<div class="bottom clearfix">
								<el-button type="primary" size="medium" @click="startGame('AV', 'AV');">進入影城</el-button>
							</div>
						</el-col>
					</el-col>
				</el-card>


            </el-col>

            <el-col :span="8" class="av-right">
              <div class="title text-fill">開通辨法與注意事項</div>
              <div class="av-list">
                <div class="win-info main ivu-row">
                  <el-col :span="12" class="">開通方案</el-col>
                  <el-col :span="12" class=" win-txt1 h">消費點數</el-col>
                </div>
                <div id="marquee" class="plate-down-content container-av">
                  <ul class="left-marquee" style="margin:0px;">

                      <li class="cursor marquee marquee-li">
                        <el-col :span="12" class="">影城24小時無限看</el-col>
                        <el-col :span="12" class="">10點</el-col>
                      </li>
                      <li class="cursor marquee marquee-li">
                        <el-col :span="12" class="">影城7天無限看</el-col>
                        <el-col :span="12" class="">50點</el-col>
                      </li>
                      <li class="cursor marquee marquee-li">
                        <el-col :span="12" class="">影城30天無限看</el-col>
                        <el-col :span="12" class="">150點</el-col>
                      </li>
                      <li class="cursor marquee marquee-li" style="border:0px;">
                        <el-col :span="24" class="" style="font-size:15px;line-height:25px;"><span style="color:crimson;">注意事項：</span><br>1. 每次娛樂城充值任何金額影城免費看7天<br>2. 效期過後需轉點至影城開通方案</el-col>
                      </li>

                 
                  </ul>

				</div>
              </div>
            </el-col>
        </el-row>
    </div>
		<TransferBox ref="TransferBox"></TransferBox>
	</div>

</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import TransferBox from '@/components/TransferBox'

export default {
	name: 'AVComponent',
	components :{
		'TransferBox' : TransferBox,
	},
	methods: {
		startGame(source,id) {
			if(this.user.isLogin == false) {
				this.$emit('LoginBox',{methods:'login'});
				return false;
			}

			this.$refs.TransferBox.open(source,id);
		},


    },
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),

    },
    mounted (){
		if(this.$route.params.action == 'login') {
			setTimeout(() => {
				if(this.user.isLogin == false) {
					this.$emit('LoginBox',{methods:'login'});
					return false;
				}
			}, 1000);


		}
	
	}
  }



</script>


<style scoped>
.av-banner-container .banner-img {background: url(~assets/images/av/banner.jpg) center center / cover rgb(0, 0, 0);}
.item-bg1 {
	background-image: url(~assets/images/av/av-banner.jpg);
}

	.av-banner-container {
		width:100%;
		height:440px;
	}

  .av-right {
      overflow: hidden;
  }

  .av-right >.av-list {
      box-shadow: 0 0 15px #ddd;
  }

  .win-info.main {
      padding: 7px 10px 0 10px;
      border-bottom: 1px solid #eaeaea;
      height: 35px;
      position: relative;
      line-height: 40px;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      background: #c0c4cc17;
  }

  .cursor.marquee.marquee-li {
     padding: 10px 10px 30px 10px;
    border-bottom: 1px dotted #ddd;

      position: relative;
      font-size: 100%;
      font: inherit;
      list-style-type: none;
	  font-size:15px;
	  color:#666;
	  display:block;
  }

  .plate-down-content >ul {
    padding-inline-start: 0;
  }

  .av >.av-right {
      padding-left: 20px;
  }

  .container-av {
      height: 20em;
      overflow: hidden;
      background: white;
      position: relative;
      box-sizing: border-box;
      padding: 10px;
      font-size: 14px;
  }

  .plate-down-content >.left-marquee {

      
  }

  .plate-down-content >.left-marquee:hover {
      animation-play-state: paused;
  }

  /* Make it move! */
  @keyframes marquee {
      0%   { top:   0em }
      100% { top: -13em }
  }

  .text-fill:before {
    content: "";
    background: #409EFF;
    left: 0;
    padding-left: 5px;
    position: relative;
    margin: 0px 7px 0px 0px;
  }

  .text-fill {
    margin: 12px 0px;
  }

  .av >.el-col >.el-card .img {
		width:100%;
		height:270px;
    background-size:cover;
    background-position: top;
	}

  .av .av-right-img .av-item-logo {
    width: 140px;
    height: 125px;
    background-position: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 18px auto;

	}
  .av .av-right-img .av-item-logo.av {

	background-image: url(~assets/images/av/av-logo.jpg);
	}


  .av .av-left-txt {
    margin-top: 25px;
    padding-left: 30px;
    border-left: 1px solid #ddd;
	}

  .av .av-item-txt {
    padding: 10px 0px 10px 5px;
    width: 90%;
    text-align: left;
    line-height: 24px;
    color: #666;
	}
	.av .el-button--medium {
		font-size:15px;
	}


  .av >.el-col >.el-card {
    padding: 20px 20px 40px;
    box-shadow: 0 0 15px #ddd;
    margin-bottom: 10px;
	}

  .av >.el-col {
    margin-bottom: 30px;
	}

</style>
