<template>
    <div >
        <div class="promotion-banner-container">
            <div class="banner-img"></div>
        </div>
        <div class="container" v-if="!this.$route.params.id">
            <el-card shadow="never" class="blog-main">
                <el-row class="blog-list">
                    <el-col :span="18" class="blog-title">
                        標題
                    </el-col>
                    <el-col :span="6" style="text-align: center">
                        日期
                    </el-col>
                </el-row>
                <el-row v-for="(item, index) in blog"  :key="index" class="blog-list" :class="{'blog-list2':index%2==1}">
                    <el-col :span="18" @click.native="butClick(item)" class="blog-title">
                        {{item.title}}
                    </el-col>
                    <el-col :span="6" style="text-align: center">
                        {{item.start_time}}
                    </el-col>
                </el-row>
                <div style="margin-top:15px;">
                    <center>
                        <el-pagination background @current-change="getBlog" layout="prev, pager, next" :page-size="form.pageSize" :current-page="form.currentPage" :total="form.total" v-if="form.total > form.pageSize">
                        </el-pagination>
                    </center>
                </div>
            </el-card>
        </div>
        <div class="container" v-if="this.$route.params.id" >
            <div class="blog-back"><el-link  @click="$router.push('/blog')"><i class="el-icon-d-arrow-left"></i> 回上頁</el-link></div>
                <el-card shadow="never" class="blog-main" >
                    <div v-html="detial">
                    </div>
                </el-card>
            <div class="blog-back"><el-link  @click="$router.push('/blog')"><i class="el-icon-d-arrow-left"></i> 回上頁</el-link></div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
        blog:[],
        detial:'',
        form:{
            currentPage:1,
            total:20,
            pageSize:20,
        },
    }},
	methods: {
        getBlog(page) 
        {
            this.$axios({
                method: "GET",
                url: this.config.ApiUrl + "/api/blog/" + this.config.company+"/?page="+(page?page:1),
                data: {},
                headers: {
                "Content-Type": "application/json"
                }
            })
                .then(response => {
                if (response.data) {
                    this.blog = response.data.data;
                    this.form.currentPage = response.data.current_page;
                    this.form.total = response.data.total;
                }
                })
                .catch(error => {
                    console.log(error);
                });
        },
        getBlogByID(id) 
        {
            this.$axios({
                method: "GET",
                url: this.config.ApiUrl + "/api/blogID/"+id+"/" + this.config.company,
                data: {},
                headers: {
                "Content-Type": "application/json"
                }
            })
                .then(response => {
                if (response.data) {
                    this.detial = response.data.content;
                }
                })
                .catch(error => {
                    console.log(error);
                });
        },
        butClick(item) {
            this.$router.push('/blog/'+item.id);
            this.detial = item.content;
        }
	},
  computed: {
    ...mapGetters({
      config: "config",
      user: "user",
      web: "web"
    }),
  },
    created() {
        if(this.$route.params.id)
        {
            this.getBlogByID(this.$route.params.id);
            this.getBlog(1);
        }else
        {
            this.getBlog(1);
        }
    }
};
</script>
<style scoped>
.promotion-banner-container .banner-img {background: url(~assets/images/promotion/41cfcf4bc94f57f5a5b67330dd9819b9.jpg) center center / cover rgb(0, 0, 0);}
.promotion-banner-container {
	width:100%;
	height:440px
}
.promotion-item {
padding: 10px 10px;
}
.blog-main
{
    margin: 15px;
}
.blog-list
{
    padding-left: 20px;
}
.blog-list
{
    border-bottom: 1px #ddd solid;
    line-height: 45px;
    cursor: pointer; 
}
.blog-list:hover
{
    background-color:#eeeef1;
}
.blog-list2
{
    background-color:#f9f9fa;
}
.blog-back
{
    margin: 15px;
}
</style>