<template>
	<div>
		<TransferBox ref="TransferBox"></TransferBox>
		<div class="chess-banner-container">
			<div class="banner-img"></div>
		</div>
		<div class="container el-row">
			<!-- {{ $route.name }} -->
			<el-row :gutter="0" class="chess">
				<el-col :span="16" class="chess-left">
					<div class="title text-fill">對戰平台</div>
					<el-card :body-style="{ padding: '0px' }">
						<el-col :span="24">
							<div class="img item-bg1"></div>
						</el-col>
						<el-col :span="24">
							<el-col :span="8" class="chess-right-img">
								<div class="chess-item-logo vg">
								</div>
							</el-col>
							<el-col :span="16" class="chess-left-txt">
								<div class="chess-item-txt">
									百人三公，斗地主，二人麻將，搶莊牛牛，百人牛牛，炸金花，21點，十三水，龍王捕魚，血站到底等。棋牌遊戲，應有盡有；萬人在線，勝者為王。
								</div>
								<div class="bottom chess-bottom clearfix">
									<el-button type="primary" size="medium" @click="startGame('VG', 'VG');">進入遊戲</el-button>
								</div>
							</el-col>
						</el-col>
					</el-card>


				</el-col>
				<el-col :span="8" class="chess-right">
					<div class="title text-fill">賽事盈利名單</div>
					<div class="chess-list">
						<div class="win-info main ivu-row">
							<el-col :span="11" class=" h ivu-col">遊戲名稱</el-col>
							<el-col :span="6" class=" win-txt1 h">帳號</el-col>
							<el-col :span="7" class="win-txt2 h">中獎金額</el-col>
						</div>
						<div id="marquee" class="plate-down-content container-chess">
							<ul class="left-marquee">


        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]炸金花</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">z***b</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,594</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]十三水</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">v***t</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,796</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]血戰到底</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">p***f</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,471</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]鬥地主</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">r***l</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,319</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]二十一點</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">u***l</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$331</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]鬥地主</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">o***a</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,006</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人牛牛</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">v***i</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$6,406</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]鬥地主</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">q***c</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,535</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人牛牛</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">c***b</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,275</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]炸金花</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">p***d</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,543</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]十三水</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">b***o</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,987</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人牛牛</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">d***k</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,066</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]二十一點</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">c***e</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,825</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]二十一點</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">t***x</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,421</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]血戰到底</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">x***b</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,960</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人三公</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">n***i</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,261</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人牛牛</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">v***n</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,104</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]十三水</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">b***r</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,658</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]血戰到底</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">y***o</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,524</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人三公</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">y***o</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,212</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]搶莊牛牛</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">h***x</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,442</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人三公</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">y***l</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$6,241</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人三公</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">f***e</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,059</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人牛牛</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">x***a</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,780</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]搶莊牛牛</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">e***b</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,800</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]炸金花</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">f***e</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,996</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人三公</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">e***c</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,774</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人三公</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">o***z</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,893</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人三公</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">l***d</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,492</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]搶莊牛牛</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">x***i</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,256</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]鬥地主</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">p***u</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,085</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]二十一點</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">t***k</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$615</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]血戰到底</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">y***p</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,610</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]二十一點</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">j***g</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,803</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]血戰到底</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">e***z</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,452</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]二十一點</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">b***r</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,786</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]十三水</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">o***u</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,087</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人三公</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">r***r</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,993</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人三公</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">y***b</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,042</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人三公</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">b***c</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,015</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]鬥地主</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">q***j</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,132</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]十三水</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">c***t</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,607</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人三公</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">j***m</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,295</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]炸金花</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">t***n</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$935</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人牛牛</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">t***k</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,730</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]炸金花</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">m***r</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,169</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]炸金花</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">h***s</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$6,062</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]百人牛牛</el-col>v
            <el-col :span="6" class="win-txt win-txt1 ivu-col">m***w</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,263</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]炸金花</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">l***i</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$669</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[VG]二十一點</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">n***t</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,156</el-col>
        </li>

							</ul>
						</div>
					</div>
				</el-col>
			</el-row>
		</div>
	</div>

</template>

<script>
import TransferBox from '@/components/TransferBox'
import { mapGetters } from 'vuex'

export default {
	name: 'chessComponent',
	data () {
		return {
			loading:false
		}
	},
	components: {
		'TransferBox' : TransferBox,
	},
	methods: {

		startGame(source, id) {

			if(this.user.isLogin == false) {
				this.$emit('LoginBox',{methods:'login'});
				return false;
			}

			this.$refs.TransferBox.open(source,id);
		},


	},
	watch: {
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
    },
	created() {

	}
}
</script>

<style scoped>
.chess-banner-container .banner-img {
	background: url(~assets/images/chess/banner.png) center center / cover rgb(0, 0, 0);
}

.item-bg1 {
	background-image: url(~assets/images/chess/vgbanner.jpg);
}

.chess-right {
	overflow: hidden;
}

.chess-right>.chess-list {
	box-shadow: 0 0 15px #ddd;
}

.win-info.main {
	padding: 7px 10px 0 10px;
	border-bottom: 1px solid #eaeaea;
	height: 35px;
	position: relative;
	line-height: 40px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: #c0c4cc17;
}

.cursor.marquee.marquee-li {
	padding: 7px 10px 0 10px;
	border-bottom: 1px dotted #eaeaea;
	height: 35px;
	position: relative;
	font-size: 100%;
	font: inherit;
	list-style-type: none;
}

.plate-down-content>ul {
	padding-inline-start: 0;
}

.chess>.chess-right {
	padding-left: 20px;
}

.container-chess {
	height: 20em;
	overflow: hidden;
	background: white;
	position: relative;
	box-sizing: border-box;
	padding: 10px;
	font-size: 14px;
}

.plate-down-content>.left-marquee {
	top: 6em;
	position: relative;
	box-sizing: border-box;
	animation: marquee 10s linear infinite;
	border-bottom: 1px solid #eaeaea;
}

.plate-down-content>.left-marquee:hover {
	animation-play-state: paused;
}


/* Make it move! */

@keyframes marquee {
	0% {
		top: 0em
	}
	100% {
		top: -13em
	}
}

.chess-banner-container {
	width: 100%;
	height: 440px;
}

.text-fill:before {
	content: "";
	background: #409EFF;
	left: 0;
	padding-left: 5px;
	position: relative;
	margin: 0px 7px 0px 0px;
}

.text-fill {
	margin: 12px 0px;
}

.chess>.el-col>.el-card .img {
	width: 100%;
	height: 270px;
	background-size: cover;
	background-position: top;
}

.chess .chess-right-img .chess-item-logo {
	width: 110px;
	height: 110px;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 30px auto 0px;
}

.chess .chess-item-logo.vg {
	background-image: url(~assets/images/chess/vglogo.png);
}

.chess .chess-left-txt {
	margin-top: 25px;
	padding-left: 30px;
	border-left: 1px solid #ddd;
}

.chess .chess-item-txt {
	padding: 10px 0px 10px 5px;
	width: 90%;
	text-align: left;
	line-height: 24px;
	color: #666;
}

.chess .el-button--medium {
	font-size: 15px;
}

.chess>.el-col>.el-card {
	padding: 20px 20px 40px;
	box-shadow: 0 0 15px #ddd;
	margin-bottom: 10px;
}

.chess>.el-col {
	margin-bottom: 30px;
}
</style>
