<template>
	<div>
		<div class="fisher-banner-container">
			<div class="banner-img"></div>
		</div>
		<div class="container el-row">
			<!-- {{ $route.name }} -->
			<el-row :gutter="10" class="fisher-box">
					<!--
					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/fisher/sa.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>SA魚樂無窮</div>
													<div class="text1">
															華麗的多人捕魚遊戲
													</div>
													<div class="text2">
															最好玩的捕魚遊戲，讓你從此不再去遊戲廳！
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('SA_FISHER','FishermenGold');">進入遊戲</el-button>
															<el-button type="primary" plain size="small" @click="tryGame('SA_FISHER','FishermenGold');">免費試玩</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>
					-->
					<!--
					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/fisher/ddfg.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>DDFG捕魚大亨</div>
													<div class="text1">
															多樣技能，豐富玩法
													</div>
													<div class="text2">
															精心打造百種Q萌魚類，絢麗畫面，帶你暢遊海底世界！
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('DDFG','fishing');">進入遊戲</el-button>
															<el-button type="primary" v-if="config.tryGame" plain size="small" @click="tryGame('DDFG','fishing');">免費試玩</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>
					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/fisher/ddfg_king.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>DDFG王者捕魚</div>
													<div class="text1">
															百浪濤濤射轟炸不完
													</div>
													<div class="text2">
															多人同時獵捕巨鯊，爽快感爆表，讓你從此不再去遊戲廳！
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('DDFG','fishking');">進入遊戲</el-button>
															<el-button type="primary" v-if="config.tryGame" plain size="small" @click="tryGame('DDFG','fishking');">免費試玩</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>
					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/fisher/ddfg_cut.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>DDFG劈魚來了</div>
													<div class="text1">
															精心打造，絢麗畫面
													</div>
													<div class="text2">
															把你的超炫炮台、全屏連爆、滿滿金幣全部秀出來讓屌絲們目瞪口呆！
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('DDFG','cutfish');">進入遊戲</el-button>
															<el-button type="primary" v-if="config.tryGame" plain size="small" @click="tryGame('DDFG','cutfish');">免費試玩</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>
					-->
					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/fisher/qt-ocean.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>QT海殺2</div>
													<div class="text1">
															大殺四方，海上霸主
													</div>
													<div class="text2">
															捕魚達人全新歸來。玩的樂不思蜀，好賺的超乎想像。
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('QT','SPG-oceanblaster2');">進入遊戲</el-button>
															<el-button type="primary"plain size="small" @click="tryGame('QT','SPG-oceanblaster2');">免費試玩</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>
					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/fisher/qt-tiger.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>QT老虎捕魚</div>
													<div class="text1">
															猛虎出閘，彈無虛發
													</div>
													<div class="text2">
															是兄弟一起捕，我在這裡等你！
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('QT','SPG-tigerattack');">進入遊戲</el-button>
															<el-button type="primary" plain size="small" @click="tryGame('QT','SPG-tigerattack');">免費試玩</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>
					<!--el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/fisher/allbet.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>歐博空戰世紀</div>
													<div class="text1">
															最新全概率射擊遊戲
													</div>
													<div class="text2">
															Air Fighter 隆重推出，精彩多元令玩家熱血沸騰。
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('ALLBET_FISHER','1100');">進入遊戲</el-button>
															<el-button type="primary" plain size="small" @click="tryGame('ALLBET_FISHER','1100');">免費試玩</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col-->


			</el-row>

		</div>
		<SlotGameUtil ref="SlotGameUtil"></SlotGameUtil>
		<TransferBox ref="TransferBox"></TransferBox>
	</div>
</template>

<script>

import { mapGetters } from 'vuex'
import TransferBox from '@/components/TransferBox'
import SlotGameUtil from '@/components/views/SlotGameUtil'
  export default {
		name: 'FisherComponent',
    data() {
      return {
      }
    },
		components :{
			'SlotGameUtil':SlotGameUtil,
			'TransferBox' : TransferBox,
		},
		methods: {
			startGame(source,id) {
				if(this.user.isLogin == false) {
					this.$emit('LoginBox',{methods:'login'});
					return false;
				}

				this.$refs.TransferBox.open(source,id);
			},
			tryGame(soruce, id) {
					this.$refs.SlotGameUtil.dialog = true;
					this.$refs.SlotGameUtil.stash.soruce = soruce;
					this.$refs.SlotGameUtil.stash.id = id;
			}
		},
    computed: {
			...mapGetters({
				config: 'config',
				user: 'user',
				datalist: 'datalist',
			}),
    },

  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.fisher-banner-container .banner-img {background: url(~assets/images/fisher/banner.jpg) center center / cover rgb(0, 0, 0);}

.fisher-banner-container {
	width:100%;
	height:440px;
}

.bottom {
    position: absolute;
	    bottom: 20px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.fisher-box >.el-col {
    margin-bottom:10px
}

.fisher-box {
    margin:20px 0px 15px 0px;
}

.fisher-box >.el-col >.el-card {
    border-radius:0px
}
.fisher-box >.el-col >.el-card {
    border-radius:0px;
	position: relative;
}
.fisher-box .text1 {
	padding:15px 0px 10px 0px;color:#409EFF;
}
.fisher-box .text2 {
padding:10px 0px 16px 0px;font-size:14px;font-weight:400;
}
.fisher-box .card-box {
	padding:10px;font-size:16px;font-weight:700;
}
</style>
<style>
.fisher-box .el-button--small {font-size:14px !important;}
</style>
