<template>
<div>
    <div class="container el-row container-forget">

        <el-steps :active="active" align-center class="global-step">
            <el-step title="找回方式"></el-step>
            <el-step title="驗證"></el-step>
            <el-step title="重置密碼"></el-step>
            <el-step title="設定成功"></el-step>
        </el-steps>

        <el-row :gutter="0" class="forget-content">
            <el-col :span="24">
                <div class="forget-step">
                    <div class="step1" v-if="this.active == 1">
                        <el-form ref="form" :model="form" :rules="rules" >
                            <el-form-item  prop="username" >
                                <el-input v-model="form.username" placeholder="用戶名">
                                <template slot="prepend">
                                    <icon slot="prefix" name="user-alt" scale="1"></icon>
                                </template>
                                </el-input>
                            </el-form-item>
                            <div class="forget-type" v-bind:class="{'gou': this.valid_type == 1 }" @click="choose_type(1)">
                                <div class="title">手機驗證找回</div>
                                <div>若綁定的手機號碼現在能夠接收簡訊,請選擇此找回方式</div>
                            </div>
                            <div class="forget-type" v-bind:class="{'gou': this.valid_type == 2 }" @click="choose_type(2)">
                                <div class="title">郵箱驗證找回</div>
                                <div>若綁定的信箱能夠接收信件,請選擇此找回方式</div>
                            </div>
                            <el-form-item  prop="">
                                <el-button type="primary" @click="submitForm('form')" :loading="form.loading" style="width:100px;float: right;">下一步</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                    <div class="step1" v-if="this.active == 2">
                        <el-form ref="form2" :model="form">
                            <el-form-item  prop="" class="form-item-center">
                                我們已經將驗證碼發送至您指定的裝置，請於五分鐘內完成認證
                            </el-form-item>
                            <el-form-item prop="code" class="form-item-center">
                                <el-input v-model="form.code" autocomplete="off" class="form-code" placeholder="請輸入驗證碼"></el-input>
                                <el-button type="primary" @click="sendCode(false)" class="form-code-btn" :loading="form.loading">重新發送驗證碼</el-button>
                            </el-form-item>
                            <el-form-item  prop="" class="form-item-center">
                                <el-button type="primary" @click="verifyCode('form2')" :loading="form2.loading" style="width:100px;">下一步</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                    <div class="" :style="{display:this.active ==3 ? 'block' :'none'}">
						<el-form :model="form3" status-icon :rules="rules3" ref="form3" label-width="120px">
                            <el-form-item label="新登錄密碼" prop="newPassword">
                                <el-input type="password" v-model="form3.newPassword" autocomplete="off" class="" placeholder="請輸入新登錄密碼"></el-input>
                            </el-form-item>
                            <el-form-item label="確認新登錄密碼" prop="newPassword_confirmation">
                                <el-input type="password" v-model="form3.newPassword_confirmation" autocomplete="off" class="" placeholder="請輸入確認新登錄密碼"></el-input>
                            </el-form-item>
                            <el-form-item >
                                <el-button type="primary" @click="resetPassword('form3')" :loading="form3.loading" class="">下一步</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </div>
            </el-col>
        </el-row>
    </div>
</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
	const validateUsername = (rule, value, callback) => {
            let reg_name = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{4,12}$/;
            if (value === '') {
                callback(new Error('請輸入用戶名'));
            } else if(!reg_name.test(this.form.username)){
				callback(new Error('格式輸入不對,請輸入4-12位數字及字母組合'));
			} else {
				this.form.disable = false;
				callback();
			}
        };
    var validateNewPwd = (rule, value, callback) => {
        let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
        if (value === '') {
            callback(new Error('請輸入新登錄密碼'));
        } else if(!reg_pwd.test(value)){
			callback(new Error('格式輸入不對,請輸入6-12位數字及字母組合'));
        } else {
            if (this.form3.newPassword !== '') {
                this.$refs.form3.validateField('newPassword_confirmation');
            }
            callback();
        }
    };
    var validateConfirmPwd = (rule, value, callback) => {
        let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
        if (value === '') {
            callback(new Error('請再次輸入新登錄密碼'));
        } else if(!reg_pwd.test(value)){
			callback(new Error('格式輸入不對,請輸入6-12位數字及字母組合'));
        } else if (value !== this.form3.newPassword) {
            callback(new Error('兩次輸入登錄密碼不一致!'));
        } else {
            callback();
        }
    };
    return {
        active: 1,
        valid_type: 1,
        form: {
            username: '',
            loading: false,
        },
        rules: {
            username: [{
                validator: validateUsername,
                trigger: 'blur'
            }],
        },
        form2: {
            code: '',
            loading: false,
        },
        form3: {
            newPassword: '',
            newPassword_confirmation: '',
            loading: false,
        },
        rules3: {
            newPassword: [
                { validator: validateNewPwd, trigger: 'blur' }
            ],
            newPassword_confirmation: [
                { validator: validateConfirmPwd, trigger: 'blur' }
            ]
        },
    }
  },
  mounted () {
  },
  methods: {
    choose_type(type){
        this.valid_type = type;
    },
    resetPassword(formName){
        this.$refs[formName].validate((valid) => {
            if (valid) {
			    this.form3.loading = true;
                this.$axios({
                    method : 'POST',
                    url : this.config.ApiUrl + '/api/forget-reset-password',
                    data: {
                        'company' : this.config.company,
                        'username' : this.form.username,
                        'newPassword' : this.form3.newPassword,
                        'newPassword_confirmation' : this.form3.newPassword_confirmation
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    //console.log(response.data);
                    this.$layer.msg(response.data.message);
                    if (response.data.status){
                        this.active++;
						this.$router.go(-1);
                    }
                    this.form3.loading = false;

                }).catch(error => {
                    console.log(error);
                    this.form3.loading = false;
                });
            } else {
                console.log('error submit!!');
                return false;
            }
        });
    },
    verifyCode(formName){
        this.$refs[formName].validate((valid) => {
            if (valid) {
			    this.form2.loading = true;
                this.$axios({
                    method : 'POST',
                    url : this.config.ApiUrl + '/api/forget-verify-code',
                    data: {
                        'company' : this.config.company,
                        'username' : this.form.username,
                        'code' : this.form.code
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    //console.log(response.data);
                    this.$layer.msg(response.data.message);
                    if (response.data.status){
                        this.active++;
                    }
                    this.form2.loading = false;

                }).catch(error => {
                    console.log(error);
                    this.form2.loading = false;
                });
            } else {
                console.log('error submit!!');
                return false;
            }
        });
    },
    sendCode(go2next){
        this.form.loading = true;
        this.$axios({
            method : 'POST',
            url : this.config.ApiUrl + '/api/forget-code' ,
            data: {
                'company' : this.config.company,
                'username' : this.form.username,
                'valid_type' : this.valid_type
            },
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            //console.log(response.data);
            this.$layer.msg(response.data.message);
            if (response.data.status && go2next){
                this.active++;
            }
            this.form.loading = false;

        }).catch(error => {
            console.log(error);
            this.form.loading = false;
        });
    },
    submitForm(formName) {
        this.$refs[formName].validate((valid) => {
            if (valid) {
			    this.sendCode(true);
            } else {
                console.log('error submit!!');
                return false;
            }
            });
        }
    },
    computed: {
        ...mapGetters({
            config: 'config',
            user: 'user',
        }),
    },
	created() {},
    watch: {},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container-forget {
    margin-top: 25px;
    padding: 0px 25px 35px 25px;
    min-height: 600px;
    border: 1px solid #666;
	font-size:15px;
	color:#666;
}
.forget-content{
    margin-top: 50px;
    margin-bottom: 55px;
}
.global-step{
    margin: 50px 0;
}
.forget-content .forget-step {
    padding: 0 150px;
}
.forget-type {
    color: #ddd;
    background: #555;
    border: 1px solid #555;
    cursor: pointer;
    padding: 20px;
    margin-bottom: 20px!important;
}
.forget-type .title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px!important;
}
.forget-type.gou {
    color: #ddd;
    cursor: default;
    border: 1px solid #66b1ff;
    background: #555;
}
.gou {
    position: relative;
    border: 1px solid #eeba63!important;
}
.gou:after {
    bottom: 0;
    width: 0;
    height: 0;
    border-width: 0 0 25px 25px;
    border-style: solid;
    border-color: transparent transparent #eeba63;
}
.gou:before {
    bottom: 2px;
    background: url(~assets/images/gou.png) no-repeat;
    width: 14px;
    height: 11px;
    z-index: 1;
}
.gou:after, .gou:before {
    position: absolute;
    right: 0;
    content: " ";
}
.form-code{
    width: 200px;
}
.form-code-btn{
    width: 200px;
}
.form-item-center{
    text-align: center;
    color: #ddd;
}
</style>
<style>
.container-forget .el-step__title {font-size:15px;}
.container-forget .el-step__title.is-process {color:#666;}


</style>