<template>
	<div>
		<div class="live-banner-container">
			<div class="banner-img"></div>
		</div>
		<div class="container el-row">
			<!-- {{ $route.name }} -->
			<el-row :gutter="10" class="live-box">

					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/live/wm.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>WM真人</div>
													<div class="text1">
															豐富多彩的遊戲
													</div>
													<div class="text2">
															優於普通會員至高無上的尊貴體驗和優勢,豐厚優惠獨擅其享,貴族式博弈體驗
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('WM','WM');">進入遊戲</el-button>
															<el-button type="primary" plain size="small" v-if="config.tryGame" @click="tryGame('WM','WM');">免費試玩</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>

					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/live/allbet.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>歐博真人</div>
													<div class="text1">
															頂尖技術 流暢體驗
													</div>
													<div class="text2">
															全球首創6張牌先發，美女主播熱線傳情，贏錢機會絕不錯過
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('ALLBET_LIVE','ALLBET_LIVE');">進入遊戲</el-button>
															<el-button type="primary" plain size="small" v-if="config.tryGame" @click="tryGame('ALLBET_LIVE','ALLBET_LIVE');">免費試玩</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>

					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/live/sa.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>SA真人</div>
													<div class="text1">
															減少等待 投注快速
													</div>
													<div class="text2">
															糅合亞洲及歐幻風格，集所有頂級遊戲功能設計理念於一體
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('SA_LIVE','SA_LIVE');">進入遊戲</el-button>
															<el-button type="primary" plain size="small" v-if="config.tryGame" @click="tryGame('SA_LIVE','SA_LIVE');">免費試玩</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>
					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/live/og.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>OG真人</div>
													<div class="text1">
															感受剌激 體驗心跳
													</div>
													<div class="text2">
															專屬品牌百家樂 創新極限由你定義
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('OG','OG');">進入遊戲</el-button>
															<!--el-button type="primary" plain size="small" @click="tryGame('SA_LIVE');">免費試玩</el-button-->
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>
					<!--
					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/chess/vg.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>VG真人</div>
													<div class="text1">
															萬人在線，勝者為王
													</div>
													<div class="text2">
															為廣大玩家用戶提供最便利的遊戲通道,這裡有著豐富多彩的線上娛樂遊戲。
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('VG','VG');">進入遊戲</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>
					-->


					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/live/dg.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>DG真人</div>
													<div class="text1">
															提供個性化遊戲
													</div>
													<div class="text2">
															用心創造快樂，為用戶提供個性化遊戲推薦
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('DG','DG');">進入遊戲</el-button>
															<el-button type="primary" plain size="small" v-if="config.tryGame" @click="tryGame('DG','DG');">免費試玩</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>


					<!--
					<el-col :span="12">
							<el-card :body-style="{ padding: '0px' }">
									<el-col :span="14">
											<img src="~assets/images/live/gt.jpg" class="image">
									</el-col>
									<el-col :span="10">

											<div class="card-box">
													<div>GT真人</div>
													<div class="text1">
															美女熱線傳情
													</div>
													<div class="text2">
															為廣大玩家用戶提供最便利的遊戲通道,這裡有著豐富多彩的線上娛樂遊戲。
													</div>
													<div class="bottom clearfix" style="">
															<el-button type="primary" size="small"  @click="startGame('GT','GT');">進入遊戲</el-button>
													</div>
											</div>
									</el-col>
							</el-card>
					</el-col>
					-->
			</el-row>

		</div>
		<TransferBox ref="TransferBox"></TransferBox>
	</div>
</template>

<script>

import { mapGetters } from 'vuex'
import TransferBox from '@/components/TransferBox'
  export default {
	name: 'LiveComponent',
    data() {
      return {
      }
    },
		components :{
			'TransferBox' : TransferBox,
		},
		methods: {
			startGame(source,id) {
				if(this.user.isLogin == false) {
					this.$emit('LoginBox',{methods:'login'});
					return false;
				}

				this.$refs.TransferBox.open(source,id);
			},

		},
    computed: {
			...mapGetters({
				config: 'config',
				user: 'user',

			}),
    },

  }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.live-banner-container .banner-img {background: url(~assets/images/live/banner.jpg) center center / cover rgb(0, 0, 0);}
.live-banner-container {
	width:100%;
	height:440px;
}

.live-box .bottom {
    position: absolute;
	    bottom: 20px;
}

.button {
  padding: 0;
  float: right;
}

.image {
  width: 100%;
  display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

.live-box >.el-col {
    margin-bottom:10px
}

.live-box {
    margin:20px 0px 15px 0px;
}

.live-box >.el-col >.el-card {
    border-radius:0px;
	position: relative;
}
.live-box .text1 {
	padding:15px 0px 10px 0px;color:#409EFF;
}
.live-box .text2 {
padding:10px 0px 16px 0px;font-size:14px;font-weight:400;
}
.live-box .card-box {
	padding:10px;font-size:16px;font-weight:700;
}
</style>
<style>
.live-box .el-button--small {font-size:14px !important;}
</style>
