<template>
	<div>
		<TransferBox ref="TransferBox"></TransferBox>
		<div class="lottery-banner-container">
			<div class="banner-img"></div>
		</div>
		<div class="container el-row">
			<!-- {{ $route.name }} -->
			<el-row :gutter="0" class="lottery">
				<el-col :span="16" class="lottery-left">
					<div class="title text-fill">彩票平台</div>
					<el-card :body-style="{ padding: '0px' }">
						<el-col :span="24">
							<div class="img item-bg1"></div>
						</el-col>
						<el-col :span="24">
							<el-col :span="8" class="lottery-right-img">
								<div class="lottery-item-logo maya">
								</div>
							</el-col>
							<el-col :span="16" class="lottery-left-txt">
								<div class="lottery-item-txt">
									幸運飛艇 | 極速時時彩 | 極速賽車 | 北京賽車(PK10) | 重慶時時彩 | 極速快三 | PC蛋蛋 | 廣東11選5 | 廣東快樂十分 | 福彩3D | 江蘇骰寶(快3) |  排列3 | 三分快三
								</div>
								<div class="bottom lottery-bottom clearfix">
									<el-button type="primary" size="medium" @click="startGame('LOTTERY', 'LOTTERY');">進入遊戲</el-button>
								</div>
							</el-col>
						</el-col>
					</el-card>


					<el-card :body-style="{ padding: '0px' }">
						<el-col :span="24">
							<div class="img item-bg2"></div>
						</el-col>
						<el-col :span="24">
							<el-col :span="8" class="lottery-right-img">
								<div class="lottery-item-logo bingo">
								</div>
							</el-col>
							<el-col :span="16" class="lottery-left-txt">
								<div class="lottery-item-txt">
									「BINGO STAR」是一種每五分鐘開獎一次的電腦彩券遊戲。選號範圍為01~80，您可以任意選擇玩1~5個號碼的玩法（稱為「1星」、「2星」、「3星」、「4星」、「5星」），每次開獎時，電腦系統將隨機開出20個獎號，您可以依您選擇的玩法和選號進行對獎。如您的選號符合該期任一種中獎情形，即為中獎，並可依規定兌領獎金。
								</div>
								<div class="bottom lottery-bottom clearfix">
									<el-button type="primary" size="medium" @click="startGame('BINGO', 'BINGO');">進入遊戲</el-button>
								</div>
							</el-col>
						</el-col>
					</el-card>
				</el-col>
				<el-col :span="8" class="lottery-right">
					<div class="title text-fill">彩票盈利名單</div>
					<div class="lottery-list">
						<div class="win-info main ivu-row">
							<el-col :span="11" class=" h ivu-col">遊戲名稱</el-col>
							<el-col :span="6" class=" win-txt1 h">帳號</el-col>
							<el-col :span="7" class="win-txt2 h">中獎金額</el-col>
						</div>
						<div id="marquee" class="plate-down-content container-lottery">
							<ul class="left-marquee">


        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]幸運飛艇</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">z***b</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,594</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]PC蛋蛋</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">v***t</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,796</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]排列3</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">p***f</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,471</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]北京賽車</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">r***l</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,319</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]極速時時彩</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">u***l</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$331</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]北京賽車</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">o***a</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,006</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]江蘇骰寶</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">v***i</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$6,406</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]北京賽車</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">q***c</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,535</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]江蘇骰寶</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">c***b</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,275</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]幸運飛艇</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">p***d</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,543</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]PC蛋蛋</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">b***o</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,987</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]江蘇骰寶</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">d***k</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,066</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]極速時時彩</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">c***e</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,825</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]極速時時彩</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">t***x</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,421</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]排列3</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">x***b</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,960</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]廣東11選5</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">n***i</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,261</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]江蘇骰寶</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">v***n</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,104</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]PC蛋蛋</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">b***r</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,658</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]排列3</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">y***o</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,524</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]廣東11選5</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">y***o</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,212</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]重慶時時彩</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">h***x</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,442</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]廣東11選5</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">y***l</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$6,241</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]廣東11選5</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">f***e</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,059</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]江蘇骰寶</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">x***a</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,780</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]重慶時時彩</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">e***b</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,800</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]幸運飛艇</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">f***e</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,996</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]廣東11選5</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">e***c</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,774</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]廣東11選5</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">o***z</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,893</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]廣東11選5</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">l***d</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,492</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]重慶時時彩</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">x***i</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,256</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]北京賽車</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">p***u</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,085</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]極速時時彩</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">t***k</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$615</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]排列3</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">y***p</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,610</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]極速時時彩</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">j***g</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,803</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]排列3</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">e***z</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,452</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]極速時時彩</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">b***r</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,786</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]PC蛋蛋</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">o***u</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,087</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]廣東11選5</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">r***r</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,993</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]廣東11選5</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">y***b</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,042</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]廣東11選5</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">b***c</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,015</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]北京賽車</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">q***j</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,132</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]PC蛋蛋</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">c***t</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,607</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]廣東11選5</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">j***m</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,295</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]幸運飛艇</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">t***n</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$935</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]江蘇骰寶</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">t***k</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,730</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]幸運飛艇</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">m***r</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,169</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]幸運飛艇</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">h***s</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$6,062</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]江蘇骰寶</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">m***w</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,263</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]幸運飛艇</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">l***i</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$669</el-col>
        </li>

        <li class="cursor marquee marquee-li">
            <el-col :span="11" class="win-txt ivu-col">[瑪雅]極速時時彩</el-col>
            <el-col :span="6" class="win-txt win-txt1 ivu-col">n***t</el-col>
            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,156</el-col>
        </li>

							</ul>
						</div>
					</div>
				</el-col>
			</el-row>
		</div>
	</div>

</template>

<script>
import TransferBox from '@/components/TransferBox'
import { mapGetters } from 'vuex'

export default {
	name: 'LotteryComponent',
	data () {
		return {
			loading:false
		}
	},
	components: {
		'TransferBox' : TransferBox,
	},
	methods: {

		startGame(source, id) {

			if(this.user.isLogin == false) {
				this.$emit('LoginBox',{methods:'login'});
				return false;
			}

			this.$refs.TransferBox.open(source,id);
		},


	},
	watch: {
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
    },
	created() {

	}
}
</script>

<style scoped>
.lottery-banner-container .banner-img {background: url(~assets/images/lottery/banner.jpg) center center / cover rgb(0, 0, 0);}
.item-bg1 {
	background-image: url(~assets/images/lottery/f6eb85dd2955cef13d7da1eb2c42b2e8.jpg);
}
.item-bg2 {
	background-image: url(~assets/images/lottery/bingo-star-banner.jpg);
}
  .lottery-right {
      overflow: hidden;
  }

  .lottery-right >.lottery-list {
      box-shadow: 0 0 15px #ddd;
  }

  .win-info.main {
      padding: 7px 10px 0 10px;
      border-bottom: 1px solid #eaeaea;
      height: 35px;
      position: relative;
      line-height: 40px;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      background: #c0c4cc17;
  }

  .cursor.marquee.marquee-li {
      padding: 7px 10px 0 10px;
      border-bottom: 1px dotted #eaeaea;
      height: 35px;
      position: relative;
      font-size: 100%;
      font: inherit;
      list-style-type: none;
  }

  .plate-down-content >ul {
    padding-inline-start: 0;
  }

  .lottery >.lottery-right {
      padding-left: 20px;
  }

  .container-lottery {
      height: 20em;
      overflow: hidden;
      background: white;
      position: relative;
      box-sizing: border-box;
      padding: 10px;
      font-size: 14px;
  }

  .plate-down-content >.left-marquee {
      top: 6em;
      position: relative;
      box-sizing: border-box;
      animation: marquee 10s linear infinite;
      border-bottom: 1px solid #eaeaea;
  }

  .plate-down-content >.left-marquee:hover {
      animation-play-state: paused;
  }

  /* Make it move! */
  @keyframes marquee {
      0%   { top:   0em }
      100% { top: -13em }
  }

	.lottery-banner-container {
		width:100%;
		height:440px;
	}

  .text-fill:before {
    content: "";
    background: #409EFF;
    left: 0;
    padding-left: 5px;
    position: relative;
    margin: 0px 7px 0px 0px;
  }

  .text-fill {
    margin: 12px 0px;
  }

  .lottery >.el-col >.el-card .img {
		width:100%;
		height:270px;
    background-size:cover;
    background-position: top;
	}

  .lottery .lottery-right-img .lottery-item-logo {
    width: 180px;
    height: 67px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 45px auto;
	}
 .lottery  .lottery-item-logo.maya{
	background-image: url(~assets/images/lottery/cd09c0b6919f0a45141a9f606501bf08.jpg);
}
.lottery  .lottery-item-logo.bingo{
    background-size: 180px auto;
	background-image: url(~assets/images/lottery/bingo-star.png);
}
  .lottery .lottery-left-txt {
    margin-top: 25px;
    padding-left: 30px;
    border-left: 1px solid #ddd;
	}

  .lottery .lottery-item-txt {
    padding: 10px 0px 10px 5px;
    width: 90%;
    text-align: left;
    line-height: 24px;
    color: #666;
	}

  .lottery .lottery-bottom .el-button {
/*
	line-height: 44px;
    padding: 0px 30px;
*/


	}
	.lottery .el-button--medium {
		font-size:15px;
	}
  .lottery >.el-col >.el-card {
    padding: 20px 20px 40px;
    box-shadow: 0 0 15px #ddd;
    margin-bottom: 10px;
	}

  .lottery >.el-col {
    margin-bottom: 30px;
	}

</style>
