<template>
	<div>
		<div class="pricing-banner-container">
			<div class="banner-img"></div>
		</div>

		<el-row>
			<div class="container el-row">
				<div class="main-header">
					<div class="line-l"></div>
					<span class="title">方案一</span>
					<span class="subTitle">自主運營</span>
				</div>
				<div class="plate">
					<div class="plate-content clearfix">
						<table class="pricing-level-table">
							<thead>
							<tr>
								<th>項目</th>
								<th>站長成數</th>
								<th>費用</th>
								<th>上繳費用</th>
								<th>備註說明</th>
							</tr>
							<tr>
								<td>平台建置費用<br>(一次性費用)</td>
								<td></td>
								<td class="price">80,000 TWD</td>
								<td></td>
								<td class="desc">標準 WEB、手機網站及安卓 APP。包含網域申請(.com) 1 年期 (含資訊保護)，SSL 建置。</td>
							</tr>
							<tr>
								<td>平台保底/月</td>
								<td>85%</td>
								<td class="price">60,000 TWD</td>
								<td>15%</td>
								<td class="desc">包含所有遊戲 (真人類、電子類、體育類、彩票類) 平台總營利須上繳金額 15%超過保底費用則兩者取其高，如：當月平台總營利金額 550000TWD 須上繳金額為 82,500 TWD 則不收保底費用。</td>
							</tr>
							</thead>
						</table>


					</div>
				</div>

				<div class="main-header">
					<div class="line-l"></div>
					<span class="title">方案二</span>
					<span class="subTitle">運營代接需求</span>
				</div>
				<div class="plate">
					<div class="plate-content clearfix">
						<table class="pricing-level-table">
							<thead>
							<tr>
								<th>項目</th>
								<th>站長成數</th>
								<th>費用</th>
								<th>上繳費用</th>
								<th>備註說明</th>
							</tr>
							<tr>
								<td>客服金流<br/>代接服務 / 月</td>
								<td>80%</td>
								<td class="price tl">(1) 系統首次建置費用 80,000 TWD<br/>
									(2) 客服與金流運營代接費用 60,000 TWD <br/>
									(3) 保底費用 60,000TWD
								</td>
								<td>20%</td>
								<td class="desc">
									包含所有遊戲 (真人類、電子類、體育類、彩票類) 站長只需要進行推廣平台總營利須上繳金額 20%超過保底費用則兩者取其高，如：當月平台總營利金額300000TWD 須上繳金額為 60000TWD 則不收保底費用。
								</td>
							</tr>
							</thead>
						</table>
					</div>
				</div>

				<div class="main-header">
					<div class="line-l"></div>
					<span class="title">其它注意事項</span>
					<span class="subTitle"></span>
				</div>
				<div class="plate">
					<div class="plate-content clearfix price-etc">
						<li>乙方請自備綠界或藍新金流帳號。</li>
						<li>乙方如選擇方案一，須自備客服連結。</li>
						<li>包網有固定模板可供挑選。</li>
						<li>如有客制化需求網站製作費用另議。</li>
						<li>系統租用日起 3 個月內免保底費用。</li>
						<li>須先預繳 18 萬保底，可使用系統 6 個月。</li>
						<li>如不繼續承租系統請於 15 日前提前告知。</li>
						<li>“上繳費用”不視為保底費用，如當月無達到保底金額還是需要上繳 15% or 20%的上繳費用。</li>
						<li>每月 10 號前進行交收，如每月 10 號前未完成交收緩衝期限至 15 號，如 15 號未完成交收則於當日 23:59 自動關版。</li>
					</div>
				</div>
			</div>
		</el-row>


		<div style="height: 40px;"></div>



	</div>
</template>

<script>

export default {
data () {
    return {
    }
    },
    components:{
      },
    mounted () {
    },
    methods: {

    },
	created() {
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.pricing-banner-container .banner-img {background: url(~assets/images/pricing/pricing-banner.jpg) center center / cover rgb(0, 0, 0);}
.main-header {
	margin: 8px 0;
	margin-top:30px;
}
.main-header .line-l {
	float: left;
    width: 4px;
    height: 18px;
    background: #409eff;
	margin-top: 3px;
}
.main-header .title {
    font-size: 18px;
    color: #6c6c6c;
    margin-left: 9px;
}
.main-header .subTitle {
    color: #666;
    margin-left: 5px;
}

.pricing-level-table  {
  font-size:15px;
  border:1px solid #ddd;
  text-align:center;
  border-collapse:collapse;
  width:100%;
  margin:0 auto;
  line-height:28px;
}
.pricing-level-table th {
  background-color: #409eff;
  padding:10px;
  border:1px solid #ddd;
  color:#fff;
  font-weight: 400;
}
.pricing-level-table td {
  border:1px solid #ddd;
  padding:5px;
  color:#666;
}
.pricing-level-table td.price {
	width: 400px;
}
.pricing-level-table td.tl {
	text-align: left;
}
.pricing-level-table td.desc {
	width: 400px;
	text-align: left;
}
.price-etc{
	padding: 6px 12px;
    border: 1px solid #ddd;
	line-height: 40px;
	color:#666;
}
</style>

<style>
.pricing-banner-container {
	width:100%;
	height:440px
}
</style>

