<template>
  <div>
    <div class="b_img a_pic">
        <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
        -->
        <img v-bind:src="'/static/images/promotion/promotion_1.jpg'" style=" max-width: 100%;">
    </div>
    <div>
        {{ this.$parent.focusItem.title }}
    </div>
    <div class="info" style="display: block;">
        <div>
            <h3>好友拉好友</h3>
            <h4>活動說明</h4>
            <h3 class="text-danger"><span style="color:#000000;"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><b><span style="font-size:13.5pt"><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">即日起凡是推薦好友加入並儲值1000以上，即可獲得200彩金，趕緊發動你的好友圈，賺取高額推薦彩金吧!</span></span></b></span></span><br>
            <span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">如推薦5個人，(5人x200)=1,000，即可領取1,000彩金</span></span></span></span></h3>

            <table class="Table" style="width:408.0pt; border:undefined" width="544">
                <tbody>
                    <tr style="height:41.7pt">
                        <td style="padding:.75pt .75pt .75pt .75pt; height:41.7pt">
                        <table class="MsoTableGrid" style="width:396.0pt; margin-left:.05pt; border-collapse:collapse; border:solid windowtext 1.0pt" width="528">
                            <tbody>
                                <tr style="height:20.9pt">
                                    <td style="border:solid windowtext 1.0pt; width:99.0pt; padding:0cm 5.4pt 0cm 5.4pt; height:20.9pt" valign="top" width="132"><span style="color:#000000;"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">介紹人數</span></span></span></span></td>
                                    <td style="border:solid windowtext 1.0pt; width:99.0pt; border-left:none; padding:0cm 5.4pt 0cm 5.4pt; height:20.9pt" valign="top" width="132"><span style="color:#000000;"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">流水倍數</span></span></span></span></td>
                                    <td style="border:solid windowtext 1.0pt; width:99.0pt; border-left:none; padding:0cm 5.4pt 0cm 5.4pt; height:20.9pt" valign="top" width="132"><span style="color:#000000;"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">優惠彩金</span></span></span></span></td>
                                    <td style="border:solid windowtext 1.0pt; width:99.0pt; border-left:none; padding:0cm 5.4pt 0cm 5.4pt; height:20.9pt" valign="top" width="132"><span style="color:#000000;"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">提領上限</span></span></span></span></td>
                                </tr>
                                <tr style="height:21.9pt">
                                    <td style="border:solid windowtext 1.0pt; width:99.0pt; border-top:none; padding:0cm 5.4pt 0cm 5.4pt; height:21.9pt" valign="top" width="132"><span style="color:#000000;"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span lang="EN-US" style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">1</span><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">人</span></span></span></span></td>
                                    <td style="border-bottom:solid windowtext 1.0pt; width:99.0pt; border-top:none; border-left:none; border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt; height:21.9pt" valign="top" width="132"><span style="color:#000000;"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span lang="EN-US" style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">20</span><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">倍</span></span></span></span></td>
                                    <td style="border-bottom:solid windowtext 1.0pt; width:99.0pt; border-top:none; border-left:none; border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt; height:21.9pt" valign="top" width="132"><span style="color:#000000;"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span lang="EN-US" style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">200/</span><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">人</span></span></span></span></td>
                                    <td style="border-bottom:solid windowtext 1.0pt; width:99.0pt; border-top:none; border-left:none; border-right:solid windowtext 1.0pt; padding:0cm 5.4pt 0cm 5.4pt; height:21.9pt" valign="top" width="132"><span style="color:#000000;"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">領取彩金的10倍</span></span></span></span></td>
                                </tr>
                            </tbody>
                        </table>
                        </td>
                        <td style="padding:.75pt .75pt .75pt .75pt; height:41.7pt"></td>
                        <td style="padding:.75pt .75pt .75pt .75pt; height:41.7pt"></td>
                    </tr>
                </tbody>
            </table>

            <h3 class="text-danger"><span style="color:#000000;"><span style="font-size:12pt"><span style="font-family:Calibri,sans-serif">&nbsp;<span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">例：推薦人數5人x200計有1000彩金，1000x10=10000即為最高提領上限。</span></span></span><br>
            <span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><b><span style="font-size:13.5pt"><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">申請方式</span></span></b></span></span><br>
            <span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">被推薦人(新會員)首次儲值24小時內，聯繫在線客服申請並提供介紹人的會員帳號<br>
            <br>
            申請要求<br>
            1. 領取本活動獎金的玩家可投注於所有遊戲。<br>
            2. 介紹人須為活躍會員，至少儲值1000以上的會員<br>
            3. 被推薦人(新會員)需存款1,000以上<br>
            4. 新會員需比舊會員晚註冊，且為第一次來本站存款並遊戲。</span></span></span><br>
            <span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><b><span style="font-size:13.5pt"><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">優惠規則與條款</span></span></b></span></span><br>
            <span style="font-size:12pt"><span style="font-family:Calibri,sans-serif"><span lang="EN-US" style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">1</span><span style="font-family:&quot;PMingLiU&quot;,&quot;serif&quot;">每位玩家、每戶、每一住址、每一電子信箱地址、每一電話號碼、相同付款方式及IP地址只能享有一次優惠。若會員有重複申請帳號行為，公司保留取消或收回會員優惠彩金的權利。<br>
            2完美娛樂城的所有優惠特為玩家而設，如發現任何團體或個人，以不誠實方式套取紅利或任何威脅、濫用公司優惠等行為，公司保留凍結、取消該團體或個人帳戶及帳戶結餘的權利。<br>
            3本活動計算的為有效押碼，無風險投注皆不計算入有效押碼，無風險投注包括（在百家樂時同時投注莊家、閒家，輪盤及骰寶及其他相似投注法時同時投注黑、紅，單、雙，大、小等）。<br>
            4.北京賽車、幸運飛艇：最多只能下六車，超過六車一律視為洗流水套利。<br>
            5.輪盤投注不能超過22個號碼以上，超過一律視為洗流水套利。<br>
            6.任何會員不得利用公司提供的各種優惠紅利，進行集體投注及其他方式惡意套利。本公司保留追究惡意影響本公司正常運作的權利。<br>
            7.若會員對活動有爭議時，為確保雙方利益，杜絕身份盜用行為，完美娛樂城有權要求會員向我們提供充足有效的文件，用以確認是否享有該優惠的資格。<br>
            8.當參與優惠會員未能完全遵守、或違反、或濫用任何有關公司優惠或推廣的條款，又或我們有任何證據有任何團隊或個人投下一連串的關聯賭注，籍以造成無論賽果怎樣都可以確保可以從該存款紅利或其他推廣活動提供的優惠獲利，金合發娛樂城保留權利向此團隊或個人停止、取消優惠或索回已支付的全部優惠紅利。此外，公司亦保留權利向這些客戶扣取相當於優惠紅利價值的行政費用，以補償我們的行政成本。<br>
            9.完美娛樂城保留對活動的最終解釋權，以及在無通知的情況下修改、終止活動的權利，適用於所有優惠。</span></span></span></span></h3>										 </div>
		</div>
    </div>
</template>

<script>

export default {
    name: 'promotionBlock',
    data () {
        return {

        }
    },
    mounted () {
    },
    created() {
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
