<template>
  <div>
    <div class="promotion-banner-container">
      <div class="banner-img"></div>
    </div>
    <div class="container el-row promotion">
      <el-row :gutter="0">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="全部優惠" name="">
          </el-tab-pane>
          <el-tab-pane label="新開戶優惠" name="新開">
          </el-tab-pane>
          <el-tab-pane label="長期優惠" name="長期">
          </el-tab-pane>
          <el-tab-pane label="特殊優惠" name="特殊">
          </el-tab-pane>

          <el-col :span="8" class="promotion-item"
            v-for="(item, key) in allData" :key="key"
            v-if="search ? item.title.indexOf(search) != -1 && (item.tag.indexOf(tag) != -1 || tag=='') : item.tag.indexOf(tag) != -1 || tag==''">
              <el-card :body-style="{ padding: '0px', cursor: 'pointer' }" @click.native="butClick(item)">
                <img v-bind:src="item.image" style="height: 257px;width: 341px;">
                <div class="txt">
                  <div class="title">{{ item.title }}</div>
                  <div class="content">{{ item.content }}</div>
                </div>
              </el-card>
          </el-col>
        </el-tabs>
        <div class="promotion-search">
            <div style="">
              <el-input placeholder="請輸入優惠關鍵詞" size="small" v-model="keyword" @keyup.native.enter="search=keyword">
                <el-button slot="append" icon="el-icon-search" @click="search=keyword"></el-button>
              </el-input>
            </div>
        </div>
      </el-row>
    </div>
  </div>
</template>

<script>

// import PromotionBlock_1 from '@/components/views/promotion/PromotionBlock_1'
// import PromotionBlock_2 from '@/components/views/promotion/PromotionBlock_2'
// import PromotionBlock_3 from '@/components/views/promotion/PromotionBlock_3'
// import PromotionBlock_4 from '@/components/views/promotion/PromotionBlock_4'
// import PromotionBlock_5 from '@/components/views/promotion/PromotionBlock_5'
import PromotionBlock_6 from '@/components/views/promotion/PromotionBlock_6'
//import PromotionBlock_7 from '@/components/views/promotion/PromotionBlock_7'
import PromotionBlock_8 from '@/components/views/promotion/PromotionBlock_8'
import PromotionBlock_9 from '@/components/views/promotion/PromotionBlock_9'
import PromotionBlock_13 from '@/components/views/promotion/PromotionBlock_13'
import PromotionBlock_14 from '@/components/views/promotion/PromotionBlock_14'
import PromotionBlock_15 from '@/components/views/promotion/PromotionBlock_15'
import PromotionBlock_16 from '@/components/views/promotion/PromotionBlock_16'
import PromotionBlock_17 from '@/components/views/promotion/PromotionBlock_17'
import PromotionBlock_18 from '@/components/views/promotion/PromotionBlock_18'
import PromotionBlock_19 from '@/components/views/promotion/PromotionBlock_19'

export default {
data () {
    return {
        tag:'',
        search:'',
        keyword:'',
        activeName: '',
        focusItem: null,
        allData: [

        {
          id:17,tag:['長期'],title:'老虎機30%天天送',content:'老虎機爭霸賽不下架最高優惠10000',image:require('assets/images/promotion/event17.jpg'),promotion:PromotionBlock_17
        },
        {
          id:18,tag:['長期'],title:'7PK彩金拿不完',content:'優惠活動無限制申請次數',image:require('assets/images/promotion/event18.jpg'),promotion:PromotionBlock_18
        },
        {
          id:19,tag:['長期'],title:'電子遊戲滿千送千週週送',content:'週週送儲1000送1000',image:require('assets/images/promotion/event19.jpg'),promotion:PromotionBlock_19
        },
 
		{
          id:6,tag:['新開'],title:'首儲1000送1000',content:'首次儲值單筆1000點以上即可獲得1000禮金',image:require('assets/images/promotion/20180603102853_0.jpg'),promotion:PromotionBlock_6
        },
        {
          id:13,tag:['長期'],title:'新會員滿月送彩金',content:'滿月金、季度金、半歲金、滿歲金，最高贈送彩金6888元',image:require('assets/images/promotion/20191017_p101.png'),promotion:PromotionBlock_13
        },
        {
          id:14,tag:['長期'],title:'9號完美會員專屬',content:'每月9號會員專屬日，彩金1088月月送',image:require('assets/images/promotion/20191017_p201.png'),promotion:PromotionBlock_14
        },
        {
          id:9,tag:['長期'],title:'天天返水，天天送',content:'任意遊戲累計有效投注量即可享受每日返水活動，投注越多，領越多',image:require('assets/images/promotion/20180603102924_0.jpg'),promotion:PromotionBlock_9
        },
        {
          id:15,tag:['長期'],title:'智勇大闖關-周周送大獎',content:'累計有效投注可申請獲得2888元衝關彩金',image:require('assets/images/promotion/20191016_p1.png'),promotion:PromotionBlock_15
        },
        {
          id:16,tag:['特殊'],title:'百家樂連贏送豪禮',content:'【百家樂】連贏局數最高可獲得連贏獎金128888',image:require('assets/images/promotion/20191016_p1_01.png'),promotion:PromotionBlock_16
        },
        {
          id:8,tag:['長期'],title:'24小時快速提領免手續費',content:'為回饋舊會員對本站的支持，特推出提領免手續費優惠活動。',image:require('assets/images/promotion/20180603102916_0.jpg'),promotion:PromotionBlock_8
        },
        // {
        //   id:1,
        //   tag:['長期'],
        //   title:'週週負利大回饋',
        //   content:'凡是完美娛樂城會員，當週負利金額達到5,001元以上就可聯繫24小時客服 ，進行申請轉運金。最高可獲8,888元',
        //   image:require('assets/images/promotion/20190409072000_0.jpg'),
        //   promotion:PromotionBlock_1
        // },{
        //   id:2,tag:['長期'],title:'好友拉好友',content:'推薦5個人，即可領取1,000彩金',image:require('assets/images/promotion/20180808052858_0.jpg'),promotion:PromotionBlock_2
        // },{
        //   id:3,tag:['特殊'],title:'驚喜小彩金，隨機派送中',content:'只要您在遊戲中，完美娛樂城將不定時隨機派發送驚喜小彩金至會員帳戶中',image:require('assets/images/promotion/20180604065512_0.jpg'),promotion:PromotionBlock_3
        // },{
        //   id:4,tag:['特殊'],title:'老虎機爭霸賽',content:'電子遊戲 週週紅利大放送',image:require('assets/images/promotion/20180603102750_0.jpg'),promotion:PromotionBlock_4
        // },{
        //   id:5,tag:['新開'],title:'註冊即送體驗金',content:'註冊即送體驗金',image:require('assets/images/promotion/20171109074839_0.jpg'),promotion:PromotionBlock_5
        // },{
        //   id:7,tag:['長期'],title:'週週首儲 週週送10%',content:'完美娛樂城的所有會員每週存款，即可免費領取相應的遊戲彩金，最高2000點！',image:require('assets/images/promotion/20180603102904_0.jpg'),promotion:PromotionBlock_7
        // },{
        // //新開戶
        //   id:8,tag:['長期'],title:'會員提領免手續費',content:'為回饋舊會員對本站的支持，特推出提領免手續費優惠活動。',image:require('assets/images/promotion/20180603102916_0.jpg'),promotion:PromotionBlock_8
        // },{
        //   id:10,tag:['特殊'],title:'儲值即送ATM讀卡機',content:'新、舊會員累積儲值達2000點，即可申請ATM讀卡機',image:require('assets/images/promotion/20180603102949_0.jpg'),promotion:PromotionBlock_10
        // },{
        //   id:11,tag:['特殊'],title:'您的生日，我們都記得',content:'即日起只要登記您的出生年月日，完美娛樂城將為您慶生',image:require('assets/images/promotion/20171109101627_0.jpg'),promotion:PromotionBlock_11
        // },{
        //   id:12,tag:['特殊'],title:'您的生日，我們都記得',content:'即日起只要登記您的出生年月日，完美娛樂城將為您慶生',image:require('assets/images/promotion/20171109101627_0.jpg'),promotion:PromotionBlock_11
        // }
        ],
    }
    },
    components:{
      },
    mounted () {
    },
    methods: {
        handleClick(tab, event) {
            this.tag = tab.name;
        },
        butClick(item) {
            this.focusItem = item;
            this.$layer.iframe({
                content: {
                    //content: DefaultLayout, //传递的组件对象
                    content: item.promotion,
                    parent: this,//当前的vue对象
                    data:{},
                },
                area:['800px','600px'],
                title: item.title,
                shade: true,
                shadeClose: false
                });
        }

    },
	created() {
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.promotion-banner-container .banner-img {background: url(~assets/images/promotion/41cfcf4bc94f57f5a5b67330dd9819b9.jpg) center center / cover rgb(0, 0, 0);}

  .promotion-item {
    padding: 10px 10px;
  }

  .promotion-item .txt {
    padding: 20px;
  }

  .promotion-item .title {
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }

  .promotion-item .content {
    margin-top: 10px;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 14px;
    font-size: 14px;
    max-height: 14px;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }

  .promotion .el-tabs__header {
    margin: 10px 0 15px;
  }



  .promotion-search {
      position: absolute;
      cursor: pointer;
      line-height: 45px;
      right: 0;
      top: 0;
      margin: 0px 0px;
  }

  .promotion {
    margin: 25px auto;
    padding: 0px 25px 35px 25px;
    background-color: white;
    min-height: 600px;
  }

	.el-col-offset-2 {
		margin-left: 0;
	}

	.image {
		width: 100%;
		display: block;
	}

</style>
<style>
.promotion .el-tabs__nav.is-top {
	height:46px !important;
}
.promotion .el-tabs__nav-wrap::after {
	height:1px;
}
.promotion-banner-container {
	width:100%;
	height:440px
}

 .promotion .el-tabs__item {
    font-weight: 700;
    font-size: 15px;
  }
  .promotion .promotion-search input{
	font-size:15px;
  }
</style>
