<template>
  <div>
    <div class="container el-row container-register">
      <el-row :gutter="0">
        <el-col :span="12" class="register-left">
          <div class="register-swiper">
            <swiper :options="swiperOption">
              <swiper-slide><div class="banner-img" style="background: url(/static/images/register/a62826f30cfbf3f60fa5f41535beaa4c.jpg) center center / cover;"></div></swiper-slide>
              <swiper-slide><div class="banner-img" style="background: url(/static/images/register/021c88a9053fc451413b07150b6369f3.jpg) center center / cover;"></div></swiper-slide>
              <swiper-slide><div class="banner-img" style="background: url(/static/images/register/5bf12e9ba5d50b6aaf3a89297e09ef46.jpg) center center / cover;"></div></swiper-slide>
              <swiper-slide><div class="banner-img" style="background: url(/static/images/register/85c72c64da13c414560c330b2e66a55d.jpg) center center / cover;"></div></swiper-slide>
              <swiper-slide><div class="banner-img" style="background: url(/static/images/register/b0de004f4c248c93193b269bef2cf53e.jpg) center center / cover;"></div></swiper-slide>
              <div class="swiper-pagination" slot="pagination"></div>
            </swiper>
          </div>
        </el-col>
        <el-col :span="12" class="register-right">
          <div class="register-header">
            <div class="txt">
              註冊完美娛樂城帳戶,您將會領略到前所未有的博彩體驗.如果您已擁有完美娛樂城帳戶,則可直接
              <a href="javascript:void(0);" @click="login()">登錄</a>
            </div>
          </div>
          <div class="register-content">
            <div class="register-notice" style="cursor:pointer;" @click="$layer.msg('請先註冊')">
              手机注册每日随机产生最高<span class="txt4" style="color:red;">999元</span>现金大奖
            </div>
            <el-form ref="form" :model="form" :rules="rules" >
              <el-form-item  prop="username" >
                <el-input v-model="form.username" placeholder="用戶名（請輸入6-12個數字及小寫字母）">
                  <template slot="prepend">
                    <icon slot="prefix" name="user-alt" scale="1"></icon>
                  </template>
                </el-input>
              </el-form-item>
              <el-form-item  prop="password">
                <el-input type="password" v-model="form.password" placeholder="密碼 (6-12個字母及數字組合)">
                  <template slot="prepend">
                    <icon slot="prefix" name="lock" scale="1"></icon>
                  </template>
                </el-input>
              </el-form-item>
              <el-form-item  prop="verify">
                <el-input type="verify" v-model="form.verify" placeholder="請輸入驗證碼" style="width:230px;">
                  <template slot="prepend">
                    <icon slot="prefix" name="check" scale="1"></icon>
                  </template>
                </el-input>
                <img v-bind:src="'/api/captcha?rnd=' + rnd" @click="refreshCaptcha()" width="160" height="40" style="margin-top:0px;position: relative;top:16px;left:10px;cursor: pointer;">
              </el-form-item>
              <el-checkbox v-model="checked"><span style="color:black;">我已經屆滿合法博彩年齡,且同意各項</span></el-checkbox>  <a style="color:red;font-size:14px;cursor:pointer;" @click="toOpen( )">開戶條約</a>
              <el-form-item  prop="">
                <el-button type="primary" @click="submitForm('form')" :loading="form.loading" style="width:405px;margin-top:15px;">立 即 註 冊</el-button>
              </el-form-item>
            </el-form>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data () {
		const validateUsername = (rule, value, callback) => {
            let reg_name = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{4,12}$/;
            if (value === '') {
                callback(new Error('請輸入用戶名'));
            } else if(!reg_name.test(this.form.username)){
				callback(new Error('格式輸入不對,請輸入4-12位數字及字母組合'));
			} else {
				this.form.disable = false;
				callback();
			}
		};
		const validatePassword = (rule, value, callback) => {
            let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
            if (value === '') {
                callback(new Error('請輸入密碼'));
            } else if(!reg_pwd.test(value)){
				callback(new Error('6-12個字母及數字組合'));
			} else {
				callback();
			}
		};
    return {
      rnd: 1,
			swiperOption: {
				autoplay: {
					delay: 5000
				},
				speed: 400,
				slidesPerView: 1,
				spaceBetween: 0,
				loop: true,
				mousewheelControl: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true
				},
			},
      /*
			errors:{
				show : false,
				title : '帳號名或密碼錯誤'
			},
      */
			form: {
				username: '',
        password: '',
        verify: '',
				loading: false,
			},
			rules: {
				username: [{
					validator: validateUsername,
					trigger: 'blur'
				}],
				password: [{
					validator: validatePassword,
					trigger: 'blur'
				}],
			},
      checked: true,
      //isLogin: this.user.isLogin,
    }
  },
  mounted () {
  },
  methods: {
		login(){
			this.$emit('LoginBox',{methods:'login'});
		},
    toOpen(){
      window.open('/#/help/open','register');
    },
    refreshCaptcha(){
        this.rnd = Math.random();
        console.log(1111);
    },
    go2login(){
      this.$axios({
				method : 'POST',
				url : this.config.ApiUrl + '/api/login',
				data: {
					'company' : this.config.company,
					'name' : this.form.username,
					'password' : this.form.password,
					'remember' : 'on'
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				//console.log(response);
				if (!response.data.status) {
					return this.$layer.msg(response.data.message);
				}
				this.$store.dispatch('checkLogin');
				this.user.isLogin = true;
				this.centerDialogVisible = false;
				//this.$layer.msg('登錄成功');
				this.$message({
					type: 'success',
					message: response.data.message
				});
				//console.log(response.data);
			}).catch(error => {
				this.$layer.msg(this.errors.title);
//				this.errors.show = true;
				console.log(error);
			});
    },
    submitForm(formName) {
          this.$refs[formName].validate((valid) => {
          if (valid) {
			    this.form.loading = true;
                this.$axios({
                    method : 'POST',
                    url : this.config.ApiUrl + '/api/register-quick' ,
                    data: {
                      'company' : this.config.company,
                      'username' : this.form.username,
                      'password' : this.form.password,
					  'host' : window.location.host,
					  'captcha' : this.form.verify
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    //console.log(response.data);
                    this.$layer.msg(response.data.message);
                    if (response.data.status){
                        this.active++;
                        setTimeout(() => {
                                this.go2login();
                            }, 2000);
                    }
                    this.form.loading = false;

                }).catch(error => {
                    console.log(error);
			        this.form.loading = false;
                });
            } else {
                console.log('error submit!!');
                return false;
            }
            });
        },
  },
  computed: {
  ...mapGetters({
			config: 'config',
      user: 'user',
    }),
  },
	created() {
    if(this.user.isLogin == true)
    {
      this.$layer.msg('登入狀態下, 無法註冊');
      this.$router.replace('/');
    }
	},
  watch: {
    'user.isLogin'() {
      if(this.user.isLogin == true) this.$router.replace('/');
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
.el-input-group__append, .el-input-group__prepend {
	padding:0px;
	width:50px;
	text-align:center;
}
.el-select .el-input {
  width: 130px;
}

.register-content {
  padding: 10px 70px;
  margin-top: 20px;
}

.register-notice {
  border: 1px solid #fec6a0;
  padding: 10px;
  color: #6c6c6c;
  margin-top: 7px;
  background: #fef5e3;
  margin-bottom: 10px;
  font-size: 14px;
}

.register-header .txt {
  line-height: 26px;
  padding: 0 35px;
  font-size: 14px;
}

.register-header {
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.register-right {
  padding: 40px 0px;
  margin-top: 30px;
}

.register-swiper {
  padding: 20px 0px;
}

.register-swiper .swiper-slide {
  height: 680px;
  width: 540px;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  background-color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-register {
  margin-top: 25px;
  padding: 0px 25px 35px 25px;
  background-color: white;
  min-height: 600px;
}

.form-code{
  width: 50%;
}
.form-code-btn{
  width: 48%;
}
</style>
