<template>
	<div>
		<div class="container el-row container-register">
			<el-row :gutter="0">
				<el-col :span="12" class="register-left">
					<div class="register-swiper">
						<swiper :options="swiperOption">
							<swiper-slide><div class="banner-img left-slide1"></div></swiper-slide>
							<div class="swiper-pagination" slot="pagination"></div>
						</swiper>
					</div>
				</el-col>
				<el-col :span="12" class="register-right">
					<div class="register-header">
						<div class="txt">
						會員註冊
						</div>
					</div>
					<div class="register-content">
						<el-tabs :stretch="true" class="tabs">
							<el-tab-pane label="手機註冊">
								<el-form ref="form" :model="form" :rules="rules" >
									<el-form-item  prop="username" >
										<el-input v-model="form.username" placeholder="帳號（請輸入4-8位數字及字母組合）">
										<template slot="prepend">
											<icon slot="prefix" name="user-alt" scale="1"></icon>
										</template>
										</el-input>
									</el-form-item>
									<el-form-item  prop="password">
										<el-input type="password" v-model="form.password" placeholder="密碼 (請輸入6-12位數字及字母組合)">
										<template slot="prepend">
											<icon slot="prefix" name="lock" scale="1"></icon>
										</template>
										</el-input>
									</el-form-item>
									<el-form-item  prop="name">
										<el-input  v-model="form.name" placeholder="請輸入姓名">
										<template slot="prepend">
											<icon slot="prefix" name="edit" scale="1"></icon>
										</template>
										</el-input>
									</el-form-item>
									<el-form-item  prop="phone">
										<el-input type="phone" v-model="form.phone" placeholder="請輸入手機號碼">
										<template slot="prepend">
											<icon slot="prefix" name="mobile-alt" scale="1"></icon>
										</template>
										</el-input>
									</el-form-item>
									<el-form-item prop="code">
										<el-input v-model="form.code" autocomplete="off" class="form-code" placeholder="請輸入驗證碼"></el-input>
										<el-button type="primary" :disabled="isSendCodeDisabledFn" @click="sendCode"  :loading="form.code_loading">發送驗證碼</el-button>
									</el-form-item>
									<!-- <el-checkbox v-model="checked"><span style="color:#ddd;">我已經屆滿合法博彩年齡,且同意各項</span></el-checkbox><a style="color:#e40000;font-size:14px;cursor:pointer;" @click="toOpen()">開戶條約</a> -->
									<el-form-item  prop="">
										<el-button type="primary" @click="submitForm('form')" :loading="form.loading" style="width:405px;margin-top:15px;">立 即 註 冊</el-button>
									</el-form-item>
								</el-form>
							</el-tab-pane>
							<!-- <el-tab-pane label="快速註冊">
								<el-form ref="form_quick" :model="form_quick" :rules="rules_quick" >
									<el-form-item  prop="username" >
										<el-input v-model="form_quick.username" placeholder="帳號（請輸入4-12位數字及字母組合）">
										<template slot="prepend">
											<icon slot="prefix" name="user-alt" scale="1"></icon>
										</template>
										</el-input>
									</el-form-item>
									<el-form-item  prop="password">
										<el-input type="password" v-model="form_quick.password" placeholder="密碼 (請輸入6-12位數字及字母組合)">
										<template slot="prepend">
											<icon slot="prefix" name="lock" scale="1"></icon>
										</template>
										</el-input>
									</el-form-item>
									<el-form-item  prop="name">
										<el-input  v-model="form_quick.name" placeholder="請輸入姓名">
										<template slot="prepend">
											<icon slot="prefix" name="edit" scale="1"></icon>
										</template>
										</el-input>
									</el-form-item>
									<el-form-item  prop="verify" style="margin-top:-16px;">
										<el-input type="verify" v-model="form_quick.verify" placeholder="請輸入驗證碼" style="width:230px;">
										<template slot="prepend">
											<icon slot="prefix" name="check" scale="1"></icon>
										</template>
										</el-input>
																				<img v-bind:src="'/api/captcha?rnd=' + rnd" @click="refreshCaptcha()" width="160" height="40" style="margin-top:0px;position: relative;top:16px;left:10px;cursor: pointer;">

									</el-form-item>
									<el-form-item  prop="">
										<el-button type="primary" @click="submitFormQuick('form_quick')" :loading="form_quick.loading" style="width:405px;margin-top:15px;">立 即 註 冊</el-button>
									</el-form-item>
								</el-form>
							</el-tab-pane> -->
						</el-tabs>
					</div>
				</el-col>
			</el-row>
		</div>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  	data () {
		const validateName = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('請輸入姓名'));
			} else {
				this.form.disable = false;
				callback();
			}
		};
		const validateUsername = (rule, value, callback) => {
            let reg_name = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{4,8}$/;
            if (value === '') {
                callback(new Error('請輸入帳號'));
            } else if(!reg_name.test(value)){
				callback(new Error('格式輸入不對,請輸入4-8位數字及字母組合'));
			} else {
				this.form.disable = false;
				callback();
			}
		};
		const validatePhone = (rule, value, callback) => {
			let reg_mobile = /^09[0-9]{8}$/;
            if (value === '') {
                callback(new Error('請輸入手機號碼'));
            } else if(!reg_mobile.test(value)){
                callback(new Error('請輸入正確的手機號碼'));
            } else {
                callback();
            }
		};
		const validatePassword = (rule, value, callback) => {
            let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
            if (value === '') {
                callback(new Error('請輸入密碼'));
            } else if(!reg_pwd.test(value)){
				callback(new Error('6-12位數字及字母組合'));
			} else {
				callback();
			}
		};
		const validateCode = (rule, value, callback) => {
            let reg_code = /^[0-9]{4,4}$/;
            if (value === '') {
                callback(new Error('請輸入驗證碼'));
            } else if(!reg_code.test(value)){
				callback(new Error('4個數字組合'));
			} else {
				callback();
			}
		};
   		return {
     		rnd: 1,
			swiperOption: {
				autoplay: {
					delay: 5000
				},
				speed: 400,
				slidesPerView: 1,
				spaceBetween: 0,
				loop: false,
				mousewheelControl: true,
				pagination: {
					el: '.swiper-pagination',
					clickable: true
				},
			},
			form: {
				username: '',
				name: '',
				password: '',
				phone: '',
        		code: '',
				loading: false,
			},
			rules: {
				name: [{
					validator: validateName,
					trigger: 'blur'
				}],
				username: [{
					validator: validateUsername,
					trigger: 'blur'
				}],
				phone: [{
					validator: validatePhone,
					trigger: 'blur'
				}],
				password: [{
					validator: validatePassword,
					trigger: 'blur'
				}],
				code: [{
					validator: validateCode,
					trigger: 'blur'
				}],
			},
			form_quick: {
				username: '',
				name: '',
        		password: '',
       			verify: '',
				loading: false,
			},
			rules_quick: {
				username: [{
					validator: validateUsername,
					trigger: 'blur'
				}],
				password: [{
					validator: validatePassword,
					trigger: 'blur'
				}],
			},
     		checked: true,
    	}
 	},
	mounted () {
	},
  	methods: {
		login(){
			this.$emit('LoginBox',{methods:'login'});
		},
		toOpen(){
			window.open('/#/help/cate1/1','register');
		},
		refreshCaptcha(){
			this.rnd = Math.random();
			//console.log(1111);
		},
		sendCode(){
			this.form.code_loading = true;
			this.$axios({
				method : 'POST',
				url : this.config.ApiUrl + '/api/sms' ,
				data: {
					'company' : this.config.company,
					'mobile' : this.form.phone
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				//console.log(response.data);
				if (response.data.status){
					this.$layer.msg("簡訊已發送");
					this.isDisabledVerifyBtn = false;
				}else{
					this.$layer.msg(response.data.message);
				}
				this.form.code_loading = false;

			}).catch(error => {
				console.log(error);
				this.form.code_loading = false;
			});
		},
		go2login(_username, _password){
			this.$axios({
					method : 'POST',
					url : this.config.ApiUrl + '/api/login',
					data: {
						'company' : this.config.company,
						'name' : _username,
						'password' : _password,
						'remember' : 'on'
					},
					headers: {
						'Content-Type': 'application/json'
					}
				}).then(response => {
					//console.log(response);
					if (!response.data.status) {
						return this.$layer.msg(response.data.message);
					}
					this.$store.dispatch('checkLogin');
					this.user.isLogin = true;
					this.centerDialogVisible = false;
					//this.$layer.msg('登錄成功');
					this.$message({
						type: 'success',
						message: response.data.message
					});
					//console.log(response.data);
				}).catch(error => {
					this.$layer.msg(this.errors.title);
	//				this.errors.show = true;
					console.log(error);
				});
		},
		submitForm(formName) {
			if(!this.checked){
				this.$layer.msg("請同意開戶條件");
				return;
			}
			this.$refs[formName].validate((valid) => {
				if (valid) {
					this.form.loading = true;
					this.$axios({
						method : 'POST',
						url : this.config.ApiUrl + '/api/register' ,
						data: {
						'company' : this.config.company,
						'username' : this.form.username,
						'password' : this.form.password,
						'name' : this.form.name,
						'mobile' : this.form.phone,
						'host' : window.location.host,
						'code' : this.form.code
						},
						headers: {
							'Content-Type': 'application/json'
						}
					}).then(response => {
						//console.log(response.data);
						this.$layer.msg(response.data.message);
						if (response.data.status){
							setTimeout(() => {
									this.form.loading = false;
									this.go2login(this.form.username, this.form.password);
								}, 500);
						}
						//this.form.loading = false;

					}).catch(error => {
						console.log(error);
						this.form.loading = false;
					});
				} else {
					console.log('error submit!!');
					return false;
				}
			});
		},

		submitFormQuick(formName) {
			if(!this.checked){
				this.$layer.msg("請同意開戶條件");
				return;
			}
			this.$refs[formName].validate((valid) => {
			if (valid) {
				this.form_quick.loading = true;
				this.$axios({
					method : 'POST',
					url : this.config.ApiUrl + '/api/register-quick' ,
					data: {
					'company' : this.config.company,
					'username' : this.form_quick.username,
					'password' : this.form_quick.password,
					'name' : this.form_quick.name,
					'host' : window.location.host,
					'captcha' : this.form_quick.verify
					},
					headers: {
						'Content-Type': 'application/json'
					}
				}).then(response => {
					//console.log(response.data);
					this.$layer.msg(response.data.message);
					if (response.data.status){
						setTimeout(() => {
								this.go2login(this.form_quick.username, this.form_quick.password);
							}, 2000);
					}
					else {
						this.refreshCaptcha();
					}
					this.form_quick.loading = false;

				}).catch(error => {
					console.log(error);
					this.form_quick.loading = false;
				});
			} else {
				console.log('error submit!!');
				return false;
			}
			});
		},
  	},
	computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
		}),
		isSendCodeDisabledFn(){
			let reg_mobile = /^09[0-9]{8}$/;
			if(reg_mobile.test(this.form.phone))
				return false;
			return true;
		},
	},
	created() {
		if(this.user.isLogin == true)
		{
		this.$layer.msg('登入狀態下, 無法註冊');
		this.$router.replace('/');
		}
	},
  	watch: {
		'user.isLogin'() {
			if(this.user.isLogin == true) this.$router.replace('/');
		}
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style >
.container-register .el-button--primary.is-disabled,.container-register .el-button--primary.is-disabled:active,.container-register .el-button--primary.is-disabled:focus,.container-register .el-button--primary.is-disabled:hover
{
	color: #888;
}
.container-register .el-form-item__content .el-input-group {vertical-align:middle}
.container-register .left-slide1 {background: url(~assets/images/reg-img.jpg) center center / cover;}

.el-input-group__append, .el-input-group__prepend {
	padding:0px;
	width:50px;
	text-align:center;
}


.register-content {
  padding: 10px 70px;
  margin-top: 20px;
}

.register-notice {
  border: 1px solid #fec6a0;
  padding: 10px;
  color: #6c6c6c;
  margin-top: 7px;
  background: #fef5e3;
  margin-bottom: 10px;
  font-size: 14px;
}

.register-header .txt {
  line-height: 26px;
  padding: 0 35px;
  font-size: 22px;
  font-weight:700;
  text-align:center;
}

.register-header {
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

.register-right {
  padding: 40px 0px;
  margin-top: 30px;
}

.register-swiper {
  padding: 20px 0px;
}

.register-swiper .swiper-slide {
  height: 680px;
  width: 540px;
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  background-color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-register {
	margin-top: 25px;
    padding: 0px 25px 35px 25px;
    background-color: #3a3a3a;
    min-height: 600px;
    color: #ddd;
}

.form-code{
  width: 50%;
}
.form-code-btn{
  width: 48%;
}
.tabs  .el-tabs__item  {
	font-size:16px;
}

</style>
<style scoped>
.tabs .el-tabs__item {

	width: 50%;
}
</style>
