<template>
	<div class="el-row">
		<div class="slot-banner-container">
			<div class="banner-img"></div>
		</div>
		<div class="container el-row" >

			<div class="slot-box">
				<div class="slot-header">
					<el-breadcrumb separator-class="el-icon-arrow-right">
						<el-breadcrumb-item :to="{ path: '/slot' }">電子遊戲首頁</el-breadcrumb-item>
					</el-breadcrumb>
				</div>

				<el-row :gutter="15" style="padding:20px 10px;">

					<el-col :span="6">
						<el-card :body-style="{ padding: '0px' }">
							<router-link to="/slot/qt">
								<img src="~assets/images/slot/slot_card_qt.jpg" class="card-image">
							</router-link>
							<div style="padding: 15px;">
								QT電子遊戲
								<router-link to="/slot/qt" class="pull-right"><el-button type="text" class="button">進入遊戲</el-button></router-link>
							</div>
						</el-card>
					</el-col>

					<el-col :span="6">
						<el-card :body-style="{ padding: '0px' }">
							<router-link to="/slot/ae">
								<img src="~assets/images/slot/slot_card_ae.jpg" class="card-image">
							</router-link>
							<div style="padding: 15px;">
								AE電子遊戲
								<router-link to="/slot/ae" class="pull-right"><el-button type="text" class="button">進入遊戲</el-button></router-link>

							</div>
						</el-card>
					</el-col>
					<!--
					<el-col :span="6">
						<el-card :body-style="{ padding: '0px' }">
							<router-link to="/slot/sa">
								<img src="~assets/images/slot/slot_card_sa.jpg" class="card-image">
							</router-link>
							<div style="padding: 15px;">
								SA電子遊戲
								<router-link to="/slot/sa" class="pull-right"><el-button type="text" class="button">進入遊戲</el-button></router-link>

							</div>
						</el-card>
					</el-col>
					-->
					<!--el-col :span="6">
						<el-card :body-style="{ padding: '0px' }">
							<router-link to="/slot/ps">
								<img src="~assets/images/slot/slot_card_ps.png" class="card-image">
							</router-link>
							<div style="padding: 15px;">
								PS電子遊戲
								<router-link to="/slot/ps" class="pull-right"><el-button type="text" class="button">進入遊戲</el-button></router-link>

							</div>
						</el-card>
					</el-col-->
<!--
					<el-col :span="6">
						<el-card :body-style="{ padding: '0px' }">
							<router-link to="/slot/ttg">
								<img src="~assets/images/slot/slot_card_ttg.png" class="card-image">
							</router-link>
							<div style="padding: 15px;">
								TTG電子遊戲
								<router-link to="/slot/ttg" class="pull-right"><el-button type="text" class="button">進入遊戲</el-button></router-link>

							</div>
						</el-card>
					</el-col>
-->
					<el-col :span="6">
						<el-card :body-style="{ padding: '0px' }">
							<router-link to="/slot/rtg">
								<img src="~assets/images/slot/slot_card_rtg.png" class="card-image">
							</router-link>
							<div style="padding: 15px;">
								RTG電子遊戲
								<router-link to="/slot/rtg" class="pull-right"><el-button type="text" class="button">進入遊戲</el-button></router-link>

							</div>
						</el-card>
					</el-col>
					<el-col :span="6">
						<el-card :body-style="{ padding: '0px' }">
							<img src="~assets/images/slot/slot_card_7pk.png" class="card-image">
							<div style="padding: 15px;">
								7PK
								<div class="pull-right"><el-button @click="startGame('7PK','7PK');" type="text" class="button">進入遊戲</el-button></div>
							</div>
						</el-card>
					</el-col>
				</el-row>
			</div>
		</div>
		<TransferBox ref="TransferBox"></TransferBox>
	</div>
</template>

<script>

import { mapGetters } from 'vuex'
import TransferBox from '@/components/TransferBox'

export default {
	name: 'SlotComponent',
	data () {
		return {
		//	 currentDate: new Date()
		}
	},
	components :{
			'TransferBox' : TransferBox,
	},
	methods: {
		startGame(source,id) {
			if(this.user.isLogin == false) {
				this.$emit('LoginBox',{methods:'login'});
				return false;
			}

			this.$refs.TransferBox.open(source,id);
		},
		/*
		startGame(soruce, id) {

			if(this.user.isLogin == false) {
				this.$emit('LoginBox',{methods:'login'});
				return false;
			}

			this.$axios({
				method : 'GET',
				url : this.config.ApiUrl + '/api/' + soruce + '/start-game/' + id ,
				data: {
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				//console.log(response);
				if (!response.data.status) {
					return this.$layer.msg(response.data.message);
				}
				else {
					window.open(response.data.data.url,'', 'height=768,width=1024,location=no,menubar=no,menubar=no');
				}
			}).catch(error => {
				console.log(error);
			});
		}*/

	},
	watch: {
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
    },
	created() {

	//	this.$store.dispatch('getSlotLists','tcg');
	}
}
</script>

<style>
.slot-banner-container .banner-img {background: url(~assets/images/slot/banner.jpg) center center / cover rgb(0, 0, 0);}
.slot-banner-container {
	width:100%;
	height:440px
}

.slot-box {
	background-color:#fff;
}
.slot-box .card-image {
	width:100%;
	height:210px;
}
.slot-box .button {
padding: 5px 10px;
    font-size: 15px;
    border-radius: 20px;
    border: 1px solid #409EFF;
    margin-top: -3px;
}

.slot-box .slot-header{
    border-bottom: 1px solid #eaeaea;
    padding: 20px 15px 15px 15px;
	font-size:15px;
}
.slot-box ul.content {
	list-style-type: none;
	margin:0px;
	padding:0px;
	position:relative;
	margin-left:9px;
}
.slot-box .content li {
	display:inline-block;
	width:170px;
	border:0px solid #EEE;
	overflow:hidden;
	margin:8px 6px;
	position:relative;
	font-size:15px;
	line-height:24px;
	color:#444;
}
.slot-box .content li img{
	width:170px;
	height:170px;

}
.slot-box .el-col.el-col-6 {
	margin-bottom:20px;
}
.slot-box .el-breadcrumb__inner {color:#666;font-weight:400;}
</style>
