<template>
	<div class="el-row">
		<div class="slot-banner-container">
			<div class="banner-img"></div>
		</div>
		<div class="container el-row" >


			<div class="slot-box">
				<div class="slot-header">
					<el-breadcrumb separator-class="el-icon-arrow-right">
						<el-breadcrumb-item :to="{ path: '/slot' }">電子遊戲首頁</el-breadcrumb-item>
						<el-breadcrumb-item>{{ $route.name }}</el-breadcrumb-item>
					</el-breadcrumb>
					<div class="slot-search">
						<el-input placeholder="請輸入關鍵字" size="small" v-model="keyword" clearable>
							<el-button slot="append" icon="el-icon-search"></el-button>
						</el-input>
					</div>
				</div>
				<el-tabs  @tab-click="handleClick" class="qt-tabs">
					<el-tab-pane label="全部遊戲" name="0"></el-tab-pane>
					<el-tab-pane label="最新發佈" name="1"></el-tab-pane>
					<el-tab-pane label="熱門遊戲" name="2"></el-tab-pane>
					<el-tab-pane label="老虎機" name="3"></el-tab-pane>
					<el-tab-pane label="桌面遊戲" name="4"></el-tab-pane>
					<!--
					<el-tab-pane label="真人視訊" name="5"></el-tab-pane>
					<el-tab-pane label="虛擬體育" name="6"></el-tab-pane>
					-->
					<el-tab-pane label="即時遊戲" name="7"></el-tab-pane>
					<el-tab-pane label="刮刮卡" name="8"></el-tab-pane>
				</el-tabs>
				<ul class="content">


					<li v-for="(item, index) in gameLists" :key="index">
						<div class="photo">

							<lazy-component>
								<img :src="'/static/images/slot/qt/' + item.game_id +'.jpg'">
							</lazy-component>

							<div class="float-box">

								<div class="button" @click="startGame(item.vendor, item.game_id);" :style="{'margin-top': true  ?'40px':'66px'}"><div class="shine"></div>進入遊戲</div>
								<div class="button try-game"  @click="tryGame(item.vendor, item.game_id);" style="margin-top:10px;"><div class="shine"></div>試　　玩</div>


							</div>
					  </div>
					  <div>
						{{item.game_name}}
					  </div>
					</li>
				</ul>
				<div v-if="noRecord" class="no-record">暫無相關記錄</div>
			</div>

		</div>

		<SlotGameUtil ref="SlotGameUtil"></SlotGameUtil>
		<TransferBox ref="TransferBox"></TransferBox>


	</div>

</template>

<script>

import { mapGetters } from 'vuex'
import TransferBox from '@/components/TransferBox'
import SlotGameUtil from '@/components/views/SlotGameUtil'
export default {
	name: 'SlotQTComponent',
	data () {
		return {
			keyword:'',
			noRecord:false,
			isTryGame:true,
			newAllGames:{},
			newGameCategory:{
				'1':[],
				'2':[],
				'3':[],
				'4':[],
				'5':[],
				'6':[],
				'7':[],
				'8':[],
			},

			allGames:[{"vendor":"QT","game_id":"BNG-12animals","game_name":"12\u767c\u8ca1\u661f"},{"vendor":"QT","game_id":"HAB-12zodiacs","game_name":"\u5341\u4e8c\u751f\u8096"},{"vendor":"QT","game_id":"BNG-15goldeneggs","game_name":"\u5feb\u6a02\u9ce5"},{"vendor":"QT","game_id":"AUG-3treasures","game_name":"\u5409\u7965\u4e09\u5bf6"},{"vendor":"QT","game_id":"AUG-5blessings","game_name":"\u4e94\u798f\u81e8\u9580"},{"vendor":"QT","game_id":"HAB-5luckylions","game_name":"\u6b61\u6a02\u559c\u7345"},{"vendor":"QT","game_id":"HAB-5mariachis","game_name":"\u8857\u982d\u6a02\u968a"},{"vendor":"QT","game_id":"BNG-777gems","game_name":"\u8d85\u7d1a7"},{"vendor":"QT","game_id":"BNG-88dragon","game_name":"\u9738\u9f8d"},{"vendor":"QT","game_id":"BNG-88wilddragon","game_name":"\u8d70\u904b\u4e00\u8def8"},{"vendor":"QT","game_id":"EVP-aceround","game_name":"ACE\u69cd\u738b"},{"vendor":"QT","game_id":"EVP-aeronauts","game_name":"\u84b8\u6c7d\u670b\u514b"},{"vendor":"QT","game_id":"BNG-africanspirit","game_name":"\u975e\u6d32\u4e4b\u9b42"},{"vendor":"QT","game_id":"BNG-ageofcaesar","game_name":"\u7f85\u99ac\u5e1d\u570b"},{"vendor":"QT","game_id":"TK-arcader","game_name":"\u795e\u79d8\u7684\u5de8\u77f3"},{"vendor":"QT","game_id":"HAB-arcaneelements","game_name":"\u795e\u79d8\u5143\u7d20"},{"vendor":"QT","game_id":"QS-arkofmystery","game_name":"\u81f3\u5c0a\u5bf6\u7bb1"},{"vendor":"QT","game_id":"GFG-armorofcourage","game_name":"\u52c7\u6c23\u8b77\u7532"},{"vendor":"QT","game_id":"EVP-atlantis","game_name":"\u4e9e\u7279\u862d\u8482\u65af"},{"vendor":"QT","game_id":"TK-babushkas","game_name":"\u4fc4\u7f85\u65af\u8001\u592a"},{"vendor":"QT","game_id":"TK-barbershopuncut","game_name":"\u5df4\u723e\u4f2f\u7406\u767c\u5e2b"},{"vendor":"QT","game_id":"EVP-basketball","game_name":"\u6fc0\u60c5\u7c43\u7403"},{"vendor":"QT","game_id":"EVP-battletanks","game_name":"\u5766\u514b\u5927\u6230"},{"vendor":"QT","game_id":"GFG-beautyoftheeast","game_name":"\u6771\u65b9\u7f8e\u4eba"},{"vendor":"QT","game_id":"QS-bigbotcrew","game_name":"\u8d85\u80fd\u9678\u6230\u968a"},{"vendor":"QT","game_id":"HAB-birdofthunder","game_name":"\u96f7\u9ce5"},{"vendor":"QT","game_id":"TK-birdsonawire","game_name":"\u61a4\u6012\u7684\u5c0f\u9ce5"},{"vendor":"QT","game_id":"ELK-birthday","game_name":"\u751f\u65e5\u5feb\u6a02\uff01"},{"vendor":"QT","game_id":"PUG-blazeofra","game_name":"\u592a\u967d\u795e\u4e4b\u7130"},{"vendor":"QT","game_id":"BPG-blazingstar","game_name":"\u9583\u9583\u4e4b\u661f"},{"vendor":"QT","game_id":"IDS-bloodqueen","game_name":"\u8840\u5973\u738b"},{"vendor":"QT","game_id":"ELK-bloopers","game_name":"\u5e55\u5f8c\u82b1\u7d6e"},{"vendor":"QT","game_id":"HAB-bombsaway","game_name":"\u70b8\u5f48\u8ffd\u64ca"},{"vendor":"QT","game_id":"CHI-busterhammercarnival","game_name":"\u7834\u58de\u8005\u4e4b\u9318\u5609\u5e74\u83ef"},{"vendor":"QT","game_id":"SPR-caichenandxiaoqian","game_name":"\u91c7\u81e3\u548c\u5c0f\u5029"},{"vendor":"QT","game_id":"HAB-cakevalley","game_name":"\u86cb\u7cd5\u8c37"},{"vendor":"QT","game_id":"EVP-candydreams","game_name":"\u5922\u5e7b\u7cd6\u679c\u5c4b"},{"vendor":"QT","game_id":"NLC-casinowinspin","game_name":"\u5e78\u904b\u5927\u65cb\u8f49"},{"vendor":"QT","game_id":"ELK-championsgoal","game_name":"\u8db3\u7403\u5bf6\u8c9d"},{"vendor":"QT","game_id":"EVP-charmingqueens","game_name":"\u5973\u738b\u7684\u8a98\u60d1"},{"vendor":"QT","game_id":"IDS-cherryblast","game_name":"\u70c8\u706b\u6afb\u6843"},{"vendor":"QT","game_id":"ELK-chi","game_name":"\u6c23\u79aa\u4e4b\u82b1\u5712"},{"vendor":"QT","game_id":"EVP-chinesenewyear","game_name":"\u65b0\u6625\u5927\u5409"},{"vendor":"QT","game_id":"BNG-christmascharm","game_name":"\u8056\u8a95\u5feb\u6a02"},{"vendor":"QT","game_id":"EVP-clashofpirates","game_name":"\u6d77\u76dc\u4e4b\u6230"},{"vendor":"QT","game_id":"NLC-coinsoffortune","game_name":"\u5e78\u904b\u5e63"},{"vendor":"QT","game_id":"BPG-convertusaurum","game_name":"\u9ec3\u91d1\u5927\u8f49\u63db"},{"vendor":"QT","game_id":"IDS-cosmiccrystals","game_name":"\u5b87\u5b99\u6c34\u6676"},{"vendor":"QT","game_id":"HAB-coyotecrash","game_name":"\u72fc\u8cca\u596a\u5bf6"},{"vendor":"QT","game_id":"CHI-creepycastle","game_name":"\u602a\u7269\u57ce\u5821"},{"vendor":"QT","game_id":"QS-crystalqueen","game_name":"\u51b0\u96ea\u5947\u7de3"},{"vendor":"QT","game_id":"ELK-djwild","game_name":"\u72c2\u91ceDJ"},{"vendor":"QT","game_id":"MOB-diamondbar","game_name":"\u9246\u77f3\u5427"},{"vendor":"QT","game_id":"BNG-diegofortune","game_name":"\u5931\u843d\u7684\u6a02\u5712"},{"vendor":"QT","game_id":"QS-divinedreams","game_name":"\u795e\u8056\u5973\u795e"},{"vendor":"QT","game_id":"LBG-dolphingold","game_name":"\u91d1\u6d77\u8c5a"},{"vendor":"QT","game_id":"AUG-double88","game_name":"88\u5c0d\u5c0d"},{"vendor":"QT","game_id":"BPG-doubletriplechance","game_name":"\u96d9\u91cd\u4e09\u500d\u6a5f\u6703"},{"vendor":"QT","game_id":"CHI-dragon50000","game_name":"\u9f8d\u4e94\u842c"},{"vendor":"QT","game_id":"BOG-dragoncarnival","game_name":"\u9f8d\u5609\u5e74\u83ef"},{"vendor":"QT","game_id":"BNG-dragonpearlsholdandwin","game_name":"\u9f8d\u73e0:\u96c6\u9d3b\u904b"},{"vendor":"QT","game_id":"HAB-dragonsrealm","game_name":"\u795e\u9f8d\u4e4b\u5883"},{"vendor":"QT","game_id":"HAB-dragonsthrone","game_name":"\u9f8d\u4e4b\u5bf6\u5ea7"},{"vendor":"QT","game_id":"BPG-dragonstreasure","game_name":"\u9f8d\u4e4b\u5bf6\u85cf"},{"vendor":"QT","game_id":"NLC-dungeonquest","game_name":"\u52c7\u95d6\u5730\u4e0b\u57ce"},{"vendor":"QT","game_id":"QS-duriandynamite","game_name":"\u69b4\u84ee\u70b8\u85e5"},{"vendor":"QT","game_id":"QS-dwarfsgonewild","game_name":"\u760b\u72c2\u5c0f\u77ee\u4eba"},{"vendor":"QT","game_id":"EVP-etlostsocks","game_name":"E.T. \u896a\u5b50\u4e1f\u5931"},{"vendor":"QT","game_id":"EVP-egyptgods","game_name":"\u57c3\u53ca\u773e\u795e"},{"vendor":"QT","game_id":"HAB-egyptiandreamsdeluxe","game_name":"\u795e\u79d8\u57c3\u53ca"},{"vendor":"QT","game_id":"BPG-eljackpotto","game_name":"\u6454\u8de4\u51a0\u8ecd"},{"vendor":"QT","game_id":"BPG-eltorero","game_name":"\u71b1\u8840\u9b25\u725b\u58eb"},{"vendor":"QT","game_id":"ELK-electricsam","game_name":"\u7f8e\u5973\u548c\u91ce\u7378"},{"vendor":"QT","game_id":"EVP-elvenprincesses","game_name":"\u7cbe\u9748\u516c\u4e3b"},{"vendor":"QT","game_id":"AUG-empressdowagercixi","game_name":"\u6148\u79a7\u592a\u5f8c"},{"vendor":"QT","game_id":"EVP-epicgladiators","game_name":"\u89d2\u9b25\u58eb\u5927\u6230\u50f5\u5c4d"},{"vendor":"QT","game_id":"BPG-extrawild","game_name":"\u66f4\u591a\u767e\u642d"},{"vendor":"QT","game_id":"BPG-eyeofhorus","game_name":"\u8377\u9b6f\u65af\u4e4b\u773c"},{"vendor":"QT","game_id":"1x2-faerienights","game_name":"\u591c\u4e4b\u7cbe\u9748"},{"vendor":"QT","game_id":"QS-fairygate","game_name":"\u4ed9\u5883\u4e4b\u9580"},{"vendor":"QT","game_id":"PUG-fatrabbit","game_name":"\u5927\u80d6\u5154"},{"vendor":"QT","game_id":"GFG-femmepirate","game_name":" \u6d77\u76dc\u7684\u5973\u4eba"},{"vendor":"QT","game_id":"HAB-fenghuang","game_name":"\u9cf3\u51f0"},{"vendor":"QT","game_id":"HAB-firerooster","game_name":"\u516c\u96de\u738b"},{"vendor":"QT","game_id":"QS-firestorm","game_name":"\u706b\u66b4"},{"vendor":"QT","game_id":"BPG-fishinfrenzymegaways","game_name":"\u760b\u72c2\u91e3\u9b5a"},{"vendor":"QT","game_id":"BPG-fishingfrenzy","game_name":"\u760b\u72c2\u91e3\u9b5a"},{"vendor":"QT","game_id":"TK-flux","game_name":"\u6c34\u6676\u5bf6\u85cf"},{"vendor":"QT","game_id":"EVP-football","game_name":"\u65cb\u98a8\u5c11\u5973"},{"vendor":"QT","game_id":"MOB-fortune88","game_name":"\u8ca1\u5bcc88"},{"vendor":"QT","game_id":"HAB-fortunedogs","game_name":"\u5bcc\u8cb4\u65fa\u65fa"},{"vendor":"QT","game_id":"AUG-fortuneluck","game_name":"\u5927\u5409\u5927\u5229"},{"vendor":"QT","game_id":"BNG-fortunemultiplier","game_name":"\u6c34\u679c\u50b3\u5947"},{"vendor":"QT","game_id":"BPG-fortunespins","game_name":"\u611b\u723e\u862d\u597d\u904b\u5230\u8ca1\u5bcc\u8f49\u8f49\u8cfa"},{"vendor":"QT","game_id":"BPG-legendofsparta","game_name":"\u547d\u904b\u7684\u65af\u5df4\u9054"},{"vendor":"QT","game_id":"HAB-fourdivinebeasts","game_name":"\u56db\u5927\u795e\u7378"},{"vendor":"QT","game_id":"EVP-fruitburst","game_name":"\u6c34\u679c\u7206\u88c2"},{"vendor":"QT","game_id":"BOG-fruitgemz","game_name":"\u6c34\u679c\u5bf6\u77f3"},{"vendor":"QT","game_id":"BNG-fruiterrafortune","game_name":"\u7d93\u5178\u5c0f\u746a\u8389"},{"vendor":"QT","game_id":"NLC-fruits","game_name":"\u6c34\u679c\u532f"},{"vendor":"QT","game_id":"EVP-fruitsland","game_name":"\u5348\u591c\u6c34\u679c\u5712"},{"vendor":"QT","game_id":"BNG-fruitywild","game_name":"\u760b\u72c2\u6c34\u679c\u5e97"},{"vendor":"QT","game_id":"BNG-fucaishen","game_name":"\u798f\u8ca1\u795e"},{"vendor":"QT","game_id":"TK-fullmoonromance","game_name":"\u6eff\u6708\u50b3\u8aaa"},{"vendor":"QT","game_id":"HAB-gangsters","game_name":"\u9ed1\u624b\u9ee8"},{"vendor":"QT","game_id":"QS-geniestouch","game_name":"\u963f\u62c9\u4e01\u795e\u71c8"},{"vendor":"QT","game_id":"IDS-giftsofostara","game_name":"\u5967\u65af\u5854\u62c9\u7684\u79ae\u7269"},{"vendor":"QT","game_id":"BNG-gnomesgems","game_name":"\u5c0f\u77ee\u4eba\u5c0b\u5bf6\u8a18"},{"vendor":"QT","game_id":"BNG-godstemple","game_name":"\u4e0a\u5e1d\u7684\u6bbf\u5802"},{"vendor":"QT","game_id":"BNG-godstempledeluxe","game_name":"\u4e0a\u5e1d\u7684\u6bbf\u5802\u8c6a\u83ef\u7248"},{"vendor":"QT","game_id":"BNG-goddessofthemoon","game_name":"\u5ae6\u5a25\u8207\u5f8c\u7fbf"},{"vendor":"QT","game_id":"BPG-goldcup","game_name":"\u91d1\u676f"},{"vendor":"QT","game_id":"QS-goldlab","game_name":"\u9ec3\u91d1\u5be6\u9a57\u5ba4"},{"vendor":"QT","game_id":"HAB-goldrush","game_name":"\u6dd8\u91d1\u760b\u72c2"},{"vendor":"QT","game_id":"MOB-goldenbuffalo","game_name":"\u9ec3\u91d1\u6c34\u725b"},{"vendor":"QT","game_id":"QS-goldilocks","game_name":"\u91d1\u767c\u59d1\u5a18"},{"vendor":"QT","game_id":"RG-goodfishes","game_name":"\u597d\u9b5a\u5152"},{"vendor":"QT","game_id":"EVP-greatwall","game_name":"\u9577\u57ce\u63a2\u5bf6"},{"vendor":"QT","game_id":"BPG-grizzlygold","game_name":"\u7070\u718a\u9ec3\u91d1"},{"vendor":"QT","game_id":"BPG-gunslinger","game_name":"\u69cd\u624b"},{"vendor":"QT","game_id":"AUG-hailtheemperor","game_name":"\u7687\u4e0a\u5409\u7965"},{"vendor":"QT","game_id":"QS-hallofthemountainking","game_name":"\u5c71\u9b54\u738b\u7684\u5bae\u6bbf"},{"vendor":"QT","game_id":"BNG-halloweenwitch","game_name":"\u842c\u8056\u7f8e\u9b54\u5973"},{"vendor":"QT","game_id":"HAB-happiestchristmastree","game_name":"\u5feb\u6a02\u8056\u8a95"},{"vendor":"QT","game_id":"BNG-hellsband","game_name":"\u6416\u6efe\u5730\u7344"},{"vendor":"QT","game_id":"1x2-herecomessummer","game_name":"\u590f\u5929\u4f86\u4e86"},{"vendor":"QT","game_id":"ELK-hidden","game_name":"\u53e4\u57c3\u6cd5\u8001\u738b"},{"vendor":"QT","game_id":"QS-hiddenvalleyhd","game_name":"\u795e\u79d8\u5c71\u8c37HD"},{"vendor":"QT","game_id":"ELK-hititbig","game_name":"\u5927\u7372\u5168\u52dd"},{"vendor":"QT","game_id":"ELK-hohotower","game_name":"HoHo\u5927\u6a13"},{"vendor":"QT","game_id":"ELK-hongkongtower","game_name":"\u9999\u6e2f\u6469\u5929\u5927\u6a13"},{"vendor":"QT","game_id":"NLC-hot4cash","game_name":"\u71b1\u9322\u73fe\u91d1"},{"vendor":"QT","game_id":"HAB-hothotfruit","game_name":"\u760b\u72c2\u6c34\u679c"},{"vendor":"QT","game_id":"NLC-hotnudge","game_name":"\u706b\u71b1\u52a9\u63a8\u5668"},{"vendor":"QT","game_id":"QS-hotsync","game_name":"\u706b\u71b1\u65cb\u8f49"},{"vendor":"QT","game_id":"BPG-hotzone","game_name":"\u71b1\u5340"},{"vendor":"QT","game_id":"PUG-humptydumpty","game_name":"\u86cb\u6bbc\u5148\u751f"},{"vendor":"QT","game_id":"1x2-iamthelaw","game_name":"\u795e\u69cd\u5973\u8b66"},{"vendor":"QT","game_id":"NLC-iceiceyeti","game_name":"\u51b0\u7de3\u96ea\u4eba"},{"vendor":"QT","game_id":"QS-illuminous","game_name":"\u55e8\u7ffb\u73e0\u5bf6"},{"vendor":"QT","game_id":"BPG-imperialdragon","game_name":"\u5e1d\u738b\u4e4b\u9f8d"},{"vendor":"QT","game_id":"HAB-indiancashcatcher","game_name":"\u5370\u7b2c\u5b89\u8ffd\u5922"},{"vendor":"QT","game_id":"EVP-indianasquest","game_name":"\u5370\u7b2c\u5b89\u7d0d\u7684\u4efb\u52d9"},{"vendor":"QT","game_id":"QS-ivanandtheimmortalking","game_name":"\u4f0a\u51e1\u548c\u4e0d\u673d\u4e4b\u738b"},{"vendor":"QT","game_id":"ELK-ivanhoe","game_name":"\u52ab\u5f8c\u82f1\u96c4\u50b3"},{"vendor":"QT","game_id":"QS-jewelblast","game_name":"\u5bf6\u77f3\u7206\u70b8"},{"vendor":"QT","game_id":"BPG-jewelstrike","game_name":"\u5bf6\u77f3\u6fc0\u9b25"},{"vendor":"QT","game_id":"BPG-jeweltwist","game_name":"\u626d\u626d\u5bf6\u77f3"},{"vendor":"QT","game_id":"EVP-jewellerystore","game_name":"\u73e0\u5bf6\u5e97"},{"vendor":"QT","game_id":"SPR-jewelrydragon","game_name":"\u5bf6\u77f3\u9f8d"},{"vendor":"QT","game_id":"ELK-jokergems","game_name":"\u5c0f\u919c\u5bf6\u77f3"},{"vendor":"QT","game_id":"QS-jokerstrike","game_name":"\u66b4\u64ca\u5c0f\u919c"},{"vendor":"QT","game_id":"BPG-jokerscap","game_name":"\u5c0f\u919c\u5e3d"},{"vendor":"QT","game_id":"BPG-journeyofthegods","game_name":"\u8af8\u795e\u4e4b\u65c5"},{"vendor":"QT","game_id":"EVP-journeytothewest","game_name":"\u897f\u904a\u8a18"},{"vendor":"QT","game_id":"HAB-jugglenaut","game_name":"\u9a5a\u559c\u79c0"},{"vendor":"QT","game_id":"OT-juicy7","game_name":"\u5e78\u904b\u6c34\u679c"},{"vendor":"QT","game_id":"HAB-jump","game_name":"\u760b\u72c2\u767e\u642d"},{"vendor":"QT","game_id":"1x2-justicemachine","game_name":"\u6b63\u7fa9\u6a5f\u5668\u4eba"},{"vendor":"QT","game_id":"ELK-kaiju","game_name":"\u74b0\u592a\u5e73\u6d0b"},{"vendor":"QT","game_id":"QS-kingcolossus","game_name":"\u570b\u738b\u5de8\u50cf"},{"vendor":"QT","game_id":"AUG-kingkong","game_name":"\u5927\u91d1\u525b"},{"vendor":"QT","game_id":"BPG-kingdomoffortune","game_name":"\u8ca1\u5bcc\u738b\u570b"},{"vendor":"QT","game_id":"NLC-kitchendramabbqfrenzy","game_name":"\u760b\u72c2\u71d2\u70e4\u8db4"},{"vendor":"QT","game_id":"HAB-knockoutfootball","game_name":"\u9ec3\u91d1\u8db3\u7403"},{"vendor":"QT","game_id":"HAB-koigate","game_name":"\u9bc9\u9b5a\u9580"},{"vendor":"QT","game_id":"ELK-lakesfive","game_name":"\u840a\u514b\u4e94\u4eba\u5718"},{"vendor":"QT","game_id":"EVP-legendofra","game_name":"\u592a\u967d\u795e\u50b3\u8aaa"},{"vendor":"QT","game_id":"MOB-legendarymulan","game_name":"\u82b1\u6728\u862d"},{"vendor":"QT","game_id":"QS-leprechaunhills","game_name":"\u7cbe\u9748\u5c71"},{"vendor":"QT","game_id":"MOB-lickyluck","game_name":"\u51b0\u6dc7\u6dcb\u5de5\u5ee0"},{"vendor":"QT","game_id":"LBG-lightningleopard","game_name":"\u9583\u96fb\u8c79"},{"vendor":"QT","game_id":"BPG-lightningstrikemegaways","game_name":"\u8ca1\u5bcc\u9583\u96fb"},{"vendor":"QT","game_id":"MOB-lionexplorer","game_name":"\u7345\u5b50\u738b"},{"vendor":"QT","game_id":"CHI-lollyland","game_name":"\u68d2\u68d2\u7cd6"},{"vendor":"QT","game_id":"HAB-londonhunter","game_name":"\u502b\u6566\u7375\u4eba"},{"vendor":"QT","game_id":"GFG-longgui","game_name":"\u9f8d\u9f9c"},{"vendor":"QT","game_id":"RG-lottolucky","game_name":"\u5e78\u904b\u5927\u6a02\u900f"},{"vendor":"QT","game_id":"TK-luchadora","game_name":"\u62f3\u64ca\u5834"},{"vendor":"QT","game_id":"BPG-luckoftheirishmegaways","game_name":"\u611b\u723e\u862d\u597d\u904b\u5230"},{"vendor":"QT","game_id":"BPG-lucky8fortunecat","game_name":"\u5e78\u904b8\u8ca1\u5bcc\u8c93"},{"vendor":"QT","game_id":"EVP-luckygirls","game_name":" \u5e78\u904b\u5973\u5b69"},{"vendor":"QT","game_id":"HAB-luckylucky","game_name":"\u5bcc\u8cb4\u798f"},{"vendor":"QT","game_id":"EVP-luckymahjongbox","game_name":"\u795e\u79d8\u9ebb\u5c07\u76d2"},{"vendor":"QT","game_id":"AUG-luckypanda","game_name":"\u5e78\u904b\u718a\u8c93"},{"vendor":"QT","game_id":"BPG-luckypharaoh","game_name":"\u5e78\u904b\u6cd5\u8001"},{"vendor":"QT","game_id":"BNG-luckyxmas","game_name":"\u6dd8\u6c23\u8056\u8a95"},{"vendor":"QT","game_id":"BPG-magicmirror","game_name":"\u8c6a\u83ef\u9b54\u93e12"},{"vendor":"QT","game_id":"HAB-magicoak","game_name":"\u795e\u5947\u6a61\u6a39"},{"vendor":"QT","game_id":"TK-magicious","game_name":"\u9b54\u8853\u5927\u5e2b"},{"vendor":"QT","game_id":"RKI-mammoth","game_name":"\u731b\u7341\u8c61"},{"vendor":"QT","game_id":"BPG-masterofatlantis","game_name":"\u4e9e\u7279\u862d\u8482\u65af\u4e4b\u738b"},{"vendor":"QT","game_id":"NLC-mayanmagic","game_name":"\u746a\u96c5\u795e\u8a71"},{"vendor":"QT","game_id":"QS-mayana","game_name":"\u746a\u96c5\u4eba"},{"vendor":"QT","game_id":"AUG-megafortunegod","game_name":"\u8d85\u7d1a\u8ca1\u795e\u723a"},{"vendor":"QT","game_id":"QS-mightyarthur","game_name":"\u4e9e\u745f\u738b"},{"vendor":"QT","game_id":"BPG-mistressoffortune","game_name":"\u8ca1\u5bcc\u5973\u58eb"},{"vendor":"QT","game_id":"IDS-moiraiblaze","game_name":"\u6469\u4f0a\u62c9\u4e4b\u706b"},{"vendor":"QT","game_id":"GFG-monkeykingvsbulldevil","game_name":"\u7334\u738bvs\u516c\u725b\u9b54\u9b3c"},{"vendor":"QT","game_id":"BNG-monkeymoney","game_name":"\u6dd8\u91d1\u7334"},{"vendor":"QT","game_id":"EVP-monsterlab","game_name":"\u602a\u7269\u5be6\u9a57\u5ba4"},{"vendor":"QT","game_id":"HAB-monstermashcash","game_name":"\u602a\u7269\u805a\u96c6"},{"vendor":"QT","game_id":"HAB-mountmazuma","game_name":"\u8ca1\u5bf6\u5c71"},{"vendor":"QT","game_id":"AUG-mrtiger","game_name":"\u96f7\u8001\u864e"},{"vendor":"QT","game_id":"BPG-multiwild","game_name":"\u591a\u91cd\u767e\u642d"},{"vendor":"QT","game_id":"RG-multiplierman","game_name":"\u8d85\u7d1a\u82f1\u96c4\u5927\u4e82\u9b25"},{"vendor":"QT","game_id":"EVP-mysteryplanet","game_name":"\u661f\u7403\u96b1\u79d8"},{"vendor":"QT","game_id":"BPG-mysteryspindeluxemegaways","game_name":"\u795e\u79d8\u65cb\u8f49\u8c6a\u83ef\u7248 "},{"vendor":"QT","game_id":"HAB-mysticfortune","game_name":"\u795e\u79d8\u5bf6\u85cf"},{"vendor":"QT","game_id":"AUG-mythicalfireqilin","game_name":"\u795e\u8a71\u706b\u9e92\u9e9f"},{"vendor":"QT","game_id":"EVP-naughtygirlscabaret","game_name":"\u9811\u76ae\u5973\u5b69\u6b4c\u821e\u79c0"},{"vendor":"QT","game_id":"FNG-neospin","game_name":"\u65b0\u4e16\u7d00\u70ab\u98a8"},{"vendor":"QT","game_id":"IDS-neonjungle","game_name":"\u9713\u8679\u53e2\u6797"},{"vendor":"QT","game_id":"MOB-newyearfortunes","game_name":"\u606d\u559c\u767c\u8ca1"},{"vendor":"QT","game_id":"GFG-nianwaandchunni","game_name":"\u5e74\u5a03\u548c\u6625\u59ae"},{"vendor":"QT","game_id":"BNG-nordswar","game_name":"\u5317\u6b50\u722d\u9738\u6230"},{"vendor":"QT","game_id":"QS-northernsky","game_name":"\u5317\u65b9\u7684\u5929\u7a7a"},{"vendor":"QT","game_id":"TK-notenoughkittens","game_name":"\u9811\u76ae\u8c93\u54aa"},{"vendor":"QT","game_id":"AUG-numbersdeluxe","game_name":"\u8c6a\u83ef\u6578\u5b57"},{"vendor":"QT","game_id":"HAB-nuwa","game_name":"\u5973\u5aa7\u50b3\u5947"},{"vendor":"QT","game_id":"HAB-oceanscall","game_name":"\u6d77\u6d0b\u4e4b\u97f3"},{"vendor":"QT","game_id":"NLC-oktoberfest","game_name":"\u6155\u5c3c\u9ed1\u5564\u9152\u7bc0"},{"vendor":"QT","game_id":"NLC-owls","game_name":"\u8c93\u982d\u9df9"},{"vendor":"QT","game_id":"IDS-paint","game_name":"\u5857\u6599"},{"vendor":"QT","game_id":"HAB-pandapanda","game_name":"\u96d9\u559c\u718a\u8c93"},{"vendor":"QT","game_id":"MOB-pandawilds","game_name":"\u718a\u8c93\u767e\u642d"},{"vendor":"QT","game_id":"RG-parrotsofcaribbean","game_name":"\u52a0\u52d2\u6bd4\u9e1a\u9d61"},{"vendor":"QT","game_id":"BNG-patrickspub","game_name":"\u725b\u903c\u611b\u723e\u862d\u5927\u4f6c"},{"vendor":"QT","game_id":"MOB-pharaohsofthenile","game_name":"\u5c3c\u7f85\u6cb3\u7684\u6cd5\u8001"},{"vendor":"QT","game_id":"QS-phoenixsun","game_name":"\u9cf3\u51f0\u7684\u6d85\u69c3"},{"vendor":"QT","game_id":"QS-piedpiper","game_name":"\u82b1\u8863\u9b54\u7b1b\u624b"},{"vendor":"QT","game_id":"QS-piratescharm","game_name":"\u795e\u79d8\u6d77\u76dc"},{"vendor":"QT","game_id":"ELK-platooners","game_name":"\u91ce\u6230\u6392"},{"vendor":"QT","game_id":"BNG-poisonedapple","game_name":"\u81f4\u547d\u6bd2\u860b\u679c"},{"vendor":"QT","game_id":"ELK-poltava","game_name":"\u6ce2\u723e\u5854\u74e6\u4e4b\u6230"},{"vendor":"QT","game_id":"1x2-potsofluck","game_name":"\u5e78\u904b\u9ec3\u91d1\u934b"},{"vendor":"QT","game_id":"HAB-presto","game_name":"\u9b54\u5e7b\u5927\u8ca1"},{"vendor":"QT","game_id":"QS-primezone","game_name":"\u9ec3\u91d1\u5730\u5e36"},{"vendor":"QT","game_id":"MOB-princecharming","game_name":"\u767d\u99ac\u738b\u5b50"},{"vendor":"QT","game_id":"EVP-prohibition","game_name":"\u7981\u4ee4"},{"vendor":"QT","game_id":"HAB-pumpkinpatch","game_name":"\u5feb\u6a02\u5357\u74dc"},{"vendor":"QT","game_id":"IDS-rainbowwilds","game_name":"\u5f69\u8679\u767e\u642d"},{"vendor":"QT","game_id":"QS-rapunzelstower","game_name":"\u9577\u767c\u516c\u4e3b"},{"vendor":"QT","game_id":"QS-razortooth","game_name":"\u864e\u53e3\u72fc\u7259"},{"vendor":"QT","game_id":"EVP-redcliff","game_name":"\u8d64\u58c1\u4e4b\u6230"},{"vendor":"QT","game_id":"BPG-redhotrepeater","game_name":"\u7d05\u71b1\u91cd\u8986\u5668"},{"vendor":"QT","game_id":"RG-reignofgnomes","game_name":"\u77ee\u4eba\u7d00\u5143"},{"vendor":"QT","game_id":"IDS-richieinvegas","game_name":"\u88cf\u5947\u904a\u7dad\u52a0\u65af"},{"vendor":"QT","game_id":"EVP-robinhood","game_name":"\u7f85\u8cd3\u6f22"},{"vendor":"QT","game_id":"RG-robinhood","game_name":"\u4fe0\u76dc\u7f85\u8cd3\u6f22"},{"vendor":"QT","game_id":"EVP-robinson","game_name":"\u9b6f\u6ff1\u905c"},{"vendor":"QT","game_id":"EVP-robotsenergyconflict","game_name":"\u661f\u969b\u6a5f\u5668\u4eba"},{"vendor":"QT","game_id":"CHI-roguetreasure","game_name":"\u76dc\u8cca\u5bf6\u85cf"},{"vendor":"QT","game_id":"HAB-rollingroger","game_name":"\u523a\u732c\u5bf6\u5bf6"},{"vendor":"QT","game_id":"HAB-romanempire","game_name":"\u7f85\u99ac\u5e1d\u570b"},{"vendor":"QT","game_id":"BPG-romeriseofanempire","game_name":"\u7f85\u99ac\uff1a\u5e1d\u570b\u5d1b\u8d77"},{"vendor":"QT","game_id":"ELK-route777","game_name":"\u516c\u8def777"},{"vendor":"QT","game_id":"HAB-ruffledup","game_name":"\u89f8\u96fb\u7684\u5c0f\u9ce5"},{"vendor":"QT","game_id":"GFG-sakurako","game_name":"\u6afb\u5b50"},{"vendor":"QT","game_id":"ELK-samonthebeach","game_name":"\u590f\u65e5\u6d77\u7058"},{"vendor":"QT","game_id":"FNG-samuraiken","game_name":"\u80af\u6069\u6b66\u58eb"},{"vendor":"QT","game_id":"AUG-samuraiwarrior","game_name":"\u6b66\u58eb\u9053"},{"vendor":"QT","game_id":"HAB-santasvillage","game_name":"\u8056\u8a95\u6a02\u6751"},{"vendor":"QT","game_id":"MOB-sanxingfortunes","game_name":"\u4e09\u661f\u5831\u559c"},{"vendor":"QT","game_id":"RKI-satoshislot","game_name":"\u6bd4\u7279\u4e4b\u7236"},{"vendor":"QT","game_id":"RKI-satoshislot2","game_name":"\u6bd4\u7279\u4e4b\u7236+"},{"vendor":"QT","game_id":"BPG-savannastampede","game_name":"\u8349\u539f\u72c2\u5954"},{"vendor":"QT","game_id":"HAB-scruffyscallywags","game_name":"\u6b61\u6a02\u5e6b"},{"vendor":"QT","game_id":"SPR-seasonsautumn","game_name":"\u56db\u5b63\uff1a\u79cb"},{"vendor":"QT","game_id":"SPR-seasonsspring","game_name":"\u56db\u5b63\uff1a\u6625"},{"vendor":"QT","game_id":"SPR-seasonssummer","game_name":"\u56db\u5b63\uff1a\u590f"},{"vendor":"QT","game_id":"SPR-seasonswinter","game_name":"\u56db\u5b63\uff1a\u51ac"},{"vendor":"QT","game_id":"QS-secondstrike","game_name":"\u9023\u74b0\u70ae"},{"vendor":"QT","game_id":"BNG-secretofnefertiti","game_name":"\u57c3\u53ca\u8277\u5f8c\u7684\u4efb\u52d9"},{"vendor":"QT","game_id":"BNG-secretofnefertiti2","game_name":"\u57c3\u53ca\u8277\u5f8c\u7684\u4efb\u52d92"},{"vendor":"QT","game_id":"QS-sevenshigh","game_name":"\u760b\u72c2777"},{"vendor":"QT","game_id":"HAB-shaolinfortunes","game_name":"\u5c11\u6797\u5bf6\u85cf"},{"vendor":"QT","game_id":"BNG-shenlongmibao","game_name":"\u795e\u9f8d\u79d8\u5bf6"},{"vendor":"QT","game_id":"1x2-sherlockscasebook","game_name":"\u798f\u723e\u6469\u65af\u63a2\u6848\u96c6"},{"vendor":"QT","game_id":"SPR-shishi","game_name":"\u77f3\u7345"},{"vendor":"QT","game_id":"QS-sinbad","game_name":"\u8f9b\u5df4\u9054"},{"vendor":"QT","game_id":"EVP-sindbad","game_name":"\u822a\u6d77\u5bb6\u8f9b\u5df4\u9054"},{"vendor":"QT","game_id":"BNG-singlesday","game_name":"11.11\u5149\u68cd\u7bc0"},{"vendor":"QT","game_id":"IDS-sirenskingdom","game_name":"\u5973\u5996\u738b\u570b"},{"vendor":"QT","game_id":"BNG-skygems5wilds","game_name":"\u5bf6\u77f3\u661f\u7403\uff1a\u5168\u9762\u555f\u52d5"},{"vendor":"QT","game_id":"MOB-smileyveggies","game_name":"\u958b\u5fc3\u8fb2\u5834"},{"vendor":"QT","game_id":"NLC-spacearcade","game_name":"\u592a\u7a7a\u904a\u6a02\u5834"},{"vendor":"QT","game_id":"RG-spacetraders","game_name":"\u661f\u969b\u5927\u4ea8"},{"vendor":"QT","game_id":"HAB-sparta","game_name":"\u65af\u5df4\u9054"},{"vendor":"QT","game_id":"TK-spectra","game_name":"\u5149\u8b5c"},{"vendor":"QT","game_id":"QS-spinionsbeachparty","game_name":"\u5c0f\u9ec3\u4eba\u6d77\u7058\u6d3e\u5c0d"},{"vendor":"QT","game_id":"GAL-spiritsofthestorm","game_name":"\u98a8\u66b4\u4e4b\u9748"},{"vendor":"QT","game_id":"PUG-starfall","game_name":"\u661f\u589c"},{"vendor":"QT","game_id":"BNG-stargems","game_name":"\u5bf6\u77f3\u661f\u7403"},{"vendor":"QT","game_id":"NLC-starstruck","game_name":"\u6416\u6efe\u5922"},{"vendor":"QT","game_id":"QS-stickybandits","game_name":"\u897f\u90e8\u52ab\u532a"},{"vendor":"QT","game_id":"OT-sumoshowdown","game_name":"\u6c7a\u6230\u76f8\u64b2"},{"vendor":"QT","game_id":"TK-sunsetdelight","game_name":"\u65e5\u843d\u4f59\u6689"},{"vendor":"QT","game_id":"BPG-superfortunedragon","game_name":"\u8d85\u7d1a\u7965\u9f8d"},{"vendor":"QT","game_id":"BPG-superjewelrepeater","game_name":"\u8d85\u7d1a\u73e0\u5bf6\u4e2d\u7e7c\u5668"},{"vendor":"QT","game_id":"BPG-superluckycharms","game_name":"\u8d85\u7d1a\u5e78\u904b\u7b26"},{"vendor":"QT","game_id":"BPG-superluckyfrog","game_name":"\u597d\u904b\u9752\u86d9"},{"vendor":"QT","game_id":"HAB-supertwister","game_name":"\u8d85\u7d1a\u9f8d\u5377\u98a8"},{"vendor":"QT","game_id":"BPG-superwilddiamonds","game_name":"\u8d85\u72c2\u9246\u77f3"},{"vendor":"QT","game_id":"AUG-superfruit","game_name":"\u8d85\u7d1a\u6c34\u679c"},{"vendor":"QT","game_id":"BNG-supremefortune","game_name":"\u798f\u5927\u9580"},{"vendor":"QT","game_id":"NLC-sushimania","game_name":"\u58fd\u53f8\u5927\u9910"},{"vendor":"QT","game_id":"BNG-syncreels","game_name":"\u514b\u9686\u8d85\u7d1a7"},{"vendor":"QT","game_id":"EVP-syndicate","game_name":"\u8f9b\u8fea\u52a0"},{"vendor":"QT","game_id":"IDS-sixiang","game_name":"\u56db\u8c61"},{"vendor":"QT","game_id":"ELK-tacobrothers","game_name":"\u5854\u79d1\u5144\u5f1f"},{"vendor":"QT","game_id":"ELK-tacobrotherssavingchristmas","game_name":"\u5854\u79d1\u7684\u8056\u8a95\u4f7f\u547d"},{"vendor":"QT","game_id":"QS-talesofdrdolittle","game_name":"\u602a\u91ab\u675c\u7acb\u5fb7"},{"vendor":"QT","game_id":"EVP-talismansoffortune","game_name":"\u8f49\u904b\u8b77\u8eab\u7b26"},{"vendor":"QT","game_id":"RG-thebigdeal","game_name":"\u5927\u5bcc\u7fc1"},{"vendor":"QT","game_id":"NLC-thecreepycarnival","game_name":"\u6050\u6016\u5609\u5e74\u83ef"},{"vendor":"QT","game_id":"IDS-thecuriouscabinet","game_name":"\u795e\u79d8\u6ae5\u6ac3"},{"vendor":"QT","game_id":"1x2-thedavincidevice","game_name":"\u9054\u82ac\u5947\u5bc6\u78bc"},{"vendor":"QT","game_id":"HAB-thedeadescape","game_name":"\u6b7b\u6d77\u9003\u751f"},{"vendor":"QT","game_id":"EVP-theemperorstomb","game_name":"\u7687\u5e1d\u9675\u5893"},{"vendor":"QT","game_id":"QS-thegrand","game_name":"\u76db\u5bb4"},{"vendor":"QT","game_id":"EVP-thegreatconflict","game_name":"\u4eba\u7378\u722d\u9738"},{"vendor":"QT","game_id":"FNG-thegrid","game_name":"\u6975\u901f\u7db2\u683c"},{"vendor":"QT","game_id":"ELK-thelab","game_name":"\u795e\u5947\u5be6\u9a57\u5ba4"},{"vendor":"QT","game_id":"EVP-thelegendofshaolin","game_name":"\u5c11\u6797\u50b3\u5947"},{"vendor":"QT","game_id":"AUG-themagicallamp","game_name":"\u795e\u5947\u5bf6\u71c8"},{"vendor":"QT","game_id":"AUG-theredphoenix","game_name":"\u9cf3\u51f0\u50b3\u5947"},{"vendor":"QT","game_id":"TK-therift","game_name":"\u5bc6\u5ba4\u9003\u4ea1"},{"vendor":"QT","game_id":"EVP-theslavs","game_name":"\u65af\u62c9\u592b\u4eba"},{"vendor":"QT","game_id":"AUG-thethirdlotusprince","game_name":"\u54ea\u54a4\u4e09\u592a\u5b50"},{"vendor":"QT","game_id":"ELK-thewiz","game_name":"\u5deb\u5e2b"},{"vendor":"QT","game_id":"NLC-thorhammertime","game_name":"\u96f7\u795e\u4e4b\u9318"},{"vendor":"QT","game_id":"BNG-thunderzeus","game_name":"\u5e0c\u81d8\u795e\u8a71"},{"vendor":"QT","game_id":"QS-tickettothestars","game_name":"\u9ec3\u91d1\u822a\u9053"},{"vendor":"QT","game_id":"TK-tigerrush","game_name":"\u8001\u864e\u5bf6\u77f3"},{"vendor":"QT","game_id":"QS-tigersglory","game_name":"\u731b\u864e\u9b25\u7378\u5834"},{"vendor":"QT","game_id":"PUG-tikitumble","game_name":"\u65cb\u8f49\u795e\u50cf"},{"vendor":"QT","game_id":"TK-tokitime","game_name":"\u958b\u5fc3\u6d88\u6d88\u6a02"},{"vendor":"QT","game_id":"NLC-tombstone","game_name":"\u5893\u7891\u93ae"},{"vendor":"QT","game_id":"EVP-totemisland","game_name":"\u5716\u9a30\u5cf6"},{"vendor":"QT","game_id":"NLC-tractorbeam","game_name":"\u727d\u5f15\u5149\u675f"},{"vendor":"QT","game_id":"QS-treasureisland","game_name":"\u5bf6\u85cf\u5cf6"},{"vendor":"QT","game_id":"IDS-treasureofhorus","game_name":"\u8377\u9b6f\u65af\u5bf6\u85cf"},{"vendor":"QT","game_id":"EVP-triptothefuture","game_name":"\u5230\u672a\u4f86\u7684\u65c5\u884c"},{"vendor":"QT","game_id":"TK-turningtotems","game_name":"\u65cb\u8f49\u5716\u9a30"},{"vendor":"QT","game_id":"EVP-ussrgrocery","game_name":"\u8607\u806f\u98df\u54c1\u5e97"},{"vendor":"QT","game_id":"EVP-ussrseventies","game_name":"\u8607\u806f-70\u5e74\u4ee3"},{"vendor":"QT","game_id":"ELK-valkyrie","game_name":"\u5973\u6b66\u795e"},{"vendor":"QT","game_id":"BPG-vallettamegaways","game_name":"\u74e6\u840a\u5854"},{"vendor":"QT","game_id":"ELK-vegasdiamonds","game_name":"\u7dad\u52a0\u65af\u5bf6\u77f3"},{"vendor":"QT","game_id":"EVP-vegasnights","game_name":"\u62c9\u65af\u7dad\u52a0\u65af\u4e4b\u591c"},{"vendor":"QT","game_id":"IDS-vikingwilds","game_name":"\u7dad\u4eac\u767e\u642d\u7b26"},{"vendor":"QT","game_id":"BNG-vikingswinter","game_name":"\u7dad\u4eac\u5bd2\u6230"},{"vendor":"QT","game_id":"QS-volcanoriches","game_name":"\u706b\u7130\u5c71"},{"vendor":"QT","game_id":"IDS-waikiki","game_name":"\u590f\u5a01\u5937\u6d77\u7058"},{"vendor":"QT","game_id":"HAB-waysoffortune","game_name":"\u5c0b\u5bf6\u8a18"},{"vendor":"QT","game_id":"TK-wellofwonders","game_name":"\u9b54\u5e7b\u68ee\u6797"},{"vendor":"QT","game_id":"NLC-wixx","game_name":"\u70ab\u5f69\u6c34\u6676"},{"vendor":"QT","game_id":"HAB-wickedwitch","game_name":"\u5deb\u5a46\u5927\u8ca1"},{"vendor":"QT","game_id":"BNG-wild888","game_name":"8\u661f\u5831\u559c"},{"vendor":"QT","game_id":"BOG-wildesqueleto","game_name":"\u767e\u642d\u9ab7\u9acf"},{"vendor":"QT","game_id":"ELK-wildseas","game_name":"\u6d77\u4e0a\u9738\u738b\u865f"},{"vendor":"QT","game_id":"ELK-wildtoro","game_name":"\u5351\u9119\u7684\u9b25\u725b\u58eb"},{"vendor":"QT","game_id":"HAB-wildtrucks","game_name":"\u72c2\u91ce\u5361\u8eca"},{"vendor":"QT","game_id":"PUG-wildwheel","game_name":"\u5e78\u904b\u5927\u8f49\u76e4"},{"vendor":"QT","game_id":"BPG-windfall","game_name":"\u5e78\u904b\u98db\u8ca1"},{"vendor":"QT","game_id":"BPG-wishuponajackpot","game_name":"\u8a31\u9858\u4e2d\u734e"},{"vendor":"QT","game_id":"RG-wishes","game_name":"\u7f8e\u5922\u6210\u771f"},{"vendor":"QT","game_id":"BBG-yinandyang","game_name":"\u9670\u967d"},{"vendor":"QT","game_id":"AUG-zhugeliang","game_name":"\u8af8\u845b\u4eae"},{"vendor":"QT","game_id":"TK-zoom","game_name":"\u6c34\u679c\u5e7b\u71c8\u7247"},{"vendor":"QT","game_id":"TK-1429unchartedseas","game_name":"\u672a\u77e5\u6d77\u6d0b\u63a2\u96aa-1429"},{"vendor":"QT","game_id":"QS-bigbadwolf","game_name":"\u7070\u592a\u72fc"},{"vendor":"QT","game_id":"BNG-bookofsun","game_name":"\u6cd5\u8001\u5bf6\u5178"},{"vendor":"QT","game_id":"BNG-bookofsunmultichance","game_name":"\u6cd5\u8001\u5bf6\u5178:\u591a\u91cd\u6a5f\u6703"},{"vendor":"QT","game_id":"TK-borktheberzerker","game_name":"\u90aa\u60e1\u7684\u9b54\u6cd5\u5e2b"},{"vendor":"QT","game_id":"BPG-buffalorisingmegaways","game_name":"\u6c34\u725b\u5d1b\u8d77"},{"vendor":"QT","game_id":"TK-carnivalqueen","game_name":"\u5609\u5e74\u83ef\u5973\u738b"},{"vendor":"QT","game_id":"BPG-diamondminemegaways","game_name":"\u947d\u77f3\u7926"},{"vendor":"QT","game_id":"TK-dragonhorn","game_name":"\u9f8d\u89d2"},{"vendor":"QT","game_id":"QS-dragonshrine","game_name":"\u9f8d\u795e\u6bbf"},{"vendor":"QT","game_id":"QS-easternemeralds","game_name":"\u81f3\u5c0a\u5bf6\u7389"},{"vendor":"QT","game_id":"ELK-ecuadorgold","game_name":"\u5384\u74dc\u591a\u723e\u9ec3\u91d1"},{"vendor":"QT","game_id":"TK-esqueletoexplosivo","game_name":"\u9ab7\u9acf\u6a02\u968a"},{"vendor":"QT","game_id":"HAB-facaishen","game_name":"\u767c\u8ca1\u795e"},{"vendor":"QT","game_id":"TK-froggrog","game_name":"\u683c\u7f85\u683c\u9189\u86d9"},{"vendor":"QT","game_id":"TK-fruitwarp","game_name":"\u6c34\u679c\u5927\u6230"},{"vendor":"QT","game_id":"BPG-geniejackpotsmegaways","game_name":"\u7cbe\u9748\u734e\u6c60"},{"vendor":"QT","game_id":"TK-jaguartemple","game_name":"\u7f8e\u6d32\u864e\u795e\u5edf"},{"vendor":"QT","game_id":"BPG-kingkongcash","game_name":"\u91d1\u525b\u9214\u7968"},{"vendor":"QT","game_id":"BPG-legacyoframegaways","game_name":"\u62c9\u4e4b\u5bf6\u85cf"},{"vendor":"QT","game_id":"TK-midasgoldentouch","game_name":"\u9081\u9054\u65af\u4e4b\u624b"},{"vendor":"QT","game_id":"BPG-napoleon","game_name":"\u62ff\u7834\u5d19"},{"vendor":"QT","game_id":"TK-pinkelephants","game_name":"\u7c89\u8c61"},{"vendor":"QT","game_id":"SBS-portals","game_name":"\u661f\u969b\u4e4b\u9580"},{"vendor":"QT","game_id":"BPG-primalmegaways","game_name":"\u539f\u521d\u4e4b\u738b"},{"vendor":"QT","game_id":"TK-ravenseye","game_name":"\u70cf\u9d09\u4e4b\u773c"},{"vendor":"QT","game_id":"ELK-respincircus","game_name":"\u760b\u72c2\u99ac\u6232\u5718"},{"vendor":"QT","game_id":"BPG-returnofkongmegaways","game_name":"\u91d1\u525b\u6b78\u4f86"},{"vendor":"QT","game_id":"TK-roastymcfryandtheflamebusters","game_name":"\u6ec5\u706b\u7279\u5de5\u968a"},{"vendor":"QT","game_id":"TK-rocketfellasinc","game_name":"\u8cbb\u62c9\u65af\u706b\u7bad\u968a"},{"vendor":"QT","game_id":"QS-sakurafortune","game_name":"\u6afb\u82b1\u4fe0\u5973"},{"vendor":"QT","game_id":"QS-stickybanditswildreturn","game_name":"\u5927\u76dc\u6b78\u4f86"},{"vendor":"QT","game_id":"ELK-tahitigold","game_name":"\u5927\u6eaa\u5730\u9ec3\u91d1"},{"vendor":"QT","game_id":"BPG-templeoftreasuremegaways","game_name":"\u795e\u5edf\u596a\u5bf6"},{"vendor":"QT","game_id":"TK-thefalconhuntress","game_name":"\u7375\u9df9\u5973\u7375\u624b"},{"vendor":"QT","game_id":"SBS-thevault","game_name":"\u91d1\u5eab\u795e\u5077"},{"vendor":"QT","game_id":"BPG-vikingsunleashedmegaways","game_name":"\u7dad\u4eac\u4eba\u4e4b\u731b\u864e\u51fa\u7c60"},{"vendor":"QT","game_id":"BPG-wildantics","game_name":"\u879e\u87fb\u7279\u653b\u968a"},{"vendor":"QT","game_id":"TK-wildheistatpeacockmanor","game_name":"\u5b54\u96c0\u838a\u5712"},{"vendor":"QT","game_id":"ELK-winwin","game_name":"\u96d9\u8d0f"},{"vendor":"QT","game_id":"QS-winsoffortune","game_name":"\u7f8e\u7334\u738b"},{"vendor":"QT","game_id":"BPG-wolflegendmegaways","game_name":"\u72fc\u4e4b\u50b3\u8aaa"},{"vendor":"QT","game_id":"TK-yeti","game_name":"\u591c\u5e1d"},{"vendor":"QT","game_id":"HAB-3handblackjack","game_name":"\u4e09\u624b\u9ed1\u5091\u514b"},{"vendor":"QT","game_id":"HAB-3handblackjackdoubleexposure","game_name":"\u4e09\u624b\u9ed1\u5091\u514b\u96d9\u91cd\u66dd\u5149"},{"vendor":"QT","game_id":"IDS-3dbaccarat","game_name":"3D \u767e\u5bb6\u6a02"},{"vendor":"QT","game_id":"IDS-3dblackjack","game_name":"3D 21\u9ede"},{"vendor":"QT","game_id":"IDS-3droulette","game_name":"\u6b50\u6d32\u8f2a\u76e4\u8ced"},{"vendor":"QT","game_id":"HAB-americanblackjack","game_name":"\u7f8e\u570b\u9ed1\u5091\u514b"},{"vendor":"QT","game_id":"EVP-americanroulette3d","game_name":"\u7f8e\u5f0f\u8f2a\u76e4"},{"vendor":"QT","game_id":"HAB-baccarat","game_name":"\u7f8e\u570b\u767e\u5bb6\u6a02"},{"vendor":"QT","game_id":"OT-baccarat","game_name":"\u767e\u5bb6\u6a02"},{"vendor":"QT","game_id":"EVP-baccarat777","game_name":"\u767e\u5bb6\u6a02777"},{"vendor":"QT","game_id":"OT-baccaratnocommission","game_name":"\u514d\u50ad\u767e\u5bb6\u6a02"},{"vendor":"QT","game_id":"HAB-baccaratzerocommission","game_name":"\u514d\u50ad\u767e\u5bb6\u6a02"},{"vendor":"QT","game_id":"OT-blackjackclassic","game_name":"\u7d93\u517821\u9ede"},{"vendor":"QT","game_id":"OT-blackjackclassicperfectpairs","game_name":"\u5b8c\u7f8e\u5c0d\u5b5021\u9ede"},{"vendor":"QT","game_id":"EVP-blackjackluckysevens","game_name":"\u5e78\u904b7\u9ed1\u5091\u514b"},{"vendor":"QT","game_id":"HAB-caribbeanholdem","game_name":"\u8ced\u5834\u5fb7\u5dde\u64b2\u514b"},{"vendor":"QT","game_id":"HAB-caribbeanstud","game_name":"\u52a0\u52d2\u6bd4\u64b2\u514b"},{"vendor":"QT","game_id":"HAB-dragontiger","game_name":"\u9f8d\u864e"},{"vendor":"QT","game_id":"HAB-europeanroulette","game_name":"\u6b50\u6d32\u8f2a\u76e4"},{"vendor":"QT","game_id":"EVP-europeanroulette","game_name":"\u6b50\u6d32\u8f2a\u76e4"},{"vendor":"QT","game_id":"OT-holdempoker","game_name":"\u5fb7\u5dde\u64b2\u514b"},{"vendor":"QT","game_id":"OT-inbetweenpoker","game_name":"\u5c04\u9f8d\u9580"},{"vendor":"QT","game_id":"EVP-oasispokerclassic","game_name":"\u7d93\u5178\u7da0\u6d32\u64b2\u514b"},{"vendor":"QT","game_id":"EVP-oasispokerproseries","game_name":"\u5c08\u696d\u7da0\u6d32\u64b2\u514b"},{"vendor":"QT","game_id":"OT-roulette","game_name":"\u8f2a\u76e4\u8ced"},{"vendor":"QT","game_id":"EVP-russianpoker","game_name":"\u4fc4\u7f85\u65af\u64b2\u514b"},{"vendor":"QT","game_id":"OT-russianpoker","game_name":"\u4fc4\u7f85\u65af\u64b2\u514b"},{"vendor":"QT","game_id":"HAB-sicbo","game_name":"\u9ab0\u5bf6"},{"vendor":"QT","game_id":"OT-sicbo","game_name":"\u9ab0\u5bf6"},{"vendor":"QT","game_id":"1x2-sicbo888","game_name":"\u9ab0\u5bf6888"},{"vendor":"QT","game_id":"RKI-superluckycardsdeluxe","game_name":"\u8d85\u7d1a\u5e78\u904b\u64b2\u514b\u8c6a\u83ef\u7248"},{"vendor":"QT","game_id":"EVP-teenpatti","game_name":"\u5370\u5ea6\u64b2\u514b"},{"vendor":"QT","game_id":"HAB-threecardpoker","game_name":"\u4e09\u5f35\u724c\u64b2\u514b"},{"vendor":"QT","game_id":"HAB-threecardpokerdeluxe","game_name":"\u4e09\u5f35\u724c\u64b2\u514b\u8c6a\u83ef\u7248"},{"vendor":"QT","game_id":"HAB-war","game_name":"\u6230\u722d"},{"vendor":"QT","game_id":"GFG-5tigersofthe3kingdoms","game_name":"\u4e09\u570b\u4e4b\u4e94\u864e\u5c07"},{"vendor":"QT","game_id":"BPG-barxsafecrackermegaways","game_name":"\u7834\u7bb1\u9054\u4eba"},{"vendor":"QT","game_id":"1x2-blackbeardscompass","game_name":"\u9ed1\u9b0d\u5b50\u8f2a\u76e4"},{"vendor":"QT","game_id":"GAL-blueparadise","game_name":"\u85cd\u8272\u5929\u5802"},{"vendor":"QT","game_id":"CHI-busterhammer","game_name":"\u7834\u58de\u8005\u4e4b\u939a"},{"vendor":"QT","game_id":"HAB-colossalgems","game_name":"\u78b0\u78b0\u5bf6\u77f3"},{"vendor":"QT","game_id":"TK-divinelotus","game_name":"\u84ee\u82b1\u4e4b\u795e"},{"vendor":"QT","game_id":"LBG-dragonpalace","game_name":"\u9f8d\u5bae"},{"vendor":"QT","game_id":"1x2-eraofgods","game_name":"\u773e\u795e\u6642\u4ee3"},{"vendor":"QT","game_id":"PUG-fatsanta","game_name":"\u80d6\u8056\u8a95\u8001\u4eba"},{"vendor":"QT","game_id":"GFG-fightingspirit","game_name":"\u6253\u9f4a"},{"vendor":"QT","game_id":"BPG-godsofolympusmegaways","game_name":"\u5967\u6797\u5339\u65af\u773e\u795e"},{"vendor":"QT","game_id":"1x2-greendiamond","game_name":"\u7da0\u947d\u77f3"},{"vendor":"QT","game_id":"GFG-heavenlyquest","game_name":"\u5929\u5ead\u5929\u8077"},{"vendor":"QT","game_id":"HAB-hothothalloween","game_name":"\u760b\u72c2\u842c\u8056\u591c"},{"vendor":"QT","game_id":"ELK-icewolf","game_name":"\u51b0\u72fc"},{"vendor":"QT","game_id":"PUG-jamminjars","game_name":"\u5f69\u8679\u679c\u91ac"},{"vendor":"QT","game_id":"PUG-jokertroupe","game_name":"\u5c0f\u4e11\u5718"},{"vendor":"QT","game_id":"MOB-lobsterama","game_name":"\u9f8d\u8766"},{"vendor":"QT","game_id":"AUG-luckykids","game_name":"\u5e78\u904b\u96d9\u5bf6"},{"vendor":"QT","game_id":"1x2-luckystreaks","game_name":"\u5e78\u904b\u689d\u7d0b"},{"vendor":"QT","game_id":"NLC-manhattangoeswild","game_name":"\u60c5\u8ff7\u66fc\u54c8\u9813"},{"vendor":"QT","game_id":"1x2-neonfruitcityscape","game_name":"\u9713\u8679\u6c34\u679c"},{"vendor":"QT","game_id":"BNG-olympiangods","game_name":"\u8af8\u795e\u69ae\u8000"},{"vendor":"QT","game_id":"NLC-pixiesvspirates","game_name":"\u7cbe\u9748\u5927\u6230\u6d77\u76dc"},{"vendor":"QT","game_id":"LBG-pinatabucks","game_name":"\u76ae\u7d0d\u5854\u96c4\u9e7f"},{"vendor":"QT","game_id":"BNG-poisonedapple2","game_name":"\u81f4\u547d\u6bd2\u860b\u679c2"},{"vendor":"QT","game_id":"MOB-ratoriches","game_name":"\u62c9\u795e\u7684\u5bf6\u85cf"},{"vendor":"QT","game_id":"LBG-respinracer","game_name":"\u65cb\u98a8\u8cfd\u8eca"},{"vendor":"QT","game_id":"TK-ridersofthestorm","game_name":"\u98a8\u66b4\u9a0e\u58eb"},{"vendor":"QT","game_id":"BPG-safarigoldmegaways","game_name":"\u904a\u7375\u5c0b\u91d1"},{"vendor":"QT","game_id":"BNG-scarabriches","game_name":"\u9322\u6efe\u6efe\u8056\u7532\u87f2"},{"vendor":"QT","game_id":"1x2-sinistercircus","game_name":"\u90aa\u60e1\u99ac\u6232\u5718"},{"vendor":"QT","game_id":"BOG-skylantis","game_name":"\u5929\u7a7a\u4e4b\u57ce"},{"vendor":"QT","game_id":"BOG-spinwarrior","game_name":"\u65cb\u8f49\u6230\u58eb"},{"vendor":"QT","game_id":"MOB-sugarandice","game_name":"\u51b0\u7cd6"},{"vendor":"QT","game_id":"NLC-tombofnefertiti","game_name":"\u57c3\u53ca\u8c54\u540e\u7684\u9675\u5893"},{"vendor":"QT","game_id":"1x2-vampirehunters","game_name":"\u5438\u8840\u9b3c\u7375\u4eba"},{"vendor":"QT","game_id":"PUG-vikingclash","game_name":"\u7dad\u4eac\u722d\u9738"},{"vendor":"QT","game_id":"ELK-voodoogold","game_name":"\u5deb\u6bd2\u9ec3\u91d1"},{"vendor":"QT","game_id":"QS-wildchasetokyogo","game_name":"\u6771\u4eac\u8c6a\u60c5"},{"vendor":"QT","game_id":"PUG-wildswarm","game_name":"\u767e\u642d\u8702\u5de2"},{"vendor":"QT","game_id":"QS-wildtomeofthewoods","game_name":"\u68ee\u6797\u5bf6\u5178"},{"vendor":"QT","game_id":"BPG-wishuponaleprechaunmegaways","game_name":"\u8a31\u9858\u5c0f\u7cbe\u9748"},{"vendor":"QT","game_id":"HAB-wizardswantwar","game_name":"\u9b54\u6cd5\u5927\u6230"},{"vendor":"QT","game_id":"GFG-worldofmonsters","game_name":"\u602a\u7269\u4e16\u754c"},{"vendor":"QT","game_id":"1x2-bloodbankscratch","game_name":"\u8840\u5eab\u522e\u522e\u5361"},{"vendor":"QT","game_id":"IDS-bloodqueenscratch","game_name":"\u8840\u5973\u738b\u522e\u522e\u5361"},{"vendor":"QT","game_id":"IDS-cherryblastscratch","game_name":"\u70c8\u706b\u6afb\u6843\u522e\u522e\u5361"},{"vendor":"QT","game_id":"1x2-kittycashscratch","game_name":"\u5c0f\u8c93\u73fe\u91d1\u522e\u522e\u5361"},{"vendor":"QT","game_id":"IDS-moiraiblazescratch","game_name":"\u6469\u4f0a\u62c9\u4e4b\u706b\u522e\u522e\u5361"},{"vendor":"QT","game_id":"IDS-neonjunglescratch","game_name":"\u9713\u8679\u53e2\u6797\u522e\u522e\u5361"},{"vendor":"QT","game_id":"IDS-paintscratch","game_name":"\u5857\u6599\u522e\u522e\u5361"},{"vendor":"QT","game_id":"1x2-piggybankscratch","game_name":"\u5c0f\u8c6c\u9280\u884c\u522e\u522e\u5361"},{"vendor":"QT","game_id":"1x2-puppypaydayscratch","game_name":"\u5c0f\u72d7\u767c\u85aa\u65e5\u522e\u522e\u5361"},{"vendor":"QT","game_id":"IDS-rainbowwildsscratch","game_name":"\u5f69\u8679\u767e\u642d\u522e\u522e\u5361"},{"vendor":"QT","game_id":"IDS-thecuriouscabinetscratch","game_name":"\u795e\u79d8\u6ae5\u6ac3\u522e\u522e\u5361"},{"vendor":"QT","game_id":"EVP-fouraces","game_name":"\u56db\u5f35A"},{"vendor":"QT","game_id":"EVP-headsandtails","game_name":"\u62cb\u786c\u5e63\u731c\u6b63\u53cd"},{"vendor":"QT","game_id":"EVP-moreorless","game_name":"\u5927\u5c0f\u9ede"},{"vendor":"QT","game_id":"EVP-redqueen","game_name":"\u7d05\u6843Q"},{"vendor":"QT","game_id":"EVP-rockpaperscissors","game_name":"\u7dad\u4eac\u4eba\u683c\u9b25"},{"vendor":"QT","game_id":"EVP-rollthedice","game_name":"\u64f2\u9ab0\u5b50"},{"vendor":"QT","game_id":"EVP-thimbles","game_name":"\u731c\u5c0f\u7403"},{"vendor":"QT","game_id":"OT-wheeloffortune","game_name":"\u8ca1\u5bcc\u8f2a\u76e4"},{"vendor":"QT","game_id":"SPG-oceanblaster2","game_name":"\u6d77\u6bba2"},{"vendor":"QT","game_id":"SPG-tigerattack","game_name":"\u8001\u864e\u6355\u9b5a"},{"vendor":"QT","game_id":"BVS-virtualbasketballleague","game_name":"\u865b\u64ec\u7c43\u7403\u806f\u8cfd"},{"vendor":"QT","game_id":"BVS-virtualfootballasiancup","game_name":"\u865b\u64ec\u4e9e\u6d32\u676f"},{"vendor":"QT","game_id":"BVS-virtualfootballleague","game_name":"\u865b\u64ec\u8db3\u7403\u806f\u8cfd"},{"vendor":"QT","game_id":"BVS-virtualfootballworldcup","game_name":"\u865b\u64ec\u8db3\u7403\u4e16\u754c\u676f"},{"vendor":"QT","game_id":"BVS-virtualtennisopen","game_name":"\u865b\u64ec\u7db2\u7403\u516c\u958b\u8cfd"}],
			gameCategory:{
				'1':["GFG-5tigersofthe3kingdoms","BPG-barxsafecrackermegaways","1x2-blackbeardscompass","GAL-blueparadise","CHI-busterhammer","HAB-colossalgems","TK-divinelotus","LBG-dragonpalace","1x2-eraofgods","PUG-fatsanta","GFG-fightingspirit","BPG-godsofolympusmegaways","1x2-greendiamond","GFG-heavenlyquest","HAB-hothothalloween","ELK-icewolf","PUG-jamminjars","PUG-jokertroupe","MOB-lobsterama","AUG-luckykids","1x2-luckystreaks","NLC-manhattangoeswild","1x2-neonfruitcityscape","BNG-olympiangods","NLC-pixiesvspirates","LBG-pinatabucks","BNG-poisonedapple2","MOB-ratoriches","LBG-respinracer","TK-ridersofthestorm","BPG-safarigoldmegaways","BNG-scarabriches","1x2-sinistercircus","BOG-skylantis","BOG-spinwarrior","MOB-sugarandice","NLC-tombofnefertiti","1x2-vampirehunters","PUG-vikingclash","ELK-voodoogold","QS-wildchasetokyogo","PUG-wildswarm","QS-wildtomeofthewoods","BPG-wishuponaleprechaunmegaways","HAB-wizardswantwar","GFG-worldofmonsters"],
				'2':["TK-1429unchartedseas","BPG-barxsafecrackermegaways","QS-bigbadwolf","BNG-bookofsun","BNG-bookofsunmultichance","TK-borktheberzerker","BPG-buffalorisingmegaways","TK-carnivalqueen","BPG-diamondminemegaways","TK-divinelotus","TK-dragonhorn","QS-dragonshrine","QS-easternemeralds","ELK-ecuadorgold","TK-esqueletoexplosivo","HAB-facaishen","TK-froggrog","TK-fruitwarp","BPG-geniejackpotsmegaways","BPG-godsofolympusmegaways","TK-jaguartemple","BPG-kingkongcash","BPG-legacyoframegaways","TK-midasgoldentouch","BPG-napoleon","TK-pinkelephants","SBS-portals","BPG-primalmegaways","TK-ravenseye","ELK-respincircus","BPG-returnofkongmegaways","TK-ridersofthestorm","TK-roastymcfryandtheflamebusters","TK-rocketfellasinc","BPG-safarigoldmegaways","QS-sakurafortune","QS-stickybanditswildreturn","ELK-tahitigold","BPG-templeoftreasuremegaways","TK-thefalconhuntress","SBS-thevault","BPG-vikingsunleashedmegaways","ELK-voodoogold","BPG-wildantics","TK-wildheistatpeacockmanor","QS-wildtomeofthewoods","ELK-winwin","QS-winsoffortune","BPG-wolflegendmegaways","TK-yeti"],
				'3':["BNG-12animals","HAB-12zodiacs","TK-1429unchartedseas","BNG-15goldeneggs","AUG-3treasures","AUG-5blessings","HAB-5luckylions","HAB-5mariachis","GFG-5tigersofthe3kingdoms","BNG-777gems","BNG-88dragon","BNG-88wilddragon","EVP-aceround","EVP-aeronauts","BNG-africanspirit","BNG-ageofcaesar","TK-arcader","HAB-arcaneelements","QS-arkofmystery","GFG-armorofcourage","EVP-atlantis","TK-babushkas","BPG-barxsafecrackermegaways","TK-barbershopuncut","EVP-basketball","EVP-battletanks","GFG-beautyoftheeast","QS-bigbadwolf","QS-bigbotcrew","HAB-birdofthunder","TK-birdsonawire","ELK-birthday","1x2-blackbeardscompass","PUG-blazeofra","BPG-blazingstar","IDS-bloodqueen","ELK-bloopers","GAL-blueparadise","HAB-bombsaway","BNG-bookofsun","BNG-bookofsunmultichance","TK-borktheberzerker","BPG-buffalorisingmegaways","CHI-busterhammer","CHI-busterhammercarnival","SPR-caichenandxiaoqian","HAB-cakevalley","EVP-candydreams","TK-carnivalqueen","NLC-casinowinspin","ELK-championsgoal","EVP-charmingqueens","IDS-cherryblast","ELK-chi","EVP-chinesenewyear","BNG-christmascharm","EVP-clashofpirates","NLC-coinsoffortune","HAB-colossalgems","BPG-convertusaurum","IDS-cosmiccrystals","HAB-coyotecrash","CHI-creepycastle","QS-crystalqueen","ELK-djwild","MOB-diamondbar","BPG-diamondminemegaways","BNG-diegofortune","QS-divinedreams","TK-divinelotus","LBG-dolphingold","AUG-double88","BPG-doubletriplechance","CHI-dragon50000","BOG-dragoncarnival","TK-dragonhorn","LBG-dragonpalace","BNG-dragonpearlsholdandwin","QS-dragonshrine","HAB-dragonsrealm","HAB-dragonsthrone","BPG-dragonstreasure","NLC-dungeonquest","QS-duriandynamite","QS-dwarfsgonewild","EVP-etlostsocks","QS-easternemeralds","ELK-ecuadorgold","EVP-egyptgods","HAB-egyptiandreamsdeluxe","BPG-eljackpotto","BPG-eltorero","ELK-electricsam","EVP-elvenprincesses","AUG-empressdowagercixi","EVP-epicgladiators","1x2-eraofgods","TK-esqueletoexplosivo","BPG-extrawild","BPG-eyeofhorus","HAB-facaishen","1x2-faerienights","QS-fairygate","PUG-fatrabbit","PUG-fatsanta","GFG-femmepirate","HAB-fenghuang","GFG-fightingspirit","HAB-firerooster","QS-firestorm","BPG-fishinfrenzymegaways","BPG-fishingfrenzy","TK-flux","EVP-football","MOB-fortune88","HAB-fortunedogs","AUG-fortuneluck","BNG-fortunemultiplier","BPG-fortunespins","BPG-legendofsparta","HAB-fourdivinebeasts","TK-froggrog","EVP-fruitburst","BOG-fruitgemz","TK-fruitwarp","BNG-fruiterrafortune","NLC-fruits","EVP-fruitsland","BNG-fruitywild","BNG-fucaishen","TK-fullmoonromance","HAB-gangsters","BPG-geniejackpotsmegaways","QS-geniestouch","IDS-giftsofostara","BNG-gnomesgems","BNG-godstemple","BNG-godstempledeluxe","BNG-goddessofthemoon","BPG-godsofolympusmegaways","BPG-goldcup","QS-goldlab","HAB-goldrush","MOB-goldenbuffalo","QS-goldilocks","RG-goodfishes","EVP-greatwall","1x2-greendiamond","BPG-grizzlygold","BPG-gunslinger","AUG-hailtheemperor","QS-hallofthemountainking","BNG-halloweenwitch","HAB-happiestchristmastree","GFG-heavenlyquest","BNG-hellsband","1x2-herecomessummer","ELK-hidden","QS-hiddenvalleyhd","ELK-hititbig","ELK-hohotower","ELK-hongkongtower","NLC-hot4cash","HAB-hothotfruit","HAB-hothothalloween","NLC-hotnudge","QS-hotsync","BPG-hotzone","PUG-humptydumpty","1x2-iamthelaw","NLC-iceiceyeti","ELK-icewolf","QS-illuminous","BPG-imperialdragon","HAB-indiancashcatcher","EVP-indianasquest","QS-ivanandtheimmortalking","ELK-ivanhoe","TK-jaguartemple","PUG-jamminjars","QS-jewelblast","BPG-jewelstrike","BPG-jeweltwist","EVP-jewellerystore","SPR-jewelrydragon","ELK-jokergems","QS-jokerstrike","PUG-jokertroupe","BPG-jokerscap","BPG-journeyofthegods","EVP-journeytothewest","HAB-jugglenaut","OT-juicy7","HAB-jump","1x2-justicemachine","ELK-kaiju","QS-kingcolossus","AUG-kingkong","BPG-kingkongcash","BPG-kingdomoffortune","NLC-kitchendramabbqfrenzy","HAB-knockoutfootball","HAB-koigate","ELK-lakesfive","BPG-legacyoframegaways","EVP-legendofra","MOB-legendarymulan","QS-leprechaunhills","MOB-lickyluck","LBG-lightningleopard","BPG-lightningstrikemegaways","MOB-lionexplorer","MOB-lobsterama","CHI-lollyland","HAB-londonhunter","GFG-longgui","RG-lottolucky","TK-luchadora","BPG-luckoftheirishmegaways","BPG-lucky8fortunecat","EVP-luckygirls","AUG-luckykids","HAB-luckylucky","EVP-luckymahjongbox","AUG-luckypanda","BPG-luckypharaoh","1x2-luckystreaks","BNG-luckyxmas","BPG-magicmirror","HAB-magicoak","TK-magicious","RKI-mammoth","NLC-manhattangoeswild","BPG-masterofatlantis","NLC-mayanmagic","QS-mayana","AUG-megafortunegod","TK-midasgoldentouch","QS-mightyarthur","BPG-mistressoffortune","IDS-moiraiblaze","GFG-monkeykingvsbulldevil","BNG-monkeymoney","EVP-monsterlab","HAB-monstermashcash","HAB-mountmazuma","AUG-mrtiger","BPG-multiwild","RG-multiplierman","EVP-mysteryplanet","BPG-mysteryspindeluxemegaways","HAB-mysticfortune","AUG-mythicalfireqilin","BPG-napoleon","EVP-naughtygirlscabaret","FNG-neospin","1x2-neonfruitcityscape","IDS-neonjungle","MOB-newyearfortunes","GFG-nianwaandchunni","BNG-nordswar","QS-northernsky","TK-notenoughkittens","AUG-numbersdeluxe","HAB-nuwa","HAB-oceanscall","NLC-oktoberfest","BNG-olympiangods","NLC-owls","IDS-paint","HAB-pandapanda","MOB-pandawilds","RG-parrotsofcaribbean","BNG-patrickspub","MOB-pharaohsofthenile","QS-phoenixsun","QS-piedpiper","TK-pinkelephants","QS-piratescharm","NLC-pixiesvspirates","LBG-pinatabucks","ELK-platooners","BNG-poisonedapple","BNG-poisonedapple2","ELK-poltava","SBS-portals","1x2-potsofluck","HAB-presto","BPG-primalmegaways","QS-primezone","MOB-princecharming","EVP-prohibition","HAB-pumpkinpatch","MOB-ratoriches","IDS-rainbowwilds","QS-rapunzelstower","TK-ravenseye","QS-razortooth","EVP-redcliff","BPG-redhotrepeater","RG-reignofgnomes","ELK-respincircus","LBG-respinracer","BPG-returnofkongmegaways","IDS-richieinvegas","TK-ridersofthestorm","TK-roastymcfryandtheflamebusters","EVP-robinhood","RG-robinhood","EVP-robinson","EVP-robotsenergyconflict","TK-rocketfellasinc","CHI-roguetreasure","HAB-rollingroger","HAB-romanempire","BPG-romeriseofanempire","ELK-route777","HAB-ruffledup","BPG-safarigoldmegaways","QS-sakurafortune","GFG-sakurako","ELK-samonthebeach","FNG-samuraiken","AUG-samuraiwarrior","HAB-santasvillage","MOB-sanxingfortunes","RKI-satoshislot","RKI-satoshislot2","BPG-savannastampede","BNG-scarabriches","HAB-scruffyscallywags","SPR-seasonsautumn","SPR-seasonsspring","SPR-seasonssummer","SPR-seasonswinter","QS-secondstrike","BNG-secretofnefertiti","BNG-secretofnefertiti2","QS-sevenshigh","HAB-shaolinfortunes","BNG-shenlongmibao","1x2-sherlockscasebook","SPR-shishi","QS-sinbad","EVP-sindbad","BNG-singlesday","1x2-sinistercircus","IDS-sirenskingdom","BNG-skygems5wilds","BOG-skylantis","MOB-smileyveggies","NLC-spacearcade","RG-spacetraders","HAB-sparta","TK-spectra","BOG-spinwarrior","QS-spinionsbeachparty","GAL-spiritsofthestorm","PUG-starfall","BNG-stargems","NLC-starstruck","QS-stickybandits","QS-stickybanditswildreturn","MOB-sugarandice","OT-sumoshowdown","TK-sunsetdelight","BPG-superfortunedragon","BPG-superjewelrepeater","BPG-superluckycharms","BPG-superluckyfrog","HAB-supertwister","BPG-superwilddiamonds","AUG-superfruit","BNG-supremefortune","NLC-sushimania","BNG-syncreels","EVP-syndicate","IDS-sixiang","ELK-tacobrothers","ELK-tacobrotherssavingchristmas","ELK-tahitigold","QS-talesofdrdolittle","EVP-talismansoffortune","BPG-templeoftreasuremegaways","RG-thebigdeal","NLC-thecreepycarnival","IDS-thecuriouscabinet","1x2-thedavincidevice","HAB-thedeadescape","EVP-theemperorstomb","TK-thefalconhuntress","QS-thegrand","EVP-thegreatconflict","FNG-thegrid","ELK-thelab","EVP-thelegendofshaolin","AUG-themagicallamp","AUG-theredphoenix","TK-therift","EVP-theslavs","AUG-thethirdlotusprince","SBS-thevault","ELK-thewiz","NLC-thorhammertime","BNG-thunderzeus","QS-tickettothestars","TK-tigerrush","QS-tigersglory","PUG-tikitumble","TK-tokitime","NLC-tombofnefertiti","NLC-tombstone","EVP-totemisland","NLC-tractorbeam","QS-treasureisland","IDS-treasureofhorus","EVP-triptothefuture","TK-turningtotems","EVP-ussrgrocery","EVP-ussrseventies","ELK-valkyrie","BPG-vallettamegaways","1x2-vampirehunters","ELK-vegasdiamonds","EVP-vegasnights","PUG-vikingclash","IDS-vikingwilds","BPG-vikingsunleashedmegaways","BNG-vikingswinter","QS-volcanoriches","ELK-voodoogold","IDS-waikiki","HAB-waysoffortune","TK-wellofwonders","NLC-wixx","HAB-wickedwitch","BNG-wild888","BPG-wildantics","QS-wildchasetokyogo","BOG-wildesqueleto","TK-wildheistatpeacockmanor","ELK-wildseas","PUG-wildswarm","QS-wildtomeofthewoods","ELK-wildtoro","HAB-wildtrucks","PUG-wildwheel","ELK-winwin","BPG-windfall","QS-winsoffortune","BPG-wishuponajackpot","BPG-wishuponaleprechaunmegaways","RG-wishes","HAB-wizardswantwar","BPG-wolflegendmegaways","GFG-worldofmonsters","TK-yeti","BBG-yinandyang","AUG-zhugeliang","TK-zoom"],
				'4':["HAB-3handblackjack","HAB-3handblackjackdoubleexposure","IDS-3dbaccarat","IDS-3dblackjack","IDS-3droulette","HAB-americanblackjack","EVP-americanroulette3d","HAB-baccarat","OT-baccarat","EVP-baccarat777","OT-baccaratnocommission","HAB-baccaratzerocommission","OT-blackjackclassic","OT-blackjackclassicperfectpairs","EVP-blackjackluckysevens","HAB-caribbeanholdem","HAB-caribbeanstud","HAB-dragontiger","HAB-europeanroulette","EVP-europeanroulette","OT-holdempoker","OT-inbetweenpoker","EVP-oasispokerclassic","EVP-oasispokerproseries","OT-roulette","EVP-russianpoker","OT-russianpoker","HAB-sicbo","OT-sicbo","1x2-sicbo888","RKI-superluckycardsdeluxe","EVP-teenpatti","HAB-threecardpoker","HAB-threecardpokerdeluxe","HAB-war"],
				//'5':["EZU-andarbahar","EZU-automaticroulette","EZU-baccarat","EZU-baccaratko","EZU-baccaratqueenco","EZU-baccaratsuper6","EZU-baccaratnocommission","EZU-betonnumbers","EZU-casinoholdem","EZU-dragontiger","EZU-keno","EZU-rouletteportomaso","EZU-teenpatti","EZU-unlimitedblackjack"],
				//'6':["BVS-virtualbasketballleague","BVS-virtualfootballasiancup","BVS-virtualfootballleague","BVS-virtualfootballworldcup","BVS-virtualtennisopen"],
				'7':["EVP-fouraces","EVP-headsandtails","EVP-moreorless","EVP-redqueen","EVP-rockpaperscissors","EVP-rollthedice","EVP-thimbles","OT-wheeloffortune"],
				'8':["1x2-bloodbankscratch","IDS-bloodqueenscratch","IDS-cherryblastscratch","1x2-kittycashscratch","IDS-moiraiblazescratch","IDS-neonjunglescratch","IDS-paintscratch","1x2-piggybankscratch","1x2-puppypaydayscratch","IDS-rainbowwildsscratch","IDS-thecuriouscabinetscratch"]
			},
			localGames:[]

		}
	},
	components :{
		'SlotGameUtil':SlotGameUtil,
		'TransferBox' : TransferBox,
	},
	methods: {
		handleClick(tab, event){
			//console.log(tab.name);
			if (tab.name != '0'){
				this.localGames = this.newGameCategory[tab.name];
			}
			else {
				this.localGames = this.allGames;

			}



		},
		startGame(source,id) {
			if(this.user.isLogin == false) {
				this.$emit('LoginBox',{methods:'login'});
				return false;
			}

			this.$refs.TransferBox.open(source,id);
		},
		tryGame(soruce, id) {
			this.$refs.SlotGameUtil.dialog = true;
			this.$refs.SlotGameUtil.stash.soruce = soruce;
			this.$refs.SlotGameUtil.stash.id = id;

		}

	},
	watch: {
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),

		gameLists(){
			let listCount = 0;
			this.noRecord = false;
			return this.localGames.filter(post => {
				var result = post.game_name.toLowerCase().includes(this.keyword.toLowerCase());
				if (!result) {
					listCount++;
					this.noRecord = (listCount == this.localGames.length)
				}
				return result;
			})
		},
    },
	created() {
		//if(!this.web.qt.length) {
		//	this.$store.dispatch('getSlotLists','qt');
		//}
		this.localGames = this.allGames;

		for (let i = 0; i < this.allGames.length; i++){
			this.newAllGames[this.allGames[i].game_id.toLowerCase()] = this.allGames[i];
		}

		for (var i in this.gameCategory) {
			for (let j = 0; j < this.gameCategory[i].length; j++){

				var key = this.gameCategory[i][j].toLowerCase();
				if (this.newAllGames[key]){
					this.newGameCategory[i].push(this.newAllGames[key]);
				}

			}
		}



		//this.allGames.forEach( function ( item) {
		//	this.newAllGames[item.game_id.toLowerCase()] = item;
		//});

		//this.gameCategory.forEach( function ( item, index, array)  {
			//console.log(item);
		//});
		//this.localGameArray =  this.web.qt;

	}
}
</script>

<style>

.slot-banner-container .banner-img {background: url(~assets/images/slot/banner.jpg) center center / cover rgb(0, 0, 0);}

.slot-banner-container {
	width:100%;
	height:440px;
}
.qt-tabs .el-tabs__item{
	font-size:15px;
	color:#666;
}
.qt-tabs .el-tabs__nav-wrap::after{height:1px;}
.qt-tabs .el-tabs__nav {margin-left:17px;}
</style>
