<template>
	<div class="el-row">
		<div class="slot-banner-container">
			<div class="banner-img"></div>
		</div>
		<div class="container el-row" >


			<div class="slot-box">
				<div class="slot-header">
					<el-breadcrumb separator-class="el-icon-arrow-right">
						<el-breadcrumb-item :to="{ path: '/slot' }">電子遊戲首頁</el-breadcrumb-item>
						<el-breadcrumb-item>{{ $route.name }}</el-breadcrumb-item>
					</el-breadcrumb>
					<div class="slot-search">
						<el-input placeholder="請輸入關鍵字" size="small" v-model="keyword"  clearable>
							<el-button slot="append" icon="el-icon-search"></el-button>
						</el-input>
					</div>
				</div>
				<ul class="content">
					<li v-for="(item, index) in gameLists" :key="index">
						<div class="photo">
							<lazy-component>
								<img :src="'/static/images/slot/ps/' + item.game_id +'.png'">
							</lazy-component>
							<div class="float-box">

								<div class="button" @click="startGame(item.vendor, item.game_id);" :style="{'margin-top': config.tryGame  ?'40px':'66px'}"><div class="shine"></div>進入遊戲</div>
								<div class="button try-game" @click="tryGame(item.vendor, item.game_id);" style="margin-top:10px;" v-if="config.tryGame"><div class="shine"></div>試　　玩</div>


							</div>
					  </div>
					  <div>
						{{item.game_name}}
					  </div>
					</li>
				</ul>
				<div v-if="noRecord" class="no-record">暫無相關記錄</div>
			</div>

		</div>

		<SlotGameUtil ref="SlotGameUtil"></SlotGameUtil>


	</div>

</template>

<script>

import { mapGetters } from 'vuex'
import SlotGameUtil from '@/components/views/SlotGameUtil'
export default {
	name: 'SlotComponent',
	data () {
		return {
			keyword:'',
			noRecord:false,
			isTryGame:true,

		}
	},
	components :{
		'SlotGameUtil':SlotGameUtil
	},
	methods: {
		startGame(soruce, id) {

			if(this.user.isLogin == false) {
				this.$emit('LoginBox',{methods:'login'});
				return false;
			}
			this.$refs.SlotGameUtil.startGame(soruce, id);

		},
		tryGame(soruce, id) {
			this.$refs.SlotGameUtil.dialog = true;
			this.$refs.SlotGameUtil.stash.soruce = soruce;
			this.$refs.SlotGameUtil.stash.id = id;

		}

	},
	watch: {
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
		gameLists(){
			let listCount = 0;
			return this.web.ps.filter(post => {
				var result = post.game_name.toLowerCase().includes(this.keyword.toLowerCase());
				if (!result) {
					listCount++;
					this.noRecord = (listCount == this.web.ps.length)
				}
				return result;
			})
		},
    },
	created() {
		if(!this.web.ps.length) {
			this.$store.dispatch('getSlotLists','ps');
		}
	}
}
</script>

<style>
.slot-banner-container .banner-img {background: url(~assets/images/slot/banner.jpg) center center / cover rgb(0, 0, 0);}
.slot-banner-container {
	width:100%;
	height:440px !important;
}

</style>
