<template>
	<div>

		<div class="sport-banner-container">
			<div class="banner-img"></div>
		</div>

		<div class="container el-row">
        <el-row :gutter="0" class="sport">
            <el-col :span="16" class="sport-left">
              <div class="title text-fill">體育平台</div>
				<el-card :body-style="{ padding: '0px' }">
					<el-col :span="24">
						<div class="img item-bg1"></div>
					</el-col>
					<el-col :span="24">
						<el-col :span="8" class="sport-right-img">
							<div class="sport-item-logo super"></div>
						</el-col>
						<el-col :span="16" class="sport-left-txt">
							<div class="sport-item-txt">
								讓球、大小、半全場、波膽、單雙、總入球、混合過關等多元競猜。每月超過1500場滾球賽事：足球、籃球、橄欖球、網球等賽事應有盡有！
							</div>
							<div class="bottom sport-bottom clearfix">
								<el-button type="primary" size="medium" @click="startGame('SUPER', 'SUPER');">進入遊戲</el-button>
							</div>
						</el-col>
					</el-col>
				</el-card>
<!--
				<el-card :body-style="{ padding: '0px' }">
					<el-col :span="24">
						<div class="img item-bg2"></div>
					</el-col>
					<el-col :span="24">
						<el-col :span="8" class="sport-right-img">
							<div class="sport-item-logo qt"></div>
						</el-col>
						<el-col :span="16" class="sport-left-txt">
							<div class="sport-item-txt">
								專注於籃球、足球、網球、亞洲杯等體育賽事投注。只有你想不到的，沒有我們沒有的。
							</div>
							<div class="bottom sport-bottom clearfix">
								<router-link to="/sport/qt"><el-button type="primary" size="medium">進入遊戲</el-button></router-link>
							</div>
						</el-col>
					</el-col>
				</el-card>
				-->
            </el-col>

            <el-col :span="8" class="sport-right">
              <div class="title text-fill">體育賽事盈利名單</div>
              <div class="sport-list">
                <div class="win-info main ivu-row">
                  <el-col :span="11" class=" h ivu-col">遊戲名稱</el-col>
                  <el-col :span="6" class=" win-txt1 h">帳號</el-col>
                  <el-col :span="7" class="win-txt2 h">中獎金額</el-col>
                </div>
                <div id="marquee" class="plate-down-content container-sport">
                  <ul class="left-marquee">
                      <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">波蘭丙組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">i***v</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,785</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">日本職棒跨聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">k***t</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$804</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典南部甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">x***y</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,320</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國職業大聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">i***p</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,514</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國冰球聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">x***b</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,009</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">巴提盃(在愛沙尼亞)</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">h***f</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,990</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國職棒-美聯</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">h***a</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,059</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">國際友誼賽U19</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">s***a</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,044</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國職棒-國聯</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">h***k</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,036</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">意大利青年春季甲組聯賽U19</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">g***w</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,442</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">日本職棒跨聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">z***l</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,130</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典南部甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">u***l</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,703</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國冰球聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">a***f</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$963</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">巴提盃(在愛沙尼亞)</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">x***k</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,558</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">中華職棒-全場</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">u***b</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,703</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">挪威甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">i***o</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,256</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">中華職棒-全場</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">b***h</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,979</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">日本職棒跨聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">i***q</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,874</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典丙組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">j***b</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$6,603</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國職業大聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">v***x</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,730</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">尼日利亞超級聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">n***t</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,961</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">尼日利亞超級聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">p***g</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,975</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">尼日利亞超級聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">k***x</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,499</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">尼日利亞超級聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">t***q</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,711</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典女子甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">y***a</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,330</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">挪威甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">u***o</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,246</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">世界盃2022亞洲外圍賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">z***y</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$9,919</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">尼日利亞超級聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">l***t</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$680</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">國際友誼賽U21</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">u***m</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$1,835</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國職棒-美聯</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">i***l</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$6,863</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典女子甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">p***b</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,117</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典南部甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">q***c</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$6,021</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">國際友誼賽U19</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">d***g</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$158</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典乙組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">m***x</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,088</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國職棒-國聯</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">n***f</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,504</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">日本職棒跨聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">k***z</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$967</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國冰球聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">c***n</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$820</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">國際友誼賽U21</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">k***r</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$6,531</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典南部甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">q***u</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$532</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典女子甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">i***s</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,242</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">挪威甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">l***b</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,964</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">挪威乙組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">c***v</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$5,404</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典女子甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">j***l</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$2,507</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國職業大聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">g***h</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$4,739</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典女子甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">j***e</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,183</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">尼日利亞超級聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">j***r</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$7,681</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典乙組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">g***k</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$3,187</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國冰球聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">j***m</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,858</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">美國冰球聯盟</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">r***k</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,305</el-col>
                        </li>

                        <li class="cursor marquee marquee-li">
                            <el-col :span="11" class="win-txt ivu-col">瑞典女子甲組聯賽</el-col>
                            <el-col :span="6" class="win-txt win-txt1 ivu-col">c***i</el-col>
                            <el-col :span="7" class="win-txt win-txt2 ivu-col">NT$8,751</el-col>
                        </li>
                  </ul>
                </div>
              </div>
            </el-col>
        </el-row>
    </div>
		<TransferBox ref="TransferBox"></TransferBox>
	</div>

</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import TransferBox from '@/components/TransferBox'
  export default {
	name: 'SportComponent',
	components :{
		'TransferBox' : TransferBox,
	},
	methods: {
		startGame(source,id) {
			if(this.user.isLogin == false) {
				this.$emit('LoginBox',{methods:'login'});
				return false;
			}

			this.$refs.TransferBox.open(source,id);
		},


    },
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),

    },
    created (){
    }
  }



</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.sport-banner-container .banner-img {background: url(~assets/images/sport/banner.jpg) center center / cover rgb(0, 0, 0);}
.item-bg1 {
	background-image: url(~assets/images/sport/93e07f62062c573f93628af1d268cc45.jpg);
}
.item-bg2 {
	background-image: url(~assets/images/sport/qt-sport.jpg);
}
	.sport-banner-container {
		width:100%;
		height:440px;
	}

  .sport-right {
      overflow: hidden;
  }

  .sport-right >.sport-list {
      box-shadow: 0 0 15px #ddd;
  }

  .win-info.main {
      padding: 7px 10px 0 10px;
      border-bottom: 1px solid #eaeaea;
      height: 35px;
      position: relative;
      line-height: 40px;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
      background: #c0c4cc17;
  }

  .cursor.marquee.marquee-li {
      padding: 7px 10px 0 10px;
      border-bottom: 1px dotted #eaeaea;
      height: 35px;
      position: relative;
      font-size: 100%;
      font: inherit;
      list-style-type: none;
  }

  .plate-down-content >ul {
    padding-inline-start: 0;
  }

  .sport >.sport-right {
      padding-left: 20px;
  }

  .container-sport {
      height: 20em;
      overflow: hidden;
      background: white;
      position: relative;
      box-sizing: border-box;
      padding: 10px;
      font-size: 14px;
  }

  .plate-down-content >.left-marquee {
      top: 6em;
      position: relative;
      box-sizing: border-box;
      animation: marquee 10s linear infinite;
      border-bottom: 1px solid #eaeaea;
  }

  .plate-down-content >.left-marquee:hover {
      animation-play-state: paused;
  }

  /* Make it move! */
  @keyframes marquee {
      0%   { top:   0em }
      100% { top: -13em }
  }

  .text-fill:before {
    content: "";
    background: #409EFF;
    left: 0;
    padding-left: 5px;
    position: relative;
    margin: 0px 7px 0px 0px;
  }

  .text-fill {
    margin: 12px 0px;
  }

  .sport >.el-col >.el-card .img {
		width:100%;
		height:270px;
    background-size:cover;
    background-position: top;
	}

  .sport .sport-right-img .sport-item-logo {
    width: 140px;
    height: 125px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 18px auto;

	}
  .sport .sport-right-img .sport-item-logo.super {

	background-image: url(~assets/images/sport/super-logo.jpg);
	}

  .sport .sport-right-img .sport-item-logo.qt {
	width: 160px;
    height: 125px;
    background-size: 100% auto;
	background-image: url(~assets/images/sport/qt-sport-logo.jpg);
	}

  .sport .sport-left-txt {
    margin-top: 25px;
    padding-left: 30px;
    border-left: 1px solid #ddd;
	}

  .sport .sport-item-txt {
    padding: 10px 0px 10px 5px;
    width: 90%;
    text-align: left;
    line-height: 24px;
    color: #666;
	}
	.sport .el-button--medium {
		font-size:15px;
	}


  .sport >.el-col >.el-card {
    padding: 20px 20px 40px;
    box-shadow: 0 0 15px #ddd;
    margin-bottom: 10px;
	}

  .sport >.el-col {
    margin-bottom: 30px;
	}

</style>
