<template>
	<div id="about" class="tab-pane active show">
		<div class="title">{{$route.name}}</div>
		<div class="help-right-content">
			<p>「完美娛樂城」注册於世界旅遊聖地柬埔寨波貝度假村，是全球線上博弈的領導品牌，擁有百萬名註冊玩家。具有博弈產業市場的合法營業執照。同時，我們也提供多元化的品牌遊戲、完善且親切的顧客服務，並致力維護遊戲公正性、公平性。</p>
			<p>提供多樣的賽事、遊戲，包括有運動博彩、電競、真人Casino、電子類遊戲、悠閒捕魚機等多項遊戲，每種遊戲也都具有不同的特色，讓玩家都能依照自己的喜好找到合適的遊戲。有閒暇之餘，我們也提供最優質的影城，讓每位客人都能盡情享樂！</p>
			<p>在玩家享樂的同時，我們也致力於產品的開發與更新，讓我們的遊戲全面支援PC、平板、手機三種裝置，顧客無需下載、安裝，即可直接上手。</p>
			<p>並極力全方位保障會員的資金交易安全、個人隱私無擔憂。</p>
		</div>
	</div>

</template>
<script>

</script>

<style >



</style>
