<template>
<div>
	  <div class="title">{{$route.name}}</div>
    <div class="help-right-content">
        <h4>體育/真人/電子/彩票</h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>總盈利</th>
                        <th>紅利佣金等級</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1~200000</td>
                        <td>20%</td>
                    </tr>
                    <tr>
                        <td>200001~500000</td>
                        <td>25%</td>
                    </tr>
                    <tr>
                        <td>500001以上</td>
                        <td>30％</td>
                    </tr>
                </tbody>
            </table>
            <p style="color:#ff0000;font-size:18px;">代理擁有獨立後台及專屬網址，佣金占比最高50%，如有需求，請聯繫在線客服。</p>
            <h4>佣金計算</h4>
            <ul><li>所有【額外優惠】是要扣除才計算紅利佣金</li>
            <li>系統將按會員所招收到的會員總盈利給予【紅利佣金等級】</li>
            <li>系統將按會員所招收到的會員一個月【總盈利】扣除【額外優惠】再乘以【紅利佣金等級】</li></ul>
            <h4>領取條件</h4>
            <p>為鼓勵代理有效推廣，每一個月需有至少5位有效會員，有效會員即是註冊並且充值的。並且於每個月的十號晚間六點，將相關盈利佣金派發至代理所提供之帳戶。</p>
            <p>當參加加盟的會員未能完全遵守或違反或濫用任何有關公司優惠或推廣的條例，又或我們有任何證據有任何團體或個人投資下一連串的關聯賭注，以造成無論賽果怎樣都可以確保可以從該紅利或其他推廣活動提供的優惠獲利，我們保留權利向此團體或個人停止或取消優惠或索回已支付的優惠紅利。此外，公司也保留權利向這些會員扣取相當於優惠紅利價值的行政費用，以補償我們的行政成本。</p>
            <p>我們保留對活動的最終解釋權。以及在無通知的情況下修改或終止活動的權利。適用於所有優惠。</p>
        </div>
    </div>
</template>
<script>
  export default {
	      methods: {
      open() {
        this.$message('这是一条消息提示');
      },
		  },
    data() {
      return {
        tabPosition: 'left'
      };
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
