<template>
<el-row >
    <div class="title">{{$route.name}}</div>
    <el-collapse style="padding: 0 30px;" v-model="activeNames" accordion>
    <el-collapse-item title="有哪些存款途徑？" name="1" >
        <p>公司目前提供二種方式入款，1.網路銀行ATM。2.超商付款，請您點擊線上存款選擇其中一種方式入款，謝謝！</p>
    </el-collapse-item>
    <el-collapse-item title="存款未到帳如何處理？" name="2">
        <p>由於跨行匯款的到帳時間銀行方面辦理速度，一般都是有1-8小時的到帳時間，請您耐心等待。如果已成功匯款，可能是由於第三方支付公司還沒有收到您的款項，請麻煩發送發票的掃描件或是清晰照片（如果是網銀匯款請發送匯款明細的截圖）給我們，我們會馬上為您提交到第三方支付公司進行查詢。</p>
    </el-collapse-item>
    <el-collapse-item title="存款是否需要繳納手續費或其他費用？" name="3">
        <p>本公司接收線上網路銀行ATM。超商付款等方式。當您通過網銀、ATM、超商付款方式存款成功後，存款手續金額由本公司承擔，讓您存款無憂。使用櫃台存款的客戶選擇收款方支付將不享受存款手續費回饋。</p>
    </el-collapse-item>
    <el-collapse-item title="為什麼在線支付成功後額度沒有立即增加？" name="4">
        <p>這是因為在線支付系統需要經過密碼鎖切換及內部驗證程序，而這也是我們的保安程序之一，所以請您不必擔心，款項一定不會丟失。如果您在線支付超過30分鐘後仍然還未收到您的款項，請與我們客服聯繫處理。</p>
    </el-collapse-item>
    </el-collapse>
</el-row>
</template>
<script>
  export default {
    methods: {
    },
    data() {
      return {
          activeNames:this.$route.params.id
      };
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

    .help-right-content >.title-open {
        font-size: 18px;
        margin: 20px 0;
        color: #111;
        font-weight: 600;
    }


    .help-right-content >.txt {
        font-size: 14px;
        line-height: 24px;
        color: #6c6c6c;
        text-indent: 2em;
        display: block;
    }

</style>
