<template>
<el-row >
    <div class="title">{{$route.name}}</div>
    <el-collapse style="padding: 0 30px;" v-model="activeNames" accordion>
    <el-collapse-item title="提款流程" name="1" >
        <p>當您在成功存款並進行遊戲後，即可進行提款操作（需滿足最低提款金額要求）。您只需根據以下提示，按下列步驟操作即可開通帳戶：<br>1) 登錄（或已處於登錄狀態），在會員中心點擊 “提款專區”項。<br>2) 進入“提款”頁面。注意！因確保您的帳戶安全，第一次進行提款操作時，需先設置提款密碼唷！請務必牢記您的提款密碼，請勿將您的密碼提供給其他人。<br>3) 接下來，您可以開始添加銀行卡。完成銀行帳號添加以後，才能夠進行提款操作。此銀行帳號的開戶名必須與您帳號所填真實姓名一致，否則提款可能會失敗。您所填寫的銀行帳號不需要開通網銀亦可提款。</p>
    </el-collapse-item>
    <el-collapse-item title="提款限額是多少？" name="2">
        <p>單筆提款最低金額1000元，最高100萬，每日提款上限100萬。</p>
    </el-collapse-item>
    <el-collapse-item title="提款什麽時候可以到帳？" name="3">
        <p>取款申請審核通過後，一般會在數分鐘內為您進行線下轉帳。若逾時仍未收到款項，則可能是取款銀行帳號數據有誤或銀行帳號小額管理費未繳等問題所造成的。財務人員在無法出款時都會及時進行通知，若玩家未填寫有效的聯絡方式也會造成財務無法聯繫的情況發生，請您務必填寫正確有效的聯繫信息。同時，您也可隨時聯繫在線客服了解進度。</p>
    </el-collapse-item>
    <el-collapse-item title="可否提款到其他人的銀行帳戶？" name="4">
        <p>銀行帳戶持有人姓名必須與本公司註冊帳號的姓名一致，否則無法申請提款。</p>
    </el-collapse-item>
    <el-collapse-item title="提款是否需要繳納手續費或其他費用？" name="5">
        <p>依會員等級收取手續費，不足50元以50計算。</p>
    </el-collapse-item>
    <el-collapse-item title="當我在真人遊戲贏了錢，我該如何提款？" name="6">
        <p>將錢從遊戲平台轉入主錢包後，請您點擊“提款專區”輸入您的取款密碼，再按要求填寫您要提取的金額，然後再點擊確定，成功遞交取款信息後，財務部將在數分鐘內為您辦理出款。</p>
    </el-collapse-item>
    <el-collapse-item title="可以取消提款申請嗎？" name="7">
        <p>提交申請未審核之前，若您想取消，請及時聯繫在線客服處理。</p>
    </el-collapse-item>
    <el-collapse-item title="提款申請為什麼會不通過？" name="8">
        <p>防止部分玩家利用本公司進行洗錢等非法資金操作，為避免部分玩家以套利為目的參與活動，我司對於所有的提款均會進行審核，申請不通過的主要因素考慮如下：<br>1、判斷有效投注額是否達到存款，優惠的流水要求。（各遊戲和局/未接受/取消注單，不納入有效投注計算。）<br>2、取款信息是否符合取款者信息。<br>3、投注是否異常，存在惡意刷流水套利行為。<br>4、同一用戶多帳戶行為。</p>
    </el-collapse-item>

    </el-collapse>
</el-row>
</template>
<script>
  export default {
    methods: {
    },
    data() {
      return {
          activeNames:this.$route.params.id
      };
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

    .help-right-content >.title-open {
        font-size: 18px;
        margin: 20px 0;
        color: #111;
        font-weight: 600;
    }


    .help-right-content >.txt {
        font-size: 14px;
        line-height: 24px;
        color: #6c6c6c;
        text-indent: 2em;
        display: block;
    }

</style>
