<template>
<el-row >
    <div class="title">{{$route.name}}</div>
    <el-collapse style="padding: 0 30px;" v-model="activeNames" accordion>
    <el-collapse-item title="為何我的帳號會被凍結？" name="1" >
        <p>輸入五次錯誤密碼系統為了您的帳號資金安全將自動凍結您的遊戲帳號，屆時請您聯繫24小時在線客服人員協助處理。</p>
    </el-collapse-item>
    <el-collapse-item title="為什麼我會被登出？" name="2">
        <p>您好，這是網頁的保安程式之一，當您在一定的時間內沒有使用有關的網頁，那麽有關的網頁將不再活躍，並且無法瀏覽最新的頁面，在此您必須重新登入。或者您在其餘的設備登陸了那之前的設備將登出。若您重新登入後情況仍然一樣請立即聯繫我們。</p>
    </el-collapse-item>
    <el-collapse-item title="為什麼我瀏覽的頁面不能正常顯示？" name="3">
        <p>低版本瀏覽器不支持HTML5, CSS3, jQuery2.0等網頁程序，很可能造成網頁功能缺失。若當前您使用的瀏覽器為IE8或更低版本， 建議您使用IE10、IE11、火狐或谷歌瀏覽器，以獲取最佳體驗效果！</p>
    </el-collapse-item>
    <el-collapse-item title="為什麼要進行驗證？" name="4">
        <p>驗證信息主要是為了確保您的帳戶安全。我們要驗證的是手機驗證、郵箱驗證、銀行卡驗證。</p>
    </el-collapse-item>
    <el-collapse-item title="我可以只試玩而不下注嗎？" name="5">
        <p>針對一些遊戲我們支持試玩，可選擇試玩通道進行試玩。</p>
    </el-collapse-item>
    <el-collapse-item title="別人可以用我的帳戶進行交易嗎？" name="6">
        <p>會員有責任確保自己的帳戶及登入資料的保密性。以用戶名稱及密碼進行的任何網上交易將被視為有效。</p>
    </el-collapse-item>
    <el-collapse-item title="最基本的注單查詢方式？" name="7">
        <p>可以通過登錄官網帳戶後點擊投注記錄查詢，或者進入到遊戲裏的賬目查詢。</p>
    </el-collapse-item>
    <el-collapse-item title="請問各個遊戲的注額為多少？" name="8">
        <p>真人遊戲-最低下注100TWD 最高限額30萬TWD （可根據不同類型會員進行調高注碼額度）<br>彩票遊戲-最低下注100TWD最高限額依照遊戲及玩法不同，最高可到1000000TWD<br>電子機率-最低下注5TWD最高限額依照遊戲及玩法不同<br>如有任何疑問請諮詢24小時在線客服！ </p>
    </el-collapse-item>
    <el-collapse-item title="如何證明遊戲結果是實時的？" name="9">
        <p>您好，您可以通過遊戲的視頻影像進行監查，視頻內的畫面均為現場娛樂城所播放的畫面是同步的。我們每一個視頻上都配備一個確認真實性電話，您可撥打此號碼確認所有遊戲結果均為真實的實時結果。</p>
    </el-collapse-item>
    <el-collapse-item title="你們的流水紅利政策是怎麼樣的？" name="10">
        <p>目前我們有以下紅利：<br>新用戶首存紅利<br>娛樂場、鑽石廳娛樂場有周返水紅利<br>快樂彩週返水紅利<br >體育週返水紅利</p>
    </el-collapse-item>
    <el-collapse-item title="有效流水在每個平台是如何計算的？" name="11">
        <p>有效流水計算： 1.百家樂項目，若單局輸贏的絕對值大於75%本金，以本金作為有效投注額。 2.其他盤口按單局本金計算有效投注額。當投注淨輸時，按淨輸金額絕對值計算流水。當投注淨贏金額<75%，則按淨贏金額計算流水，淨贏金額>=75%，以全額投注金額計算流水。</p>
    </el-collapse-item>

    </el-collapse>
</el-row>
</template>
<script>
  export default {
    methods: {
    },
    data() {
      return {
          activeNames:this.$route.params.id
      };
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

    .help-right-content >.title-open {
        font-size: 18px;
        margin: 20px 0;
        color: #111;
        font-weight: 600;
    }


    .help-right-content >.txt {
        font-size: 14px;
        line-height: 24px;
        color: #6c6c6c;
        text-indent: 2em;
        display: block;
    }

</style>
