<template>
<el-row >
    <div class="title">{{$route.name}}</div>
    <el-collapse style="padding: 0 30px;" v-model="activeNames" accordion>
    <el-collapse-item title="如何綁定銀行帳戶？" name="1" >
        <p>具體操作流程如下：<br>(1)登錄玩家中心後，依次點選 “帳戶管理-&gt;銀行帳戶信息”。<br>(2)根據頁面提示填寫相關銀行帳戶信息。<br>(3)確認信息無誤後，點擊“確認”即可完成綁定</p>
    </el-collapse-item>
    <el-collapse-item title="我可以綁定多個銀行帳戶嗎？" name="2">
        <p>不可以！一個玩家帳戶僅支持綁定一個銀行帳戶，且綁定的銀行帳戶名必須與玩家的真實姓名一致。</p>
    </el-collapse-item>
    <el-collapse-item title="如何更換已綁定的銀行帳戶？" name="3">
        <p>銀行帳戶更換與綁定流程基本一致，具體操作步驟詳見如何綁定銀行帳戶？其中，僅支持更換為帳戶名與真實姓名一致的銀行帳戶，否則取款將失敗！<br><br>溫馨提示：<br>若由於玩家綁定的銀行帳戶名與您填寫的真實姓名不一致，而導致出款失敗或延遲，請玩家自行負責！</p>
    </el-collapse-item>
    <el-collapse-item title="為什麼我要設置真實姓名？" name="4">
        <p>真實姓名是證明您身份的重要憑證之一，且真實姓名將用於匹配收款銀行帳號，銀行卡帳戶名與玩家真實姓名一致時才可以取款成功！為確保您帳戶的安全，真實姓名一旦設置不可修改！</p>
    </el-collapse-item>
    <el-collapse-item title="真實姓名填錯了怎麽修改？" name="5">
        <p>一經填寫，玩家本人無法直接修改真實姓名！如有需要，請您在線客服服協助您做數據更改。</p>
    </el-collapse-item>
    <el-collapse-item title="我的真實姓名會被泄漏嗎？" name="6">
        <p>本公司網站絕對安全，我們決不泄漏玩家的真實姓名及其他個人資料給任何商業機構。</p>
    </el-collapse-item>

    </el-collapse>
</el-row>
</template>
<script>
  export default {
    methods: {
    },
    data() {
      return {
          activeNames:this.$route.params.id
      };
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

    .help-right-content >.title-open {
        font-size: 18px;
        margin: 20px 0;
        color: #111;
        font-weight: 600;
    }


    .help-right-content >.txt {
        font-size: 14px;
        line-height: 24px;
        color: #6c6c6c;
        text-indent: 2em;
        display: block;
    }

</style>
