<template>
<el-row >
    <div class="title">{{$route.name}}</div>
    <el-collapse style="padding: 0 30px;" v-model="activeNames" accordion>
    <el-collapse-item title="開戶條約" name="1" >
        <h1>一、基本條款</h1><p>1.	為避免於本網站投注時之爭議，請會員務必於進入網站前詳閱本娛樂場所定之各項規則，客戶一經“我同意”進入本網站進行投注時，即被視為已接受本娛樂場的所有協議與規則。</p><p>2.	會員有責任確保自己的帳戶以及登入資料的保密性，以會員帳號及密碼進行的任何網上投注，將被視為有效。敬請不定時做密碼變更之動作。若帳號密碼被盜用，進行的投注，本公司一概不負賠償責任。</p><p>3.	本公司保留不定時更改本協定或遊戲規則或保密條例，更改之條款將從更改發生後指定之日起生效，並保留一切有爭議事項及最後的決策權。</p><p>4.	用戶需達到居住地國家法律規定之合法年齡方可使用線上娛樂場或網站。</p><p>5.	網上投注如未能成功提交，投注將被視為無效。</p><p>6.	凡玩家於出牌途中且尚無結果前自動或強制斷線時，並不影響比賽之結果。</p><p>7.	如遇發生不可抗拒之災害，駭客入侵，網絡問題造成數據丟失的情況，以本公司公告為最終方案。</p><p>8.	特此聲明，本公司將會對所有的電子交易進行記錄，如有任何爭議，本公司將會以注單記錄為準。</p><p>9.	本公司保留更改、修改現有條款或增加任何適當條款的權利，而條款改動後將會在會員端跑馬燈上公布。</p><p>10.	無論在任何情況下，本公司具有最終的解釋權。</p><p>11.	若經本公司發現會員以不正當手法&lt;利用外掛程式&gt;進行投注或以任何非正常方式進行的個人、團體投注有損公司利益之投注事情發生，本公司保留權利取消該類注單以及注單產生之紅利，並停用該會員帳號。</p><p>12.	無風險投注包括在百家樂同時投注的莊閑，單雙，大小。龍虎鬥中同時投注龍虎，龍雙龍單，虎雙虎單。在輪盤同時投注黑紅，單雙，大小等相反的下注，本公司保留權利取消所有優惠、該注單以及單註產生之紅利，並停用該會員帳號之權利，本公司不承擔對此做出任何說明及解釋之責任。<br>若本公司發現會員有重覆申請帳號行為時，保留取消、收回會員所有優惠紅利，以及優惠紅利所產生的盈利之權利。每位玩家、每一電子郵箱、每一電話號碼、每一收款銀行帳號，以及共享電腦環境(例如:網吧、其他公共用電腦等)只能夠擁有一個會員帳號，各項優惠只適用於每位客戶在本公司唯一的帳戶。<br>所有的優惠是特別為玩家而設，在玩家註冊信息有爭議時，為確保雙方利益、杜絕身份盜用行為，本公司保留權利要求客戶向我們提供充足有效的文件， 並以各種方式辨別客戶是否符合資格享有我們的任何優惠。<br>本公司是提供互聯網投注服務的機構。請會員在註冊前參考當地政府的法律，在博彩不被允許的地區，如有會員在本公司平台註冊、下注，為會員個人行為，本公司不負責、承擔任何相關責任。<br>無論是個人或是團體，如有任何威脅、濫用優惠的行為，本公司保留權利取消、收回由優惠產生的紅利，並保留權利追討最高50%手續費。<br>客戶一經註冊開戶，將被視為接受所有頒布在本公司網站上的規則與條例。</p><h1>二、真人娛樂條款</h1><p>1.	當您下注後，請等待顯示“您共下注XXXX元”，這個訊息在中間的訊息窗口可以看見。</p><p>2.	開牌後，若您已有下注，請確認您的輸贏金額，這個訊息在中間的訊息窗口可以看見。</p><p>3.	您的“總下注金額”及“贏得金額”亦會每局顯示於右上角的視窗中，請會員詳加確認。</p><p>4.	當會員在遊戲中途發生網路問題而斷線，所有已被確定的投注仍然有效。會員再重新登入時，就可以查詢遊戲端內的“下注記錄”查詢發牌結果，會員的額度也會隨著當局的輸贏增加或減少。</p><p>5.	如果您在訊息窗口看到“開牌”的話，而您的遊戲畫面未顯示投注金額，這代表該局您的投注不成功，這有可能下注的時間太遲或是因為網路問題而沒有被系統接受。</p><p>6.	百家樂遊戲在本網內設計為每手牌局前不銷牌。</p><p>7.	當會員進入遊戲，超過5局沒下注會有提示。若您連續10局未下注的時候將會被遊戲彈出至首頁，請會員重新登入。若會員於下注開牌期間強行登出，帳號將被系統鎖住三分鐘，請會員稍後再重新登入。</p><p>8.	本網上遊戲是在現場把牌通過掃描後將牌例顯示在會員端螢幕上，故若牌沒掃描到必將重新掃描一遍，若還是沒有感應則把牌翻開由現場公務輸入牌卡數碼，牌例便會顯示在會員端螢幕上。</p><p>9.	當荷官不小心同時從牌靴中抽出兩張牌，而掃描到的不是按順序正確的那張牌：<br>（a）若牌局已開牌，而結果不符，系統將根據現況決定牌的先後擺放順序之開牌結果進行手動開牌，並換上新牌靴開始新局。<br>（b）若牌局未開牌，則由現場公務決定牌的先後擺放順序，牌局會如常繼續。</p><p>10.	在洗牌或將牌放入牌靴過程中，有牌不慎曝光，荷官會把牌疊起並重新洗牌，牌局將重新開始。</p><p>11.	牌局進行中，未揚牌前(該張牌未於視訊顯示點數花色前)，牌不慎離開台面，牌丟落地上，或離開視訊範圍，則該牌局予以註銷作廢，所有下注本金退回。</p><p>12.	若該牌已經過掃描且已揚牌後，該牌不慎離開台面，牌丟落地上，或離開視訊範圍，因其不影響遊戲之正確結果，牌由現場工務擺回後，該牌局正常行其結果仍視為有效。</p><p>13.	派錯牌例（已不須補牌，荷官仍補牌）現場工務會把多補的那張牌放到牌靴底，牌局結果依視訊顯示為準，牌局將如常進行。若該張多補的牌已亮開，公務將在做完以上同樣程序後換上新牌靴，牌局會重新開始。</p><p>14.	荷官未依閑、莊發牌正確順序將牌放錯位置，由工務將牌依正確順序擺放回位置後牌局將照常繼續。</p><p>15.	開牌過程中，牌有感應但無顯示，荷官已亮牌（如:已派出數張牌，但第一張牌有感應但未顯示，至第二、三張牌顯示在錯誤的閑、莊位置上），現場工務會依牌的正確次序輸入代碼，牌局將如常繼續。</p><p>16.	同一張牌，掃描了一次出現2張（閑、莊位置各一張）<br>（a）若牌局已開牌，而結果不符，系統將根據視訊荷官完成該局之正確結果進行手動開牌，牌局也將在牌路無誤的情況下如常繼續。<br>（b）若牌局未開牌，荷官避開掃描如常開牌後，工務將輸入牌之正確數碼，並修正不符那張牌的花色、點數，牌局會如常繼續。</p><p>17.	電腦、掃描器出現異常、牌局中斷、牌無法掃描又無法輸入牌卡數碼時，該牌局便會作廢，所有程式將被關閉，並重開程式，牌局將重新開始。但若荷官發牌視訊已有結果，則以視訊開牌為主，會由系統完成開配。</p><p>18.	有關例行性維護、網路問題、視訊中斷、牌局作廢、註銷情況等事宜，皆可於會員端左上角處公告欄上得知最新訊息。</p><p>19.	發牌視訊僅保留三日，若有異議請於遊戲當日起三日內提出，三日後恕不受理。</p><p>20.	本娛樂場之視訊為真人直播，故該局遊戲若因國際線路傳輸問題出現爭議，將以視訊看到牌局結果決定輸贏。</p><p>21.	本娛樂場所提供之牌路僅供參考，若因國際線路問題或其他因素造成牌路顯示有誤，所有遊戲結果將以視訊開牌及遊戲記錄為主。</p><p>22.	本公司保留一切有爭議事項的修正及最後的決策。</p><p>23.	本娛樂場保留隨時更改、修訂或刪除遊戲、遊戲規則（包括機率及賠率）及協議條款的權利而無須做事先通知。</p><p>24.	本娛樂場保留隨時修訂、撤銷或中止任何投注的權利而無須做事先通知，亦無須做任何解釋。</p><p>25.	本娛樂場記錄每一項於本網站伺服器內執行的交易及投注功能。若會員認為向本娛樂場提供的資料與本網站資料庫中的資料記錄之間出現了任何聲稱的差異，一切均以本網站資料庫的資料為準。</p><p>26.	當會員已於本娛樂場之遊戲廳內下注，而電腦出現連線異常導致牌局中斷時，會員最後押住仍視為有效，本娛樂場將以會員於本網站資料庫的交易記錄為準。</p><p>27.	會員在本娛樂場之遊戲廳內任何遊戲的押注記錄均視為有效，會員需自行承擔下注後的風險。<br>若經本公司發現會員以不正當手法&lt;利用外掛程式&gt;進行投注或以任何非正常方式進行的個人、團體投注有損公司利益之投注事情發生，本公司保留取消該類注單之權利。</p><h1>三、彩票類遊戲</h1><p>1.	當您在下注之後，請等待顯示“下注成功”資訊。</p><p>2.	為了避免出現爭論，您必須在下注之後檢查“下注狀況”。</p><p>3.	任何的投訴必須在開彩之前提出，本公司不會受理任何開彩之後的投訴。</p><p>4.	所有投注項目，公布賠率時出現的任何打字錯誤或非故意人為失誤，本公司保留改正錯誤和按正確賠率結算投注的權力。</p><p>5.	開彩後的投注，將被視為“無效”。所有賠率將不時浮動，派彩時的賠率將以確認投注時之賠率為準。</p><p>6.	所有賽果以官方網站公布的結果為依據，若因官網延遲、錯誤或取消。本公司保留對已下注注單的裁決權。</p><p>7.	若發生兩顆球同時吸起，將依照在結果區之號碼球為主。</p><p>8.	在遊戲尚未完成開配之前，若因機器問題而導致有結果產生，該局將一律註銷。</p><p>9.	在下注時間尚未結束之前，若因任何因素導致有結果產生，該局將一律註銷。</p><p>10.	若該局己有結果但與實際結果不符，系統將根據視訊完成該局之正確結果進行手動開牌。</p><h1>四、電子遊藝</h1><p>1.	電子遊戲中獎畫面與派彩結果不符時，本公司將以資料庫最終結果為依據。</p><p>2.	彩池金額是以滿注中獎結果顯示，玩家中獎系以押注比例分配彩池金額。</p><p>3.	老虎機遊戲過程中如遇斷線情況將以資料庫最終結果為依據，本公司保留對已下注注單的裁決權。</p><p>4.	21點遊戲補牌中如遇玩家斷線，則視玩家為不補牌。遊戲結果將視為有效。</p>
    </el-collapse-item>
    <el-collapse-item title="如何註冊？" name="2">
        <p>打開本公司的網站後，點擊登錄區的註冊，如實填寫您的資料信息，確認送出後即可完成註冊。</p>
    </el-collapse-item>
    <el-collapse-item title="如何登錄會員中心？" name="3">
        <p>在選單底部點擊登錄，在登錄頁面輸入正確的帳號及密碼後，即可登錄。</p>
    </el-collapse-item>
    <el-collapse-item title="登錄時密碼提示錯誤，我該怎麽辦？" name="4">
        <p>首先請您再次確認輸入的密碼是否正確，必須是6-12個字符（由大小寫英文字母和數字組成）。若確認後仍提示錯誤，建議您通過自助流程找回密碼。或者，您也可以在線客服協助您找回密碼。</p>
    </el-collapse-item>
    <el-collapse-item title="我可以註冊多個帳號嗎？" name="5">
        <p>客戶不可以同時擁有多個帳號，如發現客戶擁有多個戶口，公司有權取消其戶口以及投注，本公司保留權利取消或關閉您的帳戶本公司有權限制客戶只保留其中一個戶口。</p>
    </el-collapse-item>
    <el-collapse-item title="我想刪除/註銷我的帳號可以嗎？" name="6">
        <p>本公司不會以任何理由註銷玩家帳號。您可在線客服申請停用帳號，以停止其帳號的使用。</p>
    </el-collapse-item>
    <el-collapse-item title="如何找回登錄密碼？" name="7">
        <p>若忘記登錄密碼，請點擊頁面頂部登錄區（或其他相關頁面）的“忘記密碼？”，然後根據頁面提示進行操作即可。<br>具體操作步驟如下：<br>(1)輸入您要找回登錄密碼的手機號／郵箱地址。<br>(2)根據頁面提示，選擇其中一種找回方式。<br>(3)核實身份後，重新設置新的登錄密碼。<br>(4)登錄密碼修改成功。</p>
    </el-collapse-item>
    </el-collapse>
</el-row>
</template>
<script>
  export default {
    methods: {
    },
    data() {
      return {
          activeNames:this.$route.params.id
      };
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

    .help-right-content >.title-open {
        font-size: 18px;
        margin: 20px 0;
        color: #111;
        font-weight: 600;
    }


    .help-right-content >.txt {
        font-size: 14px;
        line-height: 24px;
        color: #6c6c6c;
        text-indent: 2em;
        display: block;
    }

</style>
