<template>
<el-row >
    <div class="title">{{$route.name}}</div>
    <el-collapse style="padding: 0 30px;" v-model="activeNames" accordion>
    <el-collapse-item title="什麽是轉帳？" name="1" >
        <p>轉帳功能是指從主帳戶或某個平台向其餘平台進行轉帳，或反之.</p>
    </el-collapse-item>
    <el-collapse-item title="為什麼遊戲前要先進行轉帳？" name="2">
        <p>為了您更好，更順利的體驗遊戲，我們會提示您在進入遊戲前進行轉帳，避免進入遊戲之後需要登出遊戲來進行轉帳的反覆操作。同時，您可任意將額度轉至多個遊戲帳戶中，體驗不同遊戲的歡樂與刺激！.</p>
    </el-collapse-item>
    <el-collapse-item title="遊戲和遊戲之間可以互相轉帳嗎？" name="3">
        <p>本公司支持遊戲與遊戲之間進行直接轉帳！若您需要將B遊戲的帳戶金額轉至C遊戲時，直接選擇轉出平台為B遊戲，轉入平台為C遊戲，即可向C遊戲進行轉帳。</p>
    </el-collapse-item>
    <el-collapse-item title="為什麼向遊戲轉帳會失敗？" name="4">
        <p>向遊戲轉帳失敗可能存在以下幾種原因：<br>(1)第三方遊戲數據異常或正在升級維護中。<br>(2)數據對接異常，暫時無法進行資金操作。<br>(3)網絡連接異常，導致訂單超時。<br>轉帳失敗時，建議您重新發起請求，或稍等片刻後再進行操作！.</p>
    </el-collapse-item>

    </el-collapse>
</el-row>
</template>
<script>
  export default {
    methods: {
    },
    data() {
      return {
          activeNames:this.$route.params.id
      };
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

    .help-right-content >.title-open {
        font-size: 18px;
        margin: 20px 0;
        color: #111;
        font-weight: 600;
    }


    .help-right-content >.txt {
        font-size: 14px;
        line-height: 24px;
        color: #6c6c6c;
        text-indent: 2em;
        display: block;
    }

</style>
