<template>

<div>
	<div class="title">{{$route.name}}</div>
    <div class="help-right-content">
        <h4>投注</h4>
        <p>百家樂投注人數沒有嚴格上限，除了9人參與（小桌）或14人參與（大桌，兩邊圓弧各7人）賭場提供坐位以外，在旁站立者亦可自由參與投注。不過當莊家與閒家投注雙方注碼超過賭桌所限之限紅時，荷官會在發牌前點算莊家、閒家、對子和之投注區注碼（俗稱數紅），以示意超過該台限定金額（限定金額在每張賭桌均有示意），並著客人減注至限定金額以內方才開局，除了設定最高限紅外，每張賭桌亦設有最低投注額。</p>
        <p>而玩家如認為莊閒開出點數一樣，不能分出勝負，可押注和局(Tie)。玩家如認為莊、閒任一方（或兩方同時）所獲發的牌會出現一對，如兩張3或兩張Q，可押注對子(Pair)，同樣並無限制（10與J、Q或K或J、Q、K任意兩張所組成的牌雖然皆作0點，但並不算作對子）。</p>
        <p>另外莊家或閒家之投注注碼最大之坐位者有權自行、指定任一有投注之坐位或者由荷官揭開底牌（站立投注者不能揭開底牌）。而部分賭場之賭桌只能由荷官揭開底牌（這些在該張賭桌上均有說明）。</p>
        <h4>發牌與博牌</h4>
        <p>百家樂一般用8副牌，洗牌後8副牌放在發派箱內。莊、閒家雙方每局均會收到至少兩張牌，但不超過三張。第一及第三張牌發給「閒家」，第二及第四張牌則發給「莊家」。至於要否博牌則根據博牌規則（或稱牌例）決定。百家樂跟廿一點不同，玩家可下注於莊(Banker)或閒(Player)，並無限制。</p>
        <h4>點數計算方法</h4>
        <p>在百家樂中，Ace的撲克牌被算作1點。從2到9的撲克牌依點數不變，均依照其顯示的點數計算。10、J、Q及K的撲克牌則被算作零點（有些賭場以10點計）。當所有牌的點數總和超過9時，則只算總數中的個位。因此，一個8和一個9的牌點大小為：7點（8 + 9 = 17）。因百家樂中只計算撲克牌的個位數值，因此可能的最大點數為9點（如一個4 和一個 5：4 + 5 = 9），最少則為0點，又稱baccarat（如一個10 和一個 Q：10 + 10 = 20，只算個位是 0）</p>
        <h4>賠彩</h4>
        <p>賠彩時首兩張牌決定對子，然後根據博牌規則出現最後結果，以點數多寡決定莊、閒獲勝或和局（包含若有第三張牌發牌的情況）。玩家下注的一方另如所得點數是8或9點（即例牌），此時即可決定莊閒之勝負。</p>
        <h4>博牌規則</h4>
        <div style="overflow-x:auto;">
            <table class="table table-bordered" style=" min-width: 500px;">
                <tbody>
                    <tr>
                        <td width="15%">兩張牌點數合計</td>
                        <td width="15%">閒</td>
                        <td>莊</td>
                    </tr>
                    <tr>
                        <td>0</td>
                        <td>補一張牌</td>
                        <td>補一張牌</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>補一張牌</td>
                        <td>補一張牌</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>補一張牌</td>
                        <td>補一張牌</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>補一張牌</td>
                        <td>如果閒家補得第三張牌（非三張牌點數相加，下同）是8點，不須補牌，其他則需補牌</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>補一張牌</td>
                        <td>如果閒家補得第三張牌是0,1,8,9點，不須補牌，其他則需補牌</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>補一張牌</td>
                        <td>如果閒家補得第三張牌是0,1,2,3,8,9點，不須補牌，其他則需補牌</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>不須補牌</td>
                        <td>如果閒家需補牌（即前提是閒家為1至5點）而補得第三張牌是6或7點，補一張牌，其他則不需補牌</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>不須補牌</td>
                        <td>不須補牌</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>天牌，不須補牌</td>
                        <td>天牌，不須補牌</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>天牌，不須補牌</td>
                        <td>天牌，不須補牌</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>莊閒任何一方兩牌合計共的8或9點為例牌(Natural)，對方不須補牌，即定勝負（雙方同持8或9點話為和）。另外莊閒兩方各持6、7點的話亦為即定勝負（雙方同持6或7點的話為和）。</p>
        <h4>賠率</h4>
            <ol><li>下注莊家而莊贏者，贏1賠1，另扣5%佣給莊家。</li>
                <li>下注閒家而閒贏者，贏1賠1。</li>
                <li>下注和局（即最終點數一樣者），贏1賠8。</li>
                <li>下注對子（即莊或閒首兩張牌為同數字或英文字母者），贏1賠11。</li>
            </ol>
        <h4>機會率</h4>
        <p> 假設使用8副牌，各種情況機率如下表所示。所有投注情況的期望值均為負數，但以下注莊勝最佳。百家樂莊家的優勢只有1%左右，是各種賭場賭博中最少的一種。</p>
        <div style="overflow-x:auto;">
            <table class="table table-bordered" style=" min-width: 800px;">
                <tbody>
                    <tr>
                        <td></td>
                        <td>機會</td>
                        <td>下注<strong>莊家</strong>所得</td>
                        <td>下注<strong>莊家</strong>期望值</td>
                        <td>下注<strong>閒家</strong>所得</td>
                        <td>下注<strong>閒家</strong>期望值</td>
                        <td>下注<strong>和</strong>所得</td>
                        <td>下注<strong>和</strong>期望值</td>
                    </tr>
                    <tr>
                        <td>莊勝</td>
                        <td>0.458597</td>
                        <td>0.95</td>
                        <td>0.435668</td>
                        <td>-1</td>
                        <td>-0.458597</td>
                        <td>-1</td>
                        <td>-0.458597</td>
                    </tr>
                    <tr>
                        <td>閒勝</td>
                        <td>0.446247</td>
                        <td>-1</td>
                        <td>-0.446247</td>
                        <td>1</td>
                        <td>0.446247</td>
                        <td>-1</td>
                        <td>-0.446247</td>
                    </tr>
                    <tr>
                        <td>和</td>
                        <td> 0.095156</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>8</td>
                        <td>0.761248</td>
                    </tr>
                    <tr>
                        <td>總共</td>
                        <td>1</td>
                        <td></td>
                        <td>-0.010579</td>
                        <td></td>
                        <td>-0.012351</td>
                        <td></td>
                        <td>-0.143596</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</template>
<script>

</script>


<style >

</style>
