<template>
<div>
    <div class="title">{{$route.name}}</div>
        <div class="help-right-content">
            <div class="title-open">一、基本條款</div>
            <div class="txt">1. 為避免於本網站投注時之爭議，請會員務必於進入網站前詳閱本娛樂場所定之各項規則，客戶一經“我同意”進入本網站進行投注時，即被視為已接受本娛樂場的所有協議與規則。</div>
            <div class="txt">2. 會員有責任確保自己的帳戶以及登入資料的保密性，以會員帳號及密碼進行的任何網上投注，將被視為有效。敬請不定時做密碼變更之動作。若帳號密碼被盜用，進行的投注，本公司一概不負賠償責任。</div>
            <div class="txt">3. 本公司保留不定時更改本協定或遊戲規則或保密條例，更改之條款將從更改發生後指定之日起生效，並保留一切有爭議事項及最後的決策權。</div>
            <div class="txt">4. 用戶需達到居住地國家法律規定之合法年齡方可使用線上娛樂場或網站。</div>
            <div class="txt">5. 網上投注如未能成功提交，投注將被視為無效。</div>
            <div class="txt">6. 凡玩家於出牌途中且尚無結果前自動或強制斷線時，並不影響比賽之結果。</div>
            <div class="txt">7. 如遇發生不可抗拒之災害，駭客入侵，網絡問題造成數據丟失的情況，以本公司公告為最終方案。</div>
            <div class="txt">8. 特此聲明，本公司將會對所有的電子交易進行記錄，如有任何爭議，本公司將會以注單記錄為準。</div>
            <div class="txt">9. 本公司保留更改、修改現有條款或增加任何適當條款的權利，而條款改動後將會在會員端跑馬燈上公佈。</div>
            <div class="txt">10. 無論在任何情況下，本公司具有最終的解釋權。</div>
            <div class="txt">11. 若經本公司發現會員以不正當手法&lt;利用外掛程式&gt;進行投注或以任何非正常方式進行的個人、團體投注有損公司利益之投注事情發生，本公司保留權利取消該類注單以及注單產生之紅利，並停用該會員帳號。</div>
            <div class="txt">12. 無風險投注包括在百家樂同時投注的莊閒，單雙，大小。龍虎鬥中同時投注龍虎，龍雙龍單，虎雙虎單。在輪盤同時投注黑紅，單雙，大小等相反的下注，本公司保留權利取消所有優惠、該注單以及單註產生之紅利，並停用該會員帳號之權利，本公司不承擔對此做出任何說明及解釋之責任。若本公司發現會員有重複申請帳號行為時，保留取消、收回會員所有優惠紅利，以及優惠紅利所產生的盈利之權利。每位玩家、每一電子郵箱、每一電話號碼、每一收款銀行帳號，以及共享電腦環境(例如:網吧、其他公共用電腦等)只能夠擁有一個會員帳號，各項優惠只適用於每位客戶在本公司唯一的帳戶。所有澳門銀河的優惠是特別為玩家而設，在玩家註冊信息有爭議時，為確保雙方利益、杜絕身份盜用行為，澳門銀河保留權利要求客戶向我們提供充足有效的文件， 並以各種方式辨別客戶是否符合資格享有我們的任何優惠。澳門銀河賭場是提供互聯網投注服務的機構。請會員在註冊前參考當地政府的法律，在博彩不被允許的地區，如有會員在澳門銀河註冊、下注，為會員個人行為，澳門銀河不負責、承擔任何相關責任。無論是個人或是團體，如有任何威脅、濫用澳門銀河優惠的行為，澳門銀河保留杈利取消、收回由優惠產生的紅利，並保留權利追討最高50%手續費。客戶一經註冊開戶，將被視為接受所有頒佈在澳門銀河網站上的規則與條例。</div>
            <div class="title-open">二、真人娛樂條款</div>
            <div class="txt">1. 當您下注後，請等待顯示“您共下注XXXX元”，這個訊息在中間的訊息窗口可以看見。</div>
            <div class="txt">2. 開牌後，若您已有下注，請確認您的輸贏金額，這個訊息在中間的訊息窗口可以看見。</div>
            <div class="txt">3. 您的“總下注金額”及“贏得金額”亦會每局顯示於右上角的視窗中，請會員詳加確認。</div>
            <div class="txt">4. 當會員在遊戲中途發生網路問題而斷線，所有已被確定的投注仍然有效。會員再重新登入時，就可以查詢遊戲端內的“下注記錄”查詢發牌結果，會員的額度也會隨著當局的輸贏增加或減少。</div>
            <div class="txt">5. 如果您在訊息窗口看到“開牌”的話，而您的遊戲畫面未顯示投注金額，這代表該局您的投注不成功，這有可能下注的時間太遲或是因為網路問題而沒有被系統接受。</div>
            <div class="txt">6. 百家樂遊戲在本網內設計為每手牌局前不銷牌。</div>
            <div class="txt">7. 當會員進入遊戲，超過5局沒下注會有提示。若您連續10局未下注的時候將會被遊戲彈出至首頁，請會員重新登入。若會員於下注開牌期間強行登出，帳號將被系統鎖住三分鐘，請會員稍後再重新登入。</div>
            <div class="txt">8. 本網上游戲是在現場把牌通過掃描後將牌例顯示在會員端螢幕上，故若牌沒掃描到必將重新掃描一遍，若還是沒有感應則把牌翻開由現場公務輸入牌卡數碼，牌例便會顯示在會員端螢幕上。</div>
            <div class="txt">9. 當荷官不小心同時從牌靴中抽出兩張牌，而掃描到的不是按順序正確的那張牌：</div>
            <div class="txt">     （a）若牌局已開牌，而結果不符，系統將根據現況決定牌的先後擺放順序之開牌結果進行手動開牌，並換上新牌靴開始新局。</div>
            <div class="txt">     （b）若牌局未開牌，則由現場公務決定牌的先後擺放順序，牌局會如常繼續。</div>
            <div class="txt">10. 在洗牌或將牌放入牌靴過程中，有牌不慎曝光，荷官會把牌疊起並重新洗牌，牌局將重新開始。</div>
            <div class="txt">11. 牌局進行中，未揚牌前(該張牌未於視訊顯示點數花色前)，牌不慎離開檯面，牌丟落地上，或離開視訊範圍，則該牌局予以註銷作廢，所有下注本金退回。</div>
            <div class="txt">12. 若該牌已經過掃描且已揚牌後，該牌不慎離開檯面，牌丟落地上，或離開視訊範圍，因其不影響遊戲之正確結果，牌由現場工務擺回後，該牌局正常行其結果仍視為有效。</div>
            <div class="txt">13. 派錯牌例（已不須補牌，荷官仍補牌）現場工務會把多補的那張牌放到牌靴底，牌局結果依視訊顯示為準，牌局將如常進行。若該張多補的牌已亮開，公務將在做完以上同樣程序後換上新牌靴，牌局會重新開始。</div>
            <div class="txt">14. 荷官未依閒、莊發牌正確順序將牌放錯位置，由工務將牌依正確順序擺放回位置後牌局將照常繼續。</div>
            <div class="txt">15. 开牌过程中，牌有感应但无显示，荷官已亮牌（如:已派出数张牌，但第一张牌有感应但未显示，至第二、三张牌显示在错误的闲、庄位置上），现场工务会依牌的正确次序输入代码，牌局将如常继续。</div>
            <div class="txt">16. 同一张牌，扫描了一次出现2张（闲、庄位置各一张）</div>
            <div class="txt">     （a）若牌局已开牌，而结果不符，系统将根据视讯荷官完成该局之正确结果进行手动开牌，牌局也将在牌路无误的情况下如常继续。</div>
            <div class="txt">     （b）若牌局未开牌，荷官避开扫描如常开牌后，工务将输入牌之正确数码，并修正不符那张牌的花色、点数，牌局会如常继续。</div>
            <div class="txt">17. 电脑、扫描器出现异常、牌局中断、牌无法扫描又无法输入牌卡数码时，那一个牌局便会作废，所有程式将被关闭，并重开程式，牌局将重新开始。但若荷官发牌视讯已有结果，则以视讯开牌为主，会由系统完成开配。</div>
            <div class="txt">18. 有关例行性维护、网路问题、视讯中断、牌局作废、注销情况等事宜，皆可于会员端左上角处公告栏上得知最新讯息。</div>
            <div class="txt">19. 发牌视讯仅保留三日，若有异议请于游戏当日起三日内提出，三日后恕不受理。</div>
            <div class="txt">20. 本娱乐场之视讯为真人直播，故该局游戏若因国际线路传输问题出现争议，将以视讯看到牌局结果决定输赢。</div>
            <div class="txt">21. 本娱乐场所提供之牌路仅供参考，若因国际线路问题或其他因素造成牌路显示有误，所有游戏结果将以视讯开牌及游戏记录为主。</div>
            <div class="txt">22. 本公司保留一切有争议事项的修正及最后的决策。</div>
            <div class="txt">23. 本娱乐场保留随时更改、修订或删除游戏、游戏规则（包括机率及赔率）及协议条款的权利而无须作事先通知。</div>
            <div class="txt">24. 本娱乐场保留随时修订、撤销或中止任何投注的权利而无须作事先通知，亦无须作任何解释。</div>
            <div class="txt">25. 本娱乐场记录每一项于本网站伺服器内执行的交易及投注功能。若会员认为向本娱乐场提供的资料与本网站资料库中的资料记录之间出现了任何声称的差异，一切均以本网站资料库的资料为准。</div>
            <div class="txt">26. 当会员已于本娱乐场之游戏厅内下注，而电脑出现连线异常导致牌局中断时，会员最后押住仍视为有效，本娱乐场将以会员于本网站资料库的交易记录为准。</div>
            <div class="txt">27. 会员在本娱乐场之游戏厅内任何游戏的押注记录均视为有效，会员需自行承担下注后的风险。若经本公司发现会员以不正当手法&lt;利用外挂程式&gt;进行投注或以任何非正常方式进行的个人、团体投注有损公司利益之投注事情发生，本公司保留取消该类注单之权利。</div>
            <div class="title-open">三、彩票类游戏</div>
            <div class="txt">1.	当您在下注之后，请等待显示“下注成功”资讯。</div>
            <div class="txt">2.	为了避免出现争论，您必须在下注之后检查“下注状况”。</div>
            <div class="txt">3.	任何的投诉必须在开彩之前提出，本公司不会受理任何开彩之后的投诉。</div>
            <div class="txt">4.	所有投注项目，公布赔率时出现的任何打字错误或非故意人为失误，本公司保留改正错误和按正确赔率结算投注的权力。</div>
            <div class="txt">5.	开彩后的投注，将被视为“无效”。所有赔率将不时浮动，派彩时的赔率将以确认投注时之赔率为准。</div>
            <div class="txt">6.	所有赛果以官方网站公布的结果为依据，若因官网延迟、错误或取消。本公司保留对已下注注单的裁决权。</div>
            <div class="txt">7.	若发生两颗球同时吸起，将依照在结果区之号码球为主。</div>
            <div class="txt">8.	在游戏尚未完成开配之前，若因机器问题而导致有结果产生，该局将一律注销。</div>
            <div class="txt">9.	在下注时间尚未结束之前，若因任何因素导致有结果产生，该局将一律注销。</div>
            <div class="txt">10. 若该局己有结果但与实际结果不符，系统将根据视讯完成该局之正确结果进行手动开牌。</div>
            <div class="title-open">四、电子游艺</div>
            <div class="txt">1.	电子游戏中奖画面与派彩结果不符时，本公司将以资料库最终结果为依据。</div>
            <div class="txt">2.	彩池金额是以满注中奖结果显示，玩家中奖系以押注比例分配彩池金额。</div>
            <div class="txt">3.	老虎机游戏过程中如遇断线情况将以资料库最终结果为依据，本公司保留对已下注注单的裁决权。</div>
            <div class="txt">4.	21点游戏补牌中如遇玩家断线，则视玩家为不补牌。游戏结果将视为有效。</div>
            <div class="txt">5.	红狗游戏过程中如遇断线情况将视为玩家不加注进行补牌，完成该局游戏结果。</div>
        </div>
    </div>
</template>
<script>
  export default {
    methods: {
    },
    data() {
      return {
      };
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

    .help-right-content >.title-open {
        font-size: 18px;
        margin: 20px 0;
        color: #111;
        font-weight: 600;
    }


    .help-right-content >.txt {
        font-size: 14px;
        line-height: 24px;
        color: #6c6c6c;
        text-indent: 2em;
        display: block;
    }



</style>
