<template>
<div>
	<div class="title">{{$route.name}}</div>
    <div class="help-right-content">
        <ol><li>我們致力為客戶保護隱私並提供一個最安全的遊戲平台，我們在此站蒐集的資料將會為您提供最卓越的服務，我們絕對不會出賣或租賃您的個人資料給第三方，客戶所提供的個人資料均經過加密技術處理，並儲存在安全、非公開的作業系統，對於有機會接觸客戶的個人資料的協助夥伴也必須遵守我們訂立的隱私保密規則。</li>
        <li>您需要保管好您的帳號和密碼安全，不允許任何人或協力廠商、包括任何未成年人使用或重複使用您的帳戶進行任何網站訪問及投注操作。本公司將有權拒絕支付由此產生的任何獎勵或獎金。您將獨自為協力廠商在帳戶中產生的所有損失負責。</li>
        <li>您可能會收到一些定期的信件或簡訊，向您更新有關本公司產品的資訊與服務，當本網推出新穎，好玩和有趣的推廣活動，這些信件或簡訊就可幫助您充分享受到本網的服務。</li>
        <li>我們的系統會自動記錄瀏覽者的網路IP位址，但我們絕不會記錄網站訪問者的電郵位址，而此項主要是用作網站流量統計之用。</li>
        <li>本公司保留權力可自行對隱私政策做出任何修改，此政策如有任何更改均具有約束力，並立即生效。</li>
        <li>本站絕對不會洩露您的個人資料給任何第三方，除非收到法庭傳單或可行性法律的要求及判決。</li>
        <li>我們有權通過網站向有關付款平台服務提供商以及金融保險機構提供必要的個人資料以完成付款要求。</li>
        <li>所有用戶提供的個人資料，其傳送都將通過安全端口（SSL 128 bit encryption Standard）並存放在公眾無法進入的保密環境之下。所有數據的內部出入都受到限制及嚴密的監控。</li>
        <li>如有其他任何問題，請您聯繫24小時在線客服。</li></ol>
    </div>
</div>
</template>
<script>

</script>

<style scoped>

</style>
