<template>
	<div>
		<div class="title">{{$route.name}}</div>
		<div class="help-right-content">
			<h4>步驟１</h4>
			<p>點擊「儲值點數」按鈕(須先設定銀行帳戶後，方可點擊)→進入畫面後點擊「前往儲值」</p>
			<h4>步驟２</h4>                    
			<p>選擇一種儲值方法並輸入儲值點數→點擊「取得代碼」按鍵，請依據產生之代碼完成繳費程序(或透過『儲值紀錄』查詢繳費資訊)</p>
			<h4>ＡＴＭ</h4>
			<img src="http://www.7pk999.com/assets/www/images/guide/04.jpg" class="img-fluid"> 
			<p>選擇ATM儲值者，在新視窗畫面取得帳號後便可轉帳</p>           
			<h4>ibon儲值</h4>
			<p>在新視窗畫面取得繳費代碼後便可繳費</p>            
			<h4>全家Farmport儲值</h4>            
			<p>輸入行動電話號碼後，便可按照網頁繳費方式順序繳費</p>
			<h4>儲值完成</h4>
			<p>完成繳費後，於電子錢包，選擇『點數轉移』(各遊戲廳點數，需透過轉移手續轉移點數)，                
			將電子錢包點數依 指定金額 轉移至 指定遊戲廳</p>
		</div>	
	</div>
</template>

<script>

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>

</style>
