<template>
<div>
	<div class="title">{{$route.name}}</div>
    <div class="help-right-content">
        <h4>步驟１</h4>
        <p>「完美娛樂城」正在積極努力為玩家提供一個優質的休閒娛樂平台。這些問題設置的目的在於，本站已設置並升級了多項安全措施來確保我們遊戲的公平公正性。</p>
        <p>我們鼓勵客戶通過回答我們的問卷來了解客戶對博彩的危害問題的狀況：</p>
        <h4>博彩調查問卷：</h4>
        <ol class="teb"><li>你會因為躲避工作和學習來進行博彩遊戲嗎？</li>
            <li>你會因為無聊或者心情不好而來進行博彩遊戲嗎？</li>
            <li>你在線上注金投注完時，是否會感覺錢丟掉了或者說要儘快的再次儲值下注？</li>
            <li>你會一直進行博彩遊戲直到你的點數都輸完嗎？</li>
            <li>你是否有說謊言借錢，甚至盜竊來進行博彩遊戲？</li>
            <li>你是否會刻意隱藏你在博彩中花費的時間和資金嗎？</li>
            <li>你是否不願意花費你的個人資金在其他生活方面呢？</li>
            <li>你是否已經對家人，朋友和愛好失去了相處的耐心，只想將所有時間投入到博彩遊戲裡面呢？</li>
            <li>假設你的資金全部儲值並且投注完，你是否會想要儘快贏回你輸掉的資金？</li></ol>
        <p>如果您的大部分答案選擇為“是”，您可能已經沉迷於賭博，我們建議您將博彩遊戲當做是生活上的一種休閒娛樂項目，有克制的進行相關的遊戲，避免連續的損失，並且對於博彩要有自己的認識，合理安排自己在博彩中的時間和精力。</p>
        <h4>自我隔離：</h4>
        <p>對於一些客戶希望暫時遠離博彩避免沉迷於其中，我們將提供一個自我排除的服務項目，您可以直接向線上客服申請三個月到兩年的帳戶關閉。如有其他問題，隨時可以向線上客服諮詢各項資訊。</p>
        <h4>年齡限制：</h4>
        <p>18歲以下的人群是禁止進行博彩遊戲的，本公司將保有對顧客所提供的年齡信息證明做查詢查證的權力，如發現年齡證明與客戶所提供的不符，我們將直接關閉客戶的帳號以及凍結所剩餘的資金。各地的法令條款不同，因此我們建議客戶在進行博彩遊戲前，翻閱當地法律進行查詢。本公司建議禁止您開設多重帳號，匿名用戶名，密碼的濫用。
            如有任何問題，請您聯繫24小時線上客服。</p>
    </div>

</div>
</template>
<script>

</script>

<style>

.help-right-content {
	line-height: 24px;
}
</style>
