/* Responsive CSS Document */

/* 
    Created on : 1/15/2017. 
    Theme Name : BizPro.
    Description: BizPro- Responsive html5 template.
    Version    : 1.1.
    Author     : @SRThemes.
   
*/



@media (min-width: 992px) {
	.container {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
    .story-area .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;margin: 0 auto;
}
}

@media (max-width: 1199px) {
  #team-section .team-member-wrapper .single-team-member .img .opacity p {padding: 0 15px;}
  #team-section .team-member-wrapper .single-team-member .img .opacity {padding-top: 20px;}
  .habilidades_contenedor {margin-top: 100px;}
}
/*(max-width: 1199px)*/

@media (max-width: 991px) {
  .theme-title p,#skill-section .img img {width: 100%;}
  #skill-section {padding-bottom: 30px;}
  .blog-details-page aside {margin-top: 100px;}
  .blog-details-post-wrapper>.row p {margin-bottom: 30px;}
	#about-us .box{width: auto;margin-top:0px;}
   .story-area:after {display: none;}
    .story-area .story-box {max-width: 540px;margin: 0 auto;}
    .story-title {text-align: center;margin-bottom: 50px;}
}
/*(max-width: 991px)*/

@media (min-width: 992px) and (max-width: 1199px) {
  .theme-main-header .logo {width: 15%;}
  .theme-main-menu .navbar-nav>li>a {padding: 9px 12px;}
  .theme-title p {width: 95%;}
  #our-client .client-slider p {width: 70%;}
  .recent-single-post .post {width: 75%;}
  .banner h1 {font-size: 50px;}
  .banner h2 {font-size: 24px;}
  .banner h6 {font-size: 18px;}
  #team-section .team-member-wrapper .single-team-member .img .opacity p {
    font-size: 16px;
    line-height: 24px;}
  #caerres-section .caerres-img{
	position:relative;z-index:0;
	width:940px;height: 282px;}
  .caerres-img .fe{
	position: absolute;z-index:1;
	top: 0;left: 0;
	width:232px;height: 282px;}
  .caerres-img .be{
	position:absolute;z-index:2;
	top: 0;left: 146px;
	width:369px;height: 214px;}
  .caerres-img .mp{
	position: absolute;z-index:3;
	top: 0;left: 427px;
	width:232px;height: 282px;}
  .caerres-img .md{
	position: absolute;z-index:4;
	top: 0;left: 572px;
	width:369px;height: 214px;}
}

/*(min-width: 992px) and (max-width: 1199px)*/

@media (min-width: 768px) and (max-width: 991px) {
  .theme-main-header .logo {width: 22%; margin: 0 auto;float:none; display: block;}
  .theme-main-menu.navbar {
    float: none;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    width: 564px;
    margin-right: auto;
}
  .theme-main-menu .navbar-nav>li>a {padding: 9px 8px;}
  .theme-main-header.fixed .logo {display: none;}
  .theme-main-header.fixed .theme-main-menu.navbar {margin-top: 0;}
  #project-section .project-gallery .grid-item,
  #team-section .team-member-wrapper .float-left {width: 50%;}
  #our-client .client-slider p {width: 90%;}
  .inner-page-banner .opacity {padding-top: 210px;}
  .navbar{min-height: auto;}
  .banner h1 {font-size: 42px;}
  .banner h2 {font-size: 22px;line-height: 33px;}
  .slide-2img{width: 350px;height: 265px;}
  .banner h6 {font-size: 16px;}
  #caerres-section .caerres-img{
	position:relative;z-index:0;
	width:730px;height: 219px;}
  .caerres-img .fe{
	position: absolute;z-index:1;
	top: 0;left: 0;
	width:180px;height: 219px;}
  .caerres-img .be{
	position:absolute;z-index:2;
	top: 0;left: 114px;
	width:286px;height: 166px;}
  .caerres-img .mp{
	position: absolute;z-index:3;
	top: 0;left: 333px;
	width:180px;height: 219px;}
  .caerres-img .md{
	position: absolute;z-index:4;
	top: 0;left: 444px;
	width:286px;height: 166px;}
}
/*(min-width: 768px) and (max-width: 991px)*/

@media (max-width: 767px) {
  .scroll-top {bottom: 10px; right:5px;}
  .theme-main-header {padding-top: 15px;}
  .theme-main-header .logo {position: absolute;top:15px;left:15px;z-index: 99;}
  .theme-main-menu.navbar {float:none;width: 100%;}
  .theme-main-header.fixed {background: #1e1e1e;max-height: 100%;overflow-y:auto;}
  .theme-main-menu .navbar-collapse {padding: 0 15px;box-shadow: none;border:none;background: #1e1e1e;margin-top: 15px;}
  .theme-main-header li.dropdown-holder .fa {display: block;}
  .theme-main-menu .navbar-nav>li>a {padding: 0 15px;line-height: 44px;text-align: center;}
  .theme-main-menu .navbar-nav>li>a.btn-login{
    margin: 0 20%;
    padding: 0px;
    background-color:#b38629;
    border-radius: 20px;
    line-height: 40px;
}
.theme-main-menu .navbar-nav>li>a.btn-register{
    margin: 10px 20% 0px 20%;
    padding: 0px;
    border: 1px solid #b38629;
    border-radius: 20px;
    line-height: 38px;
} 
    
  .theme-main-menu.navbar .nav>li ul.sub-menu {
    position: static;
    width: 100%;
    opacity: 1;
    background: #000;
    visibility: visible;
    display: none;
    padding-left: -15px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
  }
  #pricing-section .single-price-table {margin-bottom: 50px;}
  #project-section .project-gallery .grid-item {width: 50%;}
  #team-section .team-member-wrapper .float-left,
  #team-section .team-member-wrapper .float-left img,
  #our-client .client-slider p {width: 100%;}
  #team-section .team-member-wrapper .float-left,
  #project-section .project-gallery .grid-item,
  #service-section .row [class*="col-"],#skill-section [class*="col-"],
  #pricing-section [class*="col-"],
  #contact-section .contact-address-content [class*="col-"],
  #blog-section [class*="col-"],.theme-main-header .container,
  .blog-details-page .p-fix {padding-left: 0;padding-right: 0;}
  .banner h1 {font-size: 30px;}
  .banner h2 {font-size: 16px;line-height: 24px;}
	.slide-2img{width: 250px;height: 189px;}
  .banner h6 {font-size: 14px;}
	#industries-section  h4{
    margin-top: -30px;
    padding-bottom: 0px;}
	.caerres-img .fe{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-image: url(../images/caerres-FE2.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.caerres-img .be{
	position:absolute;z-index:2;
	top: 0;left: 111px;
	background-image: url(../images/caerres-BE2.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.caerres-img .mp{
	position: absolute;z-index:3;
	top: 141px;left: 0px;
	background-image: url(../images/caerres-MP2.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.caerres-img .md{
	position: absolute;z-index:4;
	top: 141px;left: 111px;
	background-image: url(../images/caerres-MD2.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
	#caerres-section .caerres-img{
	position:relative;z-index:0;
	width:290px;height: 290px;margin-top:15px;}
  .caerres-img .fe{
	position: absolute;z-index:1;
	top: 0;left: 0;
	width:149px;height: 179px;}
  .caerres-img .be{
	position:absolute;z-index:2;
	top: 0;left: 112px;
	width:179px;height: 149px;}
  .caerres-img .mp{
	position: absolute;z-index:3;
	top: 142px;left: 0px;
	width:179px;height: 149px;}
  .caerres-img .md{
	position: absolute;z-index:4;
	top: 112px;left: 142px;
	width:149px;height: 179px;}
    .nav-tabs.nav-justified > li {
    float: left;}
    .nav-tabs > li > a{color: #fff;}
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #e4bb7b;
    cursor: default;
    background-color: transparent;
    border: 1px solid #c39653;
    border-radius: 4px;
}
}
/*(max-width: 767px)*/

@media (max-width: 650px) {
  #success, #error {
    width: 84%;
    height: auto;
    top: calc(50% - 50px);
    left: 8%;
    padding: 30px 10px;
    margin:0;
}
  .blog-details-post-wrapper .list-img-wrapper img,
  .blog-details-post-wrapper .post-share-area ul {float:none; width: 100%;}
  .blog-details-post-wrapper .list-img-wrapper ul {float:none;padding: 30px 0 0 0;}
  .blog-details-post-wrapper .post-share-area .share-icon li:first-child {margin-top: 30px;}
}

@media (max-width: 550px) {
  #project-section .project-gallery .grid-item,
  #project-section .project-gallery .grid-item img {width: 100%;}
  #project-section .project-menu ul li {font-size: 14px;margin: 15px 2px 0;border-bottom: 1px solid #fff;}
  #team-section .team-member-wrapper .single-team-member .img .opacity span {margin: 5px 0;}
  #team-section .team-member-wrapper .single-team-member .member-name ul li a {width: 40px;line-height: 38px;}
  .banner h1 {font-size: 20px;}
  .banner h2 {font-size: 13px;line-height: 19px;}
  .banner h6 {font-size: 11px;}
  .blog-details-post-wrapper .comment-area .single-comment.reply-comment {margin-left: 60px;}
  .theme-title h2{font-size: 45px;line-height: 45px;}
  .theme-title .opacity h3,h3,h4{font-size: 20px;line-height: 30px;margin:0;}
  body, .theme-title .opacity p{font-size: 12px;line-height: 18px;margin:0;}
  
  .theme-title hr {margin-top: -6px;}
  .theme-title { margin: 40px 0 0 0;}
  #news-section .theme-title { margin: 80px 0 0 0;}
.about-title{ margin-top: 0px;}
  #about-us > .container, #industries-section > .container, #cases-section > .container, #team-section > .container, #service-section > .container { padding-top: 0; }
	#about-us > .container,
#industries-section  > .container,
#cases-section  > .container,
#team-section  > .container,
#service-section  > .container{
	padding-top: 15px;
	padding-bottom: 15px;
}
    #about1, #about2, #about3, #about4, #strategy1, #strategy2, #guide2, #guide3 {
    margin: 60px 0;
}
    #strategy2 .sub-title {
    margin: 30px auto;
}
    .sub-title {
    margin: 0 auto;
}
    .story-area {
        padding: 20px 0;}
    .story-title {
      margin-bottom: 20px; }

    .story-area .story-box {
        padding: 20px;}
    .container .tab-content {
    padding: 10px 20px 20px 20px;}
    #about .about-member-wrapper .single-about-member .img .opacity p {
    padding: 0 10px;
    font-size: 16px;
    line-height: 24px;
}
    h6 {
    font-size: 16px;
    line-height: 24px;
}
    #guide3 .list {
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
}
    #guide3 .list span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    margin-left: -35px;
    margin-right: 5px;
}
    .about-title,.strategy-title {
    background-size: cover;
}
}

@media (max-width: 430px) {
  .banner h1 {font-size: 18px;}
  .banner h2 {font-size: 12px;line-height: 18px;}
  .banner h6 {font-size: 7px;}
  .hermes.tparrows {display: none;}
  .recent-single-post .post {width: 100%;padding: 12px 0 0 0;}
	
}