/**
* Importing necessary  Styles.
**/
@import url('https://fonts.googleapis.com/css?family=Advent+Pro:100');
@import url('https://fonts.googleapis.com/css?family=Arimo');
/*----bootstrap css ----- */
@import url('../vendor/bootstrap/bootstrap.css');
/*----font awesome -------*/
@import url('../fonts/font-awesome/css/font-awesome.min.css');
/*----revolution-slider---*/
@import url('../vendor/revolution/settings.css');
@import url('../vendor/revolution/layers.css');
@import url('../vendor/revolution/navigation.css');
/*----owl-carousel css----*/
@import url('../vendor/owl-carousel/owl.carousel.css');
@import url('../vendor/owl-carousel/owl.theme.css');
/*-------- animated css ------*/
@import url('../vendor/WOW-master/css/libs/animate.css');
/*---- Progress bar css----*/
@import url('../vendor/skills-master/source/habilidades.css');
/*-------- hover css ------*/
@import url('../vendor/hover.css');
/*----calendar css--------*/
@import url('../vendor/monthly-master/css/monthly.css');
/*** 
====================================================================
  Loading Transition
====================================================================
 ***/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #fff;
  overflow: hidden;
}
#preloader_1{
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 50%;
  transform: translateY(-50%);
}
#preloader_1 span{
  display:block;
  bottom:0px;
  width: 6px;
  height: 5px;
  background:#e04f5d; 
  position:absolute;
  animation: preloader_1 1.5s  infinite ease-in-out;
}
 
#preloader_1 span:nth-child(2){
left:11px;
animation-delay: .2s;
 
}
#preloader_1 span:nth-child(3){
left:22px;
animation-delay: .4s;
}
#preloader_1 span:nth-child(4){
left:33px;
animation-delay: .6s;
}
#preloader_1 span:nth-child(5){
left:44px;
animation-delay: .8s;
}
@keyframes preloader_1 {
    0% {height:5px;transform:translateY(0px);background:#e62d3f;}
    25% {height:30px;transform:translateY(15px);background:#e62d3f;}
    50% {height:5px;transform:translateY(0px);background:#ee2438;}
    100% {height:5px;transform:translateY(0px);background:#ee2438;}
}

/*** 
====================================================================
  Click To Top
====================================================================
 ***/
.scroll-top {
  width:45px;
  height:45px;
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 9999;
  text-align: center;
  color:#fff;
  font-size: 20px;
  display: none;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
}
/*** 
====================================================================
  Global Settings
====================================================================
 ***/

 body {
    font-family: 'Arimo',"Microsoft JhengHei",Helvetica,Arial,sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    font-size: 14px;
    position: relative;
    color: #848484;
    line-height: 24px;
 }
.main-page-wrapper {
  background: linear-gradient(180deg, #202020 0, #121212);
}
 h1,h2,h3,h4,h5,h6,p,ul { margin:0;padding: 0;}

 h1 {font-size: 65px;}
 h2 {font-size: 36px;}
 h3 {font-size: 20px;color: #fff;}
 h4 {
    font-size: 20px;
    line-height: 36px;
    color: #e5bb7b;
}
 h5 {font-size: 18px;}
 h6 {font-size: 18px;line-height: 31px;}
 p { margin-top: 20px;}
 ul {list-style-type: none;}
 a {text-decoration: none; display: inline-block;color: #e4bb7b;}
 a:hover,a:focus,a:visited {text-decoration: none; outline: none;}
 img {max-width: 100%;}
 button {border:none;outline: none;box-shadow: none;display: block; padding: 0;}
 input,textarea {outline: none; box-shadow: none;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.text p{margin-top: 10px;
    
}
.clear-fix { clear:both;}
.clear-fix:after {
  display: table;
  content: '';
  clear: both;
 }
.center{
	margin: 0 auto;
}
.right{
	float:right;
}
.tran3s,.theme-main-menu .navbar-nav>li a,#project-section .project-gallery .single-img .opacity,
#about .about-member-wrapper .single-about-member .member-name h6,
#about .about-member-wrapper .single-about-member .member-name p,
#about .about-member-wrapper .single-about-member .member-name ul,
#our-client .owl-theme .owl-dots .owl-dot span {
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
 }
.tran4s,#guide .single-guide-content p,#project-section .project-gallery .single-img .opacity ul,
#project-section .project-gallery .single-img .opacity h6 a {
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
       -o-transition: all .4s ease-in-out;
          transition: all .4s ease-in-out;
 }
.float-left {float:left;}
.float-right {float:right;}
.round-border {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
.p-color,.theme-main-menu .navbar-nav>li.active>a,
#guide .single-guide-content:hover .icon-heading .icon,
#guide .single-guide-content:hover .icon-heading h6 a,
#pricing-section .single-price-table a:hover,#blog-section .single-news-item .img a,
#blog-section .single-news-item:hover .post p a,#blog-section .single-news-item .post h6:hover a,
#contact-section .contact-address-content .left-side ul li:hover .icon,
.inner-page-banner .opacity ul li:last-child,
.blog-details-page aside .sidebar-news-list ul li a i,.monthly-header-title,
.blog-details-page aside .sidebar-news-list ul li a:hover,.blog-details-page aside .sidebar-archives ul li a i,
.blog-details-page aside .sidebar-archives ul li a:hover,.blog-details-page aside .sidebar-archives ul li a.active,
.blog-details-page aside .sidebar-news-list ul li a.active,.recent-single-post .post a:hover,
.sidebar-tags ul li a:hover,.blog-details-post-wrapper .list-img-wrapper ul li a i,
.blog-details-post-wrapper .list-img-wrapper ul li a:hover,.blog-details-post-wrapper .post-comment form button:hover,
.blog-details-post-wrapper .post-share-area .share li a:hover,.theme-main-menu.navbar .nav>li ul li a:hover,
.blog-details-post-wrapper .post-share-area .share li a.active {
  color:#e5bb7b;
}
.p-color-bg,
#skill-section .codeconSkillbar .skillBar,#our-client .owl-theme .owl-dots .owl-dot.active span,
#our-client .owl-theme .owl-dots .owl-dot:hover span,
.blog-details-post-wrapper .comment-area .single-comment .comment button:hover {
    background: #b38729;
}
.banner .project-button,
#guide .single-guide-content:hover,#project-section .project-menu ul li.active,
#project-section .project-menu ul li:hover,
#about .about-member-wrapper .single-about-member .img .opacity h4,
#pricing-section .single-price-table a,
#our-client .owl-theme .owl-dots .owl-dot.active span, #our-client .owl-theme .owl-dots .owl-dot:hover span,
#contact-section .contact-address-content .left-side ul li .icon,
.sidebar-tags ul li a:hover,.blog-details-post-wrapper .post-comment form button,
.blog-details-post-wrapper .post-comment textarea:focus,.blog-details-post-wrapper .post-comment input:focus {
  border-color:#ee7618;
  border-style: solid;
}
/*** 
====================================================================
  Theme Header
====================================================================
 ***/
.theme-main-header {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  z-index: 99;
  padding-top: 10px;
  background: rgba(0,0,0,0.5)
}
.theme-main-header.news{background-color: #182b51}
.theme-main-menu .navbar-nav>li>a {
  text-transform: uppercase;
  color:#fff;
  font-weight: 700;
  background: transparent;
  padding: 9px 15px;
} 
.theme-main-menu .navbar-nav>li:last-child>a {
  padding-right: 0;
}
.theme-main-menu.navbar {
  border:none;
  margin: 0;
}

.theme-main-menu.navbar .nav>li ul.sub-menu {
  position: absolute;
  background: #1e1e1e;
  width:110px;
  top:120%;
  top:calc(100% + 60px);
  left:0;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
  -webkit-box-shadow: 0px 13px 25px -12px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 13px 25px -12px rgba(0,0,0,0.15);
  box-shadow: 0px 13px 25px -12px rgba(0,0,0,0.15);
}
.theme-main-menu.navbar .nav>li ul li a {
  line-height: 40px;
  color:#fff;
  font-weight: 700;
  display: block;
  text-align: center;
}
.theme-main-menu.navbar .nav>li ul li:last-child a {
  border:none;
}
.theme-main-menu.navbar .nav>li:hover ul.sub-menu {
  top:100%;
  opacity: 1;
  visibility: visible;
}
.theme-main-menu .navbar-toggle {
  margin: 0;
  border-radius: 0;
  color:#fff;
  padding-right: 15px;
}
.theme-main-menu .navbar-toggle .fa {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}
.theme-main-header li.dropdown-holder .fa {
  position: absolute;
  top:0;
  right: 0;
  text-align: center;
  width: 45px;
  color:#fff;
  font-size: 18px;
  display: none;
  cursor: pointer;
  line-height: 44px;
}
.theme-main-menu .navbar-nav>li>a.btn-login{
    margin-top:4px;
    padding: 5px 12px;
    background-color:#b38629;
    border-radius: 15px;
}
.theme-main-menu .navbar-nav>li>a.btn-register{
    margin:4px 0 0 10px;
    padding: 4px 12px;
    border: 1px solid #b38629;
    border-radius: 15px;
}
/*** 
====================================================================
  Sticky Menu
====================================================================
 ***/
@keyframes menu_sticky {
  0%   {margin-top:-120px;opacity: 0;}
  50%  {margin-top: -64px;opacity: 0;}
  100% {margin-top: 0;opacity: 1;}
}
.theme-main-header.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0.5);
    margin: 0;
    animation-name: menu_sticky;
    animation-duration: 0.70s;
    animation-timing-function: ease-in-out;
    text-shadow: 0px 0px px;
}

/*** 
====================================================================
  Theme Main Banner
====================================================================
 ***/
.rev_slider_wrapper {
  background: #000;
}
.banner h1,.banner h2,.banner h6,.banner .project-button {
    color: #fff;
}
.banner h1,.banner h2 {
    text-shadow: 3px 3px 6px #000;
    font-weight: bold;
    margin-bottom: 10PX;
}
.banner h6 {
  padding: 0 10px;
  background: #c39653;
  font-weight: 500;
    
}
.banner .project-button {
  width: 170px;
  line-height: 50px;
  text-align: center;
  border-width: 1px;
  text-transform: uppercase;
}
/*** 
====================================================================
  theme-title
====================================================================
 ***/
.theme-title {
  text-align: center;
  margin: 95px 0 0 0;
}
.about-title {
  background: url(../images/about-title-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  margin-top: 0px;
}
.strategy-title {
  background: url(../images/industries-title-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.guide-title {
  background: url(../images/service-title-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.cases-title {
  background: url(../images/cases-title-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.caerres-title {
  background: url(../images/caerres-title-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.opacity {
    background: rgba(0,0,0,0.85);
    text-align: center;
    padding: 100px 0 30px 0;
}
#guide .opacity .container{
    margin-top: -80px;
}
.theme-title h2 {
    position: relative;
    font-family: Microsoft YaHei, Microsoft JhengHei, PingFangSC, Helvetica;
    font-weight: 100;
    font-size: 60px;
    line-height: 86px;
    color: #FFFFFF;
}

.theme-title h3 {
    margin: 10px auto 0 auto;
    color: #777;
}
.theme-title p {
	margin: 10px auto 0 auto;
	font-size: 16px;
	max-width: 1200px;
	line-height: 28px;
	color:#fff;
}
.theme-title hr {
    margin-top: -11px;}
.sub-title {
    text-align: center;
    color: #fff;
    margin: 30px  auto;
}
.sub-title h2 {
    font-size: 30px;margin: 0px;line-height: 30px;
}
.sub-title div{
    display: block;
    width: 40px;
    height: 3px;
    background: #c39653;
    margin: 5px auto;
}
#about1,#about2,#about3,#about4,#strategy1,#strategy2,#guide2,#guide3{
    margin: 80px 0;
}
#strategy .row [class*="col-"],
#guide .row [class*="col-"],
#news-section .row [class*="col-"],
#cases-section .row [class*="col-"]
{
  margin-top: 30px;
}
#about .box{
	width: auto;
    margin-top:30%;
}
.caerres-img{
	position:relative;z-index:0;
	width:1007px;height: 302px;
	margin: 0 auto 
}
.caerres-img .fe{
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 248px;
	height: 302px;
	background-image: url(../images/caerres-FE.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.caerres-img .be{
	position:absolute;z-index:2;
	top: 0;left: 156px;
	width:395px;height: 229px;
	background-image: url(../images/caerres-BE.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.caerres-img .mp{
	position: absolute;z-index:3;
	top: 0;left: 458px;
	width:248px;height: 302px;
	background-image: url(../images/caerres-MP.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}
.caerres-img .md{
	position: absolute;z-index:4;
	top: 0;left: 612px;
	width:395px;height: 229px;
	background-image: url(../images/caerres-MD.png);
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*** 
====================================================================
  about
====================================================================
 ***/

#about .about-member-wrapper .float-left {
  width: 33.333333333%;
  padding: 0 15px;
  overflow: hidden;
  margin-bottom: 30px;
}
#about .about-member-wrapper .single-about-member,
#about .about-member-wrapper .single-about-member .img {
  overflow: hidden;
  position: relative;
  text-align: center;
}
#about .about-member-wrapper .single-about-member img {
	width: 100%;
}
#about .about-member-wrapper .single-about-member .img .opacity {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(230,230,230,0.95);
    padding: 5px 0;
    opacity: 0;
    -webkit-transform: scale(1,0);
    -moz-transform: scale(1,0);
    -ms-transform: scale(1,0);
    -o-transform: scale(1,0);
    transform: scale(1,0);
    -ms-transform-origin: 0% 0%; /* IE 9 */
    -webkit-transform-origin: 0% 0%; /* Chrome, Safari, Opera */
    transform-origin: 0% 0%;
    color: #000;
    text-align: justify;
}

#about .about-member-wrapper .single-about-member .img .opacity p {
  padding: 0 20px;
  font-size: 18px;
	line-height: 28px;
}
#about .about-member-wrapper .single-about-member .img .opacity h4,
#about .about-member-wrapper .single-about-member .img .opacity span,
#about .about-member-wrapper .single-about-member .img .opacity p {
  opacity: 0;
  -webkit-transition-delay: 0.2s; /* Safari */
  transition-delay: 0.2s;
}
#about .about-member-wrapper .single-about-member:hover .img .opacity {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
#about .about-member-wrapper .single-about-member:hover .img .opacity h4,
#about .about-member-wrapper .single-about-member:hover .img .opacity span,
#about .about-member-wrapper .single-about-member:hover .img .opacity p {
  opacity: 1;
}
#about .about-member-wrapper .single-about-member .member-name {
  background: #222;
  overflow: hidden;
  position: relative;
  min-height: 70px;
  padding: 10px;
}
#about .about-member-wrapper .single-about-member:hover .member-name{
  -webkit-transform: translate3D(0,0,0);
     -moz-transform: translate3D(0,0,0);
      -ms-transform: translate3D(0,0,0);
       -o-transform: translate3D(0,0,0);
          transform: translate3D(0,0,0);
	background-color: #b38729;
	color: #fff;
} 
#about .about-member-wrapper .single-about-member:hover .member-name h4{
	color: #fff;
} 
.story-area {
    padding: 90px 0;
    position: relative;
    background-image: linear-gradient(0deg, #2b2b2b 0%, #444444 100%);
    background-image: -webkit-linear-gradient(0deg, #2b2b2b 0%, #444444 100%);
}
#about1.story-area:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url(../images/about1.jpg) no-repeat center center/cover;
    z-index: 1;
}
#about3.story-area:after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: url(../images/about3.jpg) no-repeat center center/cover;
    z-index: 1;
}
.story-area .story-title{
    color: #fff;
}
.align-items-center {
    align-items: center !important;
}
.story-area .story-box {
    padding: 60px 90px;
    background: #fff;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}
.features{
    margin-top: 20px;
}
.features .icon-box {
    display: inline-flex;
    margin-bottom: 40px;
}
.features.left,.features.left .icon-box {
    text-align: right;
}
.features .icon-box .icon {
    color: #c39653;
    margin: -10px 10px 0 10px;
    font-size: 40px;
}
.icon-box.left .icon {
    margin-left: 30px;
    margin-right: 0;
}
#about4 .row [class*="col-"]{
    margin-top: 30px;
}
/*** 
====================================================================
  strategy
====================================================================
 ***/
.container .tab-content{
  padding: 30px;
  background-color: #222;
}
/*** 
====================================================================
  guide
====================================================================
 ***/
#guide{
    background: url(../images/service-title-bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
#guide2 .icon{
    width: 150px;
    height: 150px;
    margin: 0 auto 10px auto;
    line-height: 150px;
    font-size: 56px;
    color:#c39653;
    border-radius: 50%;
    box-shadow: 0px 12px 8px rgba(228, 187, 123, 0.1);
    transition: 0.4s;
}
#guide2 .icon:hover {
    font-size: 90px;
    box-shadow: 0px 15px 15px rgba(228, 187, 123, 0.5);
    -webkit-transform: translateY(-10px);
    visibility: visible;
    
    animation-name: fadeInRight;
}
#guide2 .icon{
    color: #c39653;
    margin-top: 10px;    
}
#guide3 .list{
    font-size: 18px;
    margin-top: 10px;
}
#guide3 .list span{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    color: #e4bb7b;
    font-size: 28px;
    text-align: center;
    line-height: 40px;
    font-weight: 300;
}
/*** 
====================================================================
  Project section
====================================================================
 ***/
#project-section .project-menu ul {
  text-align: center;
  margin-top: 34px;
  margin-bottom: 60px;
}
#project-section .project-menu ul li {
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color:#292929;
  padding: 0 8px;
  border-width: 0;
  border-bottom-width:1px;
  border-color: transparent;
  margin: 15px 10px 0 10px;
  padding-bottom: 10px;
} 
#project-section .project-gallery .grid-item {
  width: 33.33333333333%;
  padding: 0 15px;
  margin-bottom: 32px;
  float:left;
  display: none;
}
#project-section .project-gallery .single-img {
  position: relative;
  overflow: hidden;
}
#project-section .project-gallery .single-img .opacity {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background: rgba(215,67,77,0.9);
  opacity: 0;
  -webkit-transform: scale(0.2);
     -moz-transform: scale(0.2);
      -ms-transform: scale(0.2);
       -o-transform: scale(0.2);
          transform: scale(0.2);
}
#project-section .project-gallery .single-img .opacity .border-shape {
  position: absolute;
  top:20px;
  left:20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid #fff;
  text-align: center;
}
#project-section .project-gallery .single-img .opacity h6 a {
  color:#fff;
}
#project-section .project-gallery .single-img .opacity ul li {
  display: inline-block;
  color: #fff;
  margin-top: 8px;
}
#project-section .project-gallery .single-img .opacity .border-shape>div {
  display: table;
  width: 100%;
  height: 100%;
}
#project-section .project-gallery .single-img .opacity .border-shape>div>div {
  display: table-cell;
  vertical-align: middle;
}
#project-section .project-gallery .single-img .opacity h6 a {
  -webkit-transform: translate3D(0,-100px,0);
     -moz-transform: translate3D(0,-100px,0);
      -ms-transform: translate3D(0,-100px,0);
       -o-transform: translate3D(0,-100px,0);
          transform: translate3D(0,-100px,0);
}
#project-section .project-gallery .single-img .opacity ul {
  -webkit-transform: translate3D(0,100px,0);
     -moz-transform: translate3D(0,100px,0);
      -ms-transform: translate3D(0,100px,0);
       -o-transform: translate3D(0,100px,0);
          transform: translate3D(0,100px,0);
}
#project-section .project-gallery .single-img .opacity ul,
#project-section .project-gallery .single-img .opacity h6 a {
  opacity: 0;
  -webkit-transition-delay: 0.3s; /* Safari */
  transition-delay: 0.3s;
}
#project-section .project-gallery .single-img:hover .opacity {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}
#project-section .project-gallery .single-img img,
#about .about-member-wrapper .single-about-member .img img,
#skill-section .img img,#blog-section .single-news-item .img img {
  -webkit-transition: all .6s ease-in-out;
     -moz-transition: all .6s ease-in-out;
      -ms-transition: all .6s ease-in-out;
       -o-transition: all .6s ease-in-out;
          transition: all .6s ease-in-out;
}
#project-section .project-gallery .single-img:hover img,
#about .about-member-wrapper .single-about-member:hover .img img,
#skill-section:hover .img img,#blog-section .single-news-item:hover .img img {
  -webkit-transform: scale3d(1.15,1.15,1);
     -moz-transform: scale3d(1.15,1.15,1);
      -ms-transform: scale3d(1.15,1.15,1);
       -o-transform: scale3d(1.15,1.15,1);
          transform: scale3d(1.15,1.15,1);
}
#project-section .project-gallery .single-img:hover .opacity ul,
#project-section .project-gallery .single-img:hover .opacity h6 a {
  opacity: 1;
  -webkit-transform: translate3D(0,0,0);
     -moz-transform: translate3D(0,0,0);
      -ms-transform: translate3D(0,0,0);
       -o-transform: translate3D(0,0,0);
          transform: translate3D(0,0,0);
}

/*** 

====================================================================
  news Section
====================================================================

 ***/
#news-section ul {
    list-style: none;
    display: block;
    width: 100%;
    float: left;
    margin: 30px 0;
}	
#news-section ul li {
    position: relative;
    display: block;
    float: left;
    height: 56px;
}
#news-section ul li a {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

 #news-section ul li .date {
    display: block;
    text-align: center;
    float: left;
    width: 56px;
    border-right: 1px solid #d0dce4;
    padding: 10px 0 10px 10PX;
	margin-left: 5PX;
}
 #news-section ul li .date .month {
    color: #757575;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    width: 100%;
    text-align: center;
}
#news-section ul li .date .day {
    color: #757575;
    font-size: 24px;
    display: block;
    width: 100%;
    text-align: center;
}
#news-section ul li .text{
    display: block;
    margin-left: 70px;
	height:56px;
	overflow: hidden;
    padding: 10px 0;
	color: #000;
	font-size: 16px;
	line-height: 24px;
}
#news-section ul li a:hover .text {
    color: #ee7618;
}
#news-section ul li a:hover .date .month, #news-section ul li a:hover .date .day{
    color: #000;
}
blockquote {
    margin: 10px 0 0 10px;
	line-height: 28px;
    border-left: 5px solid #ee7618;
}
blockquote ol{
	margin-left: -20px;
}
#news-section .container-fluid{
	background-color: #eee;
	margin-top: 20px;
	}
/*** 

====================================================================
  Skill Section
====================================================================

 ***/
#skill-section {
  background: #232a34;
  margin-top: 70px;
}
#skill-section .img {
  overflow: hidden;
}
#skill-section:hover .img img {
  opacity: 0.6;
}
.habilidades_contenedor {
  width:100%;
  margin: 125px 0 0 0;
}
#skill-section .codeconSkillbar .codeconSkillArea {
  font-weight: 700;
  font-size: 15px;
  color:#fff;
  margin-bottom: 15px;
  float: none;
  margin: 0;
}
#skill-section .codeconSkillbar {
  box-shadow: none;
  height:30px;
  width:100%;
  background: #fff;
  border-radius: 0;
  overflow: visible;
  position: relative;
  margin: 0 0 38px 0;
}
#skill-section .codeconSkillbar .skill-text {
  position: absolute;
  top:-29px;
  left:0;
}
#skill-section .codeconSkillbar .skillBar {
  box-shadow: none;
  height: 100%;
}
#skill-section .codeconSkillbar .PercentText {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  top:-39px;
  left:98%;
  padding: 0;
  float:none;
}
/*** 

====================================================================
  Our Client
====================================================================

 ***/
#our-client .client-slider {
  text-align: center;
  margin:58px 0 50px 0;
}
#our-client .client-slider img {
  margin: 0 auto;
}
#our-client .client-slider p {
  font-size: 18px;
  line-height: 28px;
  color:#343434;
  width: 80%;
  margin: 33px auto 24px auto;
}
#our-client .client-slider h6 {
  text-transform: capitalize;
  margin-bottom: 45px;
}
#our-client .owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  background: #fff;
  border: 1px solid#9d9f9f;
  margin: 0 5px;
}
/*** 

====================================================================
  Pricing Section
====================================================================

 ***/
#pricing-section {
  padding: 100px 0 100px 0;
  background: #f3f3f3;
  margin-top: 45px;
}
#pricing-section .single-price-table {
  display: block;
  background: #fff;
  border:1px solid #dfdfdf;
  text-align: center;
  padding: 28px 0 22px 0;
}
#pricing-section .single-price-table p {
  margin: 4px 0 20px 0;
}
#pricing-section .single-price-table strong {
  font-weight: 700;
  font-size: 24px;
  color:#fff;
  display: block;
  padding: 23px 0;
  margin-bottom: 30px;
}
#pricing-section .single-price-table strong span {
  font-size: 14px;
  vertical-align: middle;
}
#pricing-section .single-price-table strong.color1 {
  background: #d6973d;
}
#pricing-section .single-price-table strong.color2 {
  background: #375099;
}
#pricing-section .single-price-table strong.color3 {
  background: #179680;
}
#pricing-section .single-price-table ul li {
  line-height: 45px;
}
#pricing-section .single-price-table ul li:nth-child(odd) {
  background: #f7f8f4;
}
#pricing-section .single-price-table a {
  width: 150px;
  line-height: 48px;
  color:#fff;
  text-transform: uppercase;
  font-weight: 700;
  border-width: 1px;
  margin-top: 22px;
}
#pricing-section .single-price-table a:hover {
  background: #fff;
}

/*** 

====================================================================
  Partner Section
====================================================================

 ***/
#partner-section {
  margin: 100px 0 0 0;
  background: #f9f9f9;
  padding: 50px 0;
}
#partner-section .item {
  border:1px solid #dfdfdf;
  height: 118px;
  padding-top: 22px;
}
#partner-section .item img {
  margin: 0 auto;
}
/*** 
====================================================================
  Contact Section
====================================================================
 ***/
#contact-section{
	margin-bottom:50px;
}
#contact-section h5 {
  line-height: 40px;
  font-weight: 600;
}
#contact-section p{
	line-height: 20px;margin-top: 10px;
}
#contact-section .contact-details{
	line-height: 28px;margin-top: 10px;
}
#contact-section .company  ,#contact-section .send-message{
  margin-top: 50px;
}
#contact-section .send-message h4 {
  color: #ee7618;
}
#contact-section .send-message input {
  height: 38px;
}
#contact-section .send-message input,
#contact-section .send-message textarea {
  width: 100%;
  height: 100%;
  padding:15px;
  margin-bottom: 10px;
  background: #eee;
  border-width: 0px;
}
#contact-section .send-message textarea {
  height: 200px;
  max-width: 100%;
  max-height: 260px;
}
#contact-section .send-message input:focus,
#contact-section .send-message textarea:focus {
  border-color: #ee7618;
}
#contact-section .send-message form button {
  width: 100%;
  line-height: 28px;
  text-align: center;
  color:#fff;
  text-transform: uppercase;
  border: 1px solid #ee7618;
}
#contact-section .send-message form button:hover {
  background: #fff;color:#ee7618;
}
/*** 
====================================================================
  Conatct Form Activation
====================================================================
 ***/
.alert-wrapper {
  display: none;
  position: fixed;
  width: 100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;
  z-index: 9999999;
}
#success,
#error {
  position: relative;
  width:500px;
  height: 100px;
  top: calc(50% - 50px);
  left:calc(50% - 250px);
  background: rgba(0,0,0,0.8);
  text-align: center;
}
#success .wrapper,
#error .wrapper {
  display: table;
  width:100%;
  height: 100%;
}
#success .wrapper p,
#error .wrapper p{
  display: table-cell;
  vertical-align: middle;
  letter-spacing: 1px;
}
#success {
  color: #57D1C9;
}
#error {
  color: #C9182B;
}
#error button,
#success button {
  color:#fff;
  width:40px;
  height:40px;
  line-height: 20px;
  background: transparent;
  border-radius: 50%;
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 20px;
}
.form-validation label.error {
  display: none !important;
}
.form-validation input.error,
.form-validation textarea.error {
  border:1px solid #ee7618 !important;
}
/*** 
====================================================================
  Footer
====================================================================
 ***/
footer {
  background: #2b2b2b;
  border-top: 1px solid #444;
  padding: 15px 0;
  text-align: center;
  color: #fff;
}
/*** 
====================================================================
  Inner Page Banner 
====================================================================

 ***/
.inner-page-banner {
  background: url(../images/inner-page/1.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  margin-bottom: 100px;
}
.inner-page-banner .opacity {
  height: 100%;
  background:rgba(0,0,0,0.5);
  padding: 146px 0 70px 0;
}
.inner-page-banner .opacity h2 {
  color:#fff;
  margin-bottom: 18px;
}
.inner-page-banner .opacity ul li {
  display: inline-block;
  margin: 0 3px;
  font-size: 18px;
  color: #fff;
}
.inner-page-banner .opacity ul li a {
  color:#fff;
}
.slide-2img{
	width: 514px;
	height: 389px;
	background-image: url(../images/home/slide-2img.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
/*** 

====================================================================
  Blog Aside bar
====================================================================

 ***/
.blog-details-page aside .sidebar-search-box {
  height: 60px;
  margin-bottom: 55px;
  position: relative;
}
.blog-details-page aside .sidebar-search-box input {
  width: 100%;
  height: 100%;
  border:1px solid #dfdfdf;
  padding: 0 67px 0 20px;
}
.blog-details-page aside .sidebar-search-box button {
  width: 65px;
  height: 100%;
  position: absolute;
  top:0;
  right: 0;
  color:#fff;
  font-size: 18px;
}
.blog-details-page aside .sidebar-news-list ul li a,
.blog-details-page aside .sidebar-archives ul li a {
  color:#6f6f6f;
  margin-bottom: 12px;
}
.blog-details-page aside .sidebar-news-list ul li a i,
.blog-details-page aside .sidebar-archives ul li a i {
  margin-right: 8px;
}
.blog-details-page aside .sidebar-news-list ul,
.blog-details-page aside .sidebar-archives ul {
  margin: 32px 0 40px 0;
}
#blog-calendar {
  margin: 12px 0 60px 0;
}
#blog-calendar .monthly-day, .monthly-day-blank {
  box-shadow: none;
  text-align: center;
}
#blog-calendar .monthly-day-title-wrap {
  padding-bottom: 15px;
}
.monthly-reset {
  display: none;
}
.monthly-header-title {
  font-size: 15px;
  text-transform: capitalize;
}
.monthly-header {
  padding: 20px;
  height: 60px;
}
.monthly-day-pick > .monthly-day-number {
  font-size: 15px;
  font-weight: normal;
}
.recent-single-post .post {
  width: 81%;
  padding-left: 20px;
}
.recent-single-post .post a {
  color: #292929;
  margin-bottom: 4px;
}
.sidebar-recent-post .recent-single-post {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom:1px solid #dfdfdf;
}
.sidebar-recent-post h6,
.sidebar-tags h6 {
  margin-bottom: 35px;
}
.sidebar-recent-post {
  margin-bottom: 40px;
}
.sidebar-recent-post .recent-single-post:last-child {
  border: none;
}
.sidebar-tags ul li {
  display: inline-block;
  margin: 0 8px 10px 0;
}
.sidebar-tags ul li a {
  color:#6f6f6f;
  line-height: 35px;
  padding: 0 12px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.close{
position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    right: 30px;
    cursor: pointer;
}
.close::before, .close::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 50%;
	left:50%;
    height: 1px;
    background: #065a97;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal-body h6{
	font-weight: 700;
	margin-top: 20px;
}
.modal-content{
	width:100%;}
