<template>
  <el-row  :gutter="15" class="container">
    <el-col :span="8">
		<h4>博馬資訊</h4>
		<div class="seoInfo">
		    <h5>註冊</h5>
		    在博馬娛樂註冊會員，享受所有線上娛樂優惠以及最頂級的遊戲體驗，超乎您的想象。
		    我們博馬一直持續為博馬的忠實客戶提供與眾不同的存款優惠及其他多種優惠活動。
		</div>
		<div class="seoInfo">
		    <h5>合營計畫</h5>
		    成為博馬娛樂城的夥伴，帶領更多玩家一起加入博馬娛樂城，提升您的傭金等級。
		</div>
		<div class="seoInfo">
		    <h5>安全</h5>
		    一個穩定安全的博彩環境。您的隱私權是博馬極其關注的，所有資料的出入都受到限制及嚴密的監控。
		</div>
    </el-col>
    <el-col :span="8">
		<h4>博馬產品</h4>
		<div class="seoInfo">
		    <h5>體育博彩</h5>
		    博馬娛樂城提供您最愛投注的體育賽事。如英格蘭超級聯賽（英超）、西班牙聯 賽、冠軍杯、法甲聯賽、德甲、意甲、NFL、NBA、NCAA以及女籃、排球等。每月博馬為您提供超過4000場足球賽事供您投注。
		</div>
		<div class="seoInfo">
		    <h5>真人、電子娛樂場</h5>
		    線上娛樂城，您可選擇的多種遊戲。包括有輪盤、21點、電子撲克、老虎機、北京賽車、六合彩、
		    Bingo、7PK、累積遊戲等線上娛樂場遊戲。此外您更有機會贏得博馬娛樂的各類累積獎金。
		</div>
		
    </el-col>
    <el-col :span="8">
		<h4>博馬資訊中心</h4>
		<div class="seoInfo">
		    <h5>優惠</h5>
		    新註冊會員享有首次存款紅利。現有客戶同樣享有現金返水及再次存款等多項紅利。 
		</div>
		<div class="seoInfo">
		    <h5>幫助中心</h5>
		    您可以通過常見問題欄目獲得有關開戶、存款、提款及技術方面的幫助。
		</div>
		<div class="seoInfo">
		    <h5>支付方式ˋ</h5>
		    博馬娛樂城為客戶提供便捷的存款方式。博馬娛樂的開戶獎金與優惠活動正等待您來領取！
		</div>
		
    </el-col>

  </el-row>
</template>

<style>

</style>