<template>
<div class="footer-content">
    <el-row :gutter="15" class="container">
        <el-col :span="4">
            <div class="footer-logo"></div>
        </el-col>
        <el-col :span="14">
            <div class="txt">
               <div class="txt1"><a href="/#/help/cate5/6">用戶協議</a><span class="txt3">|</span> <a href="/#/help/about">關於我們</a><span class="txt3">|</span>  <a href="/#/help/cate5/4">博彩責任</a><span class="txt3 ">|</span> <a href="/#/help/cate5/5">免責條款</a><span class="txt3">|</span> <a href="/#/help/cate5/2">用戶隱私</a><span class="txt3">|</span> <a href="/#/help/cate1">幫助中心</a><span class= "txt3">|</span> <a href="javascript:void(0);" @click="customerService">在線客服</a><span class= "txt3">|</span> <a href="javascript:void(0);" @click="$router.push('/blog')">文章分享</a></div>

                <div style="margin-top:8px;">Copyright © 2019 完美娛樂城 All Rights Reserved.</div>
            </div>
        </el-col>
        <el-col :span="6">
            <div class="footer-icon">
                <div><span class="txt4"></span> <span class="txt5"></span></div>
                <div class="txt6">友情提示：博彩有風險，量力樂其中</div>
            </div>
        </el-col>
    </el-row>
</div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
	methods: {

		customerService(){
			//var url = 'http://kefu.ziyun.com.cn/vclient/chat/?websiteid=137063';
			window.open(this.config.CustomerServiceUrl,'', 'height=768,width=1024,location=no,menubar=no,menubar=no');
		}

	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
		}),
    },
};
</script>
<style scoped>
.footer-content a{ color:#fff !important;}
.footer-content {
	height:144px;
	color:#FFF;
	font-size:15px;
}
.footer-content .footer-logo {
    width: 180px;
    height: 120px;
    float: left;
    margin-top: 10px;
    background: url(~assets/images/logo.png) no-repeat;
    background-size: cover;
	    background-position: -50px;
}
.footer-content .txt {
    margin-top: 50px;
    color: #999;
}

.footer-content .footer-icon {

    position: absolute;
    right: 15px;
    top: 0;
    padding-top: 44px;
}
.footer-content .txt4 {
    width: 125px;
    height: 27px;
    display: inline-block;
    background: url(~assets/images/footer-pagcorlogo.png) no-repeat;
    background-size: cover;
    margin-right: 10px;
}
.footer-content .txt5 {
    width: 97px;
    height: 27px;
    display: inline-block;
    background: url(~assets/images/footer-bitmap.png) no-repeat;
    background-size: cover;
}
.footer-content .txt6 {
	margin-top:6px;
}
 .footer-content .txt .txt3 {
    margin-right: 3px;
    margin-left: 8px;
}
</style>
