<template>
	<div class="home-page">
		<el-row>
			<el-col :span="24" class="notify-box">
				<div class="container el-row">
					<icon name="bullhorn" scale="1.5" class="notify-icon"></icon>
					<span>最新公告：</span>
					<swiper
						:options="notifySwiperOption"
						class="notify-swiper"
						ref="notifySwiper"
						v-if="web.bulletins.length"
						@click.native="showBulletin"
						>
						<swiper-slide v-for="(bulletin, index) in web.bulletins" :key="index">{{bulletin.content}}</swiper-slide>
					</swiper>
					<!--span class="notify-more" @click="moreMessage">
						查看更多
						<icon name="angle-double-right" class="angle-right" scale="1"></icon>
					</span-->
				</div>
			</el-col>
		</el-row>
		<el-row>
			<div class="container el-row">
				<div class="plate2">
					<div class="main-header">
						<div class="line-l"></div>
						<span class="title">財富翻倍</span>
						<span class="subTitle">匯聚全球頂級投資娛樂平台</span>
						<!--span class="more" @click="go2page('/live')">
							查看更多
							<icon name="plus-square" class="angle-right plus" scale="1" style="margin-bottom: -3px;"></icon>
						</span-->
					</div>
					<div class="plate">
						<div class="plate-content clearfix">
							<el-col class="plate-left" @click.native="startGame('SA_LIVE', 'SA_LIVE');" style="cursor:pointer;">
											<div
												class="banner-img rel slide-s4 hoverToBig"
												></div>
							</el-col>
							<el-col class="plate-right" style="cursor:pointer;">
									<div
										class="banner-img rel slide-s7 hoverToBig"
											@click="startGame('VIX','VIX');"
										></div>
							</el-col>
						</div>
					</div>
				</div>
			</div>
		</el-row>
		<el-row class="container" style="margin-top: 15px;">
			<el-col :span="8" class="today_number">
				<div>
					今日成交量 <i class="fas fa-chart-bar" style="color:#369bec"></i>
				</div>
				<div>
					<DigitRoll :rollDigits="today_total" style="width:100px;"/>
				</div>				
			</el-col>
			<el-col :span="8" class="today_number">
				<div>
					漲升指數 <i class="fas fa-chart-line" style="color:#e64444"></i>
				</div>
				<div style="display:flex;justify-content: center;">
					<div>
						<DigitRoll :rollDigits="today_up" style="width:16px;"/>
					</div>
					<div style="line-height: 67px;">
						%
					</div>
				</div>
			</el-col>
			<el-col :span="8" class="today_number">
				<div>
					跌降指數 <i class="fas fa-chart-line" style="color:#21a629"></i>
				</div>
				<div style="display:flex;justify-content: center;">
					<div>
						<DigitRoll :rollDigits="today_down" style="width:16px;"/>
					</div>
					<div style="line-height: 67px;">
						%
					</div>
				</div>
			</el-col>
		</el-row>
		<el-row>
			<div class="container el-row">
				<el-row class="plate3 clearfix">
					<el-col :span="80" class="plate-left">
						<div class="main-header">
							<div class="line-l"></div>
							<span class="title">熱門遊戲</span>
							<span class="subTitle">多款遊戲高額獎金</span>
							<!--span class="more" @click="go2page('/slot')">
								查看更多
								<icon name="plus-square" class="angle-right plus" scale="1" style="margin-bottom: -3px;"></icon>
							</span-->
						</div>
						<div class="hotGame">
							<div class="clearfix mt10">
								<div class="item">
									<div class="item-img cursor hoverToBig" @click="startGame('CROWN','CROWN');">
										<div class="live_ebg" style="width: 100%;">
											<img
												class="cursor"
												src="~assets/images/lottery/f6eb85dd2955cef13d7da1eb2c42b2e8.jpg"
												>
										</div>
									</div>
								</div>
							</div>
						</div>
					</el-col>
					<el-col :span="20" class="plate-down">
						<div class="main-header">
							<div class="line-l"></div>
							<span class="title">理財瞬間</span>
							<span class="subTitle">驚喜連連 好運連連</span>
							<!---->
						</div>
						<el-col class="sport-right">
							<div class="sport-list">
								<div class="win-info main ivu-row">
									<el-col :span="11" class="h ivu-col">商品名稱</el-col>
									<el-col :span="6" class="win-txt1 h">帳號</el-col>
									<el-col :span="7" class="win-txt2 h">買賣金額</el-col>
								</div>
								<div id="marquee" class="plate-down-content container-sport" v-if="web.win.length>0">
									<ul class="left-marquee">
										<li class="cursor marquee marquee-li" v-for="(win, index) in web.win" :key="index">
											<el-col :span="11" class="win-txt ivu-col">{{win.prd}}</el-col>
											<el-col :span="6" class="win-txt win-txt1 ivu-col">{{win.username}}</el-col>
											<el-col :span="7" class="win-txt win-txt2 ivu-col">${{win.amount}}</el-col>
										</li>
									</ul>
								</div>
							</div>
						</el-col>
					</el-col>
				</el-row>
			</div>
		</el-row>
		
		<el-dialog
			title="系統公告"
			:visible.sync="notify.dialog"
			class="user-layout-dialog"
			:close-on-click-modal="false"
			>
			<el-row>
				<el-col>
					{{notify.title}}
					<p>{{notify.detail}}</p>
					{{notify.date | onlyDate}}
				</el-col>
			</el-row>
		</el-dialog>
		<TransferBox ref="TransferBox"></TransferBox>
	</div>
</template>

<script>
import TransferBox from '@/components/TransferBox'
import SlotGameUtil from '@/components/views/SlotGameUtil'
import DigitRoll from '@huoyu/vue-digitroll';
import { mapGetters } from "vuex";
export default {
  props: ["keys"],
  filters:{
	onlyDate : function (val){
		return val.split(' ')[0]
	}
  
  },
  data() {
    return {
		today_total:0,
		today_up:0,
		today_down:0,
		//slots:[{"id":1,"vendor":"AE","game_id":"1","game_name":"\u7334\u5bf6\u5bf6"},{"id":2,"vendor":"AE","game_id":"2","game_name":"\u7334\u5bf6\u5bf62"},{"id":3,"vendor":"AE","game_id":"4","game_name":"\u7206\u70b8\u7cd6"},{"id":4,"vendor":"AE","game_id":"7","game_name":"\u9b54\u947d"},{"id":5,"vendor":"AE","game_id":"3","game_name":"777"},{"id":6,"vendor":"AE","game_id":"15","game_name":"\u9f8d8"},{"id":7,"vendor":"AE","game_id":"5","game_name":"\u767c\u767c\u767c"},{"id":8,"vendor":"AE","game_id":"9","game_name":"\u8d85\u7d1a\u5de8\u661f"},{"id":9,"vendor":"AE","game_id":"11","game_name":"\u806f\u76df"},{"id":10,"vendor":"AE","game_id":"12","game_name":"\u5e78\u904b\u9ab0"},{"id":11,"vendor":"AE","game_id":"106","game_name":"\u9f8d\u738b"},{"id":12,"vendor":"AE","game_id":"13","game_name":"\u62db\u8ca18"},{"id":13,"vendor":"AE","game_id":"8","game_name":"\u7206\u70b8\u7cd62"},{"id":14,"vendor":"AE","game_id":"14","game_name":"\u5927\u718a\u8c93"},{"id":15,"vendor":"AE","game_id":"18","game_name":"\u9280\u6cb3\u760b\u7206"},{"id":16,"vendor":"AE","game_id":"10","game_name":"\u6416\u9322\u6a39"},{"id":17,"vendor":"AE","game_id":"22","game_name":"\u6d77\u6d0b\u4e16\u754c"},{"id":18,"vendor":"AE","game_id":"23","game_name":"\u74b0\u904a\u4e16\u754c"},{"id":19,"vendor":"AE","game_id":"19","game_name":"\u4e00\u8def\u767c"},{"id":20,"vendor":"AE","game_id":"16","game_name":"\u9f8d\u73e0"},{"id":21,"vendor":"AE","game_id":"17","game_name":"\u806f\u76df2"},{"id":22,"vendor":"AE","game_id":"20","game_name":"\u5916\u661f\u4eba"},{"id":23,"vendor":"AE","game_id":"25","game_name":"\u4e00\u672c\u842c\u5229"},{"id":24,"vendor":"AE","game_id":"27","game_name":"\u8239\u9577\u7684\u5bf6\u85cf"},{"id":25,"vendor":"AE","game_id":"24","game_name":"\u9ebb\u5c07"},{"id":26,"vendor":"AE","game_id":"28","game_name":"\u62db\u8ca1\u9032\u5bf6"},{"id":27,"vendor":"AE","game_id":"32","game_name":"\u5409\u7965\u5982\u610f"},{"id":28,"vendor":"AE","game_id":"26","game_name":"\u9b54\u6cd5\u7403"},{"id":29,"vendor":"AE","game_id":"37","game_name":"\u53e4\u602a\u7334\u5b50"},{"id":30,"vendor":"AE","game_id":"29","game_name":"\u4e94\u884c"},{"id":31,"vendor":"AE","game_id":"31","game_name":"\u8c50\u8ca1\u805a\u5bf6"},{"id":32,"vendor":"AE","game_id":"39","game_name":"\u5e74\u5e74\u6709\u9918"},{"id":33,"vendor":"AE","game_id":"38","game_name":"\u9b54\u947d2"},{"id":34,"vendor":"AE","game_id":"40","game_name":"\u7cd6\u679c\u760b\u7206"},{"id":35,"vendor":"AE","game_id":"6","game_name":"\u904b\u8ca1\u7ae5\u5b50"},{"id":36,"vendor":"AE","game_id":"42","game_name":"\u53e4\u602a\u7334\u5b505000\u500d"},{"id":37,"vendor":"AE","game_id":"41","game_name":"\u51b0\u4e0a\u66f2\u68cd\u7403"}],

	  notify: {
        dialog: false,
        title: "",
        detail: "",
        date: ""
      },
      swiperOption: {
        autoplay: {
          delay: 5000,
				disableOnInteraction: false

	  },
        speed: 400,
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        mousewheelControl: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      },
      swiperLive: {
        autoplay: {
          delay: 5000,
			disableOnInteraction: false

        },
        speed: 400,
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        mousewheelControl: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      },
	  notifySwiperOption: {
        autoplay: {
          delay: 5000,
			disableOnInteraction: false

		},
        speed: 400,
        direction: "vertical",
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        mousewheelControl: true,
        observer: true
      },

    };
  },
	components :{
		'SlotGameUtil':SlotGameUtil,
		'TransferBox' : TransferBox,
		'DigitRoll':DigitRoll,
	},
  mounted() {
	setTimeout(() => {
		this.reset_today();
	}, 300);
  },
  computed: {
    ...mapGetters({
      config: "config",
      user: "user",
      web: "web"
    }),
    notifySwiper() {
      return this.$refs.notifySwiper.swiper;
    }
  },
  methods: {
	  	getWin()
		{
			this.$axios({
				method: "GET",
				url: this.config.ApiUrl + "/api/win/" + this.config.company,
				data: {},
				headers: {
				"Content-Type": "application/json"
				}
			})
			.then(response => {
			if (response.data) {
				this.web.win = response.data;
			}
			})
			.catch(error => {
				console.log(error);
			});
		},
		getRandom(min,max){
			return Math.floor(Math.random()*max)+min;
		},
		reset_today()
		{
			if(this.today_total==0)
			{
				this.today_total = this.getRandom(30000000,80000000);
			}else
			{
				this.today_total += this.getRandom(10,500);
			}
			var num = this.getRandom(10,70);
			this.today_up = num;
			this.today_down = 100 - num;
			setTimeout(() => {
				this.reset_today();
			}, 15000);
		},
        go2page(page){
			this.$emit('HeaderMenu',page);
            this.$router.push(page);
        },
		moreMessage(){
			if(this.user.isLogin == false) {
				this.$emit('LoginBox',{methods:'login'});
				return false;
			}
			this.go2page('/user/mail');
		},
		startGame(source,id) {
			if(this.user.isLogin == false) {
				this.$emit('LoginBox',{methods:'login'});
				return false;
			}

			this.$refs.TransferBox.open(source,id);
		},
		tryGame(soruce, id) {
			this.$refs.SlotGameUtil.dialog = true;
			this.$refs.SlotGameUtil.stash.soruce = soruce;
			this.$refs.SlotGameUtil.stash.id = id;

		},
	showBulletin: function(index) {
      var index = this.notifySwiper.clickedSlide.getAttribute(
        "data-swiper-slide-index"
      );
      this.notify.detail = this.web.bulletins[index].content;
      this.notify.title = this.web.bulletins[index].title;
      this.notify.date = this.web.bulletins[index].start_time;
      this.notify.dialog = !this.notify.dialog;
    },
    syncBulletin() {
      this.$axios({
        method: "GET",
        url: this.config.ApiUrl + "/api/bulletin/" + this.config.company,
        data: {},
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(response => {
          if (response.data) {
            this.web.bulletins = response.data;
          }
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    if (!this.web.bulletins.length) {
      this.syncBulletin();
	}
    if (!this.web.win.length) {
      this.getWin();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.today_number{
	text-align: center;
	background-color: #3a3a3a;
	padding-top: 15px;
	color: #ddd;
}
.d-roll-wrapper .d-roll-list .d-roll-item{
	width: 15px !important;
}
.box{ 
	background-image: radial-gradient(circle at 50% 22%, #d4fefe, #346291);
	font-size: 18px;
	text-align: center;
	padding: 10px;
	color: #666;
}
.home-page .about-box {
    margin-top: 10px;
    border: 1px solid #eaeaea;
    padding: 30px 30px;
	background-color:#fff;
	margin-bottom:20px;
}
.home-page .about-box .left-content{
	float:left;
	width:700px;
	line-height: 30px;
    font-size: 15px;
    color: #666;
}
.home-page .about-box .right-content{
	float:left;
	margin-left:30px;
}
.home-page .about-box .right-content img{
	border:1px solid #ddd;
	padding:3px;
	width:300px;
}



.plate .plate-content .plate-left .swiper .banner-img .rel {
  width: 506px;
  height: 366px;
}
.main-header {
  margin-top: 20px;
  overflow: hidden;
  position: relative;
}
.main-header .line-l {
  width: 4px;
  height: 18px;
  background: #E4BB7B;
  position: absolute;
  left: 0;
    margin-top: 3px;
}
.main-header .plus {
  color: #409EFF;
}

.main-header .title {
  font-size: 18px;
  color: #ddd;
  margin-left: 9px;
}
.main-header .subTitle {
  color: #aaa;
  margin-left: 5px;
}
.main-header .more {
  float: right;
  margin-top: 3px;
  color: #6c6c6c;
  cursor: pointer;
  font-size: 14px;
}
.main-header .more .icon-more {
  width: 15px;
  height: 14px;
  display: inline-block;
  background: url(https://dandelionservice.com~assets/css/img/kuozhan.3856191.png)
    no-repeat;
  /*
  background-size: cover;*/
  margin-left: 3px;
  /*
  vertical-align: bottom;*/
  margin-bottom: -2px;
}
.plate .plate-content {
  margin-top: 10px;
}
.plate .plate-content .plate-left {
  width: 540px;
  height: 450px;
  float: left;
  margin-right: 5px;
}
.plate .plate-content .plate-left .swiper {
  position: relative;
  height: 100%;
}
.plate .plate-content .plate-left .swiper .swiper-container {
  height: 100%;
}
.plate .plate-content .plate-right {
  width: 565px;
  height: 450px;
  float: left;
}
.plate-item {
  width: 279px;
  height: 222px;
  float: left;
}
.plate-item .plate-item-img {
  width: 100%;
  height: 100%;
  position: relative;
}
.hoverToBig {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}

.plate-item .plate-item-img .abs,
.plate-item .plate-item-img .txt3 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.plate-item .plate-item-img .txt {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  font-size: 16px;
  z-index: 1;
}
.plate-item .plate-item-img .txt .txt1 {
  margin-bottom: 10px;
  color: #409EFF;
}
.plate-item .plate-item-img .txt .txt2 {
  color: #fff;
}
.plate-item .plate-item-img .txt3 {
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}
.plate-item .plate-item-img .txt3 .txt4 {
  padding: 30px 25px 0;
  color: orange;
  font-size: 16px;
}

.plate-item .plate-item-img .txt3 .button {
display: flex;
    justify-content: center;
}
.plate-item .plate-item-img .txt3 .button .btn {
font-size: 15px;
    padding: 5px 15px;
    border-radius: 2px;
}
.plate-item .plate-item-img .txt3 .txt5 {
  padding: 0 25px;
  margin-top: 10px;
  line-height: 25px;
  color: #fff;
  font-size: 15px;
  height: 80px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 100;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  border-radius: 4px;
  transition: color 0.2s linear, background-color 0.2s linear,
    border 0.2s linear;
  color: #495060;
  background-color: #f7f7f7;
  border-color: #dddee1;
}
.btn {
  padding: 0 36px;

  color: #fff;
  background: #409EFF;
  font-weight: 700;
  border: 1px solid #409EFF;
}
.plate-item .plate-item-img .txt3 .button .btn.empty {
  margin-left: 35px;
  background: transparent;
}
.btn.empty {
  background: #fff;
  color: #409EFF;
}

.plate-item .live-bg1 {
    background-image: url(~assets/images/live/allbet.jpg);
	background-size: cover;
    width: 100%;
    height: 100%;
}
.plate-item .live-bg2 {
    background-image: url(~assets/images/live/sa.jpg);
	background-size: cover;
    width: 100%;
    height: 100%;
}
.plate-item .live-bg3 {
    background-image: url(~assets/images/live/dg.jpg);
	background-size: cover;
    width: 100%;
    height: 100%;
}
.plate-item .live-bg4 {
    background-image: url(~assets/images/live/og.jpg);
	background-size: cover;
    width: 100%;
    height: 100%;
}


.plate-item .plate-item-img .txt3 .button .btn.empty {
  margin-left: 30px;
  background: transparent;
}
.plate-item:nth-child(2) {
  margin-left: 5px;
}
.plate-item:nth-child(3) {
  margin-top: 5px;
}
.plate-item:nth-child(4) {
  margin-top: 5px;
  margin-left: 5px;
}
.my_animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
/*中間css*/
.plate3 .plate-left {
  /*width: 905px;*/
  display: inline-block;
  vertical-align: top;
}
.plate3 .hotGame {
  margin-top: 10px;
}
.mt10 {
  margin-top: 10px;
}
.plate3 .item {
  width: 821px;
  /*height: 310px;*/
  float: left;
}
.plate3 .hotGame .item-img {
  width: 100%;
  height: 100%;
}
.plate3 .item img {
  width: 100%;
  height: 100%;
}
.hoverToBig img {
  transition: transform 0.5s;
}
.ml5 {
  margin-left: 5px;
}
.plate3 .hotGame .item-img1:first-child {
  margin-right: 2px;
}
.plate3 .hotGame .item-img1 {
  width: 199px;
  height: 100%;
  display: inline-block;
}
.plate3 .hotGame .item-img1 > div {
  height: 100%;
}
.plate3 .plate-down {
  width: 282px;
  display: inline-block;
  margin-left: 5px;
}
.plate3 .plate-down .inform {
  border: 1px solid #eaeaea;
  height: 330px;
}
.win-info.main {
  padding: 0 20px;
  border-bottom: 1px solid #888;
  background: #3e3e3e;
}
.win-info {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px dashed #eaeaea;
}

.hotGame #hotSwiper {
  margin-top: 0;
  border: 1px solid #eaeaea;
  width: 100%;
}
#hotSwiper {
  height: 120px;
  padding: 0 50px;
  background: #fff;
  margin-top: 20px;
}
.sport-list {
  border: 1px solid #888;
  height: 313px;
  margin-top: 10px;
	color: #ddd;
}
.cursor.marquee.marquee-li {
  padding: 7px 10px 0 10px;
  border-bottom: 1px dotted #eaeaea;
  height: 35px;
  position: relative;
  font-size: 100%;
  font: inherit;
  list-style-type: none;
  background-color: #4a4a4a;
}

.plate-down-content > ul {
  padding-inline-start: 0;
}

.sport > .sport-right {
  padding-left: 20px;
}

.container-sport {
  height: 272px;
  overflow: hidden;
  background: #4a4a4a;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}

.plate-down-content > .left-marquee {
  top: 6em;
  position: relative;
  box-sizing: border-box;
  animation: marquee 10s linear infinite;
  border-bottom: 1px solid #eaeaea;
}

.plate-down-content > .left-marquee:hover {
  animation-play-state: paused;
}

/* Make it move! */
@keyframes marquee {
  0% {
    top: 0em;
  }
  100% {
    top: -20em;
  }
}

.live_bg {
  transition: transform 0.5s;
  transform: scale(1);
}
.plate-item:hover .live_bg {
  transform: scale(1.2);
}

.hotGame .hoverToBig .live_ebg {
  transition: transform 0.5s;
  transform: scale(1);
}
.hotGame .hoverToBig:hover .live_ebg {
  transform: scale(1.2);
}

.plate-item .plate-item-img .txt3 {
  transition: all 0.5s ease !important;
  opacity: 0;
}
.plate-item:hover .plate-item-img .txt3 {
  opacity: 1;
}

</style>
<style>
.home-page .slot-swiper {
	border: 1px solid #eaeaea;
	background-color:#fff;

}
.home-page .slot-swiper .swiper-box{
    display: block;
    position: relative;
    height: 90px;
	padding:10px;
}


.home-page .slot-swiper .small-image{
	float:left;
	width: 90px;
	height: 90px;
}
.home-page .slot-swiper .small-image img{
	border-radius: 10px;
}

.home-page .slot-swiper .text-box{
	float:left;
	width:156px;
	padding-left:10px;
}
.home-page .slot-swiper .text-box .name{
    color: #409EFF;
	font-weight:700;
	font-size:16px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.home-page .slot-swiper .text-box .vendor{
    color: #666;
	font-size:15px;
	margin-top:8px;
	margin-bottom:10px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.home-page .slot-swiper .text-box .play{
	border-radius: 20px;
        border: 1px solid #409EFF;
    font-size: 14px;
    padding: 3px 8px;
	    cursor: pointer;
	background-color:#409EFF;
	color:#fff;
}
.home-page .slot-swiper .text-box .try{
	border-radius: 20px;
    border: 1px solid #409EFF;
    font-size: 14px;
    padding: 3px 8px;
	    cursor: pointer;
	    color: #409EFF;
}


.home-page .banner-top17 {background: url(~assets/images/promotion/home_banner_17.jpg) center center / cover;}
.home-page .banner-top18 {background: url(~assets/images/promotion/home_banner_18.jpg) center center / cover;}
.home-page .banner-top19 {background: url(~assets/images/promotion/home_banner_19.jpg) center center / cover;}
.home-page .banner-top1 {background: url(~assets/images/promotion/Home_Banner_02.jpg) center center / cover;}
.home-page .banner-top2 {background: url(~assets/images/promotion/Home_Banner_03.jpg) center center / cover;}
.home-page .banner-top3 {background: url(~assets/images/promotion/Home_Banner_01.jpg) center center / cover;}
/*
.home-page .banner-top4 {background: url(~assets/images/pricing/pricing-banner.jpg) center center / cover;}
.home-page .banner-top4 {background: url(~assets/images/sport/banner.jpg) center center / cover;}
.home-page .banner-top5 {background: url(~assets/images/lottery/banner.jpg) center center / cover;}
.home-page .banner-top6 {background: url(~assets/images/fisher/banner.jpg) center center / cover;}
*/
.home-page .slide-s1 {background-image: url(~assets/images/live/allbet.jpg);}
.home-page .slide-s2 {background-image: url(~assets/images/live/sa.jpg);}
.home-page .slide-s3 {background-image: url(~assets/images/live/og.jpg);}
.home-page .slide-s4 {background-image: url(~assets/images/live/wm.jpg);}
.home-page .slide-s5 {background-image: url(~assets/images/live/dg.jpg);}
.home-page .slide-s7 {background-image: url(~assets/images/live/vix.jpg);}

.home-page .slide-s6 {background-image: url(~assets/images/chess/vg.jpg);}


</style>
