<template>

	<el-container>
		<el-header>
			<vheader v-on:LoginBox="LoginBox" ref="VHeader"></vheader>
		</el-header>
		<el-main>
			<transition name="fade" mode="out-in">
				<router-view v-on:LoginBox="LoginBox" v-on:HeaderMenu="HeaderMenu"></router-view>
			</transition>
		</el-main>
		<LoginBox ref="LoginBox"></LoginBox>
	</el-container>
</template>

<script>
import Header from '@/components/Header'

import Footer from '@/components/Footer'
import LoginBox from '@/components/LoginBox'
import FloatButton from '@/components/FloatButton'
import { globalMixin } from '@/mixin.js';
import { mapGetters } from 'vuex'
export default {
    mixins: [globalMixin],
	name: 'DefaultLayout',
	components: {
		'vheader': Header,
		'vfooter': Footer,
		'LoginBox' : LoginBox,
		'FloatButton' : FloatButton,
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
    },
		/*
	provide() {
		return {
			'LoginBox' : LoginBox
		}
	},*/
	methods: {
		LoginBox(args){
			this.$refs.LoginBox[args.methods]();
		},
		HeaderMenu(args){
			//this.$refs.VHeader.activeIndex = '/slot';
			this.$refs.VHeader['handleSelect'](args) ;
			console.log(this.$refs.VHeader);
		},
	},
	created() {


	},
	mounted() {

	},

}
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transform: translateX(0px);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
.fade-enter, 
.fade-leave-to {
  opacity: 0;
  transform: translateX(-5px);
}
</style>