<template>

	<el-container>
		<el-header>
			<vheader v-on:LoginBox="LoginBox"></vheader>
		</el-header>
		<el-main>
			<el-container class="container user-container">

				<el-aside class="left-column">
					<user-menu></user-menu>
				</el-aside>

				<el-main class="right-column">
					<router-view></router-view>
				</el-main>

			</el-container>
		</el-main>

		<LoginBox ref="LoginBox"></LoginBox>
	</el-container>

</template>

<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
import Menu from '@/components/views/user/Menu.vue'
import LoginBox from '@/components/LoginBox'
import FloatButton from '@/components/FloatButton'
import { globalMixin } from '@/mixin.js';
import { mapGetters } from 'vuex'
export default {
    mixins: [globalMixin],
	name: 'UserLayout',
	components: {
		'vheader': Header,
		'vfooter': Footer,
		'userMenu': Menu,
		'LoginBox' : LoginBox,
		'FloatButton' : FloatButton,
	},
	methods: {
		LoginBox(args){
			this.$refs.LoginBox[args.methods]();
		},

	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),
    },
	created() {
	

	},
	mounted() {

	},
}
</script>

<style>

</style>