<template>
	<div class="page-container">
		<div class="title">{{ $route.name }}</div>
		<div class="page-content">


			<div class="block-box">
				<span class="label">時間：</span>
				<el-date-picker size="small" v-model="form.date" :picker-options="form.datePicker" type="datetimerange" start-placeholder="開始日期" end-placeholder="結束日期" @change="handChange"></el-date-picker>
				<el-radio-group v-model="form.dateValue" size="small">
					<el-radio-button @click.native.prevent="handleClick(1)" label="1">今天</el-radio-button>
					<el-radio-button @click.native.prevent="handleClick(3)" label="3">三天</el-radio-button>
					<el-radio-button @click.native.prevent="handleClick(7)" label="7">一星期</el-radio-button>
					<!--el-radio-button @click.native.prevent="handleClick(30)" label="30">一個月</el-radio-button-->
				</el-radio-group>
			</div>
			<div class="block-box">
				<span class="label" style="vertical-align: text-bottom;">分類：</span>
				<el-radio-group v-model="form.vendor" size="small" @change="handleChange" class="gameClasses">
					<el-radio-button label="ALL">全部</el-radio-button>
					<el-radio-button  v-for="(item, index) in config.vendorsName" :key="index" :label="index">{{item}}</el-radio-button>
				</el-radio-group>
			</div>
			<div class="block-box">
				<span class="label">狀態：</span>
				<el-radio-group v-model="form.completed" size="small" @change="handleChange">
					<el-radio-button label="100">全部</el-radio-button>
					<el-radio-button label="0">未結算</el-radio-button>
					<el-radio-button label="1">已結算</el-radio-button>
					<el-radio-button label="2">取消</el-radio-button>
				</el-radio-group>
			</div>



    <el-table show-summary sum-text="本頁合計" :summary-method="getSummaries" v-loading="form.loading" element-loading-background="rgba(0, 0, 0, 0.75)" :data="form.tableData" style="width: 100%;margin:40px 0;" header-row-class-name="table-header" empty-text="暫無資料">
		<el-table-column label="下注時間 | 派彩時間" width="170">
			<template slot-scope="scope">
				<div>{{scope.row.bet_date.split(' ')[0] }}</div>
				<div class="gary-text">{{scope.row.bet_date.split(' ')[1] }}</div>
			</template>
		</el-table-column>
		<el-table-column label="遊戲平台 | 遊戲名稱 | 注單號" width="320">
			<template slot-scope="scope">
				<div>{{config.vendorsName[scope.row.vendor]}}



					<el-tooltip placement="top" v-if="scope.row.vendor == 'LOTTERY'">
					<div slot="content">我的投注:{{scope.row.game_info.action_data}}</div>
					<el-button type="text" style="padding:0;">{{scope.row.game_info.title}} </el-button>
					</el-tooltip>

					<el-popover placement="top-start" title="我的投注" width="250" trigger="hover" v-else-if="scope.row.vendor == 'SUPER'">
					<div class="super-sport-popover" v-html="scope.row.game_info.action_data"></div>
					<el-button slot="reference" type="text" style="padding:0;">{{scope.row.game_info.title}} </el-button>
					</el-popover>

					<span v-else-if="scope.row.vendor == 'VG'">
						<span>{{scope.row.game_info.title}}</span>
						<el-button v-if="scope.row.game_info.snapshot" @click="openSnapshotBox('/snapshot/'+scope.row.vendor.toLowerCase()+'/'+scope.row.order_no+'.jpg')" type="text" style="padding:0px;">投注快照</el-button> 
					</span>

					<span v-else>{{scope.row.game_info.title}} </span>

				</div>
				<div class="gary-text" style="color:#c13e3e" v-if="scope.row.vendor == 'LOTTERY'">期號:{{scope.row.game_info.action_no}} | 開獎號碼:{{ scope.row.game_info.lottery_no ?  scope.row.game_info.lottery_no :'尚未開獎'}}</div>
				<div class="gary-text" style="color:#c13e3e" v-if="scope.row.vendor == 'BINGO'">期號:{{scope.row.game_info.action_no}} | 開獎號碼:{{ scope.row.game_info.lottery_no ?  scope.row.game_info.lottery_no :'尚未開獎'}}</div>
				<div class="gary-text" style="color:#c13e3e" v-if="scope.row.vendor == 'ALLBET_LIVE'">我的投注: {{ scope.row.game_info.action_data}}</div>
				<div class="gary-text" style="color:#c13e3e" v-if="scope.row.vendor == 'SA_LIVE'">我的投注: {{ scope.row.game_info.action_data}}</div>
				<div class="gary-text" style="color:#c13e3e" v-if="scope.row.vendor == 'DG'">我的投注: {{ scope.row.game_info.action_data}}</div>
				<div class="gary-text" style="color:#c13e3e" v-if="scope.row.vendor == 'WM'">我的投注: {{ scope.row.game_info.action_data}}</div>
				<div class="gary-text" style="color:#c13e3e" v-if="scope.row.vendor == 'OG'">我的投注: {{ scope.row.game_info.action_data}}</div>
				<div class="gary-text" style="color:#c13e3e" v-if="scope.row.vendor == 'VG'">局號 {{ scope.row.game_info.roundid}}</div>
				<div class="gary-text">注單號 {{scope.row.order_no }}</div>

			</template>
		</el-table-column>

		<el-table-column prop="bet_amount" label="投注金額 | 有效投注" width="170">
			<template slot-scope="scope">
				<div>{{scope.row.bet_amount }}</div>
			</template>
		</el-table-column>
		<el-table-column prop="win_amount" label="輸贏" width="100">

		</el-table-column>
		<el-table-column prop="completed" label="狀態">
			<template slot-scope="scope">
				<span>{{scope.row.cancel ? '取消' : scope.row.completed ? '已結算' : '未結算' }}</span>
			</template>
		</el-table-column>

    </el-table>
	<center>
		<el-pagination background @current-change="handleCurrentChange" layout="prev, pager, next" :page-size="form.pageSize" :current-page="form.currentPage" :total="form.total" v-if="form.total > form.pageSize">
		</el-pagination>
	</center>


		</div>
		<el-dialog title="詳情資訊" :visible.sync="form.dialog" class="user-layout-dialog" :close-on-click-modal="false">
			<el-row :gutter="5" v-for="(item, index) in form.detail" :key="index">
				<el-col :span="10" class="title-label">{{index}}：</el-col>
				<el-col :span="14">{{item || '-'}}</el-col>
			</el-row>
		</el-dialog>
		

		<el-image-viewer v-if="showSnapshot" :on-close="closeSnapshotBox" :url-list="[snapshotImage]"></el-image-viewer>
	


	</div>

</template>

<script>
import ElImageViewer from 'element-ui/packages/image/src/image-viewer'
import { mapGetters } from 'vuex'
import moment from 'moment'
export default {
	components:{
		ElImageViewer
	},
	data() {
		return {
			showSnapshot : false,
			snapshotImage : '',
			shimaAmount : 0,

			form:{
				datePicker:{
					disabledDate(time) {
						return time.getTime() < (new Date()).getTime() - (7 * 86400 * 1000);
						//return time.getTime() > Date.now() + 86400000 || time.getTime() < threeMonths;
					}
				},
				date:[],
				detail:[],
				dateValue:1,
				vendor:'ALL',
				completed:100,
				currentPage:1,
				total:20,
				pageSize:20,
				loading:false,
				dialog:false,
				tableData:[
					/*
					{
						type:'存款',
						date: '2016-05-03 12:12',
						name: '微信掃碼',
						orderNo: '1901145c3c4008cf817571ed59469d',
						amount:'300.21',
						status:'處理中',

					}*/
				],
			},

		}
	},
	methods:{
		getSummaries(param){
			const { columns, data } = param;
			const sums = [];
			columns.forEach((column, index) => {
				if (index === 0) {
					sums[index] = '本頁合計';
					return;
				}
				if (index === 1) {
					sums[index] = '洗碼量：'+ this.shimaAmount;
					return;
				}

				if (index === 2 || index === 3) {
					const values = data.map(item => Number(item[column.property]));
					if (!values.every(value => isNaN(value))) {
						sums[index] = values.reduce((prev, curr) => {
							const value = Number(curr);
							if (!isNaN(value)) {
								return prev + curr;
							} else {
								return prev;
							}
						}, 0);
					} 
				}

			});
			return sums;
		},
		openSnapshotBox(image){
			this.snapshotImage = image;
			this.showSnapshot = true;
		},
		closeSnapshotBox(){
			this.showSnapshot = false;
		},

		showDetail(index){
			var detail = this.form.tableData[index];
			var content = {
				'流水號' : detail.order_no,
				'類型' : detail.type,
				'類型名稱' : detail.memo,
				'金額' : detail.amount ,
				'當下餘額' : detail.user_amount,
				'狀態' : detail.status,
				'建立時間' : detail.date,
				'備註' : '',
			};
			this.form.detail = content;
			//console.log(this.form.tableData[index]);
			this.form.dialog = !this.form.dialog
		},
		handleClick(val){
			this.form.dateValue = val;
			this.handleChange();
		},
		handleCurrentChange(val){
			this.onSubmit(val);
		},
		handleChange(){
			if (this.form.dateValue){
				this.form.date = [(new Date()).getTime() - ((this.form.dateValue) * 86400000),(new Date()).getTime()];
			}
			this.onSubmit();

		},
		handChange(){
			this.form.dateValue = 0;
			this.onSubmit();
		},
		onSubmit(page){
			if (!this.form.date)
			{
				return false;
			}
			this.form.loading = true;
			this.$axios({
				method : 'POST',
				url : this.config.ApiUrl + '/api/bet-log?page='+(page?page:1),
				data: {
					'vendor' : this.form.vendor,
					'completed' : this.form.completed,
					'dateStart' : moment(this.form.date[0]).format("YYYY-MM-DD HH:mm:ss"),
					'dateEnd' : moment(this.form.date[1]).format("YYYY-MM-DD HH:mm:ss"),
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				if (response.data.status)
				{

					//console.log( response.data.data.data);
					this.form.tableData = response.data.data.data;
					this.form.pageSize = response.data.data.per_page;
					this.form.currentPage = response.data.data.current_page;
					this.form.total = response.data.data.total;
					this.shimaAmount = response.data.shima;
				}
				//console.log(response.data);
				this.form.loading = false;
			}).catch(error => {
				console.log(error);
				this.form.loading = false;
			});
		},
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			web: 'web',
		}),

	},
	watch : {
	},
	created(){
		this.handleChange();
		/*
		if (!this.web.betVendors)
		{
			this.web.betVendors = [];
			for (var index in this.config.vendors) {
				if (this.config.vendors[index].value != 'WALLET'){
					this.web.betVendors.push(this.config.vendors[index].value);
				}
			}

		}
		console.log(this.web.betVendors);*/

	},
}
</script>

<style>
.el-radio-group.gameClasses{
	white-space: normal;
	    width: 820px;
		line-height: 30px;

}
.el-table td, .el-table th {padding:8px 0;}
.el-table .cell {line-height:18px;}
.gary-text {
    color: rgb(153, 153, 153);
	font-size:12px;
}
.table-header {

    font-weight: 0;
    font-size: 14px;
    text-align: left;
	color:#666;
}
.block-box {
	font-size:14px;
	line-height:40px;
	white-space: nowrap;
}
.block-box .label {padding:0 10px;}
.block-box .item {
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 15px;
}
.block-box .item.active {
    background: #c8a675;
    color: #fff;

}
.block-box .el-radio-button__inner {
	border:0px;
	border-radius: 4px;
	    margin: 0 4px;
		font-size:14px;
		padding:6px 12px;
}
.block-box .el-radio-button:first-child .el-radio-button__inner,
.block-box .el-radio-button:last-child .el-radio-button__inner {border:0px;	border-radius: 4px;}
.block-box .el-date-editor--daterange.el-input__inner {
    width: 250px;
	font-size:14px;
}
.block-box .el-range-editor--small .el-range-input {
    font-size: 14px;
}
.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled) {
    box-shadow: 0 0 0px 0px #ffffff;
}

.super-sport-popover .t-c5,.super-sport-popover .t-c1 { color:#ed3f54;}
.super-sport-popover .t-c2 { color:#2196F3;}
.super-sport-popover .green {     margin-top: 5px;
    color: green;
    border-top: 1px solid #eee;
    padding-top: 5px;}

</style>
