<template>
	<div class="page-container">
		<div class="title">{{ $route.name }}</div>
		<div class="page-content">
			<el-steps :active="active" align-center class="global-step">
				<el-step title="設置提款密碼"></el-step>
				<el-step title="設定成功"></el-step>
			</el-steps>

            <el-row type="flex" justify="center">
                <el-col :span="12">
                    <el-form :model="form" status-icon :rules="rules2" ref="form" label-width="120px">
                        <el-form-item label="提款密碼" prop="cashPassword">
                            <el-input type="password" v-model="form.cashPassword" autocomplete="off" class="scope-width" placeholder="請輸入提款密碼"></el-input>
                        </el-form-item>
                        <el-form-item label="確認提款密碼" prop="cashPassword_confirmation">
                            <el-input type="password" v-model="form.cashPassword_confirmation" autocomplete="off" class="scope-width" placeholder="請輸入確認提款密碼"></el-input>
                        </el-form-item>
                        <el-form-item >
                            <el-button type="primary" @click="submitForm('form')" :loading="form.loading" class="scope-width">下一步</el-button>
                            <!--
                            <el-button @click="resetForm('form')">重置</el-button>
                            -->
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
		</div>
	</div>
</template>

<script>

import { mapGetters } from 'vuex'
export default {
	name: 'WalletComponent',
	data () {
        var validateNewPwd = (rule, value, callback) => {
            let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
            if (value === '') {
                callback(new Error('請輸入提款密碼'));
            } else if(!reg_pwd.test(value)){
                callback(new Error('請輸入6-12位數字及字母組合'));
            } else {
                if (this.form.cashPassword !== '') {
                    this.$refs.form.validateField('cashPassword_confirmation');
                }
                callback();
            }
        };
        var validateConfirmPwd = (rule, value, callback) => {
            let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
            if (value === '') {
                callback(new Error('請再次輸入提款密碼'));
            } else if(value.length < 6){
                callback(new Error('請輸入6-12位數字及字母組合'));
            } else if (value !== this.form.cashPassword) {
                callback(new Error('兩次輸入密碼不一致!'));
            } else {
                callback();
            }
        };

		return {
			active: 1,
            form: {
                cashPassword: '',
                cashPassword_confirmation: '',
				loading: false,
            },
            rules2: {
                cashPassword: [
                    { validator: validateNewPwd, trigger: 'blur' }
                ],
                cashPassword_confirmation: [
                    { validator: validateConfirmPwd, trigger: 'blur' }
                ]
            }
		}
	},
	components :{

	},
	methods: {
		next() {
			if (this.active++ > 2) this.active = 1;
		},
        submitForm(formName) {
            this.$refs[formName].validate((valid) => {
            if (valid) {
			    this.form.loading = true;
                this.$axios({
                    method : 'POST',
                    url : this.config.ApiUrl + '/api/setup-cashpassword' ,
                    data: {
                        'cashPassword' : this.form.cashPassword,
                        'cashPassword_confirmation' : this.form.cashPassword_confirmation
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    //console.log(response.data);
                    this.$layer.msg(response.data.message);
                    if (response.data.status){
                        this.active++;
                        this.user.is_cash_password = true;
						this.$router.go(-1);
                        /*
						setTimeout(() => {
                                this.logout();
                            }, 2000);*/
                    }
                    this.form.loading = false;

                }).catch(error => {
                    console.log(error);
			        this.form.loading = false;
                });
            } else {
                console.log('error submit!!');
                return false;
            }
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        },
        logout(){
            this.$axios({
                method : 'POST',
                url : this.config.ApiUrl + '/api/logout',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                this.user.isLogin = false;
                //this.$layer.msg('登出成功');
                this.$message({
                    type: 'success',
                    message: response.data.message
                });

                if (/^\/user/.test(this.$router.currentRoute.path)){
                    this.$router.replace('/');
                }
                //console.log(response.data);
            }).catch(error => {
                console.log(error);
            });
        }
	},
	watch: {
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
		}),
    },
	created() {
	}
}
</script>
<style scoped>
.scope-width {
	width:220px;
}

</style>
