<template>
	<div class="page-container">
		<div class="title">{{ $route.name }}</div>
		<div class="page-content">

			<el-tabs type="card" @tab-click="handleClick" class="deposit-tab">
				<el-tab-pane label="存款渠道" v-if="CheckPayRule.htpay">
					<el-steps :active="form.htpay.step" align-center  class="global-step">
						<el-step title="輸入金額" description=""></el-step>
						<el-step title="立即支付" description=""></el-step>
						
					</el-steps>
					<el-row type="flex" justify="center">
						<el-col :span="20" :offset="4"  v-if="form.htpay.step == 1">

							<el-form ref="form" :model="form" label-width="100px" class="form">
								<el-form-item label="付款方式">

									<el-select placeholder="請選擇" v-model="form.htpay.paymentType" class="scope-width">
										<el-option label="虛擬ATM匯款" value="VBANK" v-if="patment_switch.atm"></el-option>
										<el-option label="全家超商代碼繳費" value="4" v-if="patment_switch.store"></el-option>
										<el-option label="7-11超商代碼繳費" value="5" v-if="patment_switch.store"></el-option>
										<el-option label="OK超商代碼繳費" value="6" v-if="patment_switch.store"></el-option>
										<el-option label="萊爾富超商代碼繳費" value="7" v-if="patment_switch.store"></el-option>
									</el-select>
								</el-form-item>

								<el-form-item label="輸入金額">
									<el-input v-model="form.htpay.amount" class="scope-width" placeholder="請輸入金額" @keypress.native="$bet.onlyNumber()" maxlength="7"></el-input>
									<div class="tip-div"><div>{{ limitDesc() }}</div></div>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" :loading="form.htpay.load" @click="htpayNext" class="scope-width">下一步</el-button>
								</el-form-item>
							</el-form>

						</el-col>
					<div class="step2" v-if="form.htpay.step == 2">
						<div class="tip">
							<p>存款金額與您申請填寫的金額保持一致，否則係統無法查詢到帳。</p>
							<p>存款遇到困難？請聯繫我們的<el-button type="text" @click="customerService">線上客服</el-button></p>
						</div>
						<div class="my-table">
							<div class="my-row">
								<div class="my-cell">
									訂單編號
								</div>
								<div class="my-cell">
									{{ order.htpay.order_no }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									成單時間
								</div>
								<div class="my-cell">
									{{ order.htpay.order_time }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									存款金額
								</div>
								<div class="my-cell">
									{{ form.htpay.amount }}元
								</div>
							</div>
						</div>
						<div class="my-table count-down">

							<yd-countdown format="訂單失效時間還剩 {%m} 分 {%s} 秒" :time="order.htpay.endTime" done-text="訂單已失效" :callback="htpayOrderFail"></yd-countdown>

						</div>
						<div class="my-table btns">
							<div class="my-row">
								<div class="btn-cell">
									<el-button @click="htpayPrev"  type="danger" plain >支付遇到問題，重新下單</el-button>

									<el-button type="primary"  @click="htpayFinish">完成存款，下一步</el-button>
								</div>
							</div>
						</div>
					</div>

					<div class="step3" v-if="form.htpay.step == 3">
						<div class="title2">
							存款成功
						</div>
						<div class="tip">
							<p>系統審核通過後，將會即時到帳，請確保您的通訊暢通，以便客服與您聯繫</p>
							<p>頁面將在 <span>{{ order.htpay.finish_countdown }}</span> 秒後自動跳轉。</p>
						</div>
						<div class="line-w"></div>
						<div class="tip">
							<p>存款遇到問題?</p>
							<p>聯繫<el-button type="text" @click="customerService">線上客服</el-button>獲得幫助</p>
						</div>
					</div>
					</el-row>
				</el-tab-pane>

				<el-tab-pane label="存款渠道"  v-if="CheckPayRule.ecpay">
					<el-steps :active="form.ecpay.step" align-center  class="global-step">
						<el-step title="輸入金額" description=""></el-step>
						<el-step title="立即支付" description=""></el-step>
						
					</el-steps>
					<el-row type="flex" justify="center">
						<el-col :span="20" :offset="4"  v-if="form.ecpay.step == 1">

							<el-form ref="form" :model="form" label-width="100px" class="form">
								<el-form-item label="付款方式">

									<el-select placeholder="請選擇" v-model="form.ecpay.paymentType" class="scope-width">
										<el-option label="實體ATM及網銀" value="ATM" v-if="patment_switch.atm"></el-option>
										<el-option label="超商付款 ( 7-11、全家等 )" value="CVS" v-if="patment_switch.store"></el-option>
									</el-select>
								</el-form-item>



								<el-form-item label="輸入金額">
									<el-input v-model="form.ecpay.amount" class="scope-width" placeholder="請輸入金額" @keypress.native="$bet.onlyNumber()" maxlength="7"></el-input>
									<div class="tip-div"><div>{{ limitDesc() }}</div></div>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" :loading="form.ecpay.load" @click="ecpayNext" class="scope-width">下一步</el-button>
								</el-form-item>
							</el-form>

						</el-col>
					<div class="step2" v-if="form.ecpay.step == 2">
						<div class="tip">
							<p>存款金額與您申請填寫的金額保持一致，否則係統無法查詢到帳。</p>
							<p>存款遇到困難？請聯繫我們的<el-button type="text" @click="customerService">線上客服</el-button></p>
						</div>
						<div class="my-table">
							<div class="my-row">
								<div class="my-cell">
									訂單編號
								</div>
								<div class="my-cell">
									{{ order.ecpay.order_no }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									成單時間
								</div>
								<div class="my-cell">
									{{ order.ecpay.order_time }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									存款金額
								</div>
								<div class="my-cell">
									{{ form.ecpay.amount }}元
								</div>
							</div>
						</div>
						<div class="my-table count-down">

							<yd-countdown format="訂單失效時間還剩 {%m} 分 {%s} 秒" :time="order.ecpay.endTime" done-text="訂單已失效" :callback="ecpayOrderFail"></yd-countdown>

						</div>
						<div class="my-table btns">
							<div class="my-row">
								<div class="btn-cell">
									<el-button @click="ecpayPrev"  type="danger" plain >支付遇到問題，重新下單</el-button>

									<el-button type="primary"  @click="ecpayFinish">完成存款，下一步</el-button>
								</div>
							</div>
						</div>
					</div>

					<div class="step3" v-if="form.ecpay.step == 3">
						<div class="title2">
							存款成功
						</div>
						<div class="tip">
							<p>系統審核通過後，將會即時到帳，請確保您的通訊暢通，以便客服與您聯繫</p>
							<p>頁面將在 <span>{{ order.ecpay.finish_countdown }}</span> 秒後自動跳轉。</p>
						</div>
						<div class="line-w"></div>
						<div class="tip">
							<p>存款遇到問題?</p>
							<p>聯繫<el-button type="text" @click="customerService">線上客服</el-button>獲得幫助</p>
						</div>
					</div>
					</el-row>
				</el-tab-pane>

				<el-tab-pane label="存款渠道"  v-if="CheckPayRule.newebpay">
					<el-steps :active="form.newebpay.step" align-center  class="global-step">
						<el-step title="輸入金額" description=""></el-step>
						<el-step title="立即支付" description=""></el-step>
						
					</el-steps>
					<el-row type="flex" justify="center">
						<el-col :span="20" :offset="4"  v-if="form.newebpay.step == 1">

							<el-form ref="form" :model="form" label-width="100px" class="form">
								<el-form-item label="付款方式">

									<el-select placeholder="請選擇" v-model="form.newebpay.paymentType" class="scope-width">
										<el-option label="WebATM" value="WEBATM" v-if="patment_switch.atm"></el-option>
										<el-option label="ATM轉帳" value="VACC" v-if="patment_switch.atm"></el-option>
										<el-option label="超商代碼繳費" value="CVS" v-if="patment_switch.store"></el-option>
									</el-select>
								</el-form-item>

								<el-form-item label="輸入金額">
									<el-input v-model="form.newebpay.amount" class="scope-width" placeholder="請輸入金額" @keypress.native="$bet.onlyNumber()" maxlength="7"></el-input>
									<div class="tip-div"><div>{{ limitDesc() }}</div></div>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" :loading="form.newebpay.load" @click="newebpayNext" class="scope-width">下一步</el-button>
								</el-form-item>
							</el-form>

						</el-col>
					<div class="step2" v-if="form.newebpay.step == 2">
						<div class="tip">
							<p>存款金額與您申請填寫的金額保持一致，否則係統無法查詢到帳。</p>
							<p>存款遇到困難？請聯繫我們的<el-button type="text" @click="customerService">線上客服</el-button></p>
						</div>
						<div class="my-table">
							<div class="my-row">
								<div class="my-cell">
									訂單編號
								</div>
								<div class="my-cell">
									{{ order.newebpay.order_no }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									成單時間
								</div>
								<div class="my-cell">
									{{ order.newebpay.order_time }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									存款金額
								</div>
								<div class="my-cell">
									{{ form.newebpay.amount }}元
								</div>
							</div>
						</div>
						<div class="my-table count-down">

							<yd-countdown format="訂單失效時間還剩 {%m} 分 {%s} 秒" :time="order.newebpay.endTime" done-text="訂單已失效" :callback="newebpayOrderFail"></yd-countdown>

						</div>
						<div class="my-table btns">
							<div class="my-row">
								<div class="btn-cell">
									<el-button @click="newebpayPrev"  type="danger" plain >支付遇到問題，重新下單</el-button>

									<el-button type="primary"  @click="newebpayFinish">完成存款，下一步</el-button>
								</div>
							</div>
						</div>
					</div>

					<div class="step3" v-if="form.newebpay.step == 3">
						<div class="title2">
							存款成功
						</div>
						<div class="tip">
							<p>系統審核通過後，將會即時到帳，請確保您的通訊暢通，以便客服與您聯繫</p>
							<p>頁面將在 <span>{{ order.newebpay.finish_countdown }}</span> 秒後自動跳轉。</p>
						</div>
						<div class="line-w"></div>
						<div class="tip">
							<p>存款遇到問題?</p>
							<p>聯繫<el-button type="text" @click="customerService">線上客服</el-button>獲得幫助</p>
						</div>
					</div>
					</el-row>
				</el-tab-pane>


				<el-tab-pane label="存款渠道" v-if="CheckPayRule.fafago">
					<el-steps :active="form.fafago.step" align-center  class="global-step">
						<el-step title="輸入金額" description=""></el-step>
						<el-step title="立即支付" description=""></el-step>
						
					</el-steps>
					<el-row type="flex" justify="center">
						<el-col :span="20" :offset="4"  v-if="form.fafago.step == 1">

							<el-form ref="form" :model="form" label-width="100px" class="form">
								<el-form-item label="付款方式">

									<el-select placeholder="請選擇" v-model="form.fafago.paymentType" class="scope-width">
										<el-option label="超商代碼" value="1" v-if="patment_switch.store"></el-option>
										<el-option label="虛擬ATM" value="2" v-if="patment_switch.atm"></el-option>
									</el-select>
								</el-form-item>

								<el-form-item label="輸入金額">
									<el-input v-model="form.fafago.amount" class="scope-width" placeholder="請輸入金額" @keypress.native="$bet.onlyNumber()" maxlength="7"></el-input>
									<div class="tip-div"><div>{{ limitDesc() }}</div></div>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" :loading="form.fafago.load" @click="fafagoNext('/api/payment/fafago')" class="scope-width">下一步</el-button>
								</el-form-item>
							</el-form>

						</el-col>
					<div class="step2" v-if="form.fafago.step == 2">
						<div class="tip">
							<p>存款金額與您申請填寫的金額保持一致，否則係統無法查詢到帳。</p>
							<p>存款遇到困難？請聯繫我們的<el-button type="text" @click="customerService">線上客服</el-button></p>
						</div>
						<div class="my-table">
							<div class="my-row">
								<div class="my-cell">
									訂單編號
								</div>
								<div class="my-cell">
									{{ order.fafago.order_no }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									成單時間
								</div>
								<div class="my-cell">
									{{ order.fafago.order_time }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									存款金額
								</div>
								<div class="my-cell">
									{{ form.fafago.amount }}元
								</div>
							</div>
						</div>
						<div class="my-table count-down">

							<yd-countdown format="訂單失效時間還剩 {%m} 分 {%s} 秒" :time="order.fafago.endTime" done-text="訂單已失效" :callback="fafagoOrderFail"></yd-countdown>

						</div>
						<div class="my-table btns">
							<div class="my-row">
								<div class="btn-cell">
									<el-button @click="fafagoPrev"  type="danger" plain >支付遇到問題，重新下單</el-button>

									<el-button type="primary"  @click="fafagoFinish">完成存款，下一步</el-button>
								</div>
							</div>
						</div>
					</div>

					<div class="step3" v-if="form.fafago.step == 3">
						<div class="title2">
							存款成功
						</div>
						<div class="tip">
							<p>系統審核通過後，將會即時到帳，請確保您的通訊暢通，以便客服與您聯繫</p>
							<p>頁面將在 <span>{{ order.fafago.finish_countdown }}</span> 秒後自動跳轉。</p>
						</div>
						<div class="line-w"></div>
						<div class="tip">
							<p>存款遇到問題?</p>
							<p>聯繫<el-button type="text" @click="customerService">線上客服</el-button>獲得幫助</p>
						</div>
					</div>
					</el-row>
				</el-tab-pane>

				<el-tab-pane label="存款渠道" v-if="CheckPayRule.pay8957">
					<el-steps :active="form.fafago.step" align-center  class="global-step">
						<el-step title="輸入金額" description=""></el-step>
						<el-step title="立即支付" description=""></el-step>
						
					</el-steps>
					<el-row type="flex" justify="center">
						<el-col :span="20" :offset="4"  v-if="form.fafago.step == 1">

							<el-form ref="form" :model="form" label-width="100px" class="form">
								<el-form-item label="付款方式">

									<el-select placeholder="請選擇" v-model="form.fafago.paymentType" class="scope-width">
										<el-option label="虛擬ATM" value="1" v-if="patment_switch.atm"></el-option>
										<el-option label="超商代碼" value="2" v-if="patment_switch.store"></el-option>
									</el-select>
								</el-form-item>

								<el-form-item label="輸入金額">
									<el-input v-model="form.fafago.amount" class="scope-width" placeholder="請輸入金額" @keypress.native="$bet.onlyNumber()" maxlength="7"></el-input>
									<div class="tip-div"><div>{{ limitDesc() }}</div></div>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" :loading="form.fafago.load" @click="fafagoNext('/api/payment/pay8957')" class="scope-width">下一步</el-button>
								</el-form-item>
							</el-form>

						</el-col>
					<div class="step2" v-if="form.fafago.step == 2">
						<div class="tip">
							<p>存款金額與您申請填寫的金額保持一致，否則係統無法查詢到帳。</p>
							<p>存款遇到困難？請聯繫我們的<el-button type="text" @click="customerService">線上客服</el-button></p>
						</div>
						<div class="my-table">
							<div class="my-row">
								<div class="my-cell">
									訂單編號
								</div>
								<div class="my-cell">
									{{ order.fafago.order_no }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									成單時間
								</div>
								<div class="my-cell">
									{{ order.fafago.order_time }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									存款金額
								</div>
								<div class="my-cell">
									{{ form.fafago.amount }}元
								</div>
							</div>
						</div>
						<div class="my-table count-down">

							<yd-countdown format="訂單失效時間還剩 {%m} 分 {%s} 秒" :time="order.fafago.endTime" done-text="訂單已失效" :callback="fafagoOrderFail"></yd-countdown>

						</div>
						<div class="my-table btns">
							<div class="my-row">
								<div class="btn-cell">
									<el-button @click="fafagoPrev"  type="danger" plain >支付遇到問題，重新下單</el-button>

									<el-button type="primary"  @click="fafagoFinish">完成存款，下一步</el-button>
								</div>
							</div>
						</div>
					</div>

					<div class="step3" v-if="form.fafago.step == 3">
						<div class="title2">
							存款成功
						</div>
						<div class="tip">
							<p>系統審核通過後，將會即時到帳，請確保您的通訊暢通，以便客服與您聯繫</p>
							<p>頁面將在 <span>{{ order.fafago.finish_countdown }}</span> 秒後自動跳轉。</p>
						</div>
						<div class="line-w"></div>
						<div class="tip">
							<p>存款遇到問題?</p>
							<p>聯繫<el-button type="text" @click="customerService">線上客服</el-button>獲得幫助</p>
						</div>
					</div>
					</el-row>
				</el-tab-pane>

				<el-tab-pane label="存款渠道" v-if="CheckPayRule.leepay">
					<el-steps :active="form.fafago.step" align-center  class="global-step">
						<el-step title="輸入金額" description=""></el-step>
						<el-step title="立即支付" description=""></el-step>
						
					</el-steps>
					<el-row type="flex" justify="center">
						<el-col :span="20" :offset="4"  v-if="form.fafago.step == 1">

							<el-form ref="form" :model="form" label-width="100px" class="form">
								<el-form-item label="付款方式">

									<el-select placeholder="請選擇" v-model="form.fafago.paymentType" class="scope-width">
										<el-option label="虛擬ATM" value="1" v-if="patment_switch.atm"></el-option>
										<el-option label="超商代碼" value="2" v-if="patment_switch.store"></el-option>
									</el-select>
								</el-form-item>

								<el-form-item label="輸入金額">
									<el-input v-model="form.fafago.amount" class="scope-width" placeholder="請輸入金額" @keypress.native="$bet.onlyNumber()" maxlength="7"></el-input>
									<div class="tip-div"><div>{{ limitDesc() }}</div></div>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" :loading="form.fafago.load" @click="fafagoNext('/api/payment/leepay')" class="scope-width">下一步</el-button>
								</el-form-item>
							</el-form>

						</el-col>
					<div class="step2" v-if="form.fafago.step == 2">
						<div class="tip">
							<p>存款金額與您申請填寫的金額保持一致，否則係統無法查詢到帳。</p>
							<p>存款遇到困難？請聯繫我們的<el-button type="text" @click="customerService">線上客服</el-button></p>
						</div>
						<div class="my-table">
							<div class="my-row">
								<div class="my-cell">
									訂單編號
								</div>
								<div class="my-cell">
									{{ order.fafago.order_no }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									成單時間
								</div>
								<div class="my-cell">
									{{ order.fafago.order_time }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									存款金額
								</div>
								<div class="my-cell">
									{{ form.fafago.amount }}元
								</div>
							</div>
						</div>
						<div class="my-table count-down">

							<yd-countdown format="訂單失效時間還剩 {%m} 分 {%s} 秒" :time="order.fafago.endTime" done-text="訂單已失效" :callback="fafagoOrderFail"></yd-countdown>

						</div>
						<div class="my-table btns">
							<div class="my-row">
								<div class="btn-cell">
									<el-button @click="fafagoPrev"  type="danger" plain >支付遇到問題，重新下單</el-button>

									<el-button type="primary"  @click="fafagoFinish">完成存款，下一步</el-button>
								</div>
							</div>
						</div>
					</div>

					<div class="step3" v-if="form.fafago.step == 3">
						<div class="title2">
							存款成功
						</div>
						<div class="tip">
							<p>系統審核通過後，將會即時到帳，請確保您的通訊暢通，以便客服與您聯繫</p>
							<p>頁面將在 <span>{{ order.fafago.finish_countdown }}</span> 秒後自動跳轉。</p>
						</div>
						<div class="line-w"></div>
						<div class="tip">
							<p>存款遇到問題?</p>
							<p>聯繫<el-button type="text" @click="customerService">線上客服</el-button>獲得幫助</p>
						</div>
					</div>
					</el-row>
				</el-tab-pane>

				<el-tab-pane label="存款渠道" v-if="CheckPayRule.funpay">
					<el-steps :active="form.fafago.step" align-center  class="global-step">
						<el-step title="輸入金額" description=""></el-step>
						<el-step title="立即支付" description=""></el-step>
						
					</el-steps>
					<el-row type="flex" justify="center">
						<el-col :span="20" :offset="4"  v-if="form.fafago.step == 1">

							<el-form ref="form" :model="form" label-width="100px" class="form">
								<el-form-item label="付款方式">

									<el-select placeholder="請選擇" v-model="form.fafago.paymentType" class="scope-width">
										<el-option label="虛擬ATM" value="1" v-if="patment_switch.atm"></el-option>
										<el-option label="超商代碼" value="2" v-if="patment_switch.store"></el-option>
									</el-select>
								</el-form-item>

								<el-form-item label="輸入金額">
									<el-input v-model="form.fafago.amount" class="scope-width" placeholder="請輸入金額" @keypress.native="$bet.onlyNumber()" maxlength="7"></el-input>
									<div class="tip-div"><div>{{ limitDesc() }}</div></div>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" :loading="form.fafago.load" @click="fafagoNext('/api/payment/funpay')" class="scope-width">下一步</el-button>
								</el-form-item>
							</el-form>

						</el-col>
					<div class="step2" v-if="form.fafago.step == 2">
						<div class="tip">
							<p>存款金額與您申請填寫的金額保持一致，否則係統無法查詢到帳。</p>
							<p>存款遇到困難？請聯繫我們的<el-button type="text" @click="customerService">線上客服</el-button></p>
						</div>
						<div class="my-table">
							<div class="my-row">
								<div class="my-cell">
									訂單編號
								</div>
								<div class="my-cell">
									{{ order.fafago.order_no }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									成單時間
								</div>
								<div class="my-cell">
									{{ order.fafago.order_time }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									存款金額
								</div>
								<div class="my-cell">
									{{ form.fafago.amount }}元
								</div>
							</div>
						</div>
						<div class="my-table count-down">

							<yd-countdown format="訂單失效時間還剩 {%m} 分 {%s} 秒" :time="order.fafago.endTime" done-text="訂單已失效" :callback="fafagoOrderFail"></yd-countdown>

						</div>
						<div class="my-table btns">
							<div class="my-row">
								<div class="btn-cell">
									<el-button @click="fafagoPrev"  type="danger" plain >支付遇到問題，重新下單</el-button>

									<el-button type="primary"  @click="fafagoFinish">完成存款，下一步</el-button>
								</div>
							</div>
						</div>
					</div>

					<div class="step3" v-if="form.fafago.step == 3">
						<div class="title2">
							存款成功
						</div>
						<div class="tip">
							<p>系統審核通過後，將會即時到帳，請確保您的通訊暢通，以便客服與您聯繫</p>
							<p>頁面將在 <span>{{ order.fafago.finish_countdown }}</span> 秒後自動跳轉。</p>
						</div>
						<div class="line-w"></div>
						<div class="tip">
							<p>存款遇到問題?</p>
							<p>聯繫<el-button type="text" @click="customerService">線上客服</el-button>獲得幫助</p>
						</div>
					</div>
					</el-row>
				</el-tab-pane>

				<el-tab-pane label="銀行匯款" v-if="CheckPayRule.bankatm">
					<el-steps :active="form.bankatm.step" align-center  class="global-step">
						<el-step title="輸入金額" description=""></el-step>
						
					</el-steps>
					<el-row type="flex" justify="center">
						<el-col :span="20" :offset="4"  v-if="form.bankatm.step == 1">
							<el-form ref="form" :model="form" label-width="100px" class="form">
								<el-form-item label="付款方式">
									<el-input  class="scope-width" value="銀行匯款" ></el-input>
								</el-form-item>
								<el-form-item label="存款帳號" >
									<el-input type="textarea"  class="scope-width" :value="user.bank_atm" ></el-input>
								</el-form-item>

								<el-form-item label="輸入金額">
									<el-input v-model="form.bankatm.amount" class="scope-width" placeholder="請輸入金額" @keypress.native="$bet.onlyNumber()" maxlength="7"></el-input>
									<div class="tip-div"><div>{{ limitDesc() }}</div></div>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" :loading="form.bankatm.load" @click="bankatmNext('/api/payment/bankatm')" class="scope-width">下一步</el-button>
								</el-form-item>
							</el-form>

						</el-col>
					<div class="step2" v-if="form.bankatm.step == 2">
						<div class="tip">
							<p>存款金額與您申請填寫的金額保持一致，否則係統無法查詢到帳。</p>
							<p>存款遇到困難？請聯繫我們的<el-button type="text" @click="customerService">線上客服</el-button></p>
						</div>
						<div class="my-table">
							<div class="my-row">
								<div class="my-cell">
									訂單編號
								</div>
								<div class="my-cell">
									{{ order.bankatm.order_no }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									成單時間
								</div>
								<div class="my-cell">
									{{ order.bankatm.order_time }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									存款金額
								</div>
								<div class="my-cell">
									{{ form.bankatm.amount }}元
								</div>
							</div>
						</div>
						<div class="my-table count-down">

							<div class="tip fs15" style="text-align:center">
								請聯繫<el-button type="text" @click="customerService" style="color:#ffeb3b;">線上客服</el-button>核對到帳
							</div>

						</div>
						<div class="my-table btns">
							<div class="my-row">
								<div class="btn-cell">
									<el-button @click="bankatmPrev"  type="danger" plain >支付遇到問題，重新下單</el-button>
								</div>
							</div>
						</div>
					</div>
					</el-row>
				</el-tab-pane>

				<el-tab-pane label="VIP存款" v-if="CheckPayRule.vipbank">
					<el-steps :active="form.bankatm.step" align-center  class="global-step">
						<el-step title="輸入金額" description=""></el-step>
						
					</el-steps>
					<el-row type="flex" justify="center">
						<el-col :span="20" :offset="4"  v-if="form.bankatm.step == 1">
							<el-form ref="form" :model="form" label-width="100px" class="form">
								<el-form-item label="付款方式">
									<el-input  class="scope-width" value="VIP存款" ></el-input>
								</el-form-item>
								<el-form-item label="存款帳號" >
									<el-input :autosize="{ minRows: 3, maxRows: 6}" type="textarea"  class="scope-width" :value="user.vip_bank" ></el-input>
								</el-form-item>

								<el-form-item label="輸入金額">
									<el-input v-model="form.bankatm.amount" class="scope-width" placeholder="請輸入金額" @keypress.native="$bet.onlyNumber()" maxlength="7"></el-input>
									<div class="tip-div"><div>單筆限額(元):10000 - 2000000</div></div>
								</el-form-item>
								<el-form-item>
									<el-button type="primary" :loading="form.bankatm.load" @click="bankatmNext('/api/payment/vipbank')" class="scope-width">下一步</el-button>
								</el-form-item>
							</el-form>
							<el-col >
								<div>注意: </div>
								<div>1. VIP儲值跟線上客服申請VIP儲值帳號</div>
								<div>2. 每組VIP儲值帳號保留時間為30分鐘</div>
								<div>3. 每次儲值需每次重新申請</div>
								<div>4. 儲值成功後，提交名細給客服，耐心等候幣商審核成功會自動上分</div>
							</el-col>

						</el-col>
					<div class="step2" v-if="form.bankatm.step == 2">
						<div class="tip">
							<p>存款金額與您申請填寫的金額保持一致，否則係統無法查詢到帳。</p>
							<p>存款遇到困難？請聯繫我們的<el-button type="text" @click="customerService">線上客服</el-button></p>
						</div>
						<div class="my-table">
							<div class="my-row">
								<div class="my-cell">
									訂單編號
								</div>
								<div class="my-cell">
									{{ order.bankatm.order_no }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									成單時間
								</div>
								<div class="my-cell">
									{{ order.bankatm.order_time }}
								</div>
							</div>
							<div class="my-row">
								<div class="my-cell">
									存款金額
								</div>
								<div class="my-cell">
									{{ form.bankatm.amount }}元
								</div>
							</div>
						</div>
						<div class="my-table count-down">

							<div class="tip fs15" style="text-align:center">
								請聯繫<el-button type="text" @click="customerService" style="color:#ffeb3b;">線上客服</el-button>核對到帳
							</div>

						</div>
						<div class="my-table btns">
							<div class="my-row">
								<div class="btn-cell">
									<el-button @click="bankatmPrev"  type="danger" plain >支付遇到問題，重新下單</el-button>
								</div>
							</div>
						</div>
					</div>
					</el-row>
				</el-tab-pane>

			</el-tabs>



			<div class="tip-bottom">
				<h3>温馨提示</h3>
				<div class="content">
					<div>為確保您的款項及時到帳，請您留意以下內容：</div>
					<div>1. 在輸入您的存款金額時確保您提交的金額在限額範圍之內。</div>
					<div>2. 若不清楚操作步驟，可至幫助中心查詢相關問題</div>
					<div>支付遇到困難？聯繫<el-button type="text" @click="customerService">客服人員</el-button>獲得幫助</div>
				</div>
			</div>

			<div v-html="form.response" style="display:none;"></div>
		</div>
	</div>
</template>

<script>
import {CountDown} from 'vue-ydui/dist/lib.px/countdown';
//import 'vue-ydui/dist/ydui.base.css';
import { mapGetters } from 'vuex'
export default {
	components:{
		'yd-countdown': CountDown
	},
	data() {
		return {
			min_amount: 1000,
			max_amount: 10000,
			CheckPayRule:{
				bankatm: false,
				htpay: false,
				ecpay: false,
				newebpay: false,
				fafago: false,
				pay8957: false,
				vipbank: false,
				leepay: false,
				funpay: false,
			},
			patment_switch:{
				atm:false,
				store:false,
			},
			form:{
				bankatm:{
					paymentType:'_BANKATM',
					amount:'',
					load:false,
					response:'',
					step:1

				},				
				htpay:{
					paymentType:'VBANK',
					amount:'',
					load:false,
					response:'',
					step:1

				},
				ecpay:{
					paymentType:'ATM',
					amount:'',
					load:false,
					response:'',
					step:1

				},
				newebpay:{
					paymentType:'WEBATM',
					amount:'',
					load:false,
					response:'',
					step:1
				},
				fafago:{
					paymentType:'',
					amount:'',
					load:false,
					response:'',
					step:1
				},
			},
			order:{
				bankatm:{
					order_no:'',
					order_time:'',
					endTime : '',
					finish_countdown: 0,
				},
				htpay:{
					order_no:'',
					order_time:'',
					endTime : '',
					finish_countdown: 0,
				},
				ecpay:{
					order_no:'',
					order_time:'',
					endTime : '',
					finish_countdown: 0,
				},
				newebpay:{
					order_no:'',
					order_time:'',
					endTime : '',
					finish_countdown: 0,
				},
				fafago:{
					order_no:'',
					order_time:'',
					endTime : '',
					finish_countdown: 0,
				},
			}
		}
	},
	methods: {
		limitDesc(){
			return '單筆限額(元):' + this.min_amount + ' - ' + this.max_amount;
		},
		customerService(){
			//var url = 'http://kefu.ziyun.com.cn/vclient/chat/?websiteid=137063';
			window.open(this.config.CustomerServiceUrl,'', 'height=768,width=1024,location=no,menubar=no,menubar=no');
		},

		handleClick(tab, event) {
			console.log(tab, event);
		},
		getPayRule()
		{
			this.$axios({
					method : 'GET',
					url : this.config.ApiUrl + '/api/payrule/',
					headers: {
						'Content-Type': 'application/json'
					}
				})
				.then(response => {
					if (response.data.status)	{
						for(var n in response.data.data)
						{
							switch(response.data.data[n]['payment'])
							{
								case 'BankATM':
									this.CheckPayRule.bankatm = true;
									break;
								case 'HTPay':
									this.CheckPayRule.htpay = true;
									break;
								case 'ECPay':
									this.CheckPayRule.ecpay = true;
									break;
								case 'NewebPay':
									this.CheckPayRule.newebpay = true;
									break;
								case 'FAFAGO':
									this.CheckPayRule.fafago = true;
									break;
								case 'PAY8957':
									this.CheckPayRule.pay8957 = true;
									break;
								case 'VIPBank':
									this.CheckPayRule.vipbank = true;
									break;
								case 'LeePay':
									this.CheckPayRule.leepay = true;
									break;
								case 'FunPay':
									this.CheckPayRule.funpay = true;
									break;
							}
						}
						if(response.data.payment_switch.atm=="1"){
							this.patment_switch.atm=true;
						}
						if(response.data.payment_switch.store=="1"){
							this.patment_switch.store=true;
						}
					}
			}).catch(error => {
				console.log(error);
			});
		},
		ecpayOrderFail(){
			this.form.ecpay.step = 1;
			this.order.ecpay.endTime = '';
			this.$alert('訂單已失效', '通知', {
				confirmButtonText: '確定',
			});
		},
		ecpayPrev(){
			this.form.ecpay.step = 1;
			this.order.ecpay.endTime = '';
		},
		ecpayFinish(){
			this.form.ecpay.step = 3;
			this.order.ecpay.finish_countdown = 10;
			this.ecpayFinishCountdown();
		},
		ecpayFinishCountdown(){
			setTimeout(() => {
				this.order.ecpay.finish_countdown -= 1;
				if(this.order.ecpay.finish_countdown == 0){
					this.form.ecpay.step = 1;
					this.form.ecpay.amount = '';
				}else
					this.ecpayFinishCountdown();
			}, 1000);
		},
		ecpayNext(){
			if (!this.form.ecpay.amount) {
				return this.$layer.msg('請輸入金額');
			}
			if (parseInt(this.form.ecpay.amount) < this.min_amount || parseInt(this.form.ecpay.amount) > this.max_amount)	{
				return this.$layer.msg('請輸入金額範圍 ' + this.min_amount + ' ~ ' + this.max_amount);
			}
			this.form.ecpay.load = true;
			const loading = this.$loading({
				lock: false,
				text: '訂單產生中',
				spinner: 'el-icon-loading',
				background: 'rgba(0, 0, 0, 0.7)'
			});


			this.$axios({
				method : 'POST',
				url : this.config.ApiUrl + '/api/payment/ecpay' ,
				data: {
					'payment_type' : this.form.ecpay.paymentType,
					'amount' : this.form.ecpay.amount
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				if (response.data.status == 0){
					this.form.ecpay.load = false;
					loading.close();
					this.form.ecpay.step = 1;
					return this.$layer.msg(response.data.message);
				}
				else {
					this.form.ecpay.load = false;
					//this.form.response = response.data.response;

					this.order.ecpay.order_no = response.data.order_no;
					this.order.ecpay.order_time = response.data.order_time;

					this.order.ecpay.endTime = new Date(new Date().getTime() + 900 * 1000);
					//console.log(response.data.response);
					var _this = this;
					setTimeout(function(){
						window.open( response.data.response,'','');
						loading.close();
						_this.form.ecpay.step = 2;
						_this.ecpayCheckOrder(_this.order.ecpay.order_no);
					}, 200);
					/*
					setTimeout(function(){
						document.getElementById("__ecpayForm").setAttribute("target", "recharge");
						document.getElementById("__ecpayForm").submit();
						loading.close();
					}, 500);*/
				}
			}).catch(error => {
				loading.close();
				this.form.load = false;
				console.log(error);
			});
		},
		ecpayCheckOrder(order_no){
			if (this.form.ecpay.step == 2)	{
				setTimeout(() => {
					this.$axios({
							method : 'POST',
							url : this.config.ApiUrl + '/api/check-payment-order-no' ,
							data: {'order_no':order_no},
							headers: {
								'Content-Type': 'application/json'
							}
						})
						.then(response => {
							//console.log(response.data.status);
							if (response.data.status)	{
								this.ecpayFinish();
							}
							else {
								this.ecpayCheckOrder(order_no);
							}
					}).catch(error => {
						console.log(error);
					});
				}, 10000);
			}
		},

		fafagoOrderFail(){
			this.form.fafago.step = 1;
			this.order.fafago.endTime = '';
			this.$alert('訂單已失效', '通知', {
				confirmButtonText: '確定',
			});
		},
		fafagoPrev(){
			this.form.fafago.step = 1;
			this.order.fafago.endTime = '';
		},
		fafagoFinish(){
			this.form.fafago.step = 3;
			this.order.fafago.finish_countdown = 10;
			this.fafagoFinishCountdown();
		},
		fafagoFinishCountdown(){
			setTimeout(() => {
				this.order.fafago.finish_countdown -= 1;
				if(this.order.fafago.finish_countdown == 0){
					this.form.fafago.step = 1;
					this.form.fafago.amount = '';
				}else
					this.fafagoFinishCountdown();
			}, 1000);
		},
		fafagoNext(pay_url){
			if (!this.form.fafago.amount) {
				return this.$layer.msg('請輸入金額');
			}
			
			if (parseInt(this.form.fafago.amount) < this.min_amount || parseInt(this.form.fafago.amount) > this.max_amount)	{
				return this.$layer.msg('請輸入金額範圍 ' + this.min_amount + ' ~ ' + this.max_amount);
			}

			this.form.fafago.load = true;
			const loading = this.$loading({
				lock: false,
				text: '訂單產生中',
				spinner: 'el-icon-loading',
				background: 'rgba(0, 0, 0, 0.7)'
			});


			this.$axios({
				method : 'POST',
				//url : this.config.ApiUrl + '/api/payment/fafago' ,
				url : this.config.ApiUrl + pay_url ,
				data: {
					'payment_type' : this.form.fafago.paymentType,
					'amount' : this.form.fafago.amount
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				
				if (response.data.status == 0){
					this.form.fafago.load = false;
					loading.close();
					this.form.fafago.step = 1;
					return this.$layer.msg(response.data.message);
				}
				else {
					this.form.fafago.load = false;
					//this.form.response = response.data.response;

					this.order.fafago.order_no = response.data.order_no;
					this.order.fafago.order_time = response.data.order_time;

					this.order.fafago.endTime = new Date(new Date().getTime() + 900 * 1000);
					//console.log(response.data.response);
					var _this = this;
					setTimeout(function(){
						window.open( response.data.response,'abc','');
						loading.close();
						_this.form.fafago.step = 2;
						_this.fafagoCheckOrder(_this.order.fafago.order_no);
					}, 200);
					/*
					setTimeout(function(){
						document.getElementById("__fafagoForm").setAttribute("target", "recharge");
						document.getElementById("__fafagoForm").submit();
						loading.close();
					}, 500);*/
				}
			}).catch(error => {
				loading.close();
				this.form.load = false;
				console.log(error);
			});
		},
		fafagoCheckOrder(order_no){
			if (this.form.fafago.step == 2)	{
				setTimeout(() => {
					this.$axios({
							method : 'POST',
							url : this.config.ApiUrl + '/api/check-payment-order-no' ,
							data: {'order_no':order_no},
							headers: {
								'Content-Type': 'application/json'
							}
						})
						.then(response => {
							//console.log(response.data.status);
							if (response.data.status)	{
								this.fafagoFinish();
							}
							else {
								this.fafagoCheckOrder(order_no);
							}
					}).catch(error => {
						console.log(error);
					});
				}, 10000);
			}
		},

		newebpayOrderFail(){
			this.form.newebpay.step = 1;
			this.order.newebpay.endTime = '';
			this.$alert('訂單已失效', '通知', {
				confirmButtonText: '確定',
			});
		},
		newebpayPrev(){
			this.form.newebpay.step = 1;
			this.order.newebpay.endTime = '';
		},
		newebpayFinish(){
			this.form.newebpay.step = 3;
			this.order.newebpay.finish_countdown = 10;
			this.newebpayFinishCountdown();
		},
		newebpayFinishCountdown(){
			setTimeout(() => {
				this.order.newebpay.finish_countdown -= 1;
				if(this.order.newebpay.finish_countdown == 0){
					this.form.newebpay.step = 1;
					this.form.newebpay.amount = '';
				}else
					this.newebpayFinishCountdown();
			}, 1000);
		},
		newebpayNext(){
			if (!this.form.newebpay.amount) {
				return this.$layer.msg('請輸入金額');
			}
			if (parseInt(this.form.newebpay.amount) < this.min_amount || parseInt(this.form.newebpay.amount) > this.max_amount)	{
				return this.$layer.msg('請輸入金額範圍 ' + this.min_amount + ' ~ ' + this.max_amount);
			}
			this.form.newebpay.load = true;
			const loading = this.$loading({
				lock: false,
				text: '訂單產生中',
				spinner: 'el-icon-loading',
				background: 'rgba(0, 0, 0, 0.7)'
			});


			this.$axios({
				method : 'POST',
				url : this.config.ApiUrl + '/api/payment/newebpay' ,
				data: {
					'payment_type' : this.form.newebpay.paymentType,
					'amount' : this.form.newebpay.amount
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				if (response.data.status == 0){
					this.form.newebpay.load = false;
					loading.close();
					this.form.newebpay.step = 1;
					return this.$layer.msg(response.data.message);
				}
				else {
					this.form.newebpay.load = false;
					//this.form.response = response.data.response;

					this.order.newebpay.order_no = response.data.order_no;
					this.order.newebpay.order_time = response.data.order_time;

					this.order.newebpay.endTime = new Date(new Date().getTime() + 900 * 1000);
					var _this = this;
					//console.log(response.data.response);
					setTimeout(function(){
						window.open( response.data.response,'','');
						loading.close();
						_this.form.newebpay.step = 2;
						_this.newebpayCheckOrder(_this.order.newebpay.order_no);
					}, 200);
					/*
					setTimeout(function(){
						document.getElementById("__newebpayForm").setAttribute("target", "recharge");
						document.getElementById("__newebpayForm").submit();
						loading.close();
					}, 500);*/
					this.newebpayCheckOrder(this.order.newebpay.order_no);
				}
			}).catch(error => {
				loading.close();
				this.form.load = false;
				console.log(error);
			});
		},
		newebpayCheckOrder(order_no){
			if (this.form.newebpay.step == 2)	{
				setTimeout(() => {
					this.$axios({
							method : 'POST',
							url : this.config.ApiUrl + '/api/check-payment-order-no' ,
							data: {'order_no':order_no},
							headers: {
								'Content-Type': 'application/json'
							}
						})
						.then(response => {
							//console.log(response.data.status);
							if (response.data.status)	{
								this.newebpayFinish();
							}
							else {
								this.newebpayCheckOrder(order_no);
							}
					}).catch(error => {
						console.log(error);
					});
				}, 10000);
			}
		},


		bankatmNext(pay_url){
			if (!this.form.bankatm.amount) {
				return this.$layer.msg('請輸入金額');
			}
			if(pay_url=='/api/payment/vipbank')
			{
				if (parseInt(this.form.bankatm.amount) < 10000 || parseInt(this.form.bankatm.amount) > 2000000)	{
					return this.$layer.msg('請輸入金額範圍 10000 ~ 2000000');
				}
			}else
			{
				if (parseInt(this.form.bankatm.amount) < this.min_amount || parseInt(this.form.bankatm.amount) > this.max_amount)	{
					return this.$layer.msg('請輸入金額範圍 ' + this.min_amount + ' ~ ' + this.max_amount);
				}
			}
			this.form.bankatm.load = true;
			const loading = this.$loading({
				lock: false,
				text: '訂單產生中',
				spinner: 'el-icon-loading',
				background: 'rgba(0, 0, 0, 0.7)'
			});

			this.$axios({
				method : 'POST',
				url : this.config.ApiUrl + pay_url ,
				data: {
					'payment_type' : this.form.bankatm.paymentType,
					'amount' : this.form.bankatm.amount
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				if (response.data.status == 0){
					this.form.bankatm.load = false;
					loading.close();
					this.form.bankatm.step = 1;
					return this.$layer.msg(response.data.message);
				}
				else {
					this.form.bankatm.load = false;
					loading.close();
					//this.form.response = response.data.response;

					this.order.bankatm.order_no = response.data.order_no;
					this.order.bankatm.order_time = response.data.order_time;

					this.order.bankatm.endTime = new Date(new Date().getTime() + 900 * 1000);
					var _this = this;
					this.form.bankatm.step = 2;
				}
			}).catch(error => {
				loading.close();
				this.form.load = false;
				console.log(error);
			});
		},
		bankatmPrev(){
			this.form.bankatm.step = 1;
			this.order.bankatm.endTime = '';
		},
		htpayOrderFail(){
			this.form.htpay.step = 1;
			this.order.htpay.endTime = '';
			this.$alert('訂單已失效', '通知', {
				confirmButtonText: '確定',
			});
		},
		htpayPrev(){
			this.form.htpay.step = 1;
			this.order.htpay.endTime = '';
		},
		htpayFinish(){
			this.form.htpay.step = 3;
			this.order.htpay.finish_countdown = 10;
			this.htpayFinishCountdown();
		},
		htpayFinishCountdown(){
			setTimeout(() => {
				this.order.htpay.finish_countdown -= 1;
				if(this.order.htpay.finish_countdown == 0){
					this.form.htpay.step = 1;
					this.form.htpay.amount = '';
				}else
					this.htpayFinishCountdown();
			}, 1000);
		},
		htpayNext(){
			if (!this.form.htpay.amount) {
				return this.$layer.msg('請輸入金額');
			}
			if (parseInt(this.form.htpay.amount) < this.min_amount || parseInt(this.form.htpay.amount) > this.max_amount)	{
				return this.$layer.msg('請輸入金額範圍 ' + this.min_amount + ' ~ ' + this.max_amount);
			}
			this.form.htpay.load = true;
			const loading = this.$loading({
				lock: false,
				text: '訂單產生中',
				spinner: 'el-icon-loading',
				background: 'rgba(0, 0, 0, 0.7)'
			});


			this.$axios({
				method : 'POST',
				url : this.config.ApiUrl + '/api/payment/htpay' ,
				data: {
					'payment_type' : this.form.htpay.paymentType,
					'amount' : this.form.htpay.amount
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				if (response.data.status == 0){
					this.form.htpay.load = false;
					loading.close();
					this.form.htpay.step = 1;
					return this.$layer.msg(response.data.message);
				}
				else {
					this.form.htpay.load = false;
					//this.form.response = response.data.response;

					this.order.htpay.order_no = response.data.order_no;
					this.order.htpay.order_time = response.data.order_time;

					this.order.htpay.endTime = new Date(new Date().getTime() + 900 * 1000);
					var _this = this;
					//console.log(response.data.response);
					setTimeout(function(){
						window.open( response.data.response,'','');
						loading.close();
						_this.form.htpay.step = 2;
						_this.htpayCheckOrder(_this.order.htpay.order_no);
					}, 200);
					/*
					setTimeout(function(){
						document.getElementById("__htpayForm").setAttribute("target", "recharge");
						document.getElementById("__htpayForm").submit();
						loading.close();
					}, 500);*/
					this.htpayCheckOrder(this.order.htpay.order_no);
				}
			}).catch(error => {
				loading.close();
				this.form.load = false;
				console.log(error);
			});
		},
		htpayCheckOrder(order_no){
			if (this.form.htpay.step == 2)	{
				setTimeout(() => {
					this.$axios({
							method : 'POST',
							url : this.config.ApiUrl + '/api/check-payment-order-no' ,
							data: {'order_no':order_no},
							headers: {
								'Content-Type': 'application/json'
							}
						})
						.then(response => {
							//console.log(response.data.status);
							if (response.data.status)	{
								this.htpayFinish();
							}
							else {
								this.htpayCheckOrder(order_no);
							}
					}).catch(error => {
						console.log(error);
					});
				}, 10000);
			}
		},


	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),
    },
	created(){
			//console.log(this.user)
			this.getPayRule();
	},
}
</script>

<style scoped>
a, a:active, a:hover, a:link, a:visited {
    text-decoration: none;
    color: #888;
}
.deposit-tab .el-tabs__item{
	padding: 0 30px;
	font-size:15px;
}
.scope-width {
	width:220px;
}
.form .tip-div:before {
    border: 11px solid transparent;
    border-right-color: #585858;
    z-index: 1;
}
.form .tip-div:after, .tip-div:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -20px;
}
.form .tip-div:after, .tip-div:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -20px;
}
.form .tip-div:after {
    border: 10px solid transparent;
    border-right-color: #888;
}
.form .tip-div {
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 240px;
    transform: translateY(-50%);
    padding: 5px 15px;
    border-radius: 5px;
    background: #585858;
    line-height: 24px;
}
.step2,.step3{
	text-align: center;
	/*padding: 10px 10px;*/
	font-size: 14px;
	color:#ddd;
}
.step2 .tip{
	text-align: left;
	width: 620px;
	margin: 0 auto;
	/*
    line-height: 36px;
*/
}
.step2 .my-table{
	margin: 0 auto;
	width: 620px;
	display: table;
	border-collapse: collapse;
}
.step2 .my-table .my-row{
	display: table-row;
	border:solid 1px #888;
}
.step2 .my-table .my-cell{
	display: table-cell;
	width: 50%;
	border-right: 1px solid #888;
	padding: 10px 5px;
}
.step2 .count-down{
	margin: 0 auto;
	width: 620px;
	background: #888;
	color: #FFF;
	border-right: 1px solid #888;
	/*padding: 15px 15px;*/
	line-height: 45px;
}
.step2 .count-down .min, .step2 .count-down .sec{
	font-size: 24px;
	margin: 0 4px;
}
.my-table.btns .my-row{
	border: 0;
}
.my-table.btns .my-cell{
	border: 0;
}
.step3 .title2{
	width: 620px;
	margin: 10px auto;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
    line-height: 36px;
}
.step3 .line-w{
	border-bottom: solid 1px #CCC;
	margin: 10px auto;
	width: 620px;
	height: 1px;
}
.step3 .tip{
	text-align: left;
	width: 620px;
	margin: 0 auto;
    line-height: 36px;
}
.txt6{
	color: #888;
}
.step2 .btn-cell {
	padding:15px;
	text-align:right;
	padding-right:0px;
}
.el-radio {margin-right:0px;}
</style>
