<template>
	<div class="page-container">
		<div class="title">{{ $route.name }}</div>
		<div class="page-content">

			<el-steps :active="active" align-center class="global-step">
				<el-step title="設定信箱"></el-step>
				<el-step title="設定成功"></el-step>
			</el-steps>

		<el-row type="flex" justify="center">
			<el-col :span="13">

            <el-form :model="form" status-icon :rules="rules2" ref="form" label-width="100px" class="form-set-email">
                <el-form-item label="信箱" prop="email">
                    <el-input type="email" v-model="form.email" autocomplete="off" class="scope-width" placeholder="請輸入你的信箱" maxlength="50"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('form')" :loading="form.loading" class="scope-width">下一步</el-button>
					<!--
					<el-button @click="resetForm('form')">重置</el-button>
					-->
                </el-form-item>
            </el-form>
			</el-col>
		</el-row>
		</div>
	</div>
</template>

<script>

import { mapGetters } from 'vuex'
export default {
	name: 'EmailComponent',
	data () {
        var validateEmail = (rule, value, callback) => {
            let reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/;
            if (value === '') {
                callback(new Error('請輸入信箱'));
            } else if(!reg.test(value)){
                callback(new Error('請輸入正確信箱'));
            } else {
                callback();
            }
        };
 
		return {
			active: 1,
            form: {
                email: '',
				loading: false,
            },
            rules2: {
                email: [
                    { validator: validateEmail, trigger: 'blur' }
                ]
            }
		}
	},
	components :{

	},
	methods: {	
		next() {
			if (this.active++ > 2) this.active = 1;
		},
        submitForm(formName) {
            this.$refs[formName].validate((valid) => {
            if (valid) {
			    this.form.loading = true;
                this.$axios({
                    method : 'POST',
                    url : this.config.ApiUrl + '/api/setup-email' ,
                    data: {
                        'email' : this.form.email
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    //console.log(response.data);
                    this.$layer.msg(response.data.message);
                    if (response.data.status){
                        this.active++;
                        this.user.email = this.form.email;
						this.$router.go(-1);
                    }
                    this.form.loading = false;

                }).catch(error => {
                    console.log(error);
			        this.form.loading = false;
                });
            } else {
                console.log('error submit!!');
                return false;
            }
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        }
	},
	watch: {
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
		}),
    },
	created() {
	}
}
</script>


<style scoped>
.scope-width {
	width:260px;
}

</style>
