<template>
	<div class="page-container">
		<div class="title">{{ $route.name }}</div>
		<div class="page-content">

            <el-row :gutter="20">
                <el-col :span="8">
                    <div class="userInfo">
                        <div class="img center"><span class="avatar"></span></div>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div class="user-info-col">
			            <span class="">{{ getName }}</span>，歡迎您!
                    </div>
                    <div class="user-info-col">
			            <span class="">帳號等級:{{ getClass }}</span>
                    </div>
                    <div class="user-info-col">帳號安全:<el-rate class="block-rate" v-model="getRate" disabled :text-color="getColor" show-text :texts="['危險','危險','一般','安全','安全']" ></el-rate>
                    </div>
                    <div class="user-info-col">上次登錄時間:{{ user.login_time }}</div>
                </el-col>
                <el-col :span="8">
                    <el-button type="primary" class="btn-modify" @click="go2page('password')">修改登錄密碼</el-button>
                </el-col>
            </el-row>

            <div class="deploy-divided"></div>

            <el-row :gutter="20">
                <el-col :span="6">
                    <div class="user-subject">帳號安全</div>
                </el-col>
                <el-col :span="12">
                    <el-form status-icon ref="form" label-width="100px" class="form-change-pwd">
                        <!-- <el-form-item label="手機" prop="name" class="user-item">
                            <span v-if="user.mobile">{{ user.mobile }}</span>
                            <span v-else>尚未驗證</span>
                            <el-button type="text" v-if="!user.mobile" @click="go2page('mobile')" class="btn-user">設置號碼</el-button>
                        </el-form-item> -->
                        <el-form-item label="信箱" prop="created_at" class="user-item">
                            <span v-if="user.email">{{ user.email }}</span>
                            <span v-else>尚未綁定</span>
                            <el-button v-if="!user.email" @click="go2page('email')" type="text" class="btn-user">立即綁定</el-button>
                        </el-form-item>
                        <el-form-item label="銀行帳戶" prop="bank" class="user-item">
                            <span v-if="user.bank.bank_account">已設置</span>
                            <span v-else>尚未設置</span>
                            <el-button type="text" @click="go2page('set-bank')" class="btn-user">
								<span v-if="user.bank.bank_account">修改銀行帳戶</span>
								<span v-else>新增銀行帳戶</span>
							</el-button>
                        </el-form-item>
                        <el-form-item label="提款密碼" prop="cash_password" class="user-item">
                            <span v-if="user.is_cash_password">已設置</span>
                            <span v-else>尚未設置</span><el-button v-if="!user.is_cash_password" @click="go2page('cash-password')" type="text" class="btn-user">立即設定</el-button>
                            <el-button type="text" v-if="user.is_cash_password" @click="go2page('reset-cashpassword')" class="btn-user">重設提款密碼</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>

            <div class="deploy-divided"></div>

            <el-row :gutter="20">
                <el-col :span="6">
                    <div class="user-subject">個人資訊</div>
                </el-col>
                <el-col :span="15">
                    <el-form :model="form" status-icon ref="form" label-width="100px" class="form-change-pwd">
                        <el-form-item v-if="user.name" label="真實姓名" prop="name" class="user-item">
							<div>{{ user.name }}</div>
                        </el-form-item>
                        <el-form-item v-else label="真實姓名" prop="name" class="user-item">
							<el-input type="text" v-model="name" size="small" autocomplete="off"  class="user-input" maxlength="10" placeholder="請輸入真實姓名" ></el-input>
							<el-button type="primary"  icon="el-icon-edit" size="small" :loading="name_loading" @click="setName()">確認</el-button>
							<div class="name-tip">
								<span class="fw700">注意：</span>一經填寫，玩家本人無法直接修改真實姓名
							</div>
						</el-form-item>
                        <el-form-item label="註冊時間" prop="created_at" class="user-item">
                            <div>{{ user.created_at }}</div>
                        </el-form-item>
                        <el-form-item label="LINE" size="small" prop="line" class="user-item">
                            <el-input type="text" v-model="user.line" autocomplete="off" class="user-input" maxlength="20" placeholder="請輸入LINE" ></el-input>
							<el-button type="primary"  icon="el-icon-edit" size="small" :loading="form.loading" @click="submitForm('form')">確認</el-button>

						</el-form-item>


                    </el-form>
                </el-col>
            </el-row>

		
            <div class="deploy-divided"></div>
            <el-row :gutter="20">
                <el-col :span="20">
     			<div class="tip-box">
				<p class="title1">溫馨提示</p>
				
				<p>1. 為確保您帳戶的安全，真實姓名一旦設置不可修改，如有需要更改，請找在線客服協助<br>2. 真實姓名是證明您身份的重要憑證之一，且真實姓名將用於匹配銀行戶名與玩家真實姓名一致時才可以取款成功</p>

			</div>		
                </el-col>
                
            </el-row>		
		
		</div>

	
	
	</div>
</template>

<script>

import { mapGetters } from 'vuex'
export default {
	name: 'InfoComponent',
	data () {
		return {
            texts: ["1","2","3","4","5"],
            name: '',
			name_loading: false,
            form: {
                line: '',
				loading: false,
            }
		}
	},
	components :{

	},
	methods: {
        go2page(page){
            let cmd = page;
			//this.user.currentRoute = cmd;
			this.$router.push({path: cmd, query: {}});
        },
		setName(){
			this.name_loading = true;
            this.$axios({
                method : 'POST',
                url : this.config.ApiUrl + '/api/change-name' ,
                data: {
                    'name' : this.name
                },
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                //console.log(response.data);
                this.$layer.msg(response.data.message);
                if (response.data.status){
                    /*
					this.user.name = this.user.name;
                    this.user.line = this.user.line;*/
					this.$store.dispatch('getUserInfo');
				}
                this.name_loading = false;
            }).catch(error => {
                console.log(error);
                this.name_loading = false;
            });
		},
        submitForm(formName) {
            this.form.loading = true;
            this.$axios({
                method : 'POST',
                url : this.config.ApiUrl + '/api/change-line' ,
                data: {
                    'line' : this.user.line
                },
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                //console.log(response.data);
                this.$layer.msg(response.data.message);
                if (response.data.status){
                    /*
					this.user.name = this.user.name;
                    this.user.line = this.user.line;*/
					this.$store.dispatch('getUserInfo');
				}
                this.form.loading = false;
            }).catch(error => {
                console.log(error);
                this.form.loading = false;
            });
        },
	},
	watch: {
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
        }),
        getRate(){
            let rate = 1;
			if(this.user.mobile)    rate++;
			if(this.user.bank.bank_account)  rate++;
			if(this.user.is_cash_password)  rate++;
			if(this.user.name)  rate++;

			return rate;
        },
        getColor(){
            let rate = 1;
            if(this.user.mobile)    rate++;
            if(this.user.bank_account)  rate++;
            if(this.user.is_cash_password)  rate++;
            if(this.user.name)  rate++;

            let col = '#FF0000';
            if(rate > 2)    col = '#4091FF';
            if(rate > 4)    col = '#67c23a';
            return col;
        },
        getName(){
			return this.user.username;
            //if(this.user.name)  return this.user.name;
            //return "會員";
        },
        getClass(){
			return this.config.class[this.user.class];
			/*
			if(this.user.class==0) return '一般會員';
            if(this.user.class==1) return '黃金會員';
            if(this.user.class==2) return '白金會員';
            if(this.user.class==3) return '鑽石會員';*/
        }
    },
	created() {
		//this.form.name = this.user.name;
		//this.form.line = this.user.line;
        //this.$store.dispatch('getUserInfo');
		//console.log(this.user.bank.bank_account);
	}
}
</script>

<style scoped>


.userInfo .img .avatar {
    width: 89px;
    height: 89px;
    display: block;
    border-radius: 100%;
    border: 8px solid #e7e3e3;
    float: right;
    background: #fff url(~assets/images/logo-small.png) no-repeat;
    background-size: 118%;
    background-position: 50%;
}
.el-row {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}
.el-col {
    border-radius: 4px;
}
.user-info-col{
    margin: 4px 0;
    height: 30px;
    font-size: 14px;
}
.btn-modify{
    margin: 30px 0;
}
.page-content .deploy-divided {
	margin:25px 0;
	border-bottom:3px solid #888;
}
.user-subject{
    text-align: right;
    line-height: 160px;
}
.user-item{
    margin-bottom: 0px !important;
}

.user-input{
    width: 200px;
}
.btn-user{
    margin-left: 5px;
    color: #84e06d;
}
.btn-set-username{
}
.block-rate{
    display: inline;
    line-height: 12px;
}
.el-rate__icon{
    margin-right: 0px !important;
    font-size: 14px !important;
}
.fw700 {
	font-weight:700;
	color:red;
}
.name-tip {
	line-height:24px;
}
.tip-box {
	line-height:24px;
	font-size:14px;
}
.tip-box .title1{
	font-weight:700;
	font-size:16px;
}
</style>
