<template>
	<div class="page-container">
		<div class="title">{{ $route.name }}</div>
		<div class="page-content message-tabs">
			<el-badge :value="this.user.unread" :hidden="this.user.unread == 0" class="mail-dot-number">
			</el-badge>
        <el-tabs v-model="activeName" @tab-click="handleTabsClick">
            <el-tab-pane label="系統公告" name="first">
                <el-table v-loading="bulletin.loading" element-loading-background="rgba(0, 0, 0, 0.75)" :data="bulletin.currentData" style="width: 100%;margin:40px 0;" header-row-class-name="table-header" empty-text="暫無系統公告">
                    <el-table-column label="主旨" width="150">
                        <template slot-scope="scope">
                            <div class="pointer" @click="bulletinDetail(scope.$index)">{{scope.row.title}}</div>
                        </template>
                    </el-table-column>
                    <el-table-column label="內容" >
                        <template slot-scope="scope">
                            <div class="pointer" @click="bulletinDetail(scope.$index)">{{scope.row.content.substring(0,50)}}....</div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="created_at" label="時間" width="170">
                        <template slot-scope="scope">
                            <div>{{scope.row.start_time }}</div>
                        </template>
                    </el-table-column>
                </el-table>
				<center>
					<el-pagination background @current-change="changeBulletin" layout="prev, pager, next" :page-size="bulletin.pageSize" :current-page="bulletin.currentPage" :total="bulletin.total" v-if="bulletin.total > bulletin.pageSize">
					</el-pagination>
				</center>

			</el-tab-pane>

			<el-tab-pane label="站內信件" name="second">

				<el-table v-loading="mail.loading" element-loading-background="rgba(0, 0, 0, 0.75)" :data="mail.currentData" style="width: 100%;margin:40px 0;" header-row-class-name="table-header" empty-text="暫無個人信件">
                    <el-table-column prop="is_read" label="狀態" width="100">
                        <template slot-scope="scope">

                            <el-tag
                                :type="scope.row.is_read === 1 ? 'primary' : 'success'"
                                disable-transitions>{{scope.row.is_read ? '已讀' : '未讀' }}</el-tag>
                            <!--span>{{scope.row.is_read ? '已讀' : '未讀' }}</span-->
                        </template>
                    </el-table-column>
                    <el-table-column label="內容" >
                        <template slot-scope="scope">
                            <div class="pointer" @click="mailDetail(scope.$index)">{{scope.row.content.substring(0,50)}}....</div>
                        </template>
                    </el-table-column>
                    <el-table-column prop="created_at" label="時間" width="170">
                        <template slot-scope="scope">
                            <div>{{scope.row.created_at }}</div>
                        </template>
                    </el-table-column>
                </el-table>
				<center>
					<el-pagination background @current-change="changeMail" layout="prev, pager, next" :page-size="mail.pageSize" :current-page="mail.currentPage" :total="mail.total" v-if="mail.total > mail.pageSize">
					</el-pagination>
				</center>

			</el-tab-pane>
        </el-tabs>



		</div>
		<el-dialog title="系統公告" :visible.sync="bulletin.dialog" class="user-layout-dialog" :close-on-click-modal="false">
            <el-row>
                <el-col>
					{{bulletin.title}}
					<p>{{bulletin.content}}</p>
					{{bulletin.date | onlyDate}}
				</el-col>
            </el-row>
		</el-dialog>


		<el-dialog title="站內信件" :visible.sync="mail.dialog" class="user-layout-dialog" :close-on-click-modal="false">
            <el-row>
                <el-col>
					{{mail.content}}
					<p></p>
					{{mail.date}}
				</el-col>
            </el-row>
		</el-dialog>

	</div>


</template>

<script>
import { mapGetters } from 'vuex'
export default {
  filters:{
	onlyDate : function (val){
		return val.split(' ')[0]
	}
  
  },
	data() {
		return {
            activeName:'first',
			mail:{
				data:[],
				currentData:[],
				currentPage:1,
				total:0,
				pageSize:10,
				loading:false,
				dialog:false,
				content:'',
				title:'',
				date:''
			},
			bulletin:{
				data:[],
				currentData:[],
				currentPage:1,
				total:0,
				pageSize:10,
				loading:false,
				dialog:false,
				content:'',
				title:'',
				date:''
			}

		}
	},
	methods:{
		bulletinDetail(index){

			var detail = this.bulletin.currentData[index];
			this.bulletin.content = detail.content;
			this.bulletin.title = detail.title;
			this.bulletin.date = detail.start_time;
            this.bulletin.dialog = !this.bulletin.dialog;
        },
		mailDetail(index){
			var detail = this.mail.currentData[index];
			this.mail.content = detail.content;
			this.mail.date = detail.created_at;
            this.mail.dialog = !this.mail.dialog;

			if (!detail.is_read) {
				this.$axios({
					method : 'GET',
					url : this.config.ApiUrl + '/api/mailread/'+detail.id,
					data: {
					},
					headers: {
						'Content-Type': 'application/json'
					}
				}).then(response => {
					detail.is_read = 1;
          			this.user.unread = this.user.unread - 1;
				}).catch(error => {
					console.log(error);
				});

			}
        },

        handleTabsClick(tab, event) {
            //console.log(tab, event);
            if(this.activeName=="first")
            {
                this.loadBulletin();
            }
            if(this.activeName=="second")
            {
                this.loadMail();
            }
        },
        changeMail(page){
			var data = this.mail.data;
			this.mail.currentData = data.slice((page-1) * this.mail.pageSize, page * this.mail.pageSize);
		},
		loadMail(){
			this.mail.loading = true;
			this.$axios({
				method : 'GET',
				url : this.config.ApiUrl + '/api/mail',
				data: {
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {

                this.mail.data = response.data;
                this.mail.total = response.data.length;
				this.mail.loading = false;
				this.changeMail(1);

			}).catch(error => {
				console.log(error);
				this.mail.loading = false;
			});
		},
        changeBulletin(page){
			var data = this.bulletin.data;
			this.bulletin.currentData = data.slice((page-1) * this.bulletin.pageSize, page * this.bulletin.pageSize);
		},
        loadBulletin(){
			this.bulletin.loading = true;
			this.$axios({
				method : 'GET',
				url: this.config.ApiUrl + '/api/bulletin/' + this.config.company,
				data: {},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				this.bulletin.data = response.data;
				this.bulletin.total = response.data.length;
				this.bulletin.loading = false;
				this.changeBulletin(1);
			}).catch(error => {
				console.log(error);
				this.bulletin.loading = false;
			});
		},


	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
			//web: 'web',
		}),

	},
	watch : {
	},
	created(){
		this.loadBulletin();
	},
}
</script>

<style>
.message-tabs .mail-dot-number {
	position: absolute;
    margin-top: 9px;
    margin-left: 222px;
}
.el-table td, .el-table th {padding:8px 0;}
.el-table .cell {line-height:18px;}
.gary-text {
    color: rgb(153, 153, 153);
	font-size:12px;
}
.table-header {

    font-weight: 0;
    font-size: 14px;
    text-align: left;
	color:#666;
}
.block-box {
	font-size:14px;
	color:#6c6c6c;
	line-height:40px;
	white-space: nowrap;
}
.message-tabs .el-tabs__item{
	width:120px;
	text-align:center;
	font-size:15px;
}
</style>
