<template>
<div>

	<div class="userInfo">
		<div class="img center"><span class="avatar"></span></div>
		<div class="txt1 center">{{ getName }},歡迎您!</div>
		<div class="txt3 left">帳號等級: {{ getClass }}</div>
		<div class="txt2 left">帳號安全:<el-rate class="block-rate" v-model="getRate" disabled :text-color="getColor" disabled-void-color="#c0c4cc"></el-rate>
		</div>

	</div>

	<el-menu :default-active="user.currentRoute" @select="handleSelect" @close="handleClose" :router="true">

		<el-menu-item index="/user/wallet">資產總覽<i class="el-icon-arrow-right pull-right"></i></el-menu-item>
		<el-menu-item index="/user/deposit">存款專區<i class="el-icon-arrow-right pull-right"></i></el-menu-item>
		<el-menu-item index="/user/withdraw">提款專區<i class="el-icon-arrow-right pull-right"></i></el-menu-item>
		<el-menu-item index="/user/transfer-log">資金記錄<i class="el-icon-arrow-right pull-right"></i></el-menu-item>
		<el-menu-item index="/user/bet-log" ref="betlog">投注記錄<i class="el-icon-arrow-right pull-right"></i></el-menu-item>
		<el-menu-item index="/user/info">個人資料<i class="el-icon-arrow-right pull-right"></i></el-menu-item>
		<el-menu-item index="/user/mail">
			<el-badge :value="this.user.unread" :hidden="this.user.unread == 0" class="dot-number">
				站內消息
			</el-badge>
			<i class="el-icon-arrow-right pull-right"></i>
		</el-menu-item>
		<!-- <el-menu-item index="/user/dzp">
			<el-badge :value="user.dzp_chance" :hidden="user.dzp_chance == 0" class="dot-number">
				幸運大轉盤
			</el-badge>
			<i class="el-icon-arrow-right pull-right"></i>
		</el-menu-item> -->
	</el-menu>

	<div class="menu-bottom">
		<!-- <div class="center" style="padding:20px; 0px">
			<div><img src="~assets/images/app_dl.png" width="164" height="164"></div>
			<div style="margin-top:10px;color:#ddd">手機APP下載</div>
		</div> -->
	</div>

</div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
	methods: {
        go2page(page){
            let cmd = page;
			//this.user.currentRoute = cmd;
			this.$router.push({path: cmd, query: {}});
        },
	  handleSelect(key, keyPath) {
		this.user.currentRoute = '';
	  },
	  handleClose(key, keyPath) {
	    console.log(key, keyPath);
	  }
	},
    computed: {
		...mapGetters({
			user: 'user',
			config : 'config',
		}),
			getRate(){
					let rate = 1;
					if(this.user.mobile)    rate++;
					if(this.user.bank.bank_account)  rate++;
					if(this.user.is_cash_password)  rate++;
					if(this.user.name)  rate++;
					return rate;
			},
			getColor(){
					let rate = this.getRate;

					let col = '#FF0000';
					if(rate > 2)    col = '#4091FF';
					if(rate > 4)    col = '#67c23a';
					return col;
			},
			getName(){
				return this.user.username;
				//	if(this.user.name)  return this.user.name;
				//	return "會員";
			},
			getClass(){
				return this.config.class[this.user.class];
				/*
				if(this.user.class==0) return '一般會員';
				if(this.user.class==1) return '黃金會員';
				if(this.user.class==2) return '白金會員';
				if(this.user.class==3) return '鑽石會員';*/
			}
    },
	created(){
		this.user.currentRoute = this.$router.currentRoute.path;
	},
	data() {
		return {
			//activeIndex: this.$router.currentRoute.path,
		};
	},


}
</script>
<style>
.left-column .dot-number .el-badge__content.is-fixed{
	top:21px;
	right:-6px;
}
.left-column .userInfo .img .avatar {
    width: 89px;
    height: 89px;
    display: block;
    border-radius: 100%;
    border: 8px solid #e7e3e3;
    margin: auto;
    background: #fff url(~assets/images/logo-small.png) no-repeat;
    background-size: 118%;
    background-position: 50%;
}
.left-column .userInfo {

	padding:32px 24px 24px 24px;
	    border-right: solid 1px #888;

}
.left-column .userInfo .txt1 {
    margin-top: 14px;
    color: #ddd;
    font-size: 16px;
    font-weight: 700;
}
.left-column .userInfo .txt2 {
    margin-top: 14px;
    font-size: 14px;
	    color: #ddd;
}
.left-column .userInfo .txt3 {
    margin-top: 14px;
    font-size: 14px;
	color: #ddd;
}
.left-column .menu-bottom {

	border-right: 1px solid #888;
	margin-bottom: -100000px;
	padding-bottom:100000px;

}

.block-rate{
    display: inline;
    line-height: 12px;
}
.el-rate__icon{
  margin-right: 0px !important;
}

.left-column .el-badge__content.is-fixed {
  top: 10px;
  right: 2px;
}
</style>
