<template>
	<div class="page-container">
		<div class="title">{{ $route.name }}</div>
		<div class="page-content">

			<el-steps :active="active" class="global-step" align-center>
				<el-step title="手機認證"></el-step>
				<el-step title="認證成功"></el-step>
			</el-steps>
        <el-row type="flex" justify="center">
			<el-col :span="11">

            <el-form :model="form" status-icon :rules="rules2" ref="form" label-width="100px" class="form-mobile" v-if="active==1">
                <el-form-item label="提款密碼" prop="cash_password">
                    <el-input type="password" v-model="form.cash_password" autocomplete="off" maxlength="20" class="scope-width" placeholder="請輸入提款密碼" ></el-input>
                </el-form-item>
                <el-form-item label="手機號碼" prop="mobile">
                    <el-input type="text" v-model="form.mobile" autocomplete="off" maxlength="10" class="scope-width" placeholder="請輸入手機號碼" ></el-input>
                </el-form-item>
                <el-form-item label="驗證碼" prop="code">
                    <el-input type="code" v-model="form.code" autocomplete="off" class="form-code" maxlength="4" placeholder="驗證碼" ></el-input>
                    <el-button type="primary" :disabled="isSendCodeDisabledFn" @click="sendCode" class="form-code-btn" :loading="form.code_loading">發送驗證碼</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" :disabled="this.isDisabledVerifyBtn" @click="submitForm('form')" :loading="form.loading"  class="scope-width">下一步</el-button>
                </el-form-item>
            </el-form>

			</el-col>
		</el-row>


		</div>
	</div>
</template>

<script>

import { mapGetters } from 'vuex'
export default {
	name: 'mobileComponent',
	data () {
        var validatePwd = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('請輸入登錄密碼'));
            } else if(value.length < 6){
                callback(new Error('請輸入正確的登錄密碼'));
            } else {
                callback();
            }
        };

        var validateMobile = (rule, value, callback) => {
            let reg_mobile = /^09[0-9]{8}$/;
            if (value === '') {
                callback(new Error('請輸入手機號碼'));
            } else if(!reg_mobile.test(this.form.mobile)){
                callback(new Error('請輸入正確的手機號碼'));
            } else {
                callback();
            }
        };

        var validateCode = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('請輸入驗證'));
            } else if(value.length != 4){
                callback(new Error('請輸入4位數驗證'));
            } else {
                callback();
            }
        };

		return {
            active: 1,
            isDisabledVerifyBtn: false,
            form: {
                cash_password: '',
                mobile: '',
                code: '',
                code_loading: false,
				loading: false,
            },
            rules2: {
                cash_password: [{ validator: validatePwd, trigger: 'blur' }],
                mobile: [
                    { validator: validateMobile, trigger: 'blur' }
                ],
                code: [
                    { validator: validateCode, trigger: 'blur' }
                ]
            }
		}
	},
	components :{

	},
	methods: {
		next() {
			if (this.active++ > 2) this.active = 1;
        },
		alertCashPassword(){
			if(!this.user.is_cash_password) {
				this.$alert('請先前往設定提款密碼後才能進行手機認證', '重要提示', {
					type:'warning',
					confirmButtonText: '前往設定',
					callback: action => {
						this.user.currentRoute = '/user/info';
						this.$router.push({path: '/user/cash-password', query: {}});
					}

				});
			}
		},
        sendCode(){
            this.form.code_loading = true;
            this.$axios({
                method : 'POST',
                url : this.config.ApiUrl + '/api/sms-auth' ,
                data: {
                    'company' : this.config.company,
                    'cash_password' : this.form.cash_password,
                    'mobile' : this.form.mobile
                },
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                //console.log(response.data);
                if (response.data.status){
                    this.$layer.msg("簡訊已發送");
                    this.isDisabledVerifyBtn = false;
                }else{
                    this.$layer.msg(response.data.message);
                }
                this.form.code_loading = false;

            }).catch(error => {
                console.log(error);
                this.form.code_loading = false;
            });
        },
        submitForm(formName) {
            this.$refs[formName].validate((valid) => {
            if (valid) {
			    this.form.loading = true;
                this.$axios({
                    method : 'POST',
                    url : this.config.ApiUrl + '/api/verify-mobile' ,
                    data: {
                        'company' : this.config.company,
                        'cash_password' : this.form.cash_password,
                        'mobile' : this.form.mobile,
                        'code' : this.form.code
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    //console.log(response.data);
                    this.$layer.msg(response.data.message);
                    this.form.loading = false;
                    if (response.data.status){
                        this.active++;
                        this.user.mobile = this.form.mobile;
						this.$router.go(-1);
                    }

                }).catch(error => {
                    console.log(error);
			        this.form.loading = false;
                });
            } else {
                console.log('error submit!!');
                return false;
            }
            });
        }
	},
	watch: {
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
        }),
        isSendCodeDisabledFn(){
            if(this.form.cash_password != '' && this.form.mobile != ''){
                let reg_mobile = /^09[0-9]{8}$/;
                if(reg_mobile.test(this.form.mobile))
                    return false;
            }
            return true;
        },
    },
	mounted(){
		this.alertCashPassword();
	},
	created() {
	}
}
</script>

<style scoped>
.scope-width {
	width:220px;
}


.form-code{
    width: 120px;
}
.form-code-btn{
    width: 96px;
    padding: 12px 0px !important;
}
</style>
