<template>
	<div class="page-container">
		<div class="title">{{ $route.name }}</div>
		<div class="page-content">
			<el-steps :active="active" align-center class="global-step">
				<el-step title="重設登錄密碼"></el-step>
				<el-step title="設定成功"></el-step>
			</el-steps>

        <el-row type="flex" justify="center">
			<el-col :span="12">


            <el-form :model="form" status-icon :rules="rules2" ref="form" label-width="120px">
                <el-form-item label="舊登錄密碼" prop="curPassword">
                    <el-input type="password" v-model="form.curPassword" autocomplete="off" class="scope-width" placeholder="請輸入舊登錄密碼" maxlength="20"></el-input>
                </el-form-item>
                <el-form-item label="新登錄密碼" prop="newPassword">
                    <el-input type="password" v-model="form.newPassword" autocomplete="off" class="scope-width" placeholder="請輸入新登錄密碼" maxlength="20"></el-input>
                </el-form-item>
                <el-form-item label="確認新登錄密碼" prop="newPassword_confirmation">
                    <el-input type="password" v-model="form.newPassword_confirmation" autocomplete="off" class="scope-width" placeholder="請輸入確認新登錄密碼" maxlength="20"></el-input>
                </el-form-item>
                <el-form-item >
                    <el-button type="primary" @click="submitForm('form')" :loading="form.loading" class="scope-width">下一步</el-button>
					<!--
                    <el-button @click="resetForm('form')">重置</el-button>
					-->
                </el-form-item>
            </el-form>
			</el-col>
		</el-row>


		</div>
	</div>
</template>

<script>

import { mapGetters } from 'vuex'
export default {
	name: 'PasswordComponent',
	data () {
        var validateOldPwd = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('請輸入登錄密碼'));
            } else {
                callback();
            }
        };
        var validateNewPwd = (rule, value, callback) => {
            let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
            if (value === '') {
                callback(new Error('請輸入新登錄密碼'));
            } else if(!reg_pwd.test(value)){
				callback(new Error('請輸入6-12位數字及字母組合'));
            } else {
                if (this.form.newPassword !== '') {
                    this.$refs.form.validateField('newPassword_confirmation');
                }
                callback();
            }
        };
        var validateConfirmPwd = (rule, value, callback) => {
            let reg_pwd = /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/;
            if (value === '') {
                callback(new Error('請再次輸入新登錄密碼'));
            } else if(!reg_pwd.test(value)){
				callback(new Error('請輸入6-12位數字及字母組合'));
            } else if (value !== this.form.newPassword) {
                callback(new Error('兩次輸入登錄密碼不一致!'));
            } else {
                callback();
            }
        };

		return {
			active: 1,
            form: {
                curPassword: '',
                newPassword: '',
                newPassword_confirmation: '',
				loading: false,
            },
            rules2: {
                curPassword: [
                    { validator: validateOldPwd, trigger: 'blur' }
                ],
                newPassword: [
                    { validator: validateNewPwd, trigger: 'blur' }
                ],
                newPassword_confirmation: [
                    { validator: validateConfirmPwd, trigger: 'blur' }
                ]
            }
		}
	},
	components :{

	},
	methods: {
		next() {
			if (this.active++ > 2) this.active = 1;
		},
        submitForm(formName) {
            this.$refs[formName].validate((valid) => {
            if (valid) {
			    this.form.loading = true;
                this.$axios({
                    method : 'POST',
                    url : this.config.ApiUrl + '/api/change-pwd' ,
                    data: {
                        'curPassword' : this.form.curPassword,
                        'newPassword' : this.form.newPassword,
                        'newPassword_confirmation' : this.form.newPassword_confirmation
                    },
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    //console.log(response.data);
                    this.$layer.msg(response.data.message);
                    if (response.data.status){
                        this.active++;
						this.$router.go(-1);
						/*
                        setTimeout(() => {
                                this.logout();
                            }, 2000);*/
                    }
                    this.form.loading = false;

                }).catch(error => {
                    console.log(error);
			        this.form.loading = false;
                });
            } else {
                console.log('error submit!!');
                return false;
            }
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        },
        logout(){
            this.$axios({
                method : 'POST',
                url : this.config.ApiUrl + '/api/logout',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                this.user.isLogin = false;
                //this.$layer.msg('登出成功');
                this.$message({
                    type: 'success',
                    message: response.data.message
                });

                if (/^\/user/.test(this.$router.currentRoute.path)){
                    this.$router.replace('/');
                }
                //console.log(response.data);
            }).catch(error => {
                console.log(error);
            });
        }
	},
	watch: {
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
		}),
    },
	created() {
	}
}
</script>


<style scoped>
.scope-width {
	width:220px;
}

</style>
