<template>
  <div class="page-container">
    <div class="title">{{ $route.name }}</div>
    <div class="page-content">
        <el-steps :active="active" align-center class="global-step">
          <el-step title="設定銀行帳號"></el-step>
          <el-step title="確認提款密碼"></el-step>
          <el-step title="設定成功"></el-step>
        </el-steps>
        <el-row type="flex" justify="center">
			<el-col :span="10">

		  <el-form label-width="100px">
            <el-form-item label="銀行名稱">
              <el-select v-model="user.bank.bank_value" placeholder="請選擇" class="scope-width" :disabled="isSetted">
                <el-option v-for="item,i in bankLists" :key="i" :label="item" :value="item"></el-option>
              </el-select>
            </el-form-item>

            <el-form-item label="分行名稱">
              <el-input v-model="user.bank.bank_name" placeholder="請輸入分行名稱" class="scope-width" maxlength="20" :disabled="isSetted"></el-input>
            </el-form-item>

            <el-form-item label="銀行帳號">
              <el-input v-model="user.bank.bank_account" placeholder="請輸入銀行帳號" class="scope-width" maxlength="20" :disabled="isSetted"></el-input>
            </el-form-item>

            <el-form-item label="銀行戶名">
              <el-input v-model="user.bank.bank_username" placeholder="請輸入銀行戶名" class="scope-width" maxlength="20" :disabled="isSetted"></el-input>
            </el-form-item>



            <el-form-item>
              <el-button type="primary" @click="confirmDailog = true; active = 2" class="scope-width" :disabled="isSetted">下一步</el-button>
            </el-form-item>
          </el-form>
			</el-col>
		</el-row>


      <div class="tip-bottom">
        <h3>温馨提示</h3>
        <div class="content">
          <div>銀行資料一旦設定完成將不可更改，如需更改請聯繫<el-button type="text" @click="customerService">客服人員</el-button>獲得幫助</div>
        </div>
      </div>


<el-dialog title="確認提款密碼" :visible.sync="confirmDailog" width="420px" class="user-layout-dialog" :close-on-click-modal="false">
  <el-form >
    <el-form-item label="提款密碼" label-width="150px">
      <el-input v-model="form.cashPassword" placeholder="請輸入提款密碼" type="password" maxlength="20" class="scope-width"></el-input>
    </el-form-item>
    <el-form-item label="確認提款密碼" label-width="150px">
      <el-input v-model="form.cashPassword_confirmation" placeholder="請確認提款密碼" type="password" maxlength="20" class="scope-width"></el-input>
    </el-form-item>

  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="confirmDailog = false; active = 1" size="small" type="primary">取消</el-button>
    <el-button type="primary" @click="next" size="small">下一步</el-button>
  </div>
</el-dialog>



    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
export default {
	data() {
		return {
			isSetted: false,
			confirmDailog: false,
			active: 1,
			form: {},
			bankLists: ["004臺灣銀行","005土地銀行","006合庫商銀","007第一銀行","008華南銀行","009彰化銀行","011上海銀行","012台北富邦","013國泰世華","016高雄銀行","017兆豐商銀","018農業金庫","021花旗(台灣)銀行","022美國銀行","025首都銀行","039澳盛(台灣)銀行","048王道銀行","050臺灣企銀","052渣打商銀","053台中銀行","054京城商銀","072德意志銀行","075東亞銀行","081匯豐(台灣)銀行","082巴黎銀行","101瑞興銀行","102華泰銀行","103臺灣新光商銀","104台北五信","108陽信銀行","114基隆一信","115基隆二信","118板信銀行","119淡水一信","120淡水信合社","124宜蘭信合社","127桃園信合社","130新竹一信","132新竹三信","146台中二信","147三信銀行","158彰化一信","161彰化五信","162彰化六信","163彰化十信","165鹿港信合社","178嘉義三信","188台南三信","204高雄三信","215花蓮一信","216花蓮二信","222澎湖一信","223澎湖二信","224金門信合社","512雲林漁會","515嘉義漁會","517南市漁會","518南縣漁會","520小港漁會","520高雄漁會","521永安漁會","521林園漁會","521梓官漁會","521興達港漁會","521彌陀漁會","523東港漁會","523枋寮漁會","523林邊漁會","523琉球漁會","524新港漁會","525澎湖漁會","526金門漁會","600南龍漁會","600通苑漁會","600彰化漁會","600七股農會","600三義農會","600下營農會","600大內農會","600大肚農會","600中寮農會","600仁愛農會","600仁德農會","600北斗農會","600田尾農會","600安定農會","600西湖農會","600伸港農會","600官田農會","600林內農會","600南化農會","600南庄農會","600梧棲農會","600鹿谷農會","600麻豆農會","600新市農會","600溪州農會","600彰化農會","600福興農會","600線西農會","605高雄農會","612神岡農會","612豐原農會","613名間農會","613集集農會","614二林農會","614永靖農會","614竹塘農會","614秀水農會","614芬園農會","614芳苑農會","614員林農會","614埔心農會","614埤頭農會","616二崙農會","616口湖農會","616大埤農會","616斗六農會","616斗南農會","616古坑農會","616台西農會","616四湖農會","616西螺農會","616虎尾農會","616崙背農會","616莿桐農會","616褒忠農會","617大林農會","617六腳農會","617太保農會","617水上農會","617布袋農會","617民雄農會","617朴子農會","617竹崎農會","617東石農會","617梅山農會","617鹿草農會","617番路農會","617新港農會","617溪口農會","617義竹農會","617嘉義農會","618六甲農會","618北門農會","618永康農會","618玉井農會","618西港農會","618佳里農會","618將軍農會","618善化農會","618新營農會","618楠西農會","618歸仁農會","618鹽水農會","619大社農會","619大寮農會","619大樹農會","619小港農會","619仁武農會","619內門農會","619六龜農會","619永安農會","619田寮農會","619甲仙農會","619杉林農會","619岡山農會","619林園農會","619阿蓮農會","619美濃農會","619茄萣農會","619梓官農會","619鳥松農會","619湖內農會","619路竹農會","619鳳山農會","619橋頭農會","619燕巢農會","619彌陀農會","620九如農會","620竹田農會","620車城農會","620里港農會","620佳冬農會","620東港農會","620枋山農會","620枋寮農會","620林邊農會","620長治農會","620南州農會","620屏東市農會","620屏東縣農會","620恆春農會","620崁頂農會","620琉球農會","620高樹農會","620新園農會","620萬丹農會","620萬巒農會","620潮州農會","620麟洛農會","621吉安農會","621富里農會","621新秀農會","621壽豐農會","622太麻里農會","622台東農會","622成功農會","622池上農會","622東河農會","622長濱農會","622鹿野農會","622關山農會","624澎湖農會","625臺中農會","627連江縣農會","700中華郵政","803聯邦銀行","805遠東銀行","806元大銀行","807永豐銀行","808玉山銀行","809凱基銀行","810星展(台灣)銀行","812台新銀行","814大眾銀行","815日盛銀行","816安泰銀行","822中國信託","903汐止農會","910桃園漁會","910新竹漁會","910八德農會","910大園農會","910大溪農會","910平鎮農會","910桃園農會","910復興農會","910新屋農會","910楊梅農會","910龍潭農會","910龜山農會","910蘆竹農會","910觀音農會","922臺南農會","928大里農會","928冬山農會","928板橋農會","928草屯農會","928新莊農會","951基隆漁會","951瑞芳漁會","951萬里漁會","951頭城漁會","951蘇澳漁會","951八里農會","951三芝農會","951三星農會","951三重農會","951三峽農會","951土城農會","951士林農會","951中和農會","951中華民國農會","951五股農會","951五結農會","951內湖農會","951木柵農會","951北投農會","951北埔農會","951平溪農會","951石門農會","951石碇農會","951竹北農會","951竹東農會","951壯圍農會","951芎林農會","951坪林農會","951宜蘭農會","951林口農會","951金山農會","951南港農會","951後龍農會","951員山農會","951峨眉農會","951泰山農會","951基隆農會","951淡水農會","951深坑農會","951景美農會","951湖口農會","951新竹農會","951新店農會","951新埔農會","951新豐農會","951瑞芳農會","951樹林農會","951橫山農會","951頭城農會","951羅東農會","951關西農會","951寶山農會","951蘆洲農會","951蘇澳農會","951鶯歌農會","954二水農會","954三灣農會","954土庫農會","954大甲農會","954大安農會","954大村農會","954大城農會","954大湖農會","954大雅農會","954山上農會","954中埔農會","954元長農會","954內埔農會","954公館農會","954太平農會","954水里農會","954水林農會","954北港農會","954外埔農會","954左鎮農會","954玉溪農會","954田中農會","954白河農會","954石岡農會","954光豐農會","954后里農會","954竹山農會","954竹南農會","954沙鹿農會","954卓蘭農會","954和平農會","954和美農會","954東山農會","954東勢鄉農會","954東勢區農會","954社頭農會","954花蓮農會","954花壇農會","954阿里山農會","954信義農會","954南投農會","954後壁農會","954柳營農會","954苑裡農會","954苗栗農會","954埔里農會","954埔鹽農會","954烏日農會","954國姓農會","954清水農會","954通霄農會","954造橋農會","954魚池農會","954鹿港農會","954麥寮農會","954新化農會","954新社農會","954溪湖農會","954獅潭農會","954瑞穗農會","954銅鑼農會","954鳳榮農會","954潭子農會","954學甲農會","954頭份農會","954頭屋農會","954龍井農會","954龍崎農會","954礁溪農會","954關廟農會","954霧峰農會","804中華商業銀行"],

		};
	},
	computed: {
		...mapGetters({
			config: "config",
			user: "user",
			//web: "web"
		})
	},
	methods: {
		customerService(){
			//var url = 'http://kefu.ziyun.com.cn/vclient/chat/?websiteid=137063';
			window.open(this.config.CustomerServiceUrl,'', 'height=768,width=1024,location=no,menubar=no,menubar=no');
		},
		alertCashPassword(){
			if(!this.user.is_cash_password) {
				this.$alert('請先前往設定提款密碼後才能設定銀行號戶', '重要提示', {
					type:'warning',
					confirmButtonText: '前往設定',
					callback: action => {
						this.user.currentRoute = '/user/info';
						this.$router.push({path: '/user/cash-password', query: {}});
					}

				});
			}
		},
		next() {
			this.$axios({
					method: "POST",
					url: this.config.ApiUrl + "/api/set-bank/",
					data: {
						bank_value: this.user.bank.bank_value,
						bank_name: this.user.bank.bank_name,
						bank_account: this.user.bank.bank_account,
						bank_username: this.user.bank.bank_username,
						cashPassword: this.form.cashPassword,
						cashPassword_confirmation: this.form.cashPassword_confirmation,

					},
					headers: {
						"Content-Type": "application/json"
					}
				})
				.then(response => {
					this.$layer.msg(response.data.message);
					if (response.data.status) {
						this.active = 3;
						this.$router.go(-1);
					}
				})
				.catch(error => {
					console.log(error);
				});
		},


	},
	created() {
		//this.$set(this, 'form', this.user.bank ? this.user.bank: {'bank_value':'','bank_name':'','bank_account':'','bank_username':''});
		this.$store.dispatch('getUserInfo');
		//console.log( this.user.bank);
		this.isSetted = this.user.bank.bank_account != '';
	},
	mounted(){
		this.alertCashPassword();
	}
};
</script>


<style scoped>
.scope-width {
	width:200px;
}


</style>
