<template>
	<div class="page-container">
		<div class="title">{{ $route.name }}</div>
		<div class="page-content">


			<div class="block-box">
				<span class="label">時間：</span>
				<el-date-picker size="small" v-model="form.date"  :picker-options="form.datePicker" type="daterange" start-placeholder="開始日期" end-placeholder="結束日期" @change="handChange"></el-date-picker>
				<el-radio-group v-model="form.dateValue" size="small">
					<el-radio-button @click.native.prevent="handleClick(1)" label="1">今天</el-radio-button>
					<el-radio-button @click.native.prevent="handleClick(3)" label="3">三天</el-radio-button>
					<el-radio-button @click.native.prevent="handleClick(7)" label="7">一星期</el-radio-button>
					<el-radio-button @click.native.prevent="handleClick(14)" label="14">二星期</el-radio-button>
					<!--el-radio-button @click.native.prevent="handleClick(30)" label="30">一個月</el-radio-button-->
				</el-radio-group>
			</div>
			<div class="block-box">
				<span class="label">分類：</span>
				<el-radio-group v-model="form.type" size="small" @change="handleChange">
					<el-radio-button label="0">全部</el-radio-button>
					<el-radio-button label="50">存款</el-radio-button>
					<el-radio-button label="51">提款</el-radio-button>
					<el-radio-button label="81">轉入</el-radio-button>
					<el-radio-button label="82">轉出</el-radio-button>
					<!--
					<el-radio-button label="5">優惠</el-radio-button>
					-->
					<el-radio-button label="90">返水</el-radio-button>
				</el-radio-group>
			</div>
			<div class="block-box">
				<span class="label">狀態：</span>
				<el-radio-group v-model="form.status" size="small" @change="handleChange">
					<el-radio-button label="100">全部</el-radio-button>
					<el-radio-button label="0">處理中</el-radio-button>
					<el-radio-button label="4">審核中</el-radio-button>
					<el-radio-button label="1">成功</el-radio-button>
					<el-radio-button label="2">失敗</el-radio-button>
				</el-radio-group>
			</div>



    <el-table v-loading="form.loading" element-loading-background="rgba(0, 0, 0, 0.75)" :data="form.tableData" style="width: 100%;margin:40px 0;" header-row-class-name="table-header" empty-text="暫無資料" class="transfer-log">
		<el-table-column prop="type" label="類型" width="90">
		</el-table-column>
		<el-table-column prop="date" label="建立時間" width="110">
			<template slot-scope="scope">
				<div>{{scope.row.date.split(' ')[0] }}</div>
				<div class="gary-text">{{scope.row.date.split(' ')[1] }}</div>
			</template>
		</el-table-column>
		<el-table-column prop="name" label="名稱 | 訂單編號" width="280">
			<template slot-scope="scope">
				<div>{{scope.row.memo }}</div>
				<div class="gary-text">流水號{{scope.row.order_no }}</div>
			</template>

		</el-table-column>
		<el-table-column prop="amount" label="金額(元)" width="100">
		</el-table-column>
		<el-table-column prop="status" label="狀態" width="100">
			<template slot-scope="scope">
				<span>{{scope.row.status }}</span>
			</template>
		</el-table-column>
		<el-table-column prop="note" label="備註" width="100">
		</el-table-column>
		<el-table-column  label="操作">
			<template slot-scope="scope">
				<span><el-button type="text" @click="showDetail(scope.$index)">詳情</el-button></span>
			</template>
		</el-table-column>
    </el-table>

	<center>
		<el-pagination background @current-change="handleCurrentChange" layout="prev, pager, next" :page-size="form.pageSize" :current-page="form.currentPage" :total="form.total" v-if="form.total > form.pageSize">
		</el-pagination>
	</center>


		</div>
		<el-dialog title="詳情資訊" :visible.sync="form.dialog" class="user-layout-dialog" :close-on-click-modal="false">
			<el-row :gutter="5" v-for="(item, index) in form.detail" :key="index">
				<el-col :span="10" class="title-label">{{index}}：</el-col>
				<el-col :span="14">{{item || '-'}}</el-col>
			</el-row>
		</el-dialog>
	</div>


</template>

<script>
import moment from 'moment'
import { mapGetters } from 'vuex'
export default {
	data() {
		return {
			form:{
				datePicker:{
					disabledDate(time) {
						return time.getTime() < (new Date()).getTime() - (14 * 86400 * 1000);
						//return time.getTime() > Date.now() + 86400000 || time.getTime() < threeMonths;
					}
				},
				date:[],
				detail:[],
				dateValue:1,
				type:0,
				status:100,
				currentPage:1,
				total:20,
				pageSize:20,
				loading:false,
				dialog:false,
				tableData:[
					/*
					{
						type:'存款',
						date: '2016-05-03 12:12',
						name: '微信掃碼',
						orderNo: '1901145c3c4008cf817571ed59469d',
						amount:'300.21',
						status:'處理中',

					}*/
				],
			},

		}
	},
	methods:{
		showDetail(index){
			var detail = this.form.tableData[index];
			var content = {
				'流水號' : detail.order_no,
				'類型' : detail.type,
				'類型名稱' : detail.memo,
			};
			if (detail.payment_channel){
				content['付款渠道'] = detail.payment_channel;
			}
			if (detail.payment_code){
				content['付款代碼'] = detail.payment_code;
			}

			content['金額'] = detail.amount;
			content['當下餘額'] = detail.user_amount;
			content['狀態'] = detail.status;
			content['建立時間'] = detail.date;
			content['備註'] = detail.note;

			this.form.detail = content;
			//console.log(this.form.tableData[index]);
			this.form.dialog = !this.form.dialog
		},
		handleClick(val){
			this.form.dateValue = val;
			this.handleChange();
		},
		handleCurrentChange(val){
			this.onSubmit(val);
		},
		handleChange(){
			// if (this.form.dateValue){
			// 	this.form.date = [(new Date()).getTime() - ((this.form.dateValue-1) * 86400000),(new Date()).getTime()];
			// }
			this.onSubmit();

		},
		handChange(){
			this.form.dateValue = 0;
			this.onSubmit();
		},
		//console.log( response.data.data.data);
		//console.log(new Date(this.form.date[0] + 3600000*8),new Date(this.form.date[1] + 3600000*8))
		onSubmit(page){
			if (!this.form.date)
			{
				return false;
			}
			this.form.loading = true;
			this.$axios({
				method : 'POST',
				url : this.config.ApiUrl + '/api/transfer-log?page='+(page?page:1),
				data: {
					'type' : this.form.type,
					'status' : this.form.status,
					'dateStart' : moment(this.form.date[0]).format("YYYY-MM-DD"),
					'dateEnd' : moment(this.form.date[1]).format("YYYY-MM-DD"),
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				if (response.data.status)
				{

					//console.log( response.data.data.data);
					this.form.tableData = response.data.data.data;

					this.form.pageSize = response.data.data.per_page;
					this.form.currentPage = response.data.data.current_page;
					this.form.total = response.data.data.total;
				}
				//console.log(response.data);
				this.form.loading = false;
			}).catch(error => {
				console.log(error);
				this.form.loading = false;
			});
		},
	},
    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
		}),

	},
	watch : {
	},
	created(){
		this.handleChange();

	},
}
</script>

<style>

.el-table td, .el-table th {padding:8px 0;}
.el-table .cell {line-height:18px;}
.gary-text {
    color: rgb(153, 153, 153);
	font-size:12px;
}
.table-header {

    font-weight: 0;
    font-size: 14px;
    text-align: left;
	color:#666;
}
.block-box {
	font-size:14px;
	color:#ddd;
	line-height:40px;
	white-space: nowrap;
}
.block-box .label {padding:0 10px;}
.block-box .item {
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 15px;
}
.block-box .item.active {
    background: #c8a675;
    color: #fff;

}
.block-box .el-radio-button__inner {
	border:0px;
	border-radius: 4px;
	    margin: 0 4px;
		font-size:14px;
		padding:6px 12px;
}
.block-box .el-radio-button:first-child .el-radio-button__inner,
.block-box .el-radio-button:last-child .el-radio-button__inner {border:0px;	border-radius: 4px;}
.block-box .el-date-editor--daterange.el-input__inner {
    width: 250px;
	font-size:14px;
}
.block-box .el-range-editor--small .el-range-input {
    font-size: 14px;
}
.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled) {
    box-shadow: 0 0 0px 0px #ffffff;
}
</style>
