<template>
	<div class="page-container">
		<div class="title">{{ $route.name }}</div>
		<div class="page-content">



			<el-row :gutter="20" class="wallet-box">
				<el-col :span="11" class="left-box">

					<div>
						<div class="txt1"><h3>我的資產</h3></div>
						<div class="txt2">同步時間：{{ user.wallet.sync }} <el-button type="text" @click="refreshAll()" :loading="buttonLoading">刷新</el-button></div>
					</div>
					<div class="total">${{ user.wallet.totalAmounts.toFixed(2) }}</div>
					<div class="wallet">錢包餘額 ${{ displayAmount('WALLET') }}</div>
					<el-row>
						<router-link to="/user/withdraw" @click.native="handleRoute"><el-button type="primary">我要提款</el-button></router-link>
						<router-link to="/user/deposit" @click.native="handleRoute"><el-button type="danger">快速存款</el-button></router-link>
					</el-row>

				</el-col>
				<el-col :span="13" class="right-box">




				<el-form label-width="90px">
					<h3>資產互轉</h3>
					<div class="transfer-switch">
					<el-tooltip class="item" effect="light" content="上下調換" placement="top-start">
						<i class="el-icon-sort"  @click="transferSwitch"></i>
					</el-tooltip>
					</div>
					<el-form-item label="轉出">

						<span class="tip-amount" v-if="transfer.out && user.wallet.deploy[transfer.out].amount >= 0">${{ displayAmount(transfer.out) || '0.00'  }}</span>
						<el-select placeholder="請選擇" v-model="transfer.out" @change="changeOut" :clearable="true">
							<el-option  v-for="item in transfer.outArray" :key="item.value" :label="item.label" :value="item.value" :disabled="user.wallet.deploy[item.value].amount?item.disabled:true">
								<img :src="item.icon" class="vendor-icon" />
								<span>{{ item.label }}</span>
								<span class="wallet-rmb-tag" v-if="['VG'].includes(item.value)">幣值1:5</span>
								<span class="select-right-amount">${{ displayAmount(item.value) || '0.00' }}</span>
							</el-option>
						</el-select>
						<div class="rmb-tip" v-if="['VG'].includes(transfer.out)"><i class="el-icon-info"></i> 轉出幣值1:5「轉出2元 = 轉入10元」</div>
					</el-form-item>


					<el-form-item label="轉入">
						<span class="tip-amount" v-if="transfer.in && user.wallet.deploy[transfer.in].amount >= 0">${{ displayAmount(transfer.in) || '0.00'}}</span>

						<el-select placeholder="請選擇" v-model="transfer.in" value-key="transfer.in" @change="changeIn" :clearable="true">
							<el-option  v-for="item in transfer.inArray" :key="item.value" :label="item.label" :value="item.value" :disabled="item.disabled">
								<img :src="item.icon" class="vendor-icon" />
								<span >{{ item.label }}</span>
								<span class="wallet-rmb-tag" v-if="['VG'].includes(item.value)">幣值5:1</span>
								<span style="float: right; color: #8492a6; font-size: 14px">${{ displayAmount(item.value) || '0.00' }}</span>
							</el-option>
						</el-select>
						<div class="rmb-tip" v-if="['VG'].includes(transfer.in)"><i class="el-icon-info"></i> 轉入幣值5:1「轉出10元 = 轉入2元」</div>
					</el-form-item>


					<el-form-item label="金額">
						<el-input placeholder="請輸入金額" @keyup.enter.native="onSubmit" @keypress.native="$bet.onlyNumber()" v-model="transfer.amount" :value="transfer.amount" :clearable="true"></el-input> <el-button type="text" @click="transferAll">全部轉入</el-button>
					</el-form-item>
					<el-form-item style="margin-bottom:0px;">
						<el-button type="primary" @click="onSubmit" :loading="transfer.loading">確定轉帳</el-button>
					</el-form-item>
					<el-form-item style="">
						
					</el-form-item>
				</el-form>




				</el-col>
			</el-row>




			<div class="amounts-deploy-divided"></div>

			<h3>資產總覽</h3>
			<el-row :gutter="10" class="amounts-deploy">
				<el-col :span="6" v-for="(item, key) in config.vendors" :key="item.value">
					<el-progress type="circle" :percentage="user.wallet.deploy[item.value].percent || 0" color="#35c6d3" :width="66" :stroke-width="4"></el-progress>
					<div class="box">
						<div>{{ item.label }} <span class="wallet-rmb-tag" v-if="['VG'].includes(item.value)">幣值5:1</span></div>
						<div>{{ displayAmount(item.value) }}
						</div>
					</div>
				</el-col>
			</el-row>

		</div>
	</div>
</template>

<script>

import { mapGetters } from 'vuex'
import { TweenLite } from 'gsap';
export default {
	name: 'WalletComponent',
	data () {
		return {
			vendorsCount : 0,
			buttonLoading : false,

			transfer: {
				amount:'',
				out : '',
				outArray : [],
				in : '',
				inArray : [],
				loading:false,
			},
		}
	},
	components :{

	},
	methods: {
		handleRoute(){
			this.user.currentRoute = this.$router.currentRoute.path;
		},
		onSubmit(){
			if(!this.transfer.out) {
				return this.$layer.msg('請選擇轉出帳戶');
			}
			if(!this.transfer.in) {
				return this.$layer.msg('請選擇轉入帳戶');
			}
			if (!this.transfer.amount || parseFloat(this.transfer.amount) < 1)
			{
				return this.$layer.msg('請輸入金額');
			}

			this.transfer.amount = parseFloat(this.transfer.amount);

			if (this.transfer.amount > this.user.wallet.deploy[this.transfer.out].amount)	{
				this.transfer.amount = this.user.wallet.deploy[this.transfer.out].amount;
				return this.$layer.msg('金額不得大於' + this.user.wallet.deploy[this.transfer.out].amount);

			}


			this.transfer.loading = true;
			this.$axios({
				method : 'POST',
				url : this.config.ApiUrl + '/api/transfer' ,
				data: {
					'amount' : this.transfer.amount,
					'from' : this.transfer.out,
					'to' : this.transfer.in
				},
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				//console.log(response.data);
				this.$layer.msg(response.data.message);
				if (response.data.status){
					this.user.wallet.deploy[this.transfer.out].amount = this.user.wallet.deploy[this.transfer.out].amount - parseFloat(this.transfer.amount);
					//this.user.wallet.deploy[this.transfer.in].amount = this.user.wallet.deploy[this.transfer.in].amount + parseFloat(this.transfer.amount);
					setTimeout(() => {
						this.refreshAll();
					}, 100);
					//this.transfer.amount = '';
				}
				this.transfer.loading = false;

			}).catch(error => {
				console.log(error);
			});

		},
		displayAmount(args){
			return parseFloat(this.user.wallet.deploy[args].amount).toFixed(2);
		},
		transferAll(){
			if(!this.transfer.out) {
				return this.$layer.msg('請選擇轉出平台');
			}
			var amount = parseInt(this.user.wallet.deploy[this.transfer.out].amount);
			if(!amount) {
				return this.$layer.msg('金額不足');
			}
			this.transfer.amount = amount;
		},
		transferSwitch(){
			//console.log(this.transfer.in,this.transfer.out);
			var tempArray = this.transfer.inArray;
			var tempValue = this.transfer.in;
			this.transfer.inArray = this.transfer.outArray;
			this.transfer.in = this.transfer.out;
			this.transfer.outArray = tempArray;
			this.transfer.out = tempValue;

		},
		changeOut(value){
		//	console.log(value);
			//console.log('out:'+this.transfer.out);
			//console.log('in:'+this.transfer.in);
			for (var i=0;i < this.transfer.inArray.length; i++){
				this.transfer.inArray[i].disabled = false;
				if (this.transfer.inArray[i].value == value){
					this.transfer.inArray[i].disabled = true;
				}
				if (value != 'WALLET'){
					if(['VG'].includes(this.transfer.inArray[i].value)) {
						this.transfer.inArray[i].disabled = true;					
					}
				}
				if(['VG'].includes(value)) {
					this.transfer.inArray[i].disabled = true;					
					if (this.transfer.inArray[i].value == 'WALLET') {
						this.transfer.inArray[i].disabled = false;					
					}
				}

			}

		},
		changeIn(value){
			for (var i=0;i < this.transfer.outArray.length; i++){
				this.transfer.outArray[i].disabled = false;
				if (this.transfer.outArray[i].value == value){
					this.transfer.outArray[i].disabled = true;
				}
				if (value != 'WALLET'){
					if(['VG'].includes(this.transfer.outArray[i].value)) {
						this.transfer.outArray[i].disabled = true;					
					}
				}
				if(['VG'].includes(value)) {
					this.transfer.outArray[i].disabled = true;					
					if (this.transfer.outArray[i].value == 'WALLET') {
						this.transfer.outArray[i].disabled = false;					
					}
				}
			}


		},
		refreshAll(){
			this.buttonLoading = true;
			for (var key in this.config.vendors) {
				this.refreshBalance(this.config.vendors[key].value);
			}
		},
		refreshBalance(vendor) {
			//console.log(lastKey);
			this.$axios({
				method : 'GET',
				url : this.config.ApiUrl + '/api/get-balance/' + vendor,
				headers: {
					'Content-Type': 'application/json'
				}
			}).then(response => {
				this.vendorsCount++;
				if (response.data.status) {
//					this.user.wallet.deploy[vendor].amount = response.data.data.amount;
					let self = this;
					TweenLite.to(this.user.wallet.deploy[vendor], 0.5, {amount:response.data.data.amount,onComplete:function (){
						self.refreshPercents();
					}});
					//this.user.wallet.deploy[vendor].amount = parseFloat(response.data.data.amount);
					//this.refreshPercents();
					if (response.data.data.time){
						this.user.wallet.sync = response.data.data.time;
					}
				}

				//console.log(this.vendorsCount);
				if (this.vendorsCount == this.user.vendorsCount) {
					//this.$layer.msg('刷新完成');
					this.vendorsCount = 0;
					this.buttonLoading = false;
				}
			}).catch(error => {
				console.log(error);
			});
		},
		refreshPercents() {
				var totalAmounts = 0;
				this.user.wallet.totalAmounts = 0;

				for (var key in this.user.wallet.deploy) {
					totalAmounts += parseFloat(this.user.wallet.deploy[key].amount);
				}
				this.user.wallet.totalAmounts = totalAmounts;

				for (var key in this.user.wallet.deploy) {
					//this.user.wallet.deploy[key].percent = Math.round( parseFloat(this.user.wallet.deploy[key].amount) / totalAmounts * 100);
					this.user.wallet.deploy[key].percent =  Math.floor(parseFloat(this.user.wallet.deploy[key].amount) / totalAmounts * 10000) / 100;
				}


		},

	},

    computed: {
		...mapGetters({
			config: 'config',
			user: 'user',
		}),

	},
	watch : {
	},
	created() {


		if (!this.user.wallet.refresh){
			//this.refreshUserBalance();

			for (var key in this.config.vendors) {
				this.$set(this.user.wallet.deploy, this.config.vendors[key].value, {amount:0,percent:0});

			}
			//console.log(this.user.wallet.deploy);
			for (var key in this.config.vendors) {
				this.refreshBalance(this.config.vendors[key].value);
			}
			this.user.vendorsCount = this.config.vendors.length;
			this.user.wallet.refresh = true;
		}
		for (var key in this.config.vendors) {

			this.transfer.outArray.push({
				value: this.config.vendors[key].value,
				label: this.config.vendors[key].label,
				icon: this.config.vendors[key].icon,
				disabled: false
			});
			this.transfer.inArray.push({
				value: this.config.vendors[key].value,
				label: this.config.vendors[key].label,
				icon: this.config.vendors[key].icon,
				disabled: false
			});

		}

		Object.assign({}, this.transfer.outArray);
		Object.assign({}, this.transfer.inArray);


	}
}
</script>

<style>
.left-box .total{
	font-size: 32px;
    margin: 25px 0 35px 0;
    font-weight: bold;
    text-indent: 5px;

}
.left-box .wallet{
	font-size: 16px;
    margin: 50px 0;

}
.left-box .txt1{
    display: inline-block;
}
.left-box .txt2{
    display: inline-block;
	font-size:14px;
	margin-left:30px;
}
.page-content .amounts-deploy-divided {
	margin:25px 0;
	border-bottom:3px solid #888;
}
.el-select-dropdown__item .vendor-icon{
	vertical-align:middle;
	margin-right:5px;
	margin-left:-5px;
	width:26px;
	height:26px;
	border: 1px solid #ddd;
    border-radius: 50%;
}
.el-select-dropdown__item .select-right-amount{
	float: right;
	color: #8492a6;
	font-size: 14px
}

.tip-amount{
	position: absolute;
	left: 170px;
	color:rgb(132, 146, 166);
	font-size:14px;
	text-align: right;
	width:100px;
}
.transfer-switch {
    width: 44px;
    border-top: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    position: absolute;
    height: 62px;
    left: 400px;
	top:80px;

}
.transfer-switch i {
	font-size:20px;
	border:1px solid #eaeaea;
	padding:8px;
	position: absolute;
	right: -19px;
    top: 12px;
    border-radius: 5px;
    background-color: #fff;
	cursor: pointer;
	color:#999;
}
.amounts-deploy {font-size:14px;}
.amounts-deploy .box{
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    margin-left: 12px;
    margin-top: 12px;
}
.amounts-deploy .el-col-6 {padding:15px 0px;}
.amounts-deploy .el-col-8 {padding:15px 0px;}
.wallet-box .right-box h3{ padding-left:40px;}
.wallet-box .right-box {
    position: relative;
	border-left:3px solid #888;
	margin-left:-3px;
}
.wallet-box .right-box .el-input {width:300px;}

.wallet-box .right-box .el-input .el-input__inner{background-color: transparent;}
.wallet-box .rmb-tip {
	position: absolute;
    top: 32px;
    font-size: 12px;
	color:#e91e63;
}

.wallet-rmb-tag {
	background-color:#EA5A49;
	color:#fff;
	padding:2px 4px;border-radius:3px;
	font-size:12px;
	z-index:2;
}
</style>
<style scoped>
.el-button--text {
    color: #E4BB7B;
}
</style>
