<template>
  <div class="page-container">
    <div class="title">{{ $route.name }}</div>
    <div class="page-content">

        <el-steps :active="active" align-center class="global-step">
          <el-step title="輸入金額"></el-step>
          <el-step title="申請成功"></el-step>
        </el-steps>


        <el-row type="flex" justify="center">
					<el-col :span="18" :offset="4">
          <el-form label-width="100px" class="form">
            <el-form-item label="可提金額">${{ wallet || '0.00'}} 元</el-form-item>
            <el-form-item label="銀行帳戶">
				<div v-if="user.bank.bank_account">
					{{user.bank.bank_value}} {{user.bank.bank_name}}
					<!--router-link to="/user/set-bank" class=""><el-button type="text">修改帳戶</el-button></router-link-->
					<div>{{user.bank.bank_account}}</div>

				</div>
				<div v-else>
					<router-link to="/user/set-bank"><el-button type="text">設定銀行帳戶</el-button></router-link>
				</div>

			</el-form-item>

            <el-form-item label="提款金額">
              <el-input v-model="form.amount" class="scope-width" placeholder="請輸入提款金額" autocomplete="off" @keypress.native="$bet.onlyNumber()" maxlength="6"></el-input>
			  <div class="tip-div"><div>{{ limitDesc() }}</div></div>
            </el-form-item>

            <el-form-item label="提款密碼">
				<div v-if="user.is_cash_password">
				  <el-input v-model="form.cash_password" type="password" placeholder="請輸入提款密碼" class="scope-width" autocomplete="off" maxlength="20"></el-input>

				</div>
				<div v-else>
					<router-link to="/user/cash-password"><el-button type="text">設定提款密碼</el-button></router-link>
				</div>


            </el-form-item>

            <el-form-item>
              <el-button type="primary" @click="next" class="scope-width">下一步</el-button>
            </el-form-item>
          </el-form>
		  			</el-col>
        </el-row>

      <div class="tip-bottom">
        <h3>温馨提示</h3>
        <div class="content">
          <div>為確保您的款項及時到帳，請您留意以下內容：</div>
          <div>1. 在輸入您的存款金額時確保您提交的金額在限額範圍之內。</div>
          <div>2. 請確保您的銀行帳戶是開通的狀態。</div>
			<div>支付遇到困難？聯繫<el-button type="text" @click="customerService">客服人員</el-button>獲得幫助</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
export default {
	data() {
		return {
			min_amount: 1000,
			max_amount: 450000,
			active: 1,
			form: {}
		};
	},
	computed: {
		...mapGetters({
			config: "config",
			user: "user",
			//web: "web"
		}),
		wallet(){
			if (!this.user.wallet.deploy['WALLET'])
			{
				return false;
			}
			return this.user.wallet.deploy['WALLET'].amount.toFixed(2);
			//return x.toFixed(2);
		}
	},
	methods: {
		limitDesc(){
			return '單筆提款限額(元):' + this.min_amount + ' - ' + this.max_amount;
		},
		customerService(){
			//var url = 'http://kefu.ziyun.com.cn/vclient/chat/?websiteid=137063';
			window.open(this.config.CustomerServiceUrl,'', 'height=768,width=1024,location=no,menubar=no,menubar=no');
		},
		next() {
			this.active = 1;
			if (!this.user.is_cash_password){
				return this.$layer.msg('請先設定提款密碼後才能提款');
			}

			if (!this.form.amount) {
				return this.$layer.msg('請輸入金額');
			}
			if (parseInt(this.form.amount) < this.min_amount || parseInt(this.form.amount) > this.max_amount)	{
				return this.$layer.msg('請輸入金額範圍 ' + this.min_amount + ' ~ ' + this.max_amount);
			}
			var amount = parseFloat(this.user.wallet.deploy['WALLET'].amount);

			if(!amount) {
				return this.$layer.msg('金額不足');
			}

			if (this.form.amount > amount){
				return this.$layer.msg('可提金額不可大於' + amount+'元');
			}
			this.$axios({
					method: "POST",
					url: this.config.ApiUrl + "/api/cash/",
					data: {
						coins: this.form.amount,
						cash_password: this.form.cash_password
					},
					headers: {
						"Content-Type": "application/json"
					}
				})
				.then(response => {
					this.$layer.msg(response.data.message);
					if (response.data.status){
						this.$store.dispatch('getUserInfo');
						this.active = 2;

						this.user.currentRoute = '/user/transfer-log';
						this.$router.push({path: '/user/transfer-log', query: {}});
					}
					//this.refreshBalance();
				})
				.catch(error => {
					console.log(error);
				});
		},


	},

	created() {
		//console.log(this.user);
		//this.$store.dispatch('getUserInfo');
	}

};
</script>


<style scoped>


.scope-width {
	width:200px;
}

.form .tip-div:before {
    border: 11px solid transparent;
    border-right-color: #585858;
    z-index: 1;
}
.form .tip-div:after, .tip-div:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -20px;
}
.form .tip-div:after, .tip-div:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -20px;
}
.form .tip-div:after {
    border: 10px solid transparent;
    border-right-color: #888;
}
.form .tip-div {
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 220px;
    transform: translateY(-50%);
    padding: 5px 15px;
    border-radius: 5px;
    background: #585858;
    line-height: 24px;
}
</style>
