a, a:active, a:hover, a:link, a:visited {
    text-decoration: none;
}
:focus {
	outline: 0;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft JhengHei,Microsoft YaHei,SimSun,sans-serif;
	background-color: #313131;
}
html * {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft JhengHei,Microsoft YaHei,SimSun,sans-serif;

}
.el-dropdown-menu{
	background-color: #434343;
    border: 1px solid #888;
}
.el-dropdown-menu__item--divided:before {
    background-color: #666;
}
.el-dropdown-menu__item--divided {
    border-top: 1px solid #666;
}
.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #666;
}
.el-tag{
	background-color: #fcf8f224;
}
header {
	/*background-color:#EEE;*/
	border-bottom: solid 1px #666;
	font-size:16px;
	background-color:#FFF;

}
.el-header{
	background-color: #3a3a3a;
}
header .title {
	display:inline-block;
	vertical-align: top;
	line-height:60px;

}
header .header-el-menu {
	display:inline-block;
	font-size:16px;
	line-height: 65px;
    color: #ddd;
}
header .header-el-menu .el-menu-item{
    height: 59px;
    line-height: 59px;
	font-size:16px;
	padding: 0 15px;

}
.pointer {cursor: pointer;}

header .el-menu.el-menu--horizontal {
	border-bottom:0px;
}

header .el-col.el-col-24{height:60px;white-space:nowrap;}
header .login-block {
    position: absolute;
    cursor: pointer;
    line-height: 60px;
    right: 25px;
	top: 0;
	color: #ddd;
}
header .login-block a{
	text-decoration: none;
	color: #E4BB7B;
}


header .login-block .user-circle {
    width: 30px;
    vertical-align: middle;
}



footer {
    width: 100%;
    height: 144px;
    background: #1c171d url(~assets/images/foot_bg.png);
	color:#EEE;
}
footer .container.el-row{
	margin:0 auto !important;
}
footer .el-col-8{

	line-height:24px;
	letter-spacing: 1px;
	font-size:14px;
}
html .el-container>.el-main {
	background-color:#313131;
	padding:0px;
}
html .el-container>.el-main.right-column {
	background-color:#4a4a4a;
	color: #ddd;
}




.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

/*
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
*/
/*
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}*/
.container {
	max-width: 1140px;
	min-width: 1140px;
}


.main-swiper .swiper-container {
	height: 450px;
	width: 100%;

}
.banner-img {width:100%;height:100%;}

.main-swiper .swiper-slide {
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  background-color: #EEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


















@-webkit-keyframes layer-bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5) translate(-75%,-75%);
		transform: scale(.5) translate(-50%,-50%);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) translate(-75%,-75%);
		transform: scale(1) translate(-50%,-50%);
	}
}

@keyframes layer-bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.5) translate(-75%,-75%);
		-ms-transform: scale(.5) translate(-75%,-75%);
		transform: scale(.5) translate(-75%,-75%);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) translate(-50%,-50%);
		-ms-transform: scale(1) translate(-50%,-50%);
		transform: scale(1) translate(-50%,-50%);
	}
}


@-webkit-keyframes layer-bounceOut {
	100% {
		opacity: 0;
		-webkit-transform: scale(.7);
		transform: scale(.7)
	}
	30% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05)
	}
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}

@keyframes layer-bounceOut {
	100% {
		opacity: 0;
		-webkit-transform: scale(.7);
		-ms-transform: scale(.7);
		transform: scale(.7)
	}
	30% {
		-webkit-transform: scale(1.05);
		-ms-transform: scale(1.05);
		transform: scale(1.05)
	}
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1)
	}
}


.layer-anim-00 {
	-webkit-animation-name: layer-bounceIn;
	animation-name: layer-bounceIn
}
/*layer-ui 特效*/
.vl-notify.vl-notify-msg, .vl-notify.vl-notify-tips {

	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation: layer-bounceIn .2s !important;
	animation: layer-bounceIn .2s !important;
	border-radius:3px !important;
	z-index:99999 !important;
	font-family :'Microsoft JhengHei' !important;
	font-size:16px !important;
	letter-spacing: 0px;
	    background-color: rgba(0,0,0,.75) !important;
		font-weight:400;
		padding:0 20px !important;
		line-height:40px;

		/*
		    letter-spacing: 1px;
			*/
}

.center {
	text-align:center;
}

.container.user-container {
	padding:0px;
	margin:15px auto;
	border: 1px solid #888;
}
.user-container .left-column {
	background-color: #444;
	width:210px !important;
	font-size:16px;
	overflow:hidden;

}
.user-container .left-column .el-menu{
	background-color: #444;
	    border-top: 1px solid #aaa;
	    border-bottom: 1px solid #aaa;
		padding:30px 0;

}

.user-container .left-column .el-menu .el-icon-arrow-right{
    font-weight: 700;
    margin-top: 12px;
    font-size: 16px;
	margin-right:0px;
}
.user-container .left-column .el-menu .el-menu-item:focus,
.user-container .left-column .el-menu .el-menu-item:hover,
.user-container .left-column .el-menu .el-menu-item.is-active

{
    background-color: #666;
	border-right: 0px;
	margin-right: -1px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}
.user-container .left-column .el-menu .el-menu-item.is-active{
   color: #ddd;
}

.user-container .left-column .el-menu-item{
	height:43px;

	line-height:43px;
	font-size:15px;
	-webkit-transition-property: none;
	-moz-transition-property: none;
	-o-transition-property: none;
	transition-property: none;
}


.user-container .right-column .title{
    height: 40px;
    line-height: 40px;
    background: #555;
    border-bottom: 1px solid #444;
    line-height: 40px;
    padding: 0 30px;
    color: #ddd;
}
.pull-right {
    float: right;

}

.page-content {
	padding:30px 27px 50px;
}

@keyframes dialog-fade-in {
  0% {
	transform: scale(0.85);
    opacity: 0;
  }
  100% {
	transform: scale(1);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
	transform: scale(0.85);
    opacity: 0;
  }
}

@keyframes msgbox-fade-in {
  0% {
	transform: scale(0.85);
    opacity: 0;
  }
  100% {
	transform: scale(1);
    opacity: 1;
  }
}

@keyframes msgbox-fade-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
	transform: scale(0.85);
    opacity: 0;
  }
}


.user-layout-dialog .el-dialog {max-width:500px;margin-top: 30vh !important;border-radius:5px;}
.user-layout-dialog .el-dialog__header {
    padding: 13px 20px 10px;
	    background-color: #666;
		border-radius: 5px 5px 0 0;
}
.user-layout-dialog .el-dialog__title {
    line-height: 24px;
    font-size: 16px;
    color: #ffffff;
	font-weight:bold;
}
.user-layout-dialog .el-dialog__body {
    line-height: 25px;
    font-size: 15px;

}

.user-layout-dialog .el-dialog__headerbtn .el-dialog__close {
    color: #E4BB7B;
    border-radius: 50%;
    padding: 3px;
    background-color: #888;
}
.user-layout-dialog .el-dialog__headerbtn {
    position: absolute;
    top: 12px;
    right: 20px;
    padding: 0px;
    background: 0 0;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.user-layout-dialog .title-label {
	text-align:right;
}
.user-layout-dialog .el-form-item__label{
	color:#888 ;
}
.banner-container {
	width:100%;
	height:360px;
}
.el-date-editor .el-range-input{
	background: #4a4a4a;
}
.el-input__inner{
	border: 1px solid #a6a6a6;
}
.el-textarea__inner{
	border: 1px solid #a6a6a6;
	background-color: #4a4a4a;
}
.el-radio-button__inner{
	background: #ddd;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
	color:#666;
}
.el-radio-button__inner:hover {
    color: #b37e05;
}
.el-table th, .el-table tr {
    background-color: #eaeaea;
    color: #555;
}
.el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid #999;
}
.el-button--text {
    color: #E4BB7B;
}
.el-button--text:focus, .el-button--text:hover {
    color: #E4BB7B;
}
/* .transfer-log .el-button--text {
    color: #346c19;
}
.transfer-log .el-button--text:focus, .el-button--text:hover {
    color: #346c19;
} */
.el-dialog__body{
	color: #666;
}
.el-table__footer-wrapper tbody td{
	background-color: #5a5a5a;
}
.el-table__header-wrapper tbody td{
	background-color: #5a5a5a;
}
.table-header th {
    background-color: #5a5a5a;
    color: #ddd;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    color: #666;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
	background-color: #ddd;
    color: #666;
}
.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #b37e05;
}
.el-table__empty-block{
	background-color: #eaeaea;
}
.el-table__empty-text{
	color: #888;
}
/*公告 begin*/
.notify-box {
	height:50px;
	line-height:50px;
	border-bottom:1px solid #666;
	font-size:15px;
	color:#ddd;
	font-weight:400;
	background: #2a2a2a;
}

.notify-box .notify-icon {
    vertical-align: middle;
	margin-right:8px;
}
.notify-box .notify-swiper {
	top:0px;
    height: 50px;
	line-height:50px;
    position: absolute;
    left: 130px;
	width:900px;
	cursor: pointer;
	overflow:hidden;

}
.notify-box .notify-swiper .swiper-slide {
	overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notify-box .notify-more {
    position: absolute;
	right:15px;
	cursor: pointer;

}
.notify-box .notify-more .angle-right{
	vertical-align: middle;
	margin-top:-4px;
}

/*公告 end*/

/*電子遊戲內頁 start*/
.slot-box .photo{
	position:relative;
	width:170px;
	height:170px;
	cursor: pointer;

}

.slot-box .photo .float-box .button{
	padding:6px 35px;
	display:inline-block;
	float:none;
	cursor:pointer;
	color:#fff;
	font-size:15px;
	background-color:rgba(58, 70, 76, 0.9);
	border:1px solid #242424;
	border-radius:2px;
	box-shadow:0px 1px 0px rgba(255,255,255,0.25),0px 1px 0px rgba(255,255,255,0.25) inset,0px 0px 0px rgba(0,0,0,0.25) inset,0px 20px 0px rgba(255,255,255,0.03) inset,0px -20px 20px rgba(0,0,0,0.15) inset,0px 20px 20px rgba(255,255,255,0.05) inset ;
}
.slot-box .photo .float-box .button.try-game{
	background-color:rgba(14, 32, 59, .9)
}
.slot-box .photo .float-box .shine{
	display:block;
	position:relative;
	top:-6px;
	left:0px;
	padding:0 12px;
	height:1px;
	background:-moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
	box-shadow:rgba(255,255,255,0.2) 0px 1px 5px;
	}
.slot-box .photo .float-box{
	position:absolute;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	opacity:0;
	text-align:center;
	transition: all 0.4s ease !important;
}
.slot-box .photo:hover .float-box{
		opacity:1;

	background:rgba(0,0,0,.6);



}
.slot-box {
	background-color:#fff;
}
.slot-box .no-record {
	text-align:center;
	color:#666;
	font-size:14px;
	padding:120px 0;
}
.slot-box .slot-header{
    border-bottom: 1px solid #888;
    padding: 20px 15px 15px 15px;
}
.slot-box .slot-search {
    width: 230px;
    position: absolute;
    right: 30px;
    top: 10px;
}
.slot-box .slot-search .el-icon-search{
	font-size:18px;
}

.slot-box .slot-search .el-button{
	margin:-10px -27px;
}


.slot-box ul.content {
	list-style-type: none;
	margin:0px;
	padding:0px;
	position:relative;
	margin-left:9px;
}
.slot-box .content li {
	display:inline-block;
	width:170px;
	border:0px solid #EEE;
	overflow:hidden;
	margin:10px 6px;
	position:relative;
	font-size:14px;
	line-height:22px;
	color:#444;
}
.slot-box .content li img{
	width:170px;
	height:170px;

}
.slot-box .el-breadcrumb {
	font-size:16px;
	color:#666;
}
/*電子遊戲內頁 end*/








