.user-container .el-step__title {
	font-size:14px;

}
.user-container .el-step__head.is-process {
	color:#999;
	border-color:#999;
}
.user-container .el-step__title {
	font-size:14px;

}
.user-container .el-step.is-horizontal .el-step__line {
    height: 1px;
}
.user-container .el-step__title.is-process{
	color:#999;
}

.user-container .tip-bottom {
    border-top: 1px solid #e4e7ed;
	margin-top:50px;
}
.user-container .tip-bottom .content {
	font-size:14px;
	color:#ddd;
	line-height:24px;
}
.user-container .global-step {
	margin:60px 0;
}
