<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/20191016_p1_02.png')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">百家樂連贏送豪禮</div></el-col>
                </el-row>
            </div>

            <el-table
            :data="tableData" border
            style="width: 100%"
            :span-method="arraySpanMethod"
            >
                <el-table-column
                    prop="c1"
                    label="遊戲類型"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="c2"
                    label="連贏局數">
                </el-table-column>
                <el-table-column
                    prop="c3"
                    label="單注最低金額">
                </el-table-column>
                <el-table-column
                    prop="c4"
                    label="可獲得連贏獎金">
                </el-table-column>
            </el-table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">備註：</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">會員必須在真人視訊類【百家樂】遊戲單注下注2000元及以上即可參與該活動，會員連贏局數不須要連續的後牌號碼，但必須是會員由同一桌號，第一手投注起台北時間當日內的連贏投注，如參與活動過程中出現和局退回本金或登出、斷線情況，連贏局數將重新計算，不允許同一帳號，同一牌局同時作多項投注。</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">申請方式:</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">符合條件的會員請於當日24小時內連繫客服申請，逾期視為自動放棄，所獲彩金只需一倍流水即可申請提款。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">會員在連贏到指定局數後必須停止投注，申請連贏注單後，派發前請勿繼續進行遊戲，申請後連贏局數清零重新開始計算。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">3.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">每位會員，每個台北時間當日只可申請一次，注單僅限台北時間當日有效，任何因素而被取消注單(無風險投注及系統自動取消之注單)，均不在計算範圍內。</div></el-col>
                </el-row>

            </div>
            
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {
          tableData: [
            {
                c1: '百家樂',
                c2: '6局連贏',
                c3: '2000+',
                c4: '388',
            },
            {
                c1: '百家樂',
                c2: '6局連贏',
                c3: '5000+',
                c4: '588',
            },
            {
                c1: '百家樂',
                c2: '6局連贏',
                c3: '10000+',
                c4: '1288',
            },
            {
                c1: '百家樂',
                c2: '8局連贏',
                c3: '2000+',
                c4: '888',
            },
            {
                c1: '百家樂',
                c2: '8局連贏',
                c3: '5000+',
                c4: '1688',
            },
            {
                c1: '百家樂',
                c2: '8局連贏',
                c3: '10000+',
                c4: '2888',
            },
            {
                c1: '百家樂',
                c2: '16局連贏',
                c3: '2000+',
                c4: '5888',
            },  
            {
                c1: '百家樂',
                c2: '16局連贏',
                c3: '5000+',
                c4: '8888',
            },
            {
                c1: '百家樂',
                c2: '16局連贏',
                c3: '10000+',
                c4: '15888',
            },                                                                                  
          ]                  
    };
  },
  mounted() {},
  created() {},
    methods: {
        arraySpanMethod({ row, column, rowIndex, columnIndex }) {
        if (columnIndex === 0) {
            if(rowIndex === 0)
            {
                return [9, 1];
            }
            return [0, 0];
            
        }else if(columnIndex === 1)
        {
            if(rowIndex % 3 === 0)
            {
                return [3, 1];
            }
            return [0, 0];
        }else
        {
            return [1, 1];
        }

        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

