<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/20191016_p2.png')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">智勇大闖關-周周送大獎</div></el-col>
                </el-row>
            </div>

            <el-table
            :data="tableData" border
            style="width: 100%"
            :span-method="arraySpanMethod"
            >
            <el-table-column
                prop="c1"
                label="遊戲類型"
                width="180">
            </el-table-column>
            <el-table-column
                prop="c2"
                label="關卡">
            </el-table-column>
            <el-table-column
                prop="c3"
                label="有效投注">
            </el-table-column>
            <el-table-column
                prop="c4"
                label="可獲彩金">
            </el-table-column>
            </el-table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">示例：</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark"></div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">會員在真人視訊百家樂中，周一至周日累計有效投注達到500萬，次周一即可申請獲得2888元衝關彩金，每周僅限申請一個關卡彩金。</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">申請方式：</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">符合申請條件的會員需在台北時間次周一08：00后24小時內連繫客服申請，每位會員每周僅限申請一個關卡彩金，所獲彩金只需1倍流水即可申請提款，逾期則視為自動放棄該優惠活動。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">任何出現對打情況的投注(例：于百家樂同時下注莊家與閒家)，將全天不累計有效投注。</div></el-col>
                </el-row>
            </div>
            
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {
          tableData: [{
            c1: '百家樂',
            c2: '第一關',
            c3: '5萬+',
            c4: '88',
          },
          {
            c1: '百家樂',
            c2: '第二關',
            c3: '25萬+',
            c4: '388',
          },
          {
            c1: '百家樂',
            c2: '第三關',
            c3: '50萬+',
            c4: '888',
          },
          {
            c1: '百家樂',
            c2: '第四關',
            c3: '250萬+',
            c4: '1888',
          },
          {
            c1: '百家樂',
            c2: '第五關',
            c3: '500萬+',
            c4: '2888',
          },
          {
            c1: '百家樂',
            c2: '第六關',
            c3: '1500萬+',
            c4: '4888',
          },
          {
            c1: '百家樂',
            c2: '第七關',
            c3: '2500萬+',
            c4: '6888',
          },
          {
            c1: '百家樂',
            c2: '第八關',
            c3: '5000萬+',
            c4: '11888',
          }
          
          ]                  
    };
  },
  mounted() {},
  created() {},
    methods: {
        arraySpanMethod({ row, column, rowIndex, columnIndex }) {
        if (columnIndex === 0) {
            if(rowIndex === 0)
            {
                return [8, 1];
            }
            return [0, 0];
            
        }else
        {
            return [1, 1];
        }

        }
    },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

