<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/news_20190409072000_0.png')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>
          <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">週週負利大回饋，8888好運彩金送給你發</div></el-col>
                </el-row>
            </div>

            <el-table
            :data="tableData" border
            style="width: 100%">
            <el-table-column
                prop="name"
                label="周負利額"
                width="180">
            </el-table-column>
            <el-table-column
                prop="address"
                label="贈送金額">
            </el-table-column>
            </el-table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="3"><div class="grid-content bg-purple-dark">領取方式:</div></el-col>
                    <el-col :span="21"><div class="grid-content bg-purple-dark">凡是完美娛樂城會員，當週負利金額達到5,001元以上就可聯繫24小時客服，進行申請轉運金。最高可獲8,888元。</div></el-col>
                </el-row>
                <el-row>
                    <el-col :span="3"><div class="grid-content bg-purple-dark">申請時間:</div></el-col>
                    <el-col :span="21"><div class="grid-content bg-purple-dark">每星期一00:00 至 星期三23:59 (注：台北時間)。</div></el-col>
                </el-row>
            </div>


            <el-row >
                <el-col :span="1"><div class="grid-content bg-purple-dark">1. </div></el-col>
                <el-col :span="23"><div class="grid-content bg-purple-dark">符合條件的會員需通過24小時線上客服進行申請，活動專員會在12小時內處理，期間敬請耐心等待！</div></el-col>
            </el-row>
            <el-row >
                <el-col :span="1"><div class="grid-content bg-purple-dark">2. </div></el-col>
                <el-col :span="23"><div class="grid-content bg-purple-dark">主題：參加完美娛樂城“週負盈利轉運金” 活動。會員帳號   :   *****。申請額度：* * *元轉運金。</div></el-col>
            </el-row>
            <el-row >
                <el-col :span="1"><div class="grid-content bg-purple-dark">3. </div></el-col>
                <el-col :span="23"><div class="grid-content bg-purple-dark">會員應扣除優惠與返 水 的實際輸贏為虧損計算 的 標準。</div></el-col>
            </el-row>
            <el-row >
                <el-col :span="1"><div class="grid-content bg-purple-dark">4. </div></el-col>
                <el-col :span="23"><div class="grid-content bg-purple-dark">會員在本週達到相應負盈利額，需在下週台北時間週一 00 ：00至週 三 23:59 內進行申請，逾期視為無效或自動放棄此優惠。</div></el-col>
            </el-row>
            <el-row >
                <el-col :span="1"><div class="grid-content bg-purple-dark">5. </div></el-col>
                <el-col :span="23"><div class="grid-content bg-purple-dark">所獲得的轉運金需 3 倍流水方可申請提款。</div></el-col>
            </el-row>
            <el-row >
                <el-col :span="1"><div class="grid-content bg-purple-dark">6. </div></el-col>
                <el-col :span="23"><div class="grid-content bg-purple-dark">本活動計算的為有效押碼，無風險投注皆不計算入有效押碼，無風險投注包括（在百家樂時同時投注莊家、閒家，輪盤及骰寶及 其他相似投注法時同時投注黑、紅，單、雙，大、小等）。</div></el-col>
            </el-row>
            <el-row >
                <el-col :span="1"><div class="grid-content bg-purple-dark">7. </div></el-col>
                <el-col :span="23"><div class="grid-content bg-purple-dark">完美娛樂城保留在沒有任何通知下，隨時終止、取消、更改或者撤銷所有 領取 優惠的權利。</div></el-col>
            </el-row>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">溫馨提醒 ：領取轉運金後 ， 帳戶尚未歸零的狀態 ， 建議不要進行儲值，如帳戶尚未歸零的狀態 下 進行儲值 ， 洗碼倍數將依轉運金活動的洗碼倍數加上儲值本金的3倍計算。</div></el-col>
                </el-row>
            </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {
          tableData: [{
            name: '5,001元+',
            address: '88元'
          }, {
            name: '20,001元+',
            address: '288元'
          }, {
            name: '70,001元+',
            address: '688元'
          }, {
            name: '150,001元+',
            address: '1388元'
          }, {
            name: '500,001元+',
            address: '8888元'
          }

          ]
    };
  },
  mounted() {},
  created() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>
