<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">

      <img
        v-bind:src="require('assets/images/promotion/event19banner.jpg')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">電子遊戲滿千送千週週送</div></el-col>
                </el-row>
            </div>




<div class="el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition" style="width: 100%;">

    <div class="el-table__header-wrapper">
        <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 740px;">
            <colgroup>
                <col name="el-table_2_column_6" width="180">
                    <col name="el-table_2_column_7" width="186">
                        <col name="el-table_2_column_8" width="186">
                            <col name="el-table_2_column_9" width="188">

                                    <col name="gutter" width="0">
            </colgroup>
            <thead class="has-gutter">
                <tr class="">
                    <th colspan="1" rowspan="1" class="el-table_2_column_6     is-leaf">
                        <div class="cell">方案</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_2_column_7     is-leaf">
                        <div class="cell">單筆儲值最低金額</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_2_column_8     is-leaf">
                        <div class="cell">活動贈點禮金</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_2_column_9     is-leaf">
                        <div class="cell">洗碼倍數</div>
                    </th>
                    <th class="gutter" style="width: 0px; display: none;"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="el-table__body-wrapper is-scrolling-none">
        <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 740px;">
            <colgroup>
                <col name="el-table_2_column_6" width="180">
                    <col name="el-table_2_column_7" width="186">
                        <col name="el-table_2_column_8" width="186">
                            <col name="el-table_2_column_9" width="188">

            </colgroup>
            <tbody>
                <tr class="el-table__row">
                    <td rowspan="1" colspan="1" class="el-table_2_column_6  ">
                        <div class="cell">長期優惠</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_2_column_7  ">
                        <div class="cell">1000</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_2_column_8  ">
                        <div class="cell">1000</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_2_column_9  ">
                        <div class="cell">16</div>
                    </td>
                </tr>
                <tr class="el-table__row">
                    <td rowspan="1" colspan="1" class="el-table_2_column_6  ">
                        <div class="cell">投注要求計算</div>
                    </td>
                    <td rowspan="1" colspan="4" class="el-table_2_column_7  ">
                        <div class="cell">(存款金額+優惠)*洗碼倍數=有效洗碼<br>例：(存款金額2,000+贈送彩金1,000)*洗碼倍數16=48,000，須達洗碼倍數方可解凍點數。</div>
                    </td>

                </tr>
                <!---->
            </tbody>
        </table>
        <!---->
        <!---->
    </div>
    <!---->
    <!---->
    <!---->
    <!---->
    <div class="el-table__column-resize-proxy" style="display: none;"></div>
</div>




            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">活動說明：</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">請於<font color="#e85e5e">儲值後24H內未下注前(24H內須無任何投注紀錄)</font>，向客服提出電子遊戲滿千送千活動禮金申請，若超過時限將不另行補發。</div></el-col>
                </el-row>
            </div>


            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">優惠規則</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">本優惠活動每周限領一次(每週一凌晨00：00：00-每週日23：59：59為一周計算)。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">此優惠活動不得與其他贈點活動並行，但可享返水優惠。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">3. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">本優惠活動僅限使用在電子遊戲，禁止轉入其他館別，違者本優惠所需投注流水倍數變更為45倍，需在電子遊戲中完成規定流水才可進行寶物拋售。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">4. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">同一帳戶/家庭/戶籍地址/電話號碼/身分證件/銀行帳戶/IP位置/共享電腦/網路環境等，只能做為一個優惠名額領取依據，如有任何個人或是團體利用不誠實手法獲取優惠，公司保留取消或收回會員優惠彩金的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">5. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">若會員對活動有爭議時，為確保雙方利益，杜絕身分盜用行為，完美娛樂城有權要求會員向我們提供充足有效的文件，用以確認是否享有該優惠資格。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">6. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">完美娛樂城的所有優惠特為玩家而設，如發現任何團體或個人，以不誠實方式套取紅利或任何威脅、濫用公司優惠等行為，公司保留凍結、取消該團體或個人帳戶及帳戶結餘的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">7. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">完美娛樂城保留對活動的最終解釋權，以及在無通知的情況下修改、終止活動的權利，適用於所有優惠。</div></el-col>
                </el-row>


            </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {

    };
  },
  mounted() {},
  created() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

