<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/news_20180603102853_0.jpg')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">新會員最有福！首次儲值單筆1000點以上即送1000點！</div></el-col>
                </el-row>
            </div>


<div class="el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition" style="width: 100%;">

    <div class="el-table__header-wrapper">
        <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 740px;">
            <colgroup>
                <col name="el-table_2_column_6" width="180">
                    <col name="el-table_2_column_7" width="140">
                        <col name="el-table_2_column_8" width="140">
                            <col name="el-table_2_column_9" width="140">
                                <col name="el-table_2_column_10" width="140">
                                    <col name="gutter" width="0">
            </colgroup>
            <thead class="has-gutter">
                <tr class="">
                    <th colspan="1" rowspan="1" class="el-table_2_column_6     is-leaf">
                        <div class="cell">方案</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_2_column_7     is-leaf">
                        <div class="cell">單筆儲值最低金額</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_2_column_8     is-leaf">
                        <div class="cell">活動贈點禮金</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_2_column_9     is-leaf">
                        <div class="cell">洗碼倍數</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_2_column_10     is-leaf">
                        <div class="cell">優惠上限</div>
                    </th>
                    <th class="gutter" style="width: 0px; display: none;"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="el-table__body-wrapper is-scrolling-none">
        <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 740px;">
            <colgroup>
                <col name="el-table_2_column_6" width="180">
                    <col name="el-table_2_column_7" width="140">
                        <col name="el-table_2_column_8" width="140">
                            <col name="el-table_2_column_9" width="140">
                                <col name="el-table_2_column_10" width="140">
            </colgroup>
            <tbody>
                <tr class="el-table__row">
                    <td rowspan="1" colspan="1" class="el-table_2_column_6  ">
                        <div class="cell">新開戶優惠</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_2_column_7  ">
                        <div class="cell">1000點</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_2_column_8  ">
                        <div class="cell">1000點</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_2_column_9  ">
                        <div class="cell">16倍</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_2_column_10  ">
                        <div class="cell">儲值金額的10倍</div>
                    </td>
                </tr>
                <tr class="el-table__row">
                    <td rowspan="1" colspan="1" class="el-table_2_column_6  ">
                        <div class="cell">投注要求計算</div>
                    </td>
                    <td rowspan="1" colspan="4" class="el-table_2_column_7  ">
                        <div class="cell">(儲值金額+贈送禮金)*洗碼倍數=洗碼要求量<br>例：(2,000+1,000)*16=48,000，須達洗碼倍數方可解凍點數</div>
                    </td>

                </tr>
                <!---->
            </tbody>
        </table>
        <!---->
        <!---->
    </div>
    <!---->
    <!---->
    <!---->
    <!---->
    <div class="el-table__column-resize-proxy" style="display: none;"></div>
</div>



            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">申請方式：</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">請於<font color="#e85e5e">首次儲值後24H內未下注前(24H內須無任何投注紀錄)</font>，向Line客服提出首儲活動禮金申請，且身分認證審核通過後立即贈送至遊戲帳戶內，若超過時限將不另行補發。</div></el-col>
                </el-row>
            </div>


            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">注意事項</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">新會員於首次儲值後24小時內向LINE客服提出申請並完成身分認證。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">「彩票館」、「對戰館」不列入有效洗碼。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">3. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">提領上限為儲值額度的10倍，剩餘點數將扣除。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">4. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">首儲優惠不得與其他優惠活動併行使用。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">5. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">本活動僅計算有效洗碼量，無風險投注皆不計算入有效洗碼；無風險投注包括：在各項體彩及百家樂時同時投注莊家、閒家，輪盤及骰寶及其他相似投注法時同時投注黑、紅，單、雙，大、小等，輪盤投注不得超過22碼以上。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">6. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">同一帳戶/家庭/戶籍地址/電話號碼/身分證件/銀行帳戶/IP位置/共享電腦/網路環境等，只限申請一次優惠。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">7. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">如有任何個人或是團體利用不誠實手法獲取優惠，本公司將保留取消或收回會員優惠彩金的權利且不另行通知。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">8. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">若會員對活動有爭議時，為確保雙方利益，杜絕身分盜用行為，完美娛樂城有權要求會員向我們提供充足有效的文件，用以確認是否享有該優惠資格。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">9. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">完美娛樂城保留在沒有任何通知下，隨時終止、取消、更改或者撤銷所有獲獎優惠的權利。</div></el-col>
                </el-row>

            </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {
          tableData: [{
            c1: '首次',
            c2: '1000起',
            c3: '1000',
            c4: '16倍',
            c5: '儲值金額的10倍',
          }

          ]
    };
  },
  mounted() {},
  created() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

