<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/event18banner.jpg')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">7PK彩金拿不完</div></el-col>
                </el-row>
            </div>




<div class="el-table el-table--fit el-table--border el-table--enable-row-hover el-table--enable-row-transition" style="width: 100%;">

    <div class="el-table__header-wrapper">
        <table cellspacing="0" cellpadding="0" border="0" class="el-table__header" style="width: 740px;">
            <colgroup>
                <col name="el-table_2_column_6" width="180">
                    <col name="el-table_2_column_7" width="140">
                        <col name="el-table_2_column_8" width="140">
                            <col name="el-table_2_column_9" width="140">
                                <col name="el-table_2_column_10" width="140">
                                    <col name="gutter" width="0">
            </colgroup>
            <thead class="has-gutter">
                <tr class="">
                    <th colspan="1" rowspan="1" class="el-table_2_column_6     is-leaf">
                        <div class="cell">方案</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_2_column_7     is-leaf">
                        <div class="cell">儲值贈送比例</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_2_column_8     is-leaf">
                        <div class="cell">最低申請金額</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_2_column_9     is-leaf">
                        <div class="cell">優惠上限</div>
                    </th>
                    <th colspan="1" rowspan="1" class="el-table_2_column_10     is-leaf">
                        <div class="cell">投注倍數</div>
                    </th>
                    <th class="gutter" style="width: 0px; display: none;"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="el-table__body-wrapper is-scrolling-none">
        <table cellspacing="0" cellpadding="0" border="0" class="el-table__body" style="width: 740px;">
            <colgroup>
                <col name="el-table_2_column_6" width="180">
                    <col name="el-table_2_column_7" width="140">
                        <col name="el-table_2_column_8" width="140">
                            <col name="el-table_2_column_9" width="140">
                                <col name="el-table_2_column_10" width="140">
            </colgroup>
            <tbody>
                <tr class="el-table__row">
                    <td rowspan="1" colspan="1" class="el-table_2_column_6  ">
                        <div class="cell">長期優惠</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_2_column_7  ">
                        <div class="cell">15%</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_2_column_8  ">
                        <div class="cell">1000</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_2_column_9  ">
                        <div class="cell">無上限</div>
                    </td>
                    <td rowspan="1" colspan="1" class="el-table_2_column_10  ">
                        <div class="cell">15</div>
                    </td>
                </tr>
                <tr class="el-table__row">
                    <td rowspan="1" colspan="1" class="el-table_2_column_6  ">
                        <div class="cell">投注要求計算</div>
                    </td>
                    <td rowspan="1" colspan="4" class="el-table_2_column_7  ">
                        <div class="cell">(存款金額+優惠)×投注倍數=有效洗碼<br>例：(存款1000+贈送彩金150)×15=17,250所需有效洗碼</div>
                    </td>

                </tr>
                <!---->
            </tbody>
        </table>
        <!---->
        <!---->
    </div>
    <!---->
    <!---->
    <!---->
    <!---->
    <div class="el-table__column-resize-proxy" style="display: none;"></div>
</div>




            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">申請方式：</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">會員儲值後，符合條件申請之會員聯繫客服進行申請；如有不清楚之處歡迎與線上客服聯繫諮詢。</div></el-col>
                </el-row>
            </div>


            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">優惠規則</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">本優惠活動無限制申請次數。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">本優惠活動僅限使用在7PK遊戲，禁止轉入其他電子遊戲與其他館別，違者本優惠所需投注流水倍數變更為45倍，需在7PK遊戲中完成規定流水才可進行寶物拋售。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">3. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">在獲得活動彩金前，請勿進行轉移點數或進行遊戲。此優惠活動不得與其他贈點活動並行，但可享返水優惠。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">4. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">本優惠有效投注達投注要求即可申請寶物拋售。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">5. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">為保證優惠活動的正常進行，同一帳戶/家庭/戶籍地址/電話號碼/身分證件/銀行帳戶/IP位置/共享電腦/網路環境等，只能做為一個優惠名額領取依據，如有任何個人或是團體利用不誠實手法獲取優惠，公司保留取消或收回會員優惠彩金的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">6. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">若會員對活動有爭議時，為確保雙方利益，杜絕身分盜用行為，完美娛樂城有權要求會員向我們提供充足有效的文件，以確認是否享有該優惠資格。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">7. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">本優惠獎金僅適用於娛樂性玩家，不得假借他人身份申請，任何團體或個人以無風險投注進行套利行為本公司有權沒收獎金及盈利並凍結帳戶。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">8. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">對於投注內容異常或疑似對押套利之投注模式，本公司有權要求會員證明其身分，包含提供證明文件、驗證身份等。若無法證明為本人，公司保留凍結、取消該團體或個人帳戶及帳戶結餘的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">9. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">如參與本優惠活動，未達優惠活動的必須投注量前，再次存款時所產生必須投注量會加上前次參與優惠尚未到達的必須投注量，若未達到投注量一概不得提領。
<br>例：參與優惠必須洗碼量為30,000如在必須投注量未到達前再存1,000之後的必須投注量則為30,000(原要求洗碼量)+1,000(再存所需洗碼量)=31,000(總計所需洗碼量)
</div></el-col>
                </el-row>

            </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {

    };
  },
  mounted() {},
  created() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

