<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/news_20180603102916_0.jpg')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">會員提領免手續費</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">為回饋舊會員對本站的支持，特推出提領免手續費優惠活動。</div></el-col>
                </el-row>
            </div>



            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark" >提領標準如下：</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark" style="margin-bottom: 5px;color: #e85e5e;">請會員務必確認填寫之帳號，若提供的帳號錯誤，恕本公司無法負責。</div></el-col>
                </el-row>
                <el-row >
                  <el-table
                  :data="tableData" border
                  style="width: 100%">
                  <el-table-column
                      prop="c1"
                      label="會員等級"
                      width="180">
                  </el-table-column>
                  <el-table-column
                      prop="c2"
                      label="最低提領點數">
                  </el-table-column>
                  <el-table-column
                      prop="c3"
                      label="每周免手續費次數">
                  </el-table-column>
                  <el-table-column
                      prop="c5"
                      label="當日總計最高可提領金額">
                  </el-table-column>
                  </el-table>                  
                </el-row>

              
                <el-row >
                    <el-col :span="2"><div class="grid-content bg-purple-dark">備註一：</div></el-col>
                    <el-col :span="22"><div class="grid-content bg-purple-dark">依會員等級享有更多的免手續費次數與提領金額，之後每次手續費為提款金額的2.5%，最低提款手續費為50點，最高為9,000點。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">※每週之定義為週一凌晨00：00至週日23：59。 </div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="2"><div class="grid-content bg-purple-dark">備註二：</div></el-col>
                    <el-col :span="22"><div class="grid-content bg-purple-dark">儲值未領取活動金需儲值金額的一倍洗碼，方可提出申請提領。</div></el-col>
                </el-row>

            </div>
            
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {
          tableData: [
            {
            c1: '一般會員',
            c2: '1,000',
            c3: '1',
            //c4: '3',
            c5: '1,000-200,000'
            },
            {
            c1: '黃金會員',
            c2: '1,000',
            c3: '1',
           // c4: '3',
            c5: '1,000-200,000'
            },
            {
            c1: '白金會員',
            c2: '1,000',
            c3: '2',
            //c4: '4',
            c5: '1,000-250,000'
            },
            {
            c1: '鑽石會員',
            c2: '1,000',
            c3: '3',
            //c4: '4',
            c5: '1,000-350,000'
            }
          ],      
    };
  },
  mounted() {},
  created() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

