<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/news_20180603102750_0.jpg')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">電子遊戲   週週紅利大放送</div></el-col>
                </el-row>
            </div>

            <el-table
            :data="tableData" border
            style="width: 100%">
            <el-table-column
                prop="c1"
                label="儲值金額"
                width="180">
            </el-table-column>
            <el-table-column
                prop="c2"
                label="贈送紅利">
            </el-table-column>
            <el-table-column
                prop="c3"
                label="有效投注">
            </el-table-column>
            </el-table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">每週單筆儲值一千以上，即可申請週週紅利大放送，當週存款不可合併使用。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">符合條件申請的會員聯繫客服進行申請，一週限申請一次</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">(每週一凌晨00：00：00-每週日23：59：59為一周計算)</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">有效洗碼計算方式：</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">儲值1000+贈送金額1000＝2000，  2000*20倍流水＝40000流水</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">儲值2000+贈送金額1000＝3000，  3000*20倍流水＝60000流水</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">優惠規則與條款</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">如下注後或是超過24H未提出申請則視為放棄參與此活動，不另行補發。此優惠活動不得與其他贈點活動並行，但可享返水優惠。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">此優惠活動限定使用在電子遊戲，若在非規定的遊戲類別進行遊戲，一律不得提領且優惠點數與盈利直接扣回。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">3. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">本活動計算的為有效押碼，無風險投注皆不計算入有效押碼，無風險投注包括（在百家樂時同時投注莊家、閒家，輪盤及骰寶及其他相似投注法時同時投注黑、紅，單、雙，大、小等）。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">4. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">同一帳戶/家庭/戶籍地址/電話號碼/身分證件/銀行帳戶/IP位置/共享電腦/網路環境等，只能做為一個優惠名額領取依據，如有任何個人或是團體利用不誠實手法獲取優惠，公司保留取消或收回會員優惠彩金的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">5. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">若會員對活動有爭議時，為確保雙方利益，杜絕身分盜用行為，完美娛樂城有權要求會員向我們提供充足有效的文件，用以確認是否享有該優惠資格。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">6. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">完美娛樂城的所有優惠特為玩家而設，如發現任何團體或個人，以不誠實方式套取紅利或任何威脅、濫用公司優惠等行為，公司保留凍結、取消該團體或個人帳戶及帳戶結餘的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">7. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">完美娛樂城保留對活動的最終解釋權，以及在無通知的情況下修改、終止活動的權利，適用於所有優惠。</div></el-col>
                </el-row>
            </div>
            
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {
          tableData: [{
            c1: '1000起',
            c2: '1000點',
            c3: '20倍'
          }
          
          ]        
    };
  },
  mounted() {},
  created() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

