<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/20191017_p202.png')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">會員專屬日</div></el-col>
                </el-row>
            </div>

            <el-table
            :data="tableData" border
            style="width: 100%"
            :span-method="arraySpanMethod"
            >
            <el-table-column
                prop="c1"
                label="活動對象"
                width="180">
            </el-table-column>
            <el-table-column
                prop="c2"
                label="單筆存款">
            </el-table-column>
            <el-table-column
                prop="c3"
                label="贈送彩金">
            </el-table-column>
            <el-table-column
                prop="c4"
                label="流水限制">
            </el-table-column>
            <el-table-column
                prop="c5"
                label="遊戲限制">
            </el-table-column>    
            <el-table-column
                prop="c6"
                label="申請方式">
            </el-table-column>  
            </el-table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">注：會員專屬日為每月9號，會員專屬日活動註冊當日不可申請！</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">例：會員專屬日當月時間為12月9日，會員專屬日當天註冊的會員不得申請</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">優惠規則與條款：</div></el-col>
                </el-row>                
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">所獲彩金一倍流水即可申請提款</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">參與此優惠即表示您同意【優惠規則與條款】</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">3.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">同一帳戶/家庭/戶籍地址/電話號碼/身分證件/銀行帳戶/IP位置/共享電腦/網路環境等，只限領取一次優惠，如有任何個人或是團體利用不誠實手法獲取優惠，公司保留取消或收回會員優惠彩金的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">4.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">活動計算的為有效押碼，無風險投注皆不計算入有效押碼，無風險投注包括（在百家樂時同時投注莊家、閒家，輪盤及骰寶及其他相似投注法時同時投注黑、紅，單、雙，大、小等）。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">5.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">【完美娛樂城】保留在沒有任何通知下，隨時終止、取消、更改或者撤銷所有獲獎優惠的權利。</div></el-col>
                </el-row>
            </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {
          tableData: [
            {
                c1: '全體會員',
                c2: '500+',
                c3: '88',
                c4: '一倍',
                c5: '彩票及電子桌面遊戲不可參與',
                c6: '聯繫客服',
            },
            {
                c1: '全體會員',
                c2: '2500+',
                c3: '188',
                c4: '一倍',
                c5: '彩票及電子桌面遊戲不可參與',
                c6: '聯繫客服',
            },
            {
                c1: '全體會員',
                c2: '5000+',
                c3: '388',
                c4: '一倍',
                c5: '彩票及電子桌面遊戲不可參與',
                c6: '聯繫客服',
            },
            {
                c1: '全體會員',
                c2: '50000+',
                c3: '588',
                c4: '一倍',
                c5: '彩票及電子桌面遊戲不可參與',
                c6: '聯繫客服',
            },
            {
                c1: '全體會員',
                c2: '200000+',
                c3: '1088',
                c4: '一倍',
                c5: '彩票及電子桌面遊戲不可參與',
                c6: '聯繫客服',
            }
          ]                  
    };
  },
  mounted() {},
  created() {},
    methods: {
        arraySpanMethod({ row, column, rowIndex, columnIndex }) {
            if (columnIndex === 0) {
                if(rowIndex === 0)
                {
                    return [5, 1];
                }
                return [0, 0];
            }else if(columnIndex === 3)
            {
                if(rowIndex === 0)
                {
                    return [5, 1];
                }
                return [0, 0];
            }else if(columnIndex === 4)
            {
                if(rowIndex === 0)
                {
                    return [5, 1];
                }
                return [0, 0];
            }else if(columnIndex === 5)
            {
                if(rowIndex === 0)
                {
                    return [5, 1];
                }
                return [0, 0];
            }else
            {
                return [1, 1];
            }
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

