<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/news_20180604065512_0.jpg')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">驚喜小彩金，隨機派送中</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">活動說明</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">不限門檻！只要您在遊戲中，完美娛樂城將不定時隨機派發送驚喜小彩金至會員帳戶中，您就是下一位幸運兒！</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">注意事項：</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">有效押碼量僅需1倍即可託售。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">此優惠活動不得與網站其他優惠贈點活動併行。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">3. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">本活動計算的為有效押碼，無風險投注皆不計算入有效押碼，無風險投注包括（在百家樂時同時投注莊家、閒家，輪盤及骰寶及其他相似投注法時同時投注黑、紅，單、雙，大、小等）。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">4. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">北京賽車、幸運飛艇：最多只能下六車，超過六車一律視為洗流水套利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">5. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">輪盤投注不能超過22個號碼以上，超過一律視為洗流水套利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">6. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">如有任何個人或是團體利用不誠實手法獲取優惠，我司有權永遠凍結所有相關帳號以及所有點數且不另行通知。 </div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">7. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">官方保留在沒有任何通知下，隨時終止、取消、更改或者撤銷所有獲獎優惠的權利。</div></el-col>
                </el-row>                                
            </div>

            
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {
          tableData: [{
            c1: '1人',
            c2: '20倍',
            c3: '200/人',
            c4: '領取彩金的10倍',
          }
          
          ]        
    };
  },
  mounted() {},
  created() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

