<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/20191017_p102.png')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">新會員滿月彩金</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">優惠一：滿月金</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">凡是在【完美娛樂城】註冊滿一個月，且在近一個月達到活動條件，即可申請滿月金，豐厚獎金邀您共享！</div></el-col>
                </el-row>
            </div>

            <table  style="border:1px #ddd solid;padding:5px;" rules="all" cellpadding='5' >
                <tr><td colspan="5" style="text-align: center;">註冊滿一個月贈送滿月金588元</td></tr>
                <tr><td>存款總額</td><td>有效總投注</td><td>派送金額</td><td>流水要求</td><td>申請方式</td></tr>
                <tr><td>5000元+</td><td>50000元+</td><td>588元</td><td>1倍</td><td>聯繫客服</td></tr>
            </table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">例如：會員iwm88com”註冊滿一個月，在近一個月存款5000元以上，且有效投注50000元以上，即可申請588元滿月獎金。</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">優惠二：季度金</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">凡是在【完美娛樂城】註冊滿三個月，且在近三個月達到活動條件，即可申請季度金，豐厚獎金邀您共享！</div></el-col>
                </el-row>
            </div>

            <table  style="border:1px #ddd solid;padding:5px;" rules="all" cellpadding='5' >
                <tr><td colspan="5" style="text-align: center;">註冊滿三個月贈送季度金1588元</td></tr>
                <tr><td>存款總額</td><td>有效總投注</td><td>派送金額</td><td>流水要求</td><td>申請方式</td></tr>
                <tr><td>25000元+</td><td>250000元+</td><td>1588元</td><td>1倍</td><td>聯繫客服</td></tr>
            </table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">例如：會員iwm88com”註冊滿三個月，在近三個月存款25000元以上，且有效投注250000元以上，即可申請1588元季度獎金。</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">優惠三：半歲金</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">凡是在【完美娛樂城】註冊滿六個月，且在近六個月達到活動條件，即可申請半歲金，豐厚獎金邀您共享！</div></el-col>
                </el-row>
            </div>

            <table  style="border:1px #ddd solid;padding:5px;" rules="all" cellpadding='5' >
                <tr><td colspan="5" style="text-align: center;">註冊滿六個月贈送半歲金2888元</td></tr>
                <tr><td>存款總額</td><td>有效總投注</td><td>派送金額</td><td>流水要求</td><td>申請方式</td></tr>
                <tr><td>150000元+</td><td>150萬+</td><td>2888元</td><td>1倍</td><td>聯繫客服</td></tr>
            </table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">例如：會員iwm88com”註冊滿六個月，在近六個月存款150000元以上，且有效投注150萬元以上，即可申請2888元半歲獎金。</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">優惠四：滿歲金</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">凡是在【完美娛樂城】註冊滿十二個月，且在近十二個月達到活動條件，即可申請滿歲金，豐厚獎金邀您共享！</div></el-col>
                </el-row>
            </div>

            <table  style="border:1px #ddd solid;padding:5px;" rules="all" cellpadding='5' >
                <tr><td colspan="5" style="text-align: center;">註冊滿十二個月贈送滿歲金6888元</td></tr>
                <tr><td>存款總額</td><td>有效總投注</td><td>派送金額</td><td>流水要求</td><td>申請方式</td></tr>
                <tr><td>100萬元+</td><td>1000萬+</td><td>6888元</td><td>1倍</td><td>聯繫客服</td></tr>
            </table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">例如：會員iwm88com”註冊滿十二個月，在近十二個月存款100萬元以上，且有效投注1000萬元以上，即可申請6888元滿歲獎金。</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">活動規則:</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">此活動長期有效。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">會員所贈送彩金僅需一倍流水即可提領。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">3.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">會元存款額度均由系統自動統計，如有任何異議，以【完美娛樂城】查詢結果為準。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">4.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">以會員註冊時間為準，每個會員只能申請一次，若有發現惡意套利行為【完美娛樂城】將取消申請資格以及彩金產生的盈利。(無風險投注及系統自動取消之注單)，均不在計算範圍內。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">5.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">參與該優惠，即表示您同意【優惠規則與條款】</div></el-col>
                </el-row>
            </div>
            
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">活動申明:</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">活動以台北時間計算</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">所有刷水、套利、無風險投注、違規下注等，非娛樂性質不參與此活動。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">3.</div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">為避免文字上差異，【完美娛樂城】保留對活動的最終解釋權;保留在任何時候都可以更改、停止、取消優惠的權利，以及在無通知的情況下修改，終止活動的權利。</div></el-col>
                </el-row>
            </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {
          tableData: [
            {
                c1: '百家樂',
                c2: '6局連贏',
                c3: '500',
                c4: '388',
            },
            {
                c1: '百家樂',
                c2: '8局連贏',
                c3: '1000',
                c4: '888',
            },
            {
                c1: '百家樂',
                c2: '10局連贏',
                c3: '1500',
                c4: '3888',
            },
            {
                c1: '百家樂',
                c2: '15局連贏',
                c3: '2500',
                c4: '7888',
            },
            {
                c1: '百家樂',
                c2: '20局連贏',
                c3: '4000',
                c4: '26666',
            },
            {
                c1: '百家樂',
                c2: '30局連贏',
                c3: '5000',
                c4: '38888',
            },
            {
                c1: '百家樂',
                c2: '50局連贏',
                c3: '10000',
                c4: '128888',
            },                                                            
          ]                  
    };
  },
  mounted() {},
  created() {},
    methods: {
        arraySpanMethod({ row, column, rowIndex, columnIndex }) {
        if (columnIndex === 0) {
            if(rowIndex === 0)
            {
                return [7, 1];
            }
            return [0, 0];
            
        }else
        {
            return [1, 1];
        }

        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

