<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/news_20171109074839_0.jpg')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>
            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">註冊即送體驗金</div></el-col>
                </el-row>
            </div>

            <el-table
            :data="tableData" border
            style="width: 100%">
            <el-table-column
                prop="c1"
                label="資格"
                width="180">
            </el-table-column>
            <el-table-column
                prop="c2"
                label="贈送彩金">
            </el-table-column>
            <el-table-column
                prop="c3"
                label="洗碼倍數">
            </el-table-column>
            <el-table-column
                prop="c4"
                label="最高可領取金額">
            </el-table-column>
            </el-table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">參加本優惠活動之會員，視為同意以下點數交易限制。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">申請點數脫售前需累積有效投注20倍洗碼量，且脫售金額最高為2000，脫售後遊戲內剩餘點數將不保留。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">★溫馨提醒：領取體驗金後帳戶尚未歸零的狀態建議不要進行儲值，如帳戶尚未歸零的狀態進行儲值洗碼倍數將依體驗金活動的洗碼倍數加上儲值本金的20倍計算。</div></el-col>
                </el-row>
            </div>


            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">優惠規則與條款</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">以下館別禁止使用本優惠：六合彩票館，SUPER體育。若在此館別進行遊戲，一律不能提領，且贈送點數將追回</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">此優惠活動不得與其他贈點活動並行</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">3. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">新註冊會員定義為尚未進行首次儲值之玩家，將可領取體驗金</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">4. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">新註冊會員須先綁定銀行並且進行實名認證</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">5. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">本活動計算的為有效押碼，無風險投注皆不計算入有效押碼，無風險投注包括（在百家樂時同時投注莊家、閒家，輪盤及骰寶及其他相似投注法時同時投注黑、紅，單、雙，大、小等）。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">6. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">北京賽車、幸運飛艇：最多只能下六車，超過六車一律視為洗流水套利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">7. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">輪盤投注不能超過22個號碼以上，超過一律視為洗流水套利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">8. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">每一個帳號，每一住址，每一電子郵件，每一電話號碼，IP以及銀行帳號，名字，只能申請一次，若發現會員有任何重複行為，本公司將保留取消或回收會員優惠的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">9. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">完美娛樂城的所有優惠特為玩家而設，如發現任何團體或個人，以不誠實方式套取紅利或任何威脅、濫用公司優惠等行為，公司保留凍結、取消該團體或個人帳戶及帳戶結餘的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">10. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">完美娛樂城保留對活動的最終解釋權，有權修改活動細節及規則。</div></el-col>
                </el-row>

            </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {
          tableData: [{
            c1: '新註冊會員',
            c2: '200',
            c3: '20',
            c4: '2000'
          }

          ]
    };
  },
  mounted() {},
  created() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

