<template>
  <div style="overflow-x:hidden;">
    <div class="b_img a_pic">
      <!--
        <img v-bind:src="'/static/images/promotion/promotion_' + this.$parent.focusItem.id + '.jpg'" style=" max-width: 100%;">
      -->
      <img
        v-bind:src="require('assets/images/promotion/news_20180603102924_0.jpg')"
        style=" max-width: 100%;"
      >
    </div>
    <div class="info" style="display: block;margin:20px;">
      <div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">天天返水，天天送</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="4"><div class="grid-content bg-purple-dark">活動對象：</div></el-col>
                    <el-col :span="20"><div class="grid-content bg-purple-dark">完美娛樂城全體會員。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="4"><div class="grid-content bg-purple-dark">活動詳情：</div></el-col>
                    <el-col :span="20"><div class="grid-content bg-purple-dark">即日起，凡加入完美娛樂城並進行實名認證的會員進行任意遊戲累計有效投注量即可享受每日返水活動，投注越多，領越多。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="4"><div class="grid-content bg-purple-dark">返水结算时间：</div></el-col>
                    <el-col :span="20"><div class="grid-content bg-purple-dark">每日凌晨0: 00-23：59</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="4"><div class="grid-content bg-purple-dark">領取方式：</div></el-col>
                    <el-col :span="20"><div class="grid-content bg-purple-dark">須向客服提出申請，如逾時或未提出申請者視同放棄，不再另外補回</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="4"><div class="grid-content bg-purple-dark">申請時間：</div></el-col>
                    <el-col :span="20"><div class="grid-content bg-purple-dark">每日的早上9點~晚上9點</div></el-col>
                </el-row>
            </div>

            <el-table
            :data="tableData" border
            style="width: 100%">
            <el-table-column
                prop="c1"
                label="遊戲類別"
                width="180">
            </el-table-column>
            <el-table-column
                prop="c2"
                label="真人遊戲">
            </el-table-column>
            <el-table-column
                prop="c3"
                label="體育遊戲">
            </el-table-column>
            <el-table-column
                prop="c4"
                label="電子遊戲">
            </el-table-column>
            <el-table-column
                prop="c5"
                label="彩票彩球">
            </el-table-column>
            </el-table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">註：最高返水上限為10000點</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="4"><div class="grid-content bg-purple-dark">活動備註：</div></el-col>
                    <el-col :span="20"><div class="grid-content bg-purple-dark">本次活動按照四個等級區分不同返水比例，分別是一般會員、黃金會員、白金會員及鑽石會員，每個等級達到一定儲值量即可升級到下個等級，享受更高返水比例。</div></el-col>
                </el-row>
            </div>

            <el-table
            :data="tableData2" border
            style="width: 100%">
            <el-table-column
                prop="c1"
                label="遊戲類別"
                width="180">
            </el-table-column>
            <el-table-column
                prop="c2"
                label="真人遊戲">
            </el-table-column>
            <el-table-column
                prop="c3"
                label="體育遊戲">
            </el-table-column>
            <el-table-column
                prop="c4"
                label="電子遊戲">
            </el-table-column>
            <el-table-column
                prop="c5"
                label="彩票彩球">
            </el-table-column>
            </el-table>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row>
                    <el-col :span="24"><div class="grid-content bg-purple-dark">註：一般升級黃金會員需經由審核通過，非以儲值為標準！</div></el-col>
                </el-row>
            </div>

            <div style="margin-top: 10px;margin-bottom: 10px;">
                <el-row >
                    <el-col :span="24"><div class="grid-content bg-purple-dark">活動條例與規則</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">1. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">所有優惠點數以新台幣(NTD)：點數 = 1：1 為結算金額，以台北時間為計時區間。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">2. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">單以獲得的返水金額進行遊戲，隔日無返水金額：如當天有進行儲值，可合併計算，故隔日將發放返水金額。所獲得的返水金額需達1倍的有效投注，方可出款。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">3. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">本活動計算的為有效押碼，無風險投注皆不計算入有效押碼，無風險投注包括（在百家樂時同時投注莊家、閒家，輪盤及骰寶及其他相似投注法時同時投注黑、紅，單、雙，大、小等）。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">4. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">北京賽車、幸運飛艇：最多只能下六車，超過六車一律視為洗流水套利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">5. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">輪盤投注不能超過22個號碼以上，超過一律視為洗流水套利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">6. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">每位玩家、每戶、每一住址、每一電子信箱地址、每一電話號碼、相同付款方式及IP地址只能享有一次優惠。若會員有重複申請帳號行為，公司保留取消或收回會員優惠彩金的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">7. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">完美娛樂城的所有優惠特為玩家而設，如發現任何團體或個人，以不誠實方式套取紅利或任何威脅、濫用公司優惠等行為，公司保留凍結、取消該團體或個人帳戶及帳戶結餘的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">8. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">任何會員不得利用本公司提供的各種優惠紅利，進行集體投注及其他方式惡意套利。本公司保留追究惡意影響本公司正常運作的權利。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">9. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">若會員對活動有爭議時，為確保雙方利益，杜絕身份盜用行為，完美娛樂城有權要求會員向我們提供充足有效的文件，用以確認是否享有該優惠的資格。</div></el-col>
                </el-row>
                <el-row >
                    <el-col :span="1"><div class="grid-content bg-purple-dark">10. </div></el-col>
                    <el-col :span="23"><div class="grid-content bg-purple-dark">當參與優惠會員未能完全遵守、或違反、或濫用任何有關公司優惠或推廣的條款，又或我們有任何證據有任何團隊或個人投下一連串的關聯賭注，籍以造成無論賽果怎樣都可以確保可以從該存款紅利或其他推廣活動提供的優惠獲利，完美娛樂城保留權利向此團隊或個人停止、取消優惠或索回已支付的全部優惠紅利。此外，公司亦保留權利向這些客戶扣取相當於優惠紅利價值的行政費用，以補償我們的行政成本。</div></el-col>
                </el-row>

            </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "promotionBlock",
  data() {
    return {
          tableData: [
            {
            c1: '一般會員',
            c2: '0.25%',
            c3: '0.15%',
            c4: '0.35%',
            c5: '0.15%'
            },
            {
            c1: '黃金會員',
            c2: '0.3%',
            c3: '0.2%',
            c4: '0.4%',
            c5: '0.2%'
            },
            {
            c1: '白金會員',
            c2: '0.4%',
            c3: '0.25%',
            c4: '0.5%',
            c5: '0.25%'
            },
            {
            c1: '鑽石會員',
            c2: '0.5%',
            c3: '0.3%',
            c4: '0.6%',
            c5: '0.3%'
            }
          ],
        tableData2: [
            {
            c1: '儲值量',
            c2: '0',
            c3: '0',
            c4: '1500000',
            c5: '4500000'
            }
          ]
    };
  },
  mounted() {},
  created() {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style spcoed>
.info {line-height:26px;color:#666;font-size:15px;}
</style>

