<template>
	<router-view></router-view>
</template>

<script>
//import Header from '@/components/Header'
//import Footer from '@/components/Footer'
export default {
  name: 'App',
  components: {
   // 'navmenu': NavMenu,
	//'vheader': Header,
	//'vfooter': Footer,
  }
}
</script>

<style>
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Microsoft JhengHei,SimSun,sans-serif;
}
html span {
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Microsoft JhengHei,SimSun,sans-serif;
}
</style>